<template>
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <Title :child="form"/>
                    <router-view :key="$route.fullPath" @ChildUpdated="Updated" :Licenses="this.Licenses">
                    </router-view>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import Title from './Title.vue';
    import {GetLicenses} from "../../../api";
    import {SwalAlertErrorMessage} from "../../../helper";

    export default {
        name: "Blade",
        props: ["Licenses"],
        data: function () {
            return {
                form: {},
            }
        },
        created() {
        },
        components:{
            Title,
        },
        methods: {
            Updated(form) {
                this.form = form;
            },
        },
    }
</script>

<style scoped>

</style>
