<template>
    <div id="wrapper">
        <Header/>
        <Sidebar :Licenses="this.Licenses"/>
        <router-view :key="$route.fullPath" :Licenses="this.Licenses"></router-view>
    </div>
</template>
<style>
    @import 'https://cdn3.devexpress.com/jslib/20.1.4/css/dx.common.css';
    @import 'https://cdn3.devexpress.com/jslib/20.1.4/css/dx.light.css';
    @import '../../../../../../public/css/backend/dx.light.css';
    @import '../../../../../../public/css/backend/summernote-bs4.css';
    @import '../../../../../../public/css/backend/bootstrap.min.css';
    @import '../../../../../../public/css/backend/icons.min.css';
    @import '../../../../../../public/css/backend/main.css';
</style>
<script>
    import Header from '../../Header.vue';
    import Sidebar from '../../Sidebar.vue';
    import {GetLicenses} from "../../../api";
    import {SwalAlertErrorMessage} from "../../../helper";
    export default {
        name: "index",
        components:{
            Header,
            Sidebar,
        },
        data: function () {
            return {
                Licenses: []
            }
        },
        created() {
            this.GetLicenses()
        },
        methods:{
            GetLicenses(){
                GetLicenses().then((res) => {
                    this.Licenses = res;
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }
    }
</script>

