<template>
    <router-view></router-view>
</template>

<script>
    export default {
        name: "Main"
    }
</script>

<style scoped>
    .content{
        height: 100%;
    }
    .content-page{
        height: 95% !important;
        overflow-y: scroll !important;
        scrollbar-width: none !important; /* Firefox */
        -ms-overflow-style: none !important;  /* Internet Explorer 10+ */
    }
    .content-page::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
</style>
