.calendar > .calendar-body > .weeks > .week{
    background: #FFF
}


.calendar > .calendar-header > .title{
    width: auto !important;
    padding: 10px 0 !important;
    float: right;
}

.calendar > .calendar-header > .title > .currentMonth{
    margin: auto;
    border: 1px solid #ededed;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 25px;
    background: #FFF;
    position: relative;
}

.calendar > .calendar-header > .title > .currentMonth::before{
    content: url(https://img.icons8.com/ios/20/6c757d/calendar.png);
    position: absolute;
    left: 25px;
}

.lastPage{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 65px;
    text-align: center;
    line-height: 40px;
    background-color: #FFF;
    border: 1px solid #ededed;
    border-right: 0;
    color: #6c757d;
    cursor: pointer;
}

.nextPage{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 65px;
    text-align: center;
    line-height: 40px;
    background-color: #FFF;
    border: 1px solid #ededed;
    border-left: 0;
    color:#6c757d;
    cursor: pointer;
}

.lastPage:hover,
.lastPage:focus,
.nextPage:hover,
.nextPage:focus{
    background-color: #f8f8f8 !important;
    border-color: #ededed !important;
    color: #6c757d !important;
}

.calendar > .calendar-header > .weeks > .week{
    background: #FFF;
    border: 1px solid #ededed !important;

}

.calendar > .calendar-header > .weeks > .week:not(:last-child){
    border-right: 0 !important;
}

.calendar > .calendar-body{
    background: #FFF;
}

.calendar > .calendar-body > .weeks{
    border: 1px solid #ededed !important;
}

.calendar > .calendar-body > .weeks:not(:first-child){
    border-top: 0 !important;
}

.calendar > .calendar-body > .weeks > .week{
    border: 0 !important;
    padding: 10px;
}

.calendar > .calendar-body > .weeks > .week:not(:last-child){
    border-right: 1px solid #ededed !important;
}

.calendar > .calendar-body > .weeks > .week > .date{
    padding-bottom: 10px;
    text-align: left;
    color: #6c757d;
}

.calendar > .calendar-body > .weeks > .week .events.set{
    text-align: left;
}

.calendar > .calendar-body > .weeks > .week  .events.set .title,
.calendar > .calendar-body > .weeks > .week  .events.set .content{
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.calendar > .calendar-body > .weeks > .week  .events.set .title{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.calendar > .calendar-body > .weeks > .week  .events.set .content{
    background-image: linear-gradient(120deg, #cfd9df 0%, #e2ebf0 100%);
}

.calendar > .calendar-body > .weeks > .week.inactive{
    background: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E") !important;
}

.calendar > .calendar-body > .weeks > .week.inactive > .date{
    color: #CCC !important;
}


@media only screen and (max-width: 1199px){
    .calendar > .calendar-body > .weeks{
        height: 200px !important;
    }
}






.calendar > .calendar-body > .weeks > .week .events.unset{
    text-align: left;
}

.calendar > .calendar-body > .weeks > .week  .events.unset .title,
.calendar > .calendar-body > .weeks > .week  .events.unset .content{
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.calendar > .calendar-body > .weeks > .week  .events.unset .title{
    background-image: linear-gradient(120deg, #cfd9df 0%, #e2ebf0 100%);
}











.calendar > .calendar-body > .weeks > .week .events.invalid{
    text-align: left;
}

.calendar > .calendar-body > .weeks > .week  .events.invalid .title,
.calendar > .calendar-body > .weeks > .week  .events.invalid .content{
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.calendar > .calendar-body > .weeks > .week  .events.invalid .title{
    background-image: linear-gradient(120deg, #613030 0%, #642100 100%);
}
