<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button @click="$router.push({ name: 'DiscountCodes'})" class="btn btn-light mr-2" style="background-color: rgba(216, 217, 219, .5);">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i data-feather="corner-up-left" class="icon-xs"></i>
                        </span>
                        返回
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Name" >名稱</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" id="Name" placeholder="名稱"  v-model="DiscountCode.Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Code" >優惠碼</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" id="Code" placeholder="優惠碼"  v-model="DiscountCode.Code">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Discount" >折價金</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="Discount" placeholder="折價金"  v-model="DiscountCode.Discount">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Remains" >剩餘數量</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="Remains" placeholder="剩餘數量"  v-model="DiscountCode.Remains">
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">開放時段(起)</label>
                                        <div class="col-lg-11">
                                            <input type="datetime-local" class="form-control" aria-describedby="" v-model="DiscountCode.Allow_Start">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">開放時段(訖)</label>
                                        <div class="col-lg-11">
                                            <input type="datetime-local" class="form-control" aria-describedby="" v-model="DiscountCode.Allow_End">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">使用時段(起)</label>
                                        <div class="col-lg-11">
                                            <input type="datetime-local" class="form-control" aria-describedby="" v-model="DiscountCode.Use_Start">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">使用時段(訖)</label>
                                        <div class="col-lg-11">
                                            <input type="datetime-local" class="form-control" aria-describedby="" v-model="DiscountCode.Use_End">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">優先度</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" aria-describedby="" v-model="DiscountCode.Sort" min="0">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">預設啟用</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="DiscountCode.State">
                                                <option value="1">啟用</option>
                                                <option value="0">關閉</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="text-right mt-3 position-relative">
                                        <input type="button" class="btn btn-success submit-btn" @click="UpdateDiscountCode" value=" 確定送出">
                                        <i class="uil uil-message mr-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import moment from "moment";
    import {GetDiscountCode, UpdateDiscountCode} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "DiscountCode",
        props: ['Licenses'],
        data: function() {
            return {
                form: {
                    Title: '折扣代碼',
                    Icon: 'settings'
                },
                DiscountCode: {
                    Allow_End: '',
                    Allow_Start: '',
                    Use_Start: '',
                    Use_End: '',
                    Code: '',
                    Discount: '',
                    Html: '',
                    Name: '',
                    Remains: '',
                    Sort: '',
                    State: '',
                    id: '',
                },
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetDiscountCode()
        },

        methods: {
            GetDiscountCode() {
                let credential = {
                    DiscountCode_id: this.$route.params.id
                }
                GetDiscountCode(credential).then((res) => {
                    this.DiscountCode.Allow_End = moment(res.Allow_End).format('yyyy-MM-DDThh:mm')
                    this.DiscountCode.Allow_Start = moment(res.Allow_Start).format('yyyy-MM-DDThh:mm')
                    this.DiscountCode.Use_Start = moment(res.Use_Start).format('yyyy-MM-DDThh:mm')
                    this.DiscountCode.Use_End = moment(res.Use_End).format('yyyy-MM-DDThh:mm')
                    this.DiscountCode.Code = res.Code
                    this.DiscountCode.Discount = res.Discount
                    this.DiscountCode.Html = res.Html
                    this.DiscountCode.Name = res.Name
                    this.DiscountCode.Remains = res.Remains
                    this.DiscountCode.Sort = res.Sort
                    this.DiscountCode.State = res.State
                    this.DiscountCode.id = res.id
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateDiscountCode(){
                let credential = this.DiscountCode
                UpdateDiscountCode(credential).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }

    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
