<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" value=" 儲存變更" @click="UpdateRoomExtra">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card-header">
                商品
            </div>
            <div class="card" v-if="Licenses.includes('加購模組')">
                <ul class="message-list mb-0">
                    <li v-for="ExtraShop in ExtraShops">
                        <div class="col-mail col-mail-1">
                            <div class="checkbox-wrapper-mail">
                                <input type="checkbox" :value="ExtraShop.id" v-model="HasExtraShops" :id="'shop'+ExtraShop.id">
                                <label class="toggle" :for="'shop'+ExtraShop.id"></label>
                            </div>
                            <span class="ml-5">{{ExtraShop.Name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <div class="card-header">
                接送
            </div>
            <div class="card" v-if="Licenses.includes('加購接送')">
                <ul class="message-list mb-0">
                    <li v-for="ExtraCar in ExtraCars">
                        <div class="col-mail col-mail-1">
                            <div class="checkbox-wrapper-mail">
                                <input type="checkbox" :value="ExtraCar.id" v-model="HasExtraCars" :id="'car'+ExtraCar.id">
                                <label class="toggle" :for="'car'+ExtraCar.id"></label>
                            </div>
                            <span class="ml-5">{{ExtraCar.Name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import {GetExtraCars, GetExtraShops, GetRoomExtra,UpdateRoomExtra} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "Extra",
        data: () => {
            return {
                form:{
                    Title: '加購設置',
                    Icon : 'settings',
                },
                ExtraShops:{},
                ExtraCars:{},
                HasExtraShops: [],
                HasExtraCars: [],
                Room:{}
            }
        },
        props: ['Licenses'],
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRoom()
            this.GetExtraShops()
            this.GetExtraCars()
        },
        methods: {
            GetRoom(){
                let credential = {
                    room_id: this.$route.params.id
                }
                GetRoomExtra(credential).then((res) => {
                    this.HasExtraShops = [];
                    this.HasExtraCars = [];
                    this.Room = res
                    this.Room.extra_shops.forEach(shop=> this.HasExtraShops.push(shop.id));
                    this.Room.extra_cars.forEach(car=> this.HasExtraCars.push(car.id));
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetExtraShops() {
                GetExtraShops().then((res) => {
                    this.ExtraShops = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetExtraCars() {
                GetExtraCars().then((res) => {
                    this.ExtraCars = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateRoomExtra(){
                let credential = {
                    room_id: this.$route.params.id,
                    cars: this.HasExtraCars,
                    shops: this.HasExtraShops
                }
                UpdateRoomExtra(credential).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }

    .modal-enter {
        top: -10px
    }
    .modal-enter-active {
        transition: all .5s;
    }
    .modal-enter-to{
        opacity: 1;
    }

    .modal-leave-active {
        transition: all .5s;
        opacity: 0;
        top: -10px;
    }
</style>
