<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button @click="$router.push({ name: 'ExtraCars'})" class="btn btn-light mr-2" style="background-color: rgba(216, 217, 219, .5);">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i data-feather="corner-up-left" class="icon-xs"></i>
                        </span>
                        返回
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Name" >名稱</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" id="Name" placeholder="名稱"  v-model="ExtraCar.Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="" >圖示</label>
                                        <div class="col-lg-11">
                                            <button type="button" class="form-control btn btn-warning"  id="lfm" data-input="thumbnail" @click="OpenFileManger('image')"><i data-feather="upload-cloud" class="icon-xs"></i> 圖片</button>
                                            <input type="hidden" id="thumbnail" name="filepath" :value="ExtraCar.Src">
                                            <img :src="ExtraCar.Src" alt="" id="holder" class="img-responsive mb-3" style="max-width: 100%; max-height: 200px; margin-top: 5px;">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Max" >最大選購量</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="Max" placeholder="最大選購量"  v-model="ExtraCar.Max">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Price" >單趟價格</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="Price" placeholder="單趟價格"  v-model="ExtraCar.Price">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Price" >來回價格</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="Price2" placeholder="來回價格"  v-model="ExtraCar.Price2">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Price" >優先度</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="Sort" placeholder="優先度"  min="0" v-model="ExtraCar.Sort">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">啟用</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="ExtraCar.State">
                                                <option value="1">啟用</option>
                                                <option value="0">關閉</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-12" :key="ExtraCar.id" v-if="ExtraCar.Html !== undefined">
                                            <label>內文</label>
                                            <html-manager
                                                v-model="ExtraCar.Html"
                                                ref="editor">
                                            </html-manager>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="text-right mt-3 position-relative">
                                        <input type="button" class="btn btn-success submit-btn" @click="UpdateExtraCar" value=" 確定送出">
                                        <i class="uil uil-message mr-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {GetExtraCar, UpdateExtraCar} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";
    import HtmlManager from "../../../HtmlManager";
    export default {
        name: "ExtraCar",
        data: () => {
            return {
                form: {
                    Title: '加購接送設置',
                    Icon: 'settings',
                },
                ExtraCar: {},
            }
        },
        components: {
            HtmlManager
        },
        props: ['Licenses'],
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetExtraCar()
        },
        methods: {
            GetExtraCar() {
                let credential = {
                    extra_car_id: this.$route.params.id
                }

                GetExtraCar(credential).then((res) => {
                    this.ExtraCar = res
                    if(res.Html === null)
                    {
                        this.ExtraCar.Html = ''
                    }

                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            OpenFileManger(type){
                var options = {};
                var route_prefix = (options && options.prefix) ? options.prefix : '/filemanager';
                const userStr = localStorage.getItem("user");
                if (userStr) {
                    var token = 'Bearer ' + JSON.parse(userStr)['token'];
                    window.open(route_prefix + '?type=' + type + '&token=' + token, 'FileManager', 'width=900,height=600');
                } else {
                    window.open(route_prefix + '?type=' + type, 'FileManager', 'width=900,height=600');
                }
                var self = this
                window.SetUrl = function (items) {
                    self.ExtraCar.Src  = items[0].url
                }
            },
            UpdateExtraCar(){
                UpdateExtraCar(this.ExtraCar).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }

    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }

    .modal-enter {
        top: -10px
    }
    .modal-enter-active {
        transition: all .5s;
    }
    .modal-enter-to{
        opacity: 1;
    }

    .modal-leave-active {
        transition: all .5s;
        opacity: 0;
        top: -10px;
    }
</style>
