<template>
    <div class="wh-100">
        <div class="col-md-12 col-12 mb-3">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                        <span class="store-btn">
                            <input type="button" class="btn btn-success"  value=" 儲存變更" @click="UpdateSystem">
                            <i class="fa fa-star"></i>
                        </span>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form class="profile">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-12">

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="id-name">網站名稱</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="System.SiteName">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="edit-password">網站關鍵字</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="System.MetaKeyword">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="edit-password">網站描述</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="System.MetaDescription">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="edit-password">網站維護</label>
                                            <div class="col-lg-10 col-lg-9 col-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                   id="open" name="status" value="1" v-model="System.Maintain">
                                                            <label class="custom-control-label" for="open">
                                                                啟用
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                   id="close" name="status" value="0" v-model="System.Maintain">
                                                            <label class="custom-control-label" for="close">
                                                                關閉
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="edit-password">維護訊息</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="System.Message">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form class="profile">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-12">
                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label">地址</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="System.Addr">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label">聯絡電話</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="System.Tel">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label">聯絡信箱</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="email" class="form-control" aria-describedby="" required v-model="System.Email">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label">Logo</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <img :src="System.Src" class="img-responsive" alt="" style="width: 70px" :data-input="'thumbnail'" @click="OpenFileManger('image')">
                                                <input type="hidden" :id="'thumbnail'" name="filepath" :value="System.Src">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";
    import {GetSystem, UpdateSystem} from "../../../../api";

    export default {
        name: "FrontSetting",
        data: function(){
            return {
                form:{
                    Title: '網站設定',
                    Icon : 'settings'
                },
                System:{}
            }
        },
        created() {
            this.GetSystem();
            this.$emit('ChildUpdated', this.form)
        },
        methods: {
            GetSystem() {
                GetSystem().then((res) => {
                    this.System = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            OpenFileManger(type){
                var options = {};
                var route_prefix = (options && options.prefix) ? options.prefix : '/filemanager';
                const userStr = localStorage.getItem("user");
                if (userStr) {
                    var token = 'Bearer ' + JSON.parse(userStr)['token'];
                    window.open(route_prefix + '?type=' + type + '&token=' + token, 'FileManager', 'width=900,height=600');
                } else {
                    window.open(route_prefix + '?type=' + type, 'FileManager', 'width=900,height=600');
                }
                var self = this
                window.SetUrl = function (items) {
                    self.System.Src  = items[0].url
                }
            },
            UpdateSystem(){
                UpdateSystem(this.System).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
