<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 mb-3">
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" value=" 儲存變更" @click="UpdateMembers">
                        <i class="fa fa-star"></i>
                    </span>
                    <span style="display: inline-flex;position: absolute;right: 15px;">
                        <input type="text" v-model="Keyword" placeholder="查詢姓名 , 信箱 , 電話" class="form-control search-input">
                        <span class="input-group-append">
                            <button class="btn btn-soft-primary" value=" 查詢" @click="Search">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover font-style">
                        <thead>
                        <tr>
                            <th class="text-center ">姓名</th>
                            <th class="text-center ">信箱</th>
                            <th class="text-center ">電話</th>
                            <th class="text-center ">備註</th>
                            <th class="text-center ">啟用</th>
                            <th class="text-center ">編輯/刪除</th>
                        </tr>
                        </thead>
                        <tbody v-if=" Members.data !== undefined  && Members.data.length > 0">
                        <tr v-for="(Member,index) in Members.data">
                            <td class="text-md-center text-sm-left" data-title="姓名">
                                <input type="text" class="form-control" aria-describedby="" v-model="Member.Name" disabled readonly>
                            </td>
                            <td class="text-md-center text-sm-left" data-title="信箱">
                                <input type="text" class="form-control" aria-describedby="" v-model="Member.email" disabled readonly>
                            </td>
                            <td class="text-md-center text-sm-left" data-title="電話">
                                <input type="text" class="form-control" aria-describedby="" v-model="Member.Phone" disabled readonly>
                            </td>
                            <td class="text-md-center text-sm-left" data-title="備註">
                                <textarea  id="" cols="15" rows="5"  class="form-control"  v-model="Member.Note"></textarea>
                            </td>

                            <td class="text-md-center text-sm-left" data-title="啟用">
                                <div class="toggle-btn" id="status-toggle-btn">
                                    <div class="on">ON</div>
                                    <div class="off">OFF</div>
                                    <input type="checkbox" v-model="Member.State" :true-value="0" :false-value="1">
                                    <span></span>
                                </div>
                            </td>
                            <td class="text-md-center text-sm-left" data-title="編輯/刪除">
                                <div role="group" class="btn-group-sm btn-group">
                                    <button class="active btn btn-focus" @click="EditMember(Member)"><i data-feather="edit" class="icon-xs"></i></button>
                                    <button class="btn btn-focus" @click="DeleteMember(Member)"><i data-feather="trash-2" class="icon-xs"></i></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <paginate
                v-if="Members"
                :total-pages="Members.last_page"
                :total="Members.total"
                :per-page="Paginate"
                :current-page="currentPage"
                @pagechanged="onPageChange"
            ></paginate>
        </div>
    </div>
</template>

<script>
    import Paginate from "../../../Paginate";
    import {GetMembers, UpdateMembers,DeleteMember} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";
    const paginate = 10;
    export default {
        name: "MemberList",
        props: ['Licenses'],
        components: {
            Paginate,
        },
        data: function() {
            return {
                form: {
                    Title: '會員管理',
                    Icon: 'settings'
                },
                Members: {
                    last_page: 1,
                    total: 0,
                },
                currentPage: 1,
                Paginate: paginate,
                Keyword: null
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetMembers()
        },
        methods:{
            EditMember(Member){
                this.$router.push({
                    name: 'Member',
                    params:{
                        id: Member.id
                    }
                })
            },
            DeleteMember(Member){
                let credential = {
                    id: Member.id
                }
                DeleteMember(credential).then((res) => {
                  this.GetMembers()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetMembers() {
                let credential = {
                    Paginate : this.Paginate,
                    CurrentPage  :this.currentPage,
                    Keyword: this.Keyword
                };
                GetMembers(credential).then((res) => {
                    this.Members = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            onPageChange(page){
                this.currentPage = page;
            },
            Search(){
                this.currentPage = 1
                this.GetMembers();
            },
            UpdateMembers(){
                UpdateMembers(this.Members.data).then((res) => {
                    this.GetMembers();
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }


        },
        watch: {
            currentPage: function (newValue) {
                this.GetMembers();
            },
        },
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }

</style>
