<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button @click="$router.push({ name: 'OrderList'})" class="btn btn-light mr-2" style="background-color: rgba(216, 217, 219, .5);">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i data-feather="corner-up-left" class="icon-xs"></i>
                        </span>
                        返回訂單管理
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header cursor" @click="ShowBasic = !ShowBasic">
                    訂單基本資料
                </div>
                <div class="card-body" v-show="ShowBasic">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">訂單編號</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" readonly disabled v-model="Order.Num">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">總金額</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" readonly disabled v-model="Order.TotalPrice">
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="Order.Code != null && Order.Code != undefined">
                                        <label class="col-lg-1 col-form-label">折扣碼</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" readonly disabled :value="'代碼 '+ Order.Code +' / '+ Order.CodeName +' / 折價' + Order.Discount">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">備註</label>
                                        <div class="col-lg-11">
                                            <textarea cols="30" rows="10" class="form-control" v-model="Order.Note" disabled readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">統一編號</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" v-model="Order.TaxNumber">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">付款方式</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="Order.payment_id">
                                                <option value=""></option>
                                                <option value="1">線上刷卡</option>
                                                <option value="2">ATM轉帳</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">取消否</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="Order.Cancel">
                                                <option value="0">否</option>
                                                <option value="1">是</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">付款否</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="Order.Paid">
                                                <option value="1">是</option>
                                                <option value="0">否</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group row" v-if="Order.Cancel && Order.Paid">
                                        <label class="col-lg-1 col-form-label">退款否</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="Order.Refund">
                                                <option value="1">是</option>
                                                <option value="0">否</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">管理者備註</label>
                                        <div class="col-lg-11">
                                            <textarea cols="30" rows="10" class="form-control" v-model="Order.BackendNote"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-12">
                                        <div class="text-right mt-3 position-relative">
                                            <input type="button" class="btn btn-success submit-btn"  value=" 確定送出" @click="UpdateOrder">
                                            <i class="uil uil-message mr-1"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-6">
            <div class="card">
                <div class="card-header cursor" @click="ShowBooking = !ShowBooking">
                    訂購人
                </div>
                <div class="card-body" v-show="ShowBooking">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">

                                    <div class="form-group row" v-if="Order.member_id != null || Order.member_id != undefined">
                                        <label class="col-lg-2 col-form-label">會員</label>
                                        <div class="col-lg-10">
                                            <router-link :to="{name: 'Member', params:{id: Order.member_id}}">
                                                <a class="active btn btn-focus"><i data-feather="user" class="icon-xs"></i></a>
                                            </router-link>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">姓名</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" v-model="Order.Booking_Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Email</label>
                                        <div class="col-lg-10">
                                            <input type="email" class="form-control" v-model="Order.Booking_Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">電話</label>
                                        <div class="col-lg-10">
                                            <input type="tel" class="form-control" v-model="Order.Booking_Phone">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">身分證</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" v-model="Order.Booking_IdNumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">性別</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-0" v-model="Order.Booking_Sex">
                                                <option></option>
                                                <option value="1">先生</option>
                                                <option value="0">小姐</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">地址</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-0" v-model="Order.Booking_Area">
                                                <option></option>
                                                <option value="台北市">台北市</option>
                                                <option value="新北市">新北市</option>
                                                <option value="基隆市">基隆市</option>
                                                <option value="桃園市">桃園市</option>
                                                <option value="新竹市">新竹市</option>
                                                <option value="新竹縣">新竹縣</option>
                                                <option value="宜蘭縣">宜蘭縣</option>
                                                <option value="花蓮縣">花蓮縣</option>
                                                <option value="苗栗縣">苗栗縣</option>
                                                <option value="台中市">台中市</option>
                                                <option value="彰化縣">彰化縣</option>
                                                <option value="南投縣">南投縣</option>
                                                <option value="雲林縣">雲林縣</option>
                                                <option value="嘉義市">嘉義市</option>
                                                <option value="嘉義縣">嘉義縣</option>
                                                <option value="台南市">台南市</option>
                                                <option value="澎湖縣">澎湖縣</option>
                                                <option value="高雄市">高雄市</option>
                                                <option value="屏東縣">屏東縣</option>
                                                <option value="台東縣">台東縣</option>
                                                <option value="金門縣">金門縣</option>
                                                <option value="連江縣">連江縣</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-6">
            <div class="card">
                <div class="card-header cursor" @click="ShowGuest = !ShowGuest">
                    入住人
                </div>
                <div class="card-body" v-show="ShowGuest">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">姓名</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" v-model="Order.Guest_Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">Email</label>
                                        <div class="col-lg-10">
                                            <input type="email" class="form-control" v-model="Order.Guest_Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">電話</label>
                                        <div class="col-lg-10">
                                            <input type="tel" class="form-control" v-model="Order.Guest_Phone">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">身分證</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" v-model="Order.Guest_IdNumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">性別</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-0" v-model="Order.Guest_Sex">
                                                <option></option>
                                                <option value="1">先生</option>
                                                <option value="0">小姐</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">地址</label>
                                        <div class="col-lg-10">
                                            <select class="form-control m-0" v-model="Order.Guest_Area">
                                                <option></option>
                                                <option value="台北市">台北市</option>
                                                <option value="新北市">新北市</option>
                                                <option value="基隆市">基隆市</option>
                                                <option value="桃園市">桃園市</option>
                                                <option value="新竹市">新竹市</option>
                                                <option value="新竹縣">新竹縣</option>
                                                <option value="宜蘭縣">宜蘭縣</option>
                                                <option value="花蓮縣">花蓮縣</option>
                                                <option value="苗栗縣">苗栗縣</option>
                                                <option value="台中市">台中市</option>
                                                <option value="彰化縣">彰化縣</option>
                                                <option value="南投縣">南投縣</option>
                                                <option value="雲林縣">雲林縣</option>
                                                <option value="嘉義市">嘉義市</option>
                                                <option value="嘉義縣">嘉義縣</option>
                                                <option value="台南市">台南市</option>
                                                <option value="澎湖縣">澎湖縣</option>
                                                <option value="高雄市">高雄市</option>
                                                <option value="屏東縣">屏東縣</option>
                                                <option value="台東縣">台東縣</option>
                                                <option value="金門縣">金門縣</option>
                                                <option value="連江縣">連江縣</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header cursor" @click="ShowDetail = !ShowDetail">
                    訂單明細
                </div>
                <div class="card-body" v-show="ShowDetail" style="padding-bottom: unset;">
                    <div class="row">
                        <div class="col-12 pt-5" v-for="detail in Order.order_detail" style="border-bottom: solid 5px #d6d6d6;">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">房型 | 方案</label>
                                        <div class="col-lg-11">
                                            <h5>{{ detail.room ? detail.room.Name : '' }} | {{detail.promotion ? detail.promotion.Name : '基本方案'}}</h5>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">入住日期</label>
                                        <div class="col-lg-11">
                                            <h5>{{detail.StartDate}} {{WeekDay(detail.StartDate)}} ~ {{detail.EndDate}} {{WeekDay(detail.EndDate)}} ({{nights(detail.StartDate,detail.EndDate)}}晚)</h5>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">入住人數</label>
                                        <div class="col-lg-11">
                                            <h5>{{detail.Adult}} 大人</h5>
                                            <h5>{{detail.Child}} 小孩</h5>
                                            <h5>{{detail.Baby}} 嬰兒</h5>
                                        </div>
                                    </div>

                                    <div class="form-group row" v-if="detail.ExtraPeople > 0 || detail.ExtraBed > 0">
                                        <label class="col-lg-1 col-form-label">必要加購</label>
                                        <div class="col-lg-11">
                                            <h5 v-if="detail.ExtraBed > 0">加 {{detail.ExtraBed}} 床</h5>
                                            <h5 v-if="detail.ExtraPeople > 0">加 {{detail.ExtraPeople}} 備品</h5>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="detail.shop.length > 0">
                                        <label class="col-lg-1 col-form-label">加購商品</label>
                                        <div class="col-lg-11">
                                            <h5 v-for="shop in detail.shop">{{shop.Name}} x {{shop.Numbers}} x {{shop.Nights}} 晚</h5>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="detail.car.length > 0">
                                        <label class="col-lg-1 col-form-label">加購接駁</label>
                                        <div class="col-lg-11">
                                            <h5 v-for="car in detail.car">
                                                {{car.Name}} ( {{car.type === '1' ? '單趟' : '來回' }} ) x {{car.Numbers}}
                                                <template v-if="car.pickdt != null || car.arrvdt != null">
                                                        <div v-if="car.arrvdt != null"> 抵達日期時間: {{car.arrvdt}}  </div>
                                                        <div v-if="car.pickdt != null"> 出發日期時間: {{car.pickdt}}  </div>
                                                </template>
                                            </h5>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {GetOrder,UpdateOrder} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";
    import moment from "moment";

    export default {
        name: "Order",
        props: ['Licenses'],
        data: function() {
            return {
                form: {
                    Title: '訂單管理',
                    Icon: 'settings'
                },
                Order: {},

                ShowBasic: true,
                ShowDetail: true,
                ShowBooking: true,
                ShowGuest: true,
            }

        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetOrder();
        },
        methods: {
            GetOrder() {
                GetOrder(this.$route.params.Num).then((res) => {
                    this.Order = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            Days(date){
                return moment(date).format('Y/M/D')
            },
            WeekDay(date) {
                moment.locale('zh-tw');
                return moment(date).format('dddd');
            },
            nights(startDate, endDate) {
                return moment(endDate).diff(moment(startDate), 'days') ?? 0;
            },
            UpdateOrder(){
                let credential = {
                    Num: this.$route.params.Num,
                    Booking_Email: this.Order.Booking_Email,
                    Booking_Name: this.Order.Booking_Name,
                    Booking_Sex: this.Order.Booking_Sex,
                    Booking_IdNumber: this.Order.Booking_IdNumber,
                    Booking_Phone: this.Order.Booking_Phone,
                    Booking_Area: this.Order.Booking_Area,
                    Guest_Email: this.Order.Guest_Email,
                    Guest_Name: this.Order.Guest_Name,
                    Guest_Sex: this.Order.Guest_Sex,
                    Guest_IdNumber: this.Order.Guest_IdNumber,
                    Guest_Phone: this.Order.Guest_Phone,
                    Guest_Area: this.Order.Guest_Area,
                    payment_id: this.Order.payment_id,
                    BackendNote: this.Order.BackendNote,
                    TaxNumber: this.Order.TaxNumber,
                    Cancel: this.Order.Cancel,
                    Paid: this.Order.Paid,
                    Refund: this.Order.Refund,
                }
                UpdateOrder(credential).then((res) => {
                    this.GetOrder();
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }
    }
</script>

<style scoped>
    .wh-100{
        width: 100%;
        height: 100%;
        display: contents;
    }

    .cursor{
        cursor: pointer;
    }
</style>
