<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 mb-3" style="text-align: end;">
                    <span style="display: inline-flex;">
                        <input type="text" v-model="Keyword" placeholder="輸入訂單編號..." class="form-control search-input">
                        <span class="input-group-append">
                            <button class="btn btn-soft-primary" value=" 查詢" @click="Search">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover font-style">
                        <thead>
                        <tr>
                            <th class="text-center" scope="col">
                                <span @click="SortTime = !SortTime">
                                    訂單編號<i :class="SortTime === true ? 'fa fa-sort-down' : 'fa fa-sort-up' "></i>
                                </span>
                            </th>

                            <th class="text-center" scope="col">
                                <select class="form-control" v-model="PromotionFilter">
                                    <option v-bind:value= "null_value">房型 | 方案</option>
                                    <option v-for="Promotion in Promotions" :value="Promotion">{{Promotion.Room.Name}} | {{Promotion.Promotion.Name}}</option>
                                </select>
                            </th>
                            <th class="text-center" scope="col">
                                <span>
                                    入住日期
                                </span>
                            </th>

                            <th class="text-center" scope="col">訂購人</th>
                            <th class="text-center" scope="col">電話</th>
                            <th class="text-center" scope="col">信箱</th>
                            <th class="text-center" scope="col">備註</th>

                            <th class="text-center" scope="col">
                                <select class="form-control" v-model="StateFilter">
                                    <option v-bind:value="null_value">訂單狀態</option>
                                    <option value="UnPaid">尚未付款</option>
                                    <option value="Paid">已付款</option>
                                    <option value="Cancel">已取消</option>
                                    <option value="UnRefund">尚未退款</option>
                                    <option value="Refund">已退款</option>
                                </select>
                            </th>
                        </tr>
                        </thead>
                        <tbody v-if=" Orders.data !== undefined  && Orders.data.length > 0">
                        <tr v-for="(Order,index) in Orders.data">
                            <td class="text-md-center text-sm-left" data-title="訂單編號">
                                <router-link :to="{name: 'Order',params: {Num:Order.Num }}">{{Order.Num}}</router-link>
                            </td>

                            <td class="text-md-center text-sm-left" data-title="房型|方案">
                                <template v-for="detail in Order.order_detail">
                                    {{ detail.room ? detail.room.Name : '' }} | {{detail.promotion ? detail.promotion.Name : '基本方案'}} <br>
                                </template>
                            </td>
                            <td class="text-md-center text-sm-left" data-title="入住日期">
                                <template v-for="detail in Order.order_detail">
                                    {{date(detail.StartDate)}} ~ {{date(detail.EndDate)}} <br>
                                </template>
                            </td>

                            <td class="text-md-center text-sm-left" data-title="訂購人">
                                <template v-if="Order.member_id">
                                    <router-link :to="{ name: 'Member' , params:{ id: Order.member_id } }">{{Order.Booking_Name}}</router-link>
                                </template>
                                <template v-else>
                                    {{Order.Booking_Name}}
                                </template>
                            </td>
                            <td class="text-md-center text-sm-left" data-title="電話">
                                {{Order.Booking_Phone}}
                            </td>
                            <td class="text-md-center text-sm-left" data-title="信箱">
                                {{Order.Booking_Email}}
                            </td>
                            <td class="text-md-center text-sm-left" data-title="備註">
                                {{Order.Note}}
                            </td>

                            <td class="text-md-center text-sm-left" data-title="訂單狀態">
                                {{Order.Refund ? '以退款' : (Order.Paid ? '已付款' : '尚未付款')}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <paginate
                v-if="Orders"
                :total-pages="Orders.last_page"
                :total="Orders.total"
                :per-page="Paginate"
                :current-page="currentPage"
                @pagechanged="onPageChange"
            ></paginate>
        </div>
    </div>
</template>

<script>
    import Paginate from "../../../Paginate";
    import {SwalAlertErrorMessage} from "../../../../helper";
    import {GetOrders, GetPromotionFilters} from "../../../../api";
    import moment from "moment";
    const paginate = 10;
    export default {
        name: "OrderList",
        props: ['Licenses'],
        components: {
            Paginate,
        },
        data: function() {
            return {
                form: {
                    Title: '訂單管理',
                    Icon: 'settings'
                },
                Orders: {
                    last_page: 1,
                    total: 0,
                },
                currentPage: 1,
                Paginate: paginate,

                null_value: null,
                Keyword: null,
                SortTime: true,
                PromotionFilter: null,
                StateFilter: null,

                Promotions: []
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetPromotions()
            this.GetOrders()
        },

        methods:{
            GetPromotions(){
                GetPromotionFilters().then((res) => {
                    this.Promotions = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetOrders() {
                let credential = {
                    Paginate : this.Paginate,
                    CurrentPage  :this.currentPage,
                    Keyword: this.Keyword,
                    SortTime: this.SortTime,
                    PromotionFilter: this.PromotionFilter,
                    StateFilter: this.StateFilter
                };
                GetOrders(credential).then((res) => {
                    this.Orders = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            onPageChange(page){
                this.currentPage = page;
            },
            Search(){
                this.currentPage = 1
                this.GetOrders();
            },
            EditOrder(Order){

            },
            DeleteOrder(Order){

            },
            date(date){
                return moment(date).format('YYYY/MM/DD');
            }
        },
        watch: {
            currentPage: function (newValue) {
                this.GetOrders();
            },
            SortTime: function(newValue){
                this.GetOrders();
            },
            PromotionFilter: function(newValue){
                this.GetOrders();
            },
            StateFilter: function(newValue){
                this.GetOrders();
            },
        },
    }
</script>

<style scoped>
    .wh-100{
        width: 100%;
        height: 100%;
    }
    .table {
        table-layout: fixed;
        word-wrap: break-word;
    }
</style>
