<template>
    <div class="wh-100">
        <div class="col-md-12 col-12 mb-3">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" @click="UpdateProfile" value=" 儲存變更">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form class="profile">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-12">
                                        <div class="form-group row justify-content-center border-bottom">
                                            <i data-feather="user" class="icon-xxl icon-dual-warning mb-2"></i>
                                            <input type="text" class="form-control text-center text-muted mb-3 font-weight-bold main-color" id="title" :value="currentUser.account" disabled>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="id-name">名稱</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="currentUser.name">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="edit-password">修改密碼</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="password" class="form-control" placeholder="若不更改密碼，請空白" v-model="newpassword">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="confirm-password">確認密碼</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="password" class="form-control" v-model="newpassword_confirmation">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {UpdateProfile} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "Profile",
        data: function(){
          return {
              form:{
                  Title: '基本資料',
                  Icon : 'unlock'
              },
              newpassword_confirmation: '',
              newpassword: '',
          }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.$nextTick(() => {
                feather.replace()
            })
        },
        computed:{
            currentUser() {
                return this.$store.getters.currentUser
            },
        },
        methods:{
            UpdateProfile(){
                if(this.newpassword != this.newpassword_confirmation)
                {
                    Swal.fire({
                        title:'提示',
                        icon:'error',
                        text:'驗證密碼 與 密碼不相符',
                        showCloseButton: true,
                        confirmButtonColor: '#ba0000',
                    }).then((result) => {

                    })
                }
                else
                {
                    let credential = {
                        account: this.currentUser.account,
                        password: this.newpassword,
                        name: this.currentUser.name,
                    }
                    UpdateProfile(credential).then((res) => {
                        this.$store.commit("Login",res);
                        SwalAlertSuccessRedirect(res);
                    }).catch(function (response) {
                        SwalAlertErrorMessage(response);
                    });
                }
            }
        }
    }
</script>
<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>

