<template>
    <div class="wh-100">
        <div class="col-md-12 col-12 mb-3">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <a type="button" class="btn btn-light mr-2" style="background-color: rgba(216, 217, 219, .5);" @click="$router.push({ name: 'RoleList'})">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i data-feather="corner-up-left" class="icon-xs"></i>
                        </span>
                        返回
                    </a>
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" @click="UpdateHasPermissions" value=" 儲存變更">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-12 col-md-12 col-12">
            <div class="card">
                <ul class="message-list mb-0">
                    <li v-for="Permission in Permissions">
                        <div class="col-mail col-mail-1">
                            <div class="checkbox-wrapper-mail">
                                <input type="checkbox" :value="Permission.id" v-model="HasPermissions" :id="'to'+Permission.id">
                                <label class="toggle" :for="'to'+Permission.id"></label>
                            </div>
                            <span class="ml-5">{{Permission.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import {GetPermissions, GetHasPermissions, UpdateHasPermissions} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "Role",
        data: function(){
            return {
                form:{
                    Title: '權限設定',
                    Icon : 'unlock'
                },
                Permissions:{},
                HasPermissions: [],
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
        },
        mounted() {
            this.GetPermissions();
            this.GetHasPermissions();
        },
        methods: {
            GetPermissions() {
                GetPermissions().then((res) => {
                    this.Permissions = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetHasPermissions(){
                GetHasPermissions(this.$route.params.name).then((res) => {
                    this.HasPermissions = res
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateHasPermissions(){
                let credential = {
                    HasPermissions: this.HasPermissions,
                    name: this.$route.params.name,
                }
                UpdateHasPermissions(credential).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
