<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button type="button" class="btn btn-main_color mr-2 openModal" @click=" showModal = true ">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i class="fas fa-plus"></i>
                        </span>
                        新增
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="tasks col-md-0 col-sm-12 w-sm-100" v-for="Role in Roles">
                <h5 class="mt-0 task-header header-title">{{Role.name}} <span class="font-size-15">({{Role.model_has_role_count}})</span> <a  style="position: absolute;top: 10px;right: 20px;" type="button" @click="EditPermission(Role)" class="btn btn-soft-warning"><i class="uil uil-wrench mr-1 text-warning"></i>權限</a></h5>

                <div id="task-list-one" class="task-list-items" v-for="User in Role.user">
                    <div class="card border mb-0">
                        <div class="card-body p-3">
                            <div class="dropdown float-right">
                                <a href="#" class="dropdown-toggle text-muted arrow-none" data-toggle="dropdown" aria-expanded="false">
                                    <i class="uil uil-ellipsis-v font-size-14"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a type="button" class="dropdown-item" @click="EditUser(User)"><i class="uil uil-edit-alt mr-2"></i>編輯</a>
                                    <div class="dropdown-divider"></div>
                                    <a type="button" class="dropdown-item text-danger" @click="DeleteUser(User)"><i class="uil uil-trash mr-2"></i>刪除</a>
                                </div>
                            </div>
                            <h6 class="mt-0 mb-2 font-size-14 text-body">
                                <i class="uil uil-user-square mr-2"></i>{{User.name}} ｜ {{User.account}}
                            </h6>
                            <div class="dropdown-divider"></div>
                            <div class="mb-0 mt-3 d-flex justify-content-between">
                                <div class="d-flex">
                                    <span class="m-auto pr-2 font-size-13">啟用狀態</span>
                                    <div class="toggle-btn" id="status-toggle-btn" style="margin: auto 0">
                                        <div class="on">ON</div>
                                        <div class="off">OFF</div>
                                        <input type="checkbox" v-model="User.State" :true-value="0" :false-value="1" @change="UpdateUserState(User)">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <transition name="modal">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]" v-if="showModal">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">新增管理者帳號</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="showModal = false">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form_create">
                                <label for="status">啟用狀態</label>
                                <div class="row form-group">
                                    <div class="col-md-6 mb-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input"
                                                   id="open" name="status" value="1" v-model="NewUser.state">
                                            <label class="custom-control-label" for="open">
                                                啟用
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input"
                                                   id="close" name="status" value="0" v-model="NewUser.state">
                                            <label class="custom-control-label" for="close">
                                                關閉
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="id">帳號</label>
                                        <input type="text" class="form-control" aria-describedby="" required  v-model="NewUser.account" autocomplete="off">
                                    </div>
                                </div>


                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="psssword">密碼</label>
                                        <input type="password" class="form-control" id="sort_input" v-model="NewUser.password" autocomplete="off">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="name">姓名</label>
                                        <input type="text" class="form-control" id="sort_input" v-model="NewUser.name" autocomplete="off">
                                    </div>
                                </div>


                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="d-block" for="rank">等級</label>
                                        <div class="search-dropdown text-muted w-100">
                                            <select class="form-control" v-model="NewUser.role_id">
                                                <option value=""></option>
                                                <option :value="Role.id" v-for="Role in Roles">{{Role.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" @click="CreateUser" value=" 確定送出">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="modal-backdrop fade" :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]"></div>
    </div>
</template>

<script>
    import {GetRoles,CreateUser,UpdateUserState,DeleteUser} from "../../../../api";
    import {SwalAlertAsk, SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "RoleList",
        data: function(){
            return {
                form:{
                    Title: '帳號管理',
                    Icon : 'unlock'
                },
                showModal: false,
                showModalStyle: {
                    display: 'none'
                },
                Roles:{},
                NewUser:{
                    state: 1,
                    name: '',
                    account: '',
                    password: '',
                    role_id:''
                }
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
        },
        mounted() {
            this.GetRoles();
            let self = this;
            document.addEventListener('click', function(e){
                if(self.showModal)
                {
                    if (!$(event.target).closest(".modal-content,.openModal").length) {
                        self.showModal = !self.showModal;
                    }
                }
            });
        },
        watch:{
            showModal: function(newValue){
                if(newValue === true){
                    this.showModalStyle.display = 'block'
                    document.getElementsByTagName("body")[0].className="modal-open";
                }
                else
                {
                    this.showModalStyle.display = 'none'
                    document.getElementsByTagName("body")[0].className="";
                }
            }
        },
        methods:{
            GetRoles(){
                GetRoles().then((res) => {
                    this.Roles = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            CreateUser(){
                CreateUser(this.NewUser).then((res) => {
                    SwalAlertSuccessRedirect(res,0).then((res) => {
                        this.$router.go(0);
                    }).catch(function(response){
                        SwalAlertErrorMessage(response);
                    });
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateUserState(User){
                UpdateUserState(User).then((res) => {
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            DeleteUser(User){
                SwalAlertAsk().then((res) => {
                    DeleteUser(User.id).then((res) => {
                        SwalAlertSuccessRedirect(res,0).then((res) => {
                            this.$router.go(0);
                        }).catch(function(response){
                            SwalAlertErrorMessage(response);
                        });
                    }).catch(function(response){
                        SwalAlertErrorMessage(response);
                    });
                }).catch(function(rej){

                });
            },
            EditUser(User){
                this.$router.push({ name: 'Auth', params: { account: User.account }})
            },
            EditPermission(Role){
                this.$router.push({ name: 'Role', params: { name: Role.name }})
            }
        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
    .modal-enter {
        top: -10px
    }
    .modal-enter-active {
        transition: all .5s;
    }
    .modal-enter-to{
        opacity: 1;
    }

    .modal-leave-active {
        transition: all .5s;
        opacity: 0;
        top: -10px;
    }
</style>
