<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button type="button" class="btn btn-main_color mr-2 openModal" @click=" showModal = true ">
                    <span class="btn-icon-wrapper pr-2 fw-500">
                        <i class="fas fa-plus"></i>
                    </span>
                        新增
                    </button>
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" value=" 儲存變更" @click="UpdateTags">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover font-style">
                        <thead>
                        <tr>
                            <th class="text-center ">名稱</th>
                            <th class="text-center ">Icon</th>
                            <th class="text-center ">適用房型</th>
                            <th class="text-center ">刪除</th>
                        </tr>
                        </thead>
                        <tbody v-if=" Tags.data !== undefined  && Tags.data.length > 0">
                        <tr v-for="(Tag,index) in Tags.data">
                            <td class="text-md-center text-sm-left" data-title="名稱">
                                <input type="text" class="form-control" aria-describedby="" v-model="Tag.Name">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="Icon">
                                <img :src="Tag.IconSrc" class="img-responsive" alt="" style="width: 70px" :data-input="'thumbnail' + Tag.id" @click="OpenFileManger('image',index)">
                                <input type="hidden" :id="'thumbnail' + Tag.id" name="filepath" :value="Tag.IconSrc">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="適用房型">
                                <template v-if="Rooms.length > 0" v-for="Room in Rooms">
                                    <input type="checkbox" :value="Room.id" v-model="Tag.Rooms">{{Room.Name}}
                                </template>
                            </td>
                            <td class="text-md-center text-sm-left" data-title="刪除">
                                <div role="group" class="btn-group-sm btn-group">
                                    <button class="btn btn-focus" @click="DeleteTag(Tag)"><i data-feather="trash-2" class="icon-xs"></i></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <paginate
                v-if="Tags"
                :total-pages="Tags.last_page"
                :total="Tags.total"
                :per-page="Paginate"
                :current-page="currentPage"
                @pagechanged="onPageChange"
            ></paginate>
        </div>
        <transition name="modal">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]" v-if="showModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">新增標籤</h5>
                            <button type="button" class="close" @click="showModal = false" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">名稱</label>
                                    <input type="text" class="form-control" v-model="newTag.Name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">Icon</label>
                                    <img :src="newTag.IconSrc" alt="" id="holder" class="img-responsive mb-3 w-100">
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="form-control btn btn-warning"  id="lfm" data-input="thumbnail" @click="OpenFileManger2('image')"><i data-feather="upload-cloud" class="icon-xs"></i> 圖片</button>
                                    <input type="hidden" id="thumbnail" name="filepath" :value="newTag.IconSrc">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">適用房型</label>
                                    <select class="form-control" multiple="true"
                                        v-model="newTag.Rooms">
                                        <option v-for="Room in Rooms" :value="Room.id">{{Room.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" value=" 確定送出" @click="CreateTag">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="modal-backdrop fade" :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]"></div>
    </div>
</template>

<script>



    import Paginate from "../../../Paginate";
    import {CreateTag, DeleteTag, GetRooms, GetTags, UpdateTags} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";
    const paginate = 10;

    export default {
        name: "Tags",
        components: {
            Paginate,
        },
        data: function() {
            return {
                form: {
                    Title: '標籤設置',
                    Icon: 'settings'
                },
                Tags: {
                    last_page: 1,
                    total: 0,
                },
                newTag:{
                    IconSrc: null,
                    Name: null,
                    Rooms: []
                },
                currentPage: 1,
                Paginate: paginate,

                showModal: false,
                showModalStyle: {
                    display: 'none'
                },
                Rooms: [],
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRooms()
            this.GetTags()
        },
        watch: {
            showModal: function (newValue) {
                if (newValue === true) {
                    this.showModalStyle.display = 'block'
                    document.getElementsByTagName("body")[0].className = "modal-open";
                } else {
                    this.showModalStyle.display = 'none'
                    document.getElementsByTagName("body")[0].className = "";
                }
            },
            currentPage: function (newValue) {
                this.GetTags();
            },
        },
        methods: {
            GetRooms(){
                GetRooms().then((res) => {
                    this.Rooms = res
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },

            GetTags() {
                let credential = {
                    Paginate: this.Paginate,
                    CurrentPage: this.currentPage
                };
                GetTags(credential).then((res) => {
                    this.Tags = res
                    this.Tags.data.forEach(tag => {
                        let HasRooms = []
                        tag.room_has_tag.forEach(item => {
                            HasRooms.push(item.room_id);
                        });
                        tag.Rooms = HasRooms;
                    });

                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            onPageChange(page) {
                this.currentPage = page;
            },

            OpenFileManger(type,index){
                var options = {};
                var route_prefix = (options && options.prefix) ? options.prefix : '/filemanager';
                const userStr = localStorage.getItem("user");
                if (userStr) {
                    var token = 'Bearer ' + JSON.parse(userStr)['token'];
                    window.open(route_prefix + '?type=' + type + '&token=' + token, 'FileManager', 'width=900,height=600');
                } else {
                    window.open(route_prefix + '?type=' + type, 'FileManager', 'width=900,height=600');
                }
                var self = this
                window.SetUrl = function (items) {
                    self.Tags.data[index].IconSrc  = items[0].url
                }
            },
            OpenFileManger2(type){
                var options = {};
                var route_prefix = (options && options.prefix) ? options.prefix : '/filemanager';
                const userStr = localStorage.getItem("user");
                if (userStr) {
                    var token = 'Bearer ' + JSON.parse(userStr)['token'];
                    window.open(route_prefix + '?type=' + type + '&token=' + token, 'FileManager', 'width=900,height=600');
                } else {
                    window.open(route_prefix + '?type=' + type, 'FileManager', 'width=900,height=600');
                }
                var self = this
                window.SetUrl = function (items) {
                    self.newTag.IconSrc  = items[0].url
                }
            },
            CreateTag(){
                CreateTag(this.newTag).then((res) => {
                    this.showModal = !this.showModal
                    this.GetTags()
                    // this.ClearNewRoom()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            DeleteTag(Tag){
                let credential = {
                    tag_id: Tag.id
                }
                DeleteTag(credential).then((res) => {
                    this.GetTags()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateTags(){
                UpdateTags(this.Tags.data).then((res) => {
                    this.GetTags();
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }

        },
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
