<template>
    <div class="w100">
        <div class="content">
            <h4>當前計算比例</h4>
            <h3>小孩人數轉換比例 {{rules.DefaultChildrenTransRate}}</h3>
            <h3>嬰兒人數轉換比例 {{rules.DefaultBabyTransRate}}</h3>

            <h3>加人費用 {{rules.DefaultExtraPeoplePrice}}</h3>
            <h3>加床費用 {{rules.DefaultExtraBedPrice}}</h3>
        </div>
        <hr>
        <div class="search">
            <label for="">大人</label>
            <select v-model="form.aduits">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <label for="">小孩</label>
            <select v-model="form.childs">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <label for="">嬰兒</label>
            <select v-model="form.babys">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <br>

            <label for="">入住</label>
            <input type="date" v-model="form.start">

            <label for="">退房</label>
            <input type="date" v-model="form.end">

        </div>

        <div class="control">
            <h3>推薦人數計算: {{ calcPeople }}</h3>
            <div class="tagsDash" style="border: black 1px solid; margin: 10px 0px;">
                <template v-for="(tag,index) in Tags">
                    <input type="checkbox" v-model="filters" :value="tag">
                    <label for="">{{tag}}</label>
                </template>
            </div>

            <div class="room" v-for="(room,index) in Rooms" :key="index"
            v-if="Filter(room)"
            style="border: black 1px solid; margin: 10px 0px; "
            >
                <h4 style="background-color: #5cb85c">房間名稱: {{room.room.Name}}</h4>
                <div class="promotions">
                    <div v-for="Promotion in room.Promotions"
                         class="promotion"
                         style="border: black 1px dashed;margin: 15px 0px;"
                         @click="al(Promotion,room)"
                    >
                        <h4>活動:{{Promotion.Name}}</h4>
                        <h4>試算:{{Promotion.Total}}</h4>

                        <span v-if="Promotion.Errors.length > 0">不適用:
                            <h4 v-for="Error in Promotion.Errors">{{Error}}</h4>
                        </span>
                    </div>
                </div>

            </div>
        </div>

        <transition name="modal">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]" v-if="showModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">訂房服務
                            </h5>
                            <button type="button" class="close" @click="showModal = false" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">姓名</label>
                                    <input type="text" class="form-control" v-model="Order.name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">行動電話</label>
                                    <input type="text" class="form-control" v-model="Order.phone">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" value=" 確定送出" @click="StoreOrder">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <div class="modal-backdrop fade" :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]"></div>
    </div>
</template>

<script>
    import moment from 'moment'
    import {Init, Calc, StoreOrder} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";

    export default {
        name: "TestCalc",
        data: function(){
            return {
                rules: {},
                form:{
                    aduits: 0,
                    childs: 0,
                    babys: 0,
                    start: moment().format('YYYY-MM-DD'),
                    end: moment().add(1,'days').format('YYYY-MM-DD'),
                },
                Rooms:[],
                Tags:[],
                filters:[],
				showModal: false,
                showModalStyle: {
                    display: 'none'
                },
                Order:{
                    name: '陳安安',
                    phone: '123456789',
                    promotion: '',
                    price: '',
                    room: ''
                },
            }
        },
        created() {
            this.init()
        },
        watch:{
            form:{
                handler(newValue) {
                    this.rooms(newValue);
                },
                deep:true
            },
            showModal: function(newValue){
                if(newValue === true){
                    this.showModalStyle.display = 'block'
                    document.getElementsByTagName("body")[0].className="modal-open";
                }
                else
                {
                    this.showModalStyle.display = 'none'
                    document.getElementsByTagName("body")[0].className="";
                }
            }
        },
        methods:{
            init(){
                Init().then((res) => {
                    this.rules = res['rules'];
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            rooms(credential) {
                Calc(credential).then((res) => {
                     this.Rooms = res.Rooms;
                     this.Tags = res.Tags;
                }).catch(function (response) {
                     this.Rooms = [];
                     this.Tags = [];
                });
            },
            al(Promotion,room)
            {
                let reallyPeople = parseInt(this.form.aduits) + parseInt(this.form.childs);
                if(reallyPeople > room.room.PeopleNumber)
                {
                    alert('須加購1床'+(reallyPeople-room.room.PeopleNumber-1)+'人 , 或加購 '+(reallyPeople-room.room.PeopleNumber) +'人' );
                } else {
                    if (Promotion.Errors.length === 0) {
                        this.Order.promotion = Promotion.id;
                        this.Order.price = Promotion.Total;
                        this.Order.room = room.room.id;
                        this.showModal = true;
                    }
                }
            },
			AddFilter(tag)
            {
                if(this.filters.includes(tag))
                {
                    const index = this.filters.indexOf(tag);
                    if (index > -1) {
                        this.filters.splice(index, 1);
                    }

                }
                else
                {
                    this.filters.push(tag);
                }
            },
            Filter(room)
            {
                var show = true;
                this.filters.forEach(function(tag){
                   if(room.Tags.indexOf(tag) === -1)
                   {
                       show = false;
                   }
                });
                return show;
            },
			StoreOrder(){
                let credential = {
                    promotion_id: this.Order.promotion,
                    room_id: this.Order.room,
                    adult: this.form.aduits,
                    child: this.form.childs,
                    start: this.form.start,
                    end: this.form.end,
                    name: this.Order.name,
                    phone: this.Order.phone,
                    price: this.Order.price
                }
                StoreOrder(credential).then((res) => {
                    this.showModal = !this.showModal
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },        },
        computed:{
            calcPeople: function(){
                return  parseFloat(this.form.aduits) + parseFloat( parseFloat(this.form.childs) * parseFloat(this.rules.DefaultChildrenTransRate)) + parseFloat( parseFloat(this.form.babys) * parseFloat(this.rules.DefaultBabyTransRate))
            },
            // Rooms:  function() {
            //     Calc(this.form).then((res) => {
            //         console.log(res)
            //         return res;
            //     }).catch(function (response) {
            //         return [];
            //     });
            // }
        }
    }
</script>

<style scoped>
    .promotion{
        background-color: #c8cddc;
    }
    .promotion:hover{
        background-color: #EDA024;
    }

    .tag{
        background-color: #c8cddc;
    }
    .tag:hover{
        background-color: #EDA024;
    }
</style>
