@media only screen and (max-width:480px) {
    .RoomsArea .RoomsBoxBody div{
        margin-bottom: 10px
    }

    .carousel-control .glyphicon.glyphicon-chevron-right{
        right: 10px;
    }
}


@media only screen and (max-width:1640px){
    .AboutPageArea .AboutTextBox p{
        padding: 0 0px;
    }
    .RoomsDetailsPage_bottom{
        padding: 0 0px;
    }
}


@media only screen and (max-width:1400px){
    .AboutPageArea .carousel-inner > .item > img, .carousel-inner > .item > a > img{
        height: 100vh;
    }
}


@media only screen and (min-width:769px) {
    .room_list .room_details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}


@media only screen and (min-width:992px) {
    .container {
        width: 992px
    }

    #main_menu .navbar-nav .dropdown .dropdown-toggle:after {
        content: url(https://img.icons8.com/android/10/999999/expand-arrow.png);
        display: inline-block;
        padding: 0;
        margin-left: 5px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400
    }

    .navbar-nav .dropdown:hover .dropdown-menu,
    .top_menu .top_menu_right .dropdown:hover .dropdown-menu {
        display: block
    }

    #main_menu {
        position: relative
    }
}


@media only screen and (min-width:1200px) {
    .container {
        width: 1200px
    }
    
    .AboutArea {
        padding: 100px 180px;   
        padding-bottom: 0;
    }
}


@media only screen and (max-width:1200px) {
    #main_menu .navbar-nav li a{
        padding: 30px 10px;
    }
    header .container{
        width: 100%;
    }

    footer .logo_footer img{
        border-right: 0 !important;
    }
    footer .widget{
        padding: 0;
    }

    footer .inner .logo{
        padding: 50px 0px 50px 0;
    }

    .AboutArea{
        padding: 0;   
    }

    .AboutArea .AboutArea_L{
        padding: 100px 180px;   
    }

    .AboutArea img{
        padding-top: 35px;
        width: 100%;
        height: auto;
        padding-top: 0;
    }

    .AboutArea_img:after{
        width: calc(100% - 53px);
        left: 50%;
        transform: translate(-50%,-50%)
    }

    .AboutArea .img-logo{
        display: none;
    }

    .AboutPageArea .AboutPage_box{
        padding: 50px 30px 0 40px;
    }

    .AboutPageArea .AboutTextBox p{
        padding: 0 20px;
    }

    .wrap_2{
        padding: 60px 30px 10px 30px;
    }

    .control-nav{
        display: none;
    }

    .RoomsPageArea .slider-content .title-wrapper{
        width: 50%;
        margin-right: 0;
    }

    .RoomsPageArea .slider-content .Room_Racility{
        right: 0;
        left: 35%;
        margin-top: 80px;
    }
    
    .RoomsPageArea .slider-content .Room_Racility .Room_Racility_Icon{
        width: 100%; 
        flex-wrap:wrap;
    }
    
    .RoomsPageArea .footer-wrapper ul{
        display: flex;
    }

    .RoomsPageArea .footer-wrapper li{
        width: 100%;
    }

    .RoomsPageArea .slider-content:nth-child(odd){
        padding-right: 0px;
    }

    .RoomsPageArea .slider-content:nth-child(even){
        padding-left: 0px;
    }

    .RoomsPageArea .slider-content .booknow a{
        left: -98px;
    }  

    .RoomsDetailsPage .RoomInformation{
        padding-top: 20px;
        padding-left: 0;
    }

    .RoomsDetailsPage_top{
        padding-right: 0px;
    }

    .RoomsDetailsPage .textframeEditor{
        padding: 0 120px;
    }

    .RoomsDetailsPage .Room_Price{
        margin-bottom: 50px;
    }

    .FacilityPage .FacilityBox{
        padding: 30px 100px;
        min-height: auto;
    }

    .FacilityPage .owl-carousel img{
        height: 480px;
    }
}


@media only screen and (max-width:991px) {
    .top_menu .top_menu_right li {
        float: none
    }

    header .navbar-header {
        margin: 0 !important
    }

    header .navbar-header .navbar-brand {
        padding: 15px 0
    }

    header .navbar-header .navbar-brand img {
        max-height: 35px
    }

    header .navbar-header .mobile-menu-btn {
        padding-top: 18px !important
    }

    header .navbar-header .mobile_member_btn{
        display: block;
    }

    header .navbar-header .mobile_member_btn svg{
        width: 25px;
    }

    header.nav_bg{
        background: rgb(var(--main-header));
    }

    .mfp-zoom-out-cur header {
        padding-right: 0
    }

    .navbar-header {
        float: none
    }

    .navbar-toggle {
        display: block
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
    }

    .navbar-collapse.collapse {
        display: none !important
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px
    }

    .navbar-nav > li {
        float: none
    }

    .navbar-nav > li >a {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .navbar-text {
        float: none;
        margin: 15px 0
    }

    .navbar-collapse.collapse.in {
        display: block !important
    }

    .collapsing {
        overflow: hidden !important
    }
    
    .navbar-fixed-top,
    .navbar-fixed-top .navbar-collapse,
        {
        width: 100%;
        max-height: none
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: none
    }

    .mobile_menu .navbar-nav {
        margin: 0
    }

    .mobile-menu-push {
        overflow-x: hidden;
        position: relative;
        left: 0
    }

    .mobile-menu-push-toright,
    .mobile-menu-push-toright .navbar-fixed-top {
        left: 260px
    }

    .mobile-menu-push-toleft,
    .mobile-menu-push-toleft .navbar-fixed-top {
        left: -260px
    }

    .mobile_menu.mobile_menu_open .dropdown-menu {
        width: 100%;
        position: relative;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: none !important
    }

    .mobile_menu.mobile_menu_open,
    .push_mobile .navbar-fixed-top .mobile_menu.mobile-menu_open {
        right: 0
    }

    .push_mobile,
    .push_mobile .navbar-fixed-top {
        left: -300px !important
    }

    .mobile_menu,
    body,
    header {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease
    }

    .mobile_menu {
        background: var(--main-color);
        width: 300px;
        height: 100%;
        top: 0;
        right: -300px;
        z-index: 1000;
        position: fixed;
        padding: 0;
        margin: 0 !important;
        overflow-x: hidden;
        overflow-y: visible;
        display: block;
        visibility: visible
    }

    #main_menu.mobile_menu .navbar-nav li {
        background: var(--main-color);
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        clear: both
    }

    #main_menu.mobile_menu .navbar-nav li:last-child {
        border-bottom: none
    }

    #main_menu.mobile_menu .navbar-nav li a:hover{
        background: #FFF
    }

    #main_menu.mobile_menu .navbar-nav .open .dropdown-toggle{
        color: #FFF;
        background: #d8ac5d;
    }

    #main_menu.mobile_menu .navbar-nav li:hover .arrow,
    #main_menu.mobile_menu .navbar-nav .open .dropdown-toggle .arrow{
        background: #d8ac5d !important;
    }

    #main_menu.mobile_menu .navbar-nav li a {
        padding: 15px 30px;
        color: #FFF
    }

    #main_menu.mobile_menu .navbar-nav li a:hover {
        color: var(--main-color)
    }

    #main_menu.mobile_menu .navbar-nav li.mobile_menu_title {
        color: #FFF;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        display: block !important;
        text-align: center;
        padding: 12px 0;
        font-size: 1.2em;
        font-weight: 700
    }

    #main_menu.mobile_menu .navbar-nav li.mobile_menu_title:hover {
        background: none
    }

    #main_menu.mobile_menu li.menu_button {
        padding: 0px;
        border-left: 0 !important;
        border-top: none !important;
        border-bottom: none !important;
        background: transparent !important
    }

    #main_menu.mobile_menu .navbar-nav .dropdown .dropdown-menu li a {
        background: #FFF;
        padding: 15px 30px;
        font-size: .9em
    }

    #main_menu.mobile_menu .navbar-nav .dropdown .dropdown-menu .menu-item .dropdown-menu {
        display: block;
        position: relative
    }

    #main_menu.mobile_menu .navbar-nav .dropdown .dropdown-menu .menu-item .dropdown-menu li a {
        padding-left: 50px
    }

    #main_menu.mobile_menu .navbar-nav .mega_menu .mega_menu_inner {
        padding: 0
    }

    #main_menu.mobile_menu .navbar-nav .mega_menu .mega_menu_inner ul .list_title {
        padding: 10px 10px 10px 50px !important
    }

    #main_menu.mobile_menu .navbar-nav .dropdown.mega_menu .dropdown-menu li a {
        padding: 8px 50px;
        font-size: .8em
    }

    #main_menu.mobile_menu .navbar-nav .dropdown.mega_menu .dropdown-menu li {
        padding: 9px 0;
        background: #f5f5f5;
        border-bottom: 1px solid #EEF2F5
    }

    #main_menu.mobile_menu .dropdown .mobile-dropdown-toggle.arrow,
    #main_menu.mobile_menu .dropdown .mobile-dropdown-toggle.arrow-up {
        display: block;
        float: right;
        position: relative;
        z-index: 99999999;
        width: 20px;
        height: 20px;
        margin-right: 2px;
        text-align: center;
        line-height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: var(--main-color);
        border-left: 1px solid rgba(255, 255, 255, .3);
        height: 100%;
        width: 50px;
        margin: auto
    }

    #main_menu .navbar-nav .dropdown .mobile-dropdown-toggle.arrow:after,
    #main_menu .navbar-nav .dropdown .mobile-dropdown-toggle.arrow-up:after {
        content: '';
        position: absolute;
        margin-top: 5px;
        border: solid #FFF;
        border-width: 0 1px 1px 0;
        padding: 4px;
        z-index: 999;
        top: 22%;
        left: 42%;
    }

    #main_menu .navbar-nav .dropdown .mobile-dropdown-toggle.arrow:after {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg)
    }

    #main_menu .navbar-nav .dropdown .mobile-dropdown-toggle.arrow-up:after {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg)
    }

    #main_menu .navbar-nav .dropdown .dropdown-menu:before{
        display: none !important;
    }

    #main_menu .navbar-nav .dropdown.language{
        border-left: 0;
    }

    #main_menu .navbar-nav .menu_button .btn{
        border-radius: 0;
        padding: 40px 30px;
        background: var(--main-mobile-booking-btn);
        
    }

    #main_menu.mobile_menu .navbar-nav li:last-child{
        border-left: 0;
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    #main_menu.mobile_menu .mobile_menu_language{
       border-bottom: 0 !important;
    }

    footer .copyrights{
        line-height: 25px;
    }
    
    main {
        padding: 50px 0
    }

    /* .over-slider {
        margin-top: -250px
    }
    .features .owl-thumbs {
        margin-top: 16px
    }
    .horizontal_booking_form {
        margin-top: 10px
    }
    #slider.full_slider .owl-item {
        height: 100% !important
    }
    .full_slider .horizontal_booking_form {
        position: relative;
        margin-top: 10px;
        bottom: auto
    }
    .full_slider .horizontal_booking_form_inner {
        outline: none;
        border: 1px solid #E6EFF2;
        border-bottom: 4px solid #E6EFF2
    }
    #blog .blog_item .main {
        padding: 15px
    }
    #testimonials_style_2 .review_item {
        margin-bottom: 50px
    }
    .image-3d-effect {
        margin-top: 40px
    }
    .latest-posts-grid .blog_item .main {
        margin-left: 0
    } */

    .about-brand {
        margin-bottom: 30px
    }
    .sidebar {
        margin-top: 50px
    }

    .bannerTitleBox {
        padding: 40px 0
    }
    .bannerTitleBox h1 {
        margin-top: 0;
        font-size: 28px
    }
    .checkout-payment-tabs .payment-tabs .payment-tab-item a {
        padding: 10px 5px;
        margin-right: 2px;
        font-size: 14px
    }
    .room-list-item .room-details {
        padding: 15px 15px
    }
    .room-list-item .room-details .title,
    .room-list-item .room-details p {
        text-align: center;
        padding: 0 20px
    }
    .room-list-item .room-price {
        padding: 20px !important;
        padding-top: 0 !important
    }
    .room-list-item .room-services {
        text-align: center
    }
    .bannerTitleBox.room-header {
        padding: 40px 0
    }
    .room-header h1,
    .room-header .room-price {
        margin-top: 0;
        font-size: 20px
    }

    #hero_event #countdown .count_box {
        padding: 10px 25px;
        margin: 0 20px;
        border: 1px solid #fff
    }

    .hbf .inner .form-group{
        margin-bottom: 15px
    }

    .menu_item .info {
        padding: 10px
    }

    .affix {
        position: static
    }
    .place-details .place-title {
        padding: 20px 0
    }
    .place-details .place-title .title {
        font-size: 20px
    }
    
    #back_to_top {
        bottom: 15px;
        height: 40px;
        width: 40px
    }
    #back_to_top i {
        color: #fff;
        line-height: 40px;
        font-size: 16px
    }
    #back_to_top.active {
        right: 15px
    }

    .buy-now{
        width: 50px;
        height: 50px;
        right: 11px;
        bottom: 70px;
    }

    .buy-now .buy-now-btn{
        height: 50px;
        width: 50px;
    }

    .buy-now .buy-now-btn img{
        top: -7px;
        width: 24px;
    }

    .buy-now .buy-now-btn.active::before{
        padding-top: 0;
    }

    .buy-now .ripple{
        height: 50px;
        width: 50px;
    }

    .buy-now .ripple:before{
        height: 50px;
        width: 50px;
    }

    .buy-now .ripple:after{
        height: 50px;
        width: 50px;
    }

    .cart_wrap{
        bottom: 140px;
        right: -345px;
    }

    .cart_wrap.open{
        right: 15px;
    }

    .AboutArea{
        padding: 0;
        background-size: auto 100%;
    }

    .AboutArea .AboutArea_L{
        padding: 80px;
    }

    .AboutArea img{
        padding-top: 0px;
    }

    .AboutPageArea .carousel-control .glyphicon.glyphicon-chevron-right{
        right: 10px;
    }

    .NewsArea_top{
        justify-content: flex-start;
    }

    .NewsArea .NewsAreaBody{
        padding: 60px 60px;
    }

    .RoomsArea .RoomsBoxBody{
        padding: 0 15px;
    }

    .AboutPageArea .AboutPage_box{
        padding: 50px 30px 50px 40px;
    }

    .AboutPageArea .carousel-inner > .item > img{
        min-height: auto;
        height: auto;
    }

    .glyphicon.glyphicon-chevron-right{
        right: 10px;
    }

    .LoginPageArea{
        height: calc(100vh - 100px);
    }

    .NewsPageDetArea .NewsDetBox_content{
        padding: 50px 0px;
    }

    .NewsDetBox_content h1{
        padding: 0 130px;
    }

    .NewsBtnBox_PrevNext .col-md-6:nth-child(2) .News_PrevNext{
        padding: 0;
    }

    .BannerBlock{
        height: 320px;
    }

    .RoomsPageArea .footer-wrapper{
        width: 100%;
    }

    .RoomsPageArea{
        padding-left: 0px;
        padding-right: 0px ;
    }

    .RoomsDetailsPage_top{
        padding: 0 50px;
        top: -226px;
    }

    .RoomsDetailsPage .RightImg_Arrows{
        display: none;
    }

    .RoomsDetailsPage #aniimated-thumbnials .slick-arrow{
        display: none !important;
    }

    .RoomsDetailsPage .RoomsDetailsImg_col{
        padding-left: 15px;
    }

    .RoomsDetailsPage .slick-list.draggable img{
        height: 720px;
    }

    .RoomsDetailsPage.RoomsDetailsPage_bottom{
        top: -160px;
    }

    .RoomsDetailsPage .textframeEditor{
        padding: 0 50px;
    }

    .LocationPage{
        padding: 0;
        padding-top: 15px;
    }

    .LocationPage .GoogleMap iframe{
        height: 550px;
    }

    .LocationInfo{
        height: auto;
        min-height: auto;
    }

    .LocationPage .TrafficType{
        margin: 25px 0;
    }

    .BookingPage .hbf {
        padding-top: 80px;
    }

    .BookingPage .reservation-item{
        border-bottom: 2px solid var(--main-color);
    }

    .BookingPage .reservation-item-info{
        border-right: 0;
        border-bottom: 1px solid #ededed;
        padding-bottom: 15px;
    }
    .BookingPage .reservation-item-info-price{
        display: flex;
        justify-content: flex-end;
    }

    .BookingPage .DiscountBlock{
        display: block;
    }

    .BookingPage .reservation-item-discount #DiscountCode{
        width: 100%;
    }

    .BookingPage .reservation-item-total{
        padding-top: 15px;
    }

    .BookingPage .reservation-item-total tr{
        display: flex;
        justify-content: space-between;
    }
}


@media only screen and (max-width:768px) {
    header.transparent {
        top: 30px
    }
    .features .owl-thumb-item.active:before {
        display: none
    }
    .room_list .room_details .room_services {
        text-align: center
    }
    .contact-section-form {
        margin-top: 20px
    }
    footer .downfooter {
        text-align: center
    }

    footer .widget h3{
        width: 100%;
        text-align: center;
    }

    footer .inner{
        padding-top: 30px;
        padding-bottom: 40px;
    }

    footer .inner .logo{
        padding: 20px 0px 20px 0;
    }

    .hero_wrapper {
        position: relative;
        margin-bottom: 620px
    }

    #hero,
    #hero ul,
    #hero ul li {
        overflow: visible !important
    }

    .hero_wrapper .vbf {
        position: static;
        top: 0;
        display: block
    }

    .about-author-post .author-avatar {
        text-align: center
    }

    .about-author-post .author-name {
        text-align: center;
        margin-top: 20px
    }

    .about-author-post .zante-author-desc {
        margin-top: 30px
    }

    .m-center {
        float: none !important
    }

    .m-first {
        order: 1
    }

    .section-title{
        font-size: 36px;
    }

    .AboutArea h2{
        font-size: 25px;
    }
  
    .AboutArea .AboutArea_L{
        padding: 50px 40px;
    }

    .AboutArea p{
        line-height: 28px;
    }

    .NewsArea_top{
        justify-content: space-between;
    }

    .NewsArea_top .section-title_Text{
        position: absolute;
        bottom: 40px;
        right: 0;
    }

    .NewsArea_top .section-title_Text p{
        display: none;
    }

    .NewsArea .NewsAreaBody{
        padding: 60px 15px;
    }

    .NewsArea .NewsImg a:after{
        top: auto;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%) rotate(90deg);
    }
    
    .AboutPageArea .logo_btm_line:after{
        right: 0;
    }

    .NewsDetBox_content .NewsDate{
        display: flex;
        padding: 10px 15px 0px 15px;
    }

    .NewsDetBox_content .NewsDate .start{
        padding-right: 30px;
        position: relative;
    }

    .NewsDetBox_content .NewsDate .start:after{
        position: absolute;
        top: 30%;
        right: -10px;
        transform: translate(-50%) rotate(-45deg);
    }

    .NewsDetBox_content .NewsDate .day{
        font-size: 25px;
    }

    .NewsDetBox_content h1{
        padding: 0 30px;
    }

    .NewsDetBox_text{
        padding-top: 30px;
    }

    .slider-content .slider-container{
        height: 100vh;
    }

    .slider-content .slide-content{
        position: relative;
        height: 100%;
    }

    .slider-content .fake-bg{
        width: 100% !important;
        height: 50%;
        position: relative;
        /* position: relative; */
    }
    
    .slider-content .title-wrapper{
        width: 100% !important;
        position: absolute;
        
    }

    .slider-content .title-wrapper h1{
        box-shadow: none;
    }

    .slider-content .title-wrapper h1 span.mask-wrap{
        height: 100%;
        padding: 140px;
        padding-top: 0;

    }

    .slider-content .view_room_link{
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 15px;

    }

    .slider-content .title-wrapper span.gallery{
        position: relative;
        left: auto;
        bottom: auto;
    }

    .slider-content .booknow{
        display: none;
    }


    .slider-content .Room_Racility{
        position: relative;
        margin: 0;
        left: 0;
        padding: 2rem 2rem 0rem 2rem !important;
    }

    .slider-content .img_link{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50%;
        position: absolute;
        z-index: 9;
        overflow: hidden;
    }

    .slider-content .title-wrapper h1 span.mask-wrap span.mask{
        height: 80%;
        font-size: 13px;
    }

    .slider-content .image-caption{
        top: 12rem;
        left: -4rem;
    }

    .RoomsArea .sloganBox h1{
        font-size: 32px;
    }

    .footer-wrapper{
        position: relative;
    }

    .LocationPage .GoogleMap iframe{
        height: 350px;
    }

    .LocationPage .noteBox{
        max-width: 400px;
        bottom: 0;
    }

    .LocationPage  .noteBox.out_right{
        right: -390px;
    }

    .BookingPage .hbf {
        padding-top: 50px;
    }

    .ContactPage .gender{
        padding-top: 0;
    }
}


@media only screen and (max-width:575px){
    .NewsArea .news_item{
        display: block;
        margin-bottom: 35px
    }

    .NewsArea .news_item .NewsImg{
        height: 290px ;
    }


    .NewsArea .news_item a{
        height: 100%;
    }

    .NewsArea .news_item .NewsImg a img{
        width: 100%;
        height: 290px;
        object-fit: cover;
    }

    .NewsPageArea .NewsBox .BtnNews{
        padding: 0;
    }

    .BannerBlock{
        height: 320px;
    }

    .BannerTitle h1{
       font-size: 40px;
    }

    .BannerTitle h2{
        font-size: 25px;
    }

    .slider-content .fake-bg{
        height: 35%;
    }

    .slider-content .slider-container{
        height: 85vh;
    }

    .slider-content .img_link{
        height: 35%;
    }

    .footer-wrapper li .box-content{
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .FacilityPage .FacilityBox{
        padding: 10px 40px;
    }

    .FacilityPage .owl-carousel img{
        min-height: 380px;
    }

    .MemberPage table thead{
        display: none;
    }

    .MemberPage table tbody tr{
        border-bottom: 1px solid #ddd;
    }

    .MemberPage table tbody tr th{
        text-align: center;
    }

    .MemberPage table tbody tr td{
        position: relative;
        display: block;
        border-top: 1px solid #ededed;
    }

    .MemberPage table tbody tr td::before{
        content: attr(data-label);
        position: relative;
        display: block;
        left: 0px;
        padding-bottom: 5px;
    }

    .MemberPage table > tbody > tr > th{
        border-right: 1px solid #ededed;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ddd;
    }

    .MemberPage table > tbody > tr > td{
        border-bottom: 0;
    }
    
    .RoomsDetailsPage_top{
        padding: 0;
        top: 0;
        margin-bottom: 50px;
    }

    .RoomsDetailsPage_bottom{
        top: 0 !important;
    }

    .slick-list.draggable img{
        height: 420px !important;
    }
    
    .item-slick.slick-slide img{
        height: auto !important;
    }

    .RoomsDetailsPage .textframeEditor{
        padding: 0 ;
    }

    .RoomsDetailsPage h2{
        font-size: 25px;
    }

    .LocationPage .noteBox{
        max-width: 300px;
        bottom: 0;
        padding: 20px;
    }

    .LocationPage .noteBox .title{
        font-size: 15px;
    }

    .LocationPage .noteBox .text{
        font-size: 12px;
    }

    .LocationPage .noteBox .tel{
        font-size: 12px;
    }

    .LocationPage .noteBox .btn{
        width: 30px;
        height: 30px;
    }

    .LocationPage .noteBox.out_right{
        right: -300px;
    }

    .LocationPage .LocationInfo h1{
        font-size: 25px;
    }
    .LocationPage .LocationInfo h6{
        font-size: 14px;
    }

    .LocationPage .TrafficItem{
        padding-left: 80px;
    }

    .LocationPage .TrafficItem p{
        font-size: 13px;
    }

    .LocationPage .TrafficType .TrafficIcon img{
        width: 35px;
    }

    .BookingPage .hbf {
        padding-top: 15px;
    }

    .BookingPage .booking-hsr-detail table thead{
        display: none;
    }

    .BookingPage .booking-hsr-detail table tbody .b-r-sold-1{
        border: 0
    }

    .BookingPage .booking-hsr-detail table tbody td{
        display: flex;
        border-bottom: 0;
        border-top: 0;
        padding-left: 38px;
     }

    .BookingPage .booking-hsr-detail table tbody tr{
       display: block;
       border-bottom: 1px solid #ededed;
    }

    .BookingPage .booking-hsr-detail table tbody tr:last-child{
        border-bottom: 0;
    }

    .BookingPage .booking-hsr-detail table tbody tr .booking-hsr-detail-name{
        padding-left: 0;
        border-bottom: 1px solid #ededed;
    }

    .BookingPage .booking-hsr-detail table tbody tr .booking-hsr-detail-total{
        padding-left: 8px;
        display: flex;
        justify-content: center;
    }

    .BookingPage .booking-hsr-detail table tbody tr td::before{
        content: attr(data-label);
        position: absolute;
        display: block;
        left: 23px;
        padding-bottom: 5px;
    }

    .DeicountPlanPage .table .lg-Tab{
        display: none;
    }

    .DeicountPlanPage .table .sm-Tab{
        display: contents;
    }

    .DeicountPlanPage .table > tbody > tr > td{
        display: block;
        text-align: left;
    }
    


}   


@media only screen and (max-width:480px) {
    .banner .banner_features h2 {
        font-size: 1.5em;
        font-weight: 500
    }

    .banner .banner_features h3 {
        font-size: 1.3em
    }

    .banner .banner_features h4 {
        font-size: 1.3em
    }

    .vbf {
        border-radius: 0
    }

    .AboutArea .AboutArea_L{
        padding: 50px 15px;
    }

    .AboutPageArea .AboutPage_box{
        padding: 50px 0px 50px 0px;
    }

    .LoginPageArea .MainLogin_width{
        width: 320px;
    }

    .LoginPageArea .tab-content{
        padding: 30px;
        padding-top: 20px;
    }

    .LoginPageArea .login_social{
        display: block;
    }

    .login_social .btn-fb{
        margin-right: 0;
        margin-bottom: 10px;
    }

    .BannerBlock{
        height: 280px;
    }

    .NewsDetBox_content h1{
        padding: 0;
    }

    .NewsDetBox_content .NewsDate{
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 15px 0px 15px;
    }

    .NewsPageDetArea .NewsDetBox_content{
        padding-top: 70px;
    }

    .NewsDetBox_content .PeriodMark{
        left: 50%;
        top: -56px;
        transform: translateX(-50%);
    }
    
    .NewsDetBox_content .PeriodMark p{
        writing-mode: inherit;
    }

    .NewsDetBox_text{
        padding-top: 20px;
    }

    .NewsBtnBox_PrevNext .col-md-6:nth-child(1) .News_PrevNext div{
        padding-right: 0;
    }

    .NewsBtnBox_PrevNext .col-md-6:nth-child(2) .News_PrevNext div{
        padding-left: 0;
    }

    .NewsBtnBox_PrevNext h5{
        font-size: 15px;
    }

    .Room_Racility_Icon img{
        width: 30px;
    }

    .Room_Racility_Icon .pl-4.pr-4.pb-4{
        padding: 0rem 1.2rem 1.2rem 1.2rem !important;
    }

    .booking-details-btn{
        top: 55px;
    }

    .BookingPage .reservation-item-info-price{
        display: block;
    }
}


@media only screen and (max-width:380px){
    .slider-content .slider-container{
        height: 105vh;
    }
}


@media only screen and (max-width:380px) and (min-height:810px){
    .slider-content .slider-container{
        height: 90vh;
    }
}


@media only screen and (max-width:340px) {
    .LoginPageArea .MainLogin_width{
        width: 280px;
    }

    .LoginPageArea .tab-content{
        padding: 30px;
        padding-top: 20px;
    }
}

