<template>
    <main class="no-padding">
        <div class="LoginPageArea">
            <div class="row">
                <img class="position-absolute shape_bgc w-100 h-100" src="/images/shape/shape_bgc.png" alt="">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-0 col-sm-12">
                    <div class="LoginBox d-flex">
                        <div class="logo mb-5" style="visibility: visible; animation-name: fadeIn;" data-wow-delay=".8s">
                            <img class="wow fadeInUp" src="/images/logo_w.png" alt="">
                        </div>
                        <div class="MainLogin d-flex justify-content-center wow fadeInUp" style="visibility: visible; animation-name: fadeIn;" data-wow-delay=".9s">
                            <div class="MainLogin_width">
                                <div>
                                    <ul class="nav nav-tabs d-flex" role="tablist">
                                        <li class="active w-100" role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">登入</a></li>
                                        <li class="w-100" role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">註冊</a></li>
                                        <li class="w-100" role="presentation"><a href="#forget" aria-controls="forget" role="tab" data-toggle="tab">忘記密碼</a></li>
                                    </ul>
                                    <div class="tab-content" >
                                        <div role="tabpanel" class="tab-pane active" id="login">
                                            <form>
                                                <div class="input_group">
                                                    <input type="email" required v-model="form.Email">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label><i class="far fa-envelope-open pr-2"></i> E-mail</label>
                                                </div>
                                                <div class="input_group">
                                                    <input type="password" required v-model="form.Password">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label><i class="fas fa-key pr-2"></i> Password</label>
                                                </div>
                                                <button class="btn w-100 eb-btn" type="button" @click="Login">登入</button>
                                            </form>
                                            <div class="or input_group w-100">
                                                <p>or</p>
                                            </div>
                                            <div class="login_social">
                                                <button class="btn btn-fb w-100">
                                                    <i class="fab fa-facebook-f"></i> FACEBOOK
                                                </button>
                                                <button class="btn btn-google w-100">
                                                    <i class="fab fa-google"></i> GOOGLE
                                                </button>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="register">
                                            <form>
                                                <div class="input_group">
                                                    <input type="email" required v-model="NewUser.Email">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label>E-mail</label>
                                                </div>
                                                <div class="input_group">
                                                    <input type="password" required v-model="NewUser.Password">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label>Password</label>
                                                </div>
                                                <div class="input_group">
                                                    <input type="password" required v-model="NewUser.Confirm_password">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label>Confirm Password</label>
                                                </div>
                                                <div class="input_group">
                                                    <input type="text" required v-model="NewUser.Name">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label>姓名</label>
                                                </div>
                                                <div class="input_group">
                                                    <input type="text" required v-model="NewUser.IdNumber">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label>身份證字號</label>
                                                </div>
                                                <div class="input_group">
                                                    <input type="text" required v-model="NewUser.Phone">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label>電話</label>
                                                </div>
                                                <button class="btn w-100 eb-btn" type="button" @click="Register">註冊</button>
                                            </form>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="forget">
                                            <form>
                                                <div class="input_group mb-3">
                                                    <input type="email" required v-model="Forget.Email">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label>E-mail</label>
                                                </div>

                                                <div class="input_group mb-3">
                                                    <input type="text" required v-model="Forget.Id_number">
                                                    <span class="highlight"></span>
                                                    <span class="bar"></span>
                                                    <label>身份證字號</label>
                                                </div>
                                                <p class="text-left c-f font-13" style="font-family:  sans-serif; opacity: .7; margin-bottom: 20px;">核對資料後，將寄出新密碼至原信箱。</p>
                                                <button class="btn w-100 eb-btn" type="button" @click="Forgot">送出</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <img class="w-100" src="images/banner/banner4.jpg" alt=""> -->
            <!-- <div class="LoginBox position-absolute">
                <div class="BoxBody">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="BoxContent"></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </main>
</template>

<script>
    import {Login,Register,Forgot} from "../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../backend/helper";

    export default {
        name: "Login",
        data: function () {
            return {
                form: {
                    Email: '',
                    Password: '',
                },
                NewUser:{
                    Email: '',
                    Password: '',
                    Confirm_password: '',
                    Name: '',
                    IdNumber: '',
                    Phone: '',
                },
                Forget:{
                    Email: '',
                    Id_number: ''
                }
            }
        },
        methods:{
            Login(){
                let credential = {
                    email: this.form.Email,
                    password: this.form.Password
                }
                Login(credential).then((res)=>{
                    this.$store.dispatch('LoginSucess',res).then((response) => {
                        this.$router.push({
                            name: 'FrontProfile',
                        });
                    })
                })
                .catch((rep)=>{
                    SwalAlertErrorMessage(rep)
                })
            },
            Register(){
                if(this.NewUser.Confirm_password !== this.NewUser.Password){
                    var html = '<span class="f-family" style="color: #707070;font-size: 14px;font-weight:600;">';
                    html+= '<div><i class="fas fa-times" style="color:#f27474"></i>  '+"密碼與確認密碼不相符"+"</div>";

                    Swal.fire({
                        icon:'error',
                        html: html,
                        showCloseButton: false,
                        showConfirmButton: false,
                        width: '300px',
                        heightAuto: false
                    })
                }
                else
                {
                    let credential = {
                        email: this.NewUser.Email,
                        password: this.NewUser.Password,
                        Name: this.NewUser.Name,
                        IdNumber: this.NewUser.IdNumber,
                        Phone: this.NewUser.Phone
                    }
                    Register(credential).then((res)=>{
                        this.$store.dispatch('LoginSucess',res).then((response) => {
                            this.$router.push({
                                name: 'FrontProfile',
                            });
                        })
                    })
                    .catch((rep)=>{
                        SwalAlertErrorMessage(rep)
                    })
                }
            },
            Forgot(){
                let credential = {
                    email: this.Forget.Email,
                    IdNumber: this.Forget.Id_number
                }
                Forgot(credential).then((res)=>{
                    SwalAlertSuccessRedirect(res)
                    this.Forget.Email = ''
                    this.Forget.Id_number = ''
                })
                .catch((rep)=>{
                    SwalAlertErrorMessage(rep)
                })
            }
        }
    }
</script>

<style scoped>

</style>
