<template>
    <main class="no-padding" style="overflow: hidden;">
        <div class="BannerBlock" style="background-image: url('/images/banner/banner6.jpg');">
            <div class="BannerTitle text-center">
                <h1 class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".2s">BOOKING</h1>
                <p class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".6s">/</p>
                <h2 class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".8s">訂房紀錄</h2>
            </div>
        </div>
        <div class="container">
            <div class="MemberPage warp_p">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-end mb-3 mr-3">
                            <router-link :to="{name : 'FrontProfile'}" class="back">
                                BACK
                            </router-link>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box_shadow">
                            <h6 style="color:#deb666;"><img class="position-absolute" src="https://img.icons8.com/pastel-glyph/30/deb666/regular-file.png"/>訂單編號 :
                                {{Num}}
                                <a type="button" class="booking-details-btn btn btn-danger position-absolute" @click="CancelOrder"
                                v-if="!Order.Cancel"
                                >取消訂單</a>
                            </h6>

                            <div class="booking-details">
                                <div class="row">
                                    <div class="col-md-12 mb-5 pb-5">
                                        <h6>
                                            <img class="position-absolute" src="https://img.icons8.com/ios/30/cccccc/bed.png"/>房型資料
                                        </h6>
                                        <div class="row">
                                            <div class="rooms-detail-item" v-for="BookingData in Order.BookingData">
                                                <div class="col-md-12 p-0">
                                                    <div class="col-md-4">
                                                        <p>入住/退房日期 :<br>{{Days(BookingData.startDate)}}{{WeekDay(BookingData.startDate)}} ~ {{Days(BookingData.endDate)}} {{WeekDay(BookingData.endDate)}} ({{nights(BookingData.startDate,BookingData.endDate)}}晚)</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>房型 :<br>{{BookingData.Room.Name}} | {{BookingData.Promotion.Name}}</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p>加購 :<br>
                                                            <template v-if="BookingData.ExtraPeople > 0 || BookingData.ExtraBed > 0">
                                                                <template v-if="BookingData.ExtraPeople > 0">
                                                                    加備品 x {{nights(BookingData.startDate,BookingData.endDate)}} 晚 x {{BookingData.ExtraPeople}} <template v-if="BookingData.ExtraBed > 0"> + </template>
                                                                </template>
                                                                <template v-if="BookingData.ExtraBed > 0">
                                                                    加床 x {{nights(BookingData.startDate,BookingData.endDate)}} 晚 x {{BookingData.ExtraBed}}
                                                                </template>
                                                                <br>
                                                            </template>
                                                            <template v-if="BookingData.ExtraShop.length > 0" v-for="Shop in BookingData.ExtraShop">
                                                                {{Shop.Name}} x {{Shop.Nights}} 晚 x {{Shop.Numbers}} <br>
                                                            </template>
                                                            <template v-if="BookingData.ExtraCar.length > 0" v-for="Car in BookingData.ExtraCar">
                                                                {{Car.Name}} - {{Car.type == '1' ? '單趟' : '來回' }} x {{Car.Numbers}}
                                                                <template v-if="Car.arrvdt">
                                                                    <br>
                                                                    <span style="color: #a94442"> 抵達日期時間 : {{Car.arrvdt}}</span>
                                                                </template>
                                                                <template v-if="Car.pickdt">
                                                                    <br>
                                                                    <span style="color: #a94442"> 出發日期時間 : {{Car.pickdt}}</span>
                                                                </template>
                                                                <br>
                                                            </template>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix hidden-xs"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix hidden-xs"></div>

                                    <div class="col-md-6 mb-5 pb-4">
                                        <h6><img class="position-absolute" src="https://img.icons8.com/pastel-glyph/30/cccccc/gender-neutral-user.png"/>訂房資料</h6>
                                        <div class="row" v-if="Order.BookPeople">
                                            <div class="col-md-6">
                                                <p>姓名 :<br>{{Order.BookPeople.Name}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>身分證號碼或護照號碼 :<br>{{Order.BookPeople.IdNumber}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>手機 :<br>{{Order.BookPeople.Phone}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>E-mail :<br>{{Order.BookPeople.Email}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>性別 :<br>{{Order.BookPeople.Sex == '1' ? '男' : '女'}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>地址 :<br>{{Order.BookPeople.Area}}</p>
                                            </div>
                                        </div>
                                        <br>
                                        <h6><img class="position-absolute" src="https://img.icons8.com/pastel-glyph/30/cccccc/gender-neutral-user.png"/>入住資料</h6>
                                        <div class="row" v-if="Order.GuestPeople">
                                            <div class="col-md-6">
                                                <p>姓名 :<br>{{Order.GuestPeople.Name}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>身分證號碼或護照號碼 :<br>{{Order.GuestPeople.IdNumber}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>手機 :<br>{{Order.GuestPeople.Phone}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>E-mail :<br>{{Order.GuestPeople.Email}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>性別 :<br>{{Order.GuestPeople.Sex == '1' ? '男' : '女'}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>地址 :<br>{{Order.GuestPeople.Area}}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-5 pb-4">
                                        <h6><img class="position-absolute" src="https://img.icons8.com/ios/30/cccccc/checklist.png"/>訂單狀態</h6>
                                        <div class="row">
                                            <div class="col-md-6" v-if="Order.Price">
                                                <p>金額 :<br>NT${{Price(Order.Price)}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>付款方式 :
                                                    <template v-if="Order.Payment != null">
                                                        <template v-if="Order.Payment == '1'">
                                                            <br>線上刷卡
                                                        </template>
                                                        <template v-else-if="Order.Payment == '2'">
                                                            <br>ATM轉帳
                                                        </template>
                                                    </template>
                                                    <template v-else>
                                                        <br>
                                                        <router-link :to="{name: 'PaymentSelect',params: { Num: Num } }" class="booking-details-btn btn btn-danger">
                                                            前往付款
                                                        </router-link>
                                                    </template>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>訂單狀態 :
                                                    <template v-if="Order.Refund">
                                                            <br>已退款
                                                    </template>
                                                    <template v-else-if="Order.Cancel">
                                                        <br>已取消
                                                    </template>
                                                    <template v-else-if="Order.Paid">
                                                        <br>已付款
                                                    </template>
                                                    <template>
                                                        <br>未付款
                                                    </template>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h6><img class="position-absolute" src="https://img.icons8.com/ios/30/cccccc/box-important.png"/>注意事項</h6>
                                        <p>取消和預付款政策根據各種住宿類型而有所不同。 請輸入您的入住日期並參閱您所需的客房的條款。</p>
                                        <p>
                                            【防詐騙提醒】<br>
                                            【飯店業者】不會指示旅客以任何理由要求去操作 ATM 自動提款機解除 自動扣款，或誤設成分期付款或通知您變更付款條件,亦不會在電話中要求您提供信用卡帳號 資料、銀行帳號，或主動提供您銀行/信用卡客服電話。 請隨時提高警覺勿上當！！ 如有任何疑問請您直接致電飯店訂房部確認。</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import {GetOrder} from "../../api";
    import {SwalAlertErrorMessage,SwalAlertAsk} from "../../../backend/helper";
    import moment from "moment";

    export default {
        name: "Order",
        props: {
            Num: {
                required: true,
            }
        },
        data(){
          return {
              Order:{}
          }
        },
        created(){
            if(this.Num === undefined)
            {
                this.$router.push({
                    name: 'FrontProfile'
                });
            }
            else{
                this.init();
            }
        },
        methods:{
            init(){
                let credential = {
                    Num : this.Num
                }
                GetOrder(credential).then((res)=>{
                    this.Order = res.Order
                }).catch(rep=>SwalAlertErrorMessage(rep))
            },
            Price(Num){
                return Num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
            },
            Days(date){
                return moment(date).format('Y/M/D')
            },
            WeekDay(date) {
                moment.locale('zh-tw');
                return moment(date).format('dddd');
            },
            nights(startDate, endDate) {
                return moment(endDate).diff(moment(startDate), 'days') ?? 0;
            },
            CancelOrder(){
                SwalAlertAsk('取消','確定取消訂單嗎 ? 此動作將無法復原').then(res => {
                    console.log('OK')
                }).catch(rep => {
                    console.log('Cancel')
                })
            }
        }
    }
</script>

<style scoped>

</style>
