<template>
    <main class="no-padding" style="overflow: hidden;">
        <div class="BannerBlock" style="background-image: url('/images/banner/banner6.jpg');">
            <div class="BannerTitle text-center">
                <h1 class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".2s">MEMBER</h1>
                <p class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".6s">/</p>
                <h2 class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".8s">會員中心</h2>
            </div>
        </div>
        <div class="container">
            <div class="MemberPage warp_p">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="box_shadow member-info mb-lg-0 mb-md-5 mb-5">
                            <h6><img class="position-absolute" src="https://img.icons8.com/pastel-glyph/30/cccccc/gender-neutral-user.png"/>會員資料
                                <a type="button" class="logout position-absolute" @click="Logout">登出</a>
                            </h6>
                            <form spellcheck="false">
                                <div class="input_group">
                                    <input type="mail" required v-model="Member.Email">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>* E-mail</label>
                                    <button type="button" class="btn eb-btn position-absolute edit-password" @click="UpdateMemberEmail">變更信箱</button>
                                </div>
                                <div class="input_group">
                                    <input type="password" required placeholder="******" v-model="New.Password">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="disabled">* 密碼</label>
                                    <button type="button" class="btn eb-btn position-absolute edit-password" @click="UpdateMemberPassword">修改密碼</button>
                                </div>
                                <div class="input_group">
                                    <input type="text" required v-model="Member.Name">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>* 姓名</label>
                                </div>

                                <div class="input_group">
                                    <input type="tel" required v-model="Member.Phone">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>* 電話</label>
                                </div>

                                <div class="input_group">
                                    <label style="position: relative;">性別</label>
                                    <select class="form-control mt-2" v-model="Member.Sex">
                                        <option></option>
                                        <option value="1">先生</option>
                                        <option value="0">小姐</option>
                                    </select>
                                </div>

                                <div class="input_group">
                                    <label style="position: relative;">地址</label>
                                    <select class="form-control mt-2" v-model="Member.Area">
                                        <option></option>
                                        <option value="台北市">台北市</option>
                                        <option value="新北市">新北市</option>
                                        <option value="基隆市">基隆市</option>
                                        <option value="桃園市">桃園市</option>
                                        <option value="新竹市">新竹市</option>
                                        <option value="新竹縣">新竹縣</option>
                                        <option value="宜蘭縣">宜蘭縣</option>
                                        <option value="花蓮縣">花蓮縣</option>
                                        <option value="苗栗縣">苗栗縣</option>
                                        <option value="台中市">台中市</option>
                                        <option value="彰化縣">彰化縣</option>
                                        <option value="南投縣">南投縣</option>
                                        <option value="雲林縣">雲林縣</option>
                                        <option value="嘉義市">嘉義市</option>
                                        <option value="嘉義縣">嘉義縣</option>
                                        <option value="台南市">台南市</option>
                                        <option value="澎湖縣">澎湖縣</option>
                                        <option value="高雄市">高雄市</option>
                                        <option value="屏東縣">屏東縣</option>
                                        <option value="台東縣">台東縣</option>
                                        <option value="金門縣">金門縣</option>
                                        <option value="連江縣">連江縣</option>
                                    </select>
                                </div>

                                <button class="btn w-100 eb-btn" type="button" @click="UpdateMemberBasic">確認</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="box_shadow booking-info">
                            <h6><img class="position-absolute" src="https://img.icons8.com/ios/30/cccccc/service-bell.png"/>訂房紀錄</h6>
                            <ul class="nav nav-tabs d-flex mb-5" role="tablist">
                                <li class="active w-100" role="presentation"><a href="#unpaid" aria-controls="unpaid" role="tab" data-toggle="tab">未付款</a></li>
                                <li class="w-100" role="presentation"><a href="#paid" aria-controls="paid" role="tab" data-toggle="tab">已付款</a></li>
                                <li class="w-100" role="presentation"><a href="#cancel" aria-controls="cancel" role="tab" data-toggle="tab">已取消</a></li>
                            </ul>
                            <div class="tab-content" >
                                <div role="tabpanel" class="tab-pane active" id="unpaid">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">訂單編號</th>
                                            <th scope="col">入住日期</th>
                                            <th scope="col">房型</th>
                                            <th scope="col">金額</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in unPaid" :key="item.Num">
                                            <th scope="row" data-label="訂單編號 :"><router-link :to="{ name: 'FrontOrder',params:{ Num: item.Num }}">{{item.Num}}</router-link></th>
                                            <td data-label="入住日期 :">
                                                <template v-for="Detail in item.Details">
                                                    {{Days(Detail['StartDate'])}}-{{Days(Detail['EndDate'])}}<br>
                                                </template>
                                            </td>
                                            <td data-label="房型 :">
                                                <template v-for="Detail in item.Details">
                                                    {{Detail['RoomName']}} | {{Detail['Promotion']}}<br>
                                                </template>
                                            </td>
                                            <td data-label="金額 :">NT$ {{Price(item.TotalPrice)}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="paid">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">訂單編號</th>
                                            <th scope="col">入住日期</th>
                                            <th scope="col">房型</th>
                                            <th scope="col">金額</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in Paid" :key="item.Num">
                                            <th scope="row" data-label="訂單編號 :"><router-link :to="{ name: 'FrontOrder',params:{ Num: item.Num }}">{{item.Num}}</router-link></th>
                                            <td data-label="入住日期 :">
                                                <template v-for="Detail in item.Details">
                                                    {{Days(Detail['StartDate'])}}-{{Days(Detail['EndDate'])}}<br>
                                                </template>
                                            </td>
                                            <td data-label="房型 :">
                                                <template v-for="Detail in item.Details">
                                                    {{Detail['RoomName']}} | {{Detail['Promotion']}}<br>
                                                </template>
                                            </td>
                                            <td data-label="金額 :">NT$ {{Price(item.TotalPrice)}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="cancel">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">訂單編號</th>
                                            <th scope="col">入住日期</th>
                                            <th scope="col">房型</th>
                                            <th scope="col">金額</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in Cancel" :key="item.Num">
                                            <th scope="row" data-label="訂單編號 :"><router-link :to="{ name: 'FrontOrder',params:{ Num: item.Num }}">{{item.Num}}</router-link></th>
                                            <td data-label="入住日期 :">
                                                <template v-for="Detail in item.Details">
                                                    {{Days(Detail['StartDate'])}}-{{Days(Detail['EndDate'])}}<br>
                                                </template>
                                            </td>
                                            <td data-label="房型 :">
                                                <template v-for="Detail in item.Details">
                                                    {{Detail['RoomName']}} | {{Detail['Promotion']}}<br>
                                                </template>
                                            </td>
                                            <td data-label="金額 :">NT$ {{Price(item.TotalPrice)}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import {UpdateMemberBasic, UpdateMemberEmail, UpdateMemberPassword,GetMemberOrderRecord} from "../../api";
    import {SwalAlertErrorMessage} from "../../../backend/helper";

    export default {
        name: "Profile",
        computed:{
            Member() {
                return this.$store.getters.Member
            },
        },
        data(){
            return {
                New:{
                    Password: '',
                },
                unPaid: {},
                Paid: {},
                Cancel: {},

            }
        },
        created() {
            this.init();
        },
        methods:{
            init(){
                GetMemberOrderRecord().then((res)=>{
                   this.unPaid = res.unPaid
                   this.Paid = res.Paid
                   this.Cancel = res.Cancel
                }).catch(rep=>SwalAlertErrorMessage(rep))
            },
            Price(Num){
               return Num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
            },
            Days(date){
              return moment(date).format('Y/M/D')
            },
            Logout(){
                this.$store.commit('Logout');
                this.$router.push({
                    name: 'FrontLogin'
                })
            },
            UpdateMemberBasic(){
                let credential = {
                    Name: this.Member.Name,
                    Phone: this.Member.Phone,
                    Sex: this.Member.Sex,
                    Area: this.Member.Area,
                }
                UpdateMemberBasic(credential).then((res)=>{
                    this.$store.dispatch('LoginSucess',res)
                })
                .catch(rep=>SwalAlertErrorMessage(rep))
            },
            UpdateMemberPassword(){
                let credential = {
                    password: this.New.Password
                }
                UpdateMemberPassword(credential).then((res)=>{
                    this.$store.dispatch('LoginSucess',res)
                })
                .catch(rep=>SwalAlertErrorMessage(rep))
            },
            UpdateMemberEmail(){
                let credential = {
                    email: this.Member.Email
                }
                UpdateMemberEmail(credential).then((res)=>{
                    this.$store.dispatch('LoginSucess',res)
                })
                    .catch(rep=>SwalAlertErrorMessage(rep))
            },
        }
    }
</script>

<style scoped>

</style>
