<template>
    <div class="calendar">
        <div class="calendar-header">
            <div class="title">
                <div class="lastPage btn-primary" @click="lastMonth"><</div>
                <div class="currentMonth">{{currentMonth}}</div>
                <div class="nextPage btn-primary" @click="nextMonth">></div>
            </div>
            <div class="weeks">
                <div class="week">週日</div>
                <div class="week">週一</div>
                <div class="week">週二</div>
                <div class="week">週三</div>
                <div class="week">週四</div>
                <div class="week">週五</div>
                <div class="week">週六</div>
            </div>
        </div>
        <div class="calendar-body">
            <div class="weeks" v-for="week in weeks">
                <div class="week" v-for="day in week" :class="day.class" @click.self="dayClick(day.date)">
                    <div class="date">{{day.date}}</div>
                    <div class="content" v-if="events.filter(event => event.date === day.date).length > 0">
                        <div class="events"  v-for="event in filterDate(day.date)" :class="event.cssClass" @click="eventClick(event)">
                            <div class="title">{{event.title}}</div>
                            <div class="content" v-html="event.content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    export default {
        name: "Calendar",
        props: {
            PropEvents:{},
            PropCurrentMonth:{
                type: String,
                default:  moment().format('YYYY-MM')
            }
        },
        data(){
            return {
                today: '',
                currentMonth: this.PropCurrentMonth,
            }
        },
        created() {
            this.today = moment().get('date');
        },
        computed:{
            events: function(){
                return this.PropEvents
            },
            //天數
            daysInMonth: function () {
                return moment(this.currentMonth).daysInMonth();
            },
            //當月第一天
            startOfMonth:function(){
                return moment(this.currentMonth).startOf('month').format('YYYY-MM-DD');
            },
            //當月結束
            endOfMonth:function(){
                return moment(this.currentMonth).endOf('month').format('YYYY-MM-DD');
            },

            firstDayOfMonth: function(){
                return moment(this.startOfMonth).weekday();
            },
            weeks: function(){
              const weeks = [];
              let current = moment(this.startOfMonth);
                for (let w = 1; w <= 6 ; w++) {
                    const week = [];
                    for (let d = 0; d <= 6; d++) {
                        //如果這一格小於這個月
                        if( w ===1 && d < this.firstDayOfMonth)
                        {
                            week.push({
                                class: 'inactive',
                                date: moment(this.currentMonth).subtract( this.firstDayOfMonth - d, 'days').format('YYYY-MM-DD')
                            });
                        }
                        else if(current <  (moment(this.currentMonth).add(1, 'months')) )
                        {
                            week.push({
                                class: 'active',
                                date: current.format('YYYY-MM-DD')
                            })
                            current.add(1, 'days');
                        }
                        else
                        {
                            week.push({
                                class: 'inactive',
                                date: current.format('YYYY-MM-DD')
                            });
                            current.add(1, 'days');
                        }
                    }
                    weeks.push(week);
                }
                return weeks;
            },


        },
        methods:{
            lastMonth(){
                this.currentMonth = moment(this.currentMonth).subtract(1,'months').format('YYYY-MM');
                this.$emit('MonthChange',this.currentMonth);
            },
            nextMonth(){
                this.currentMonth = moment(this.currentMonth).add(1,'months').format('YYYY-MM');
                this.$emit('MonthChange',this.currentMonth);
            },
            filterDate(date){
                return this.events.filter(function(event){
                    return event.date === date;
                });
            },
            dayClick(date){
                this.$emit('DayClick',date);
            },
            eventClick(event){
                this.$emit('EventClick',event);
            }
        },
    }
</script>

<style scoped>
    *{
        /*border: red dashed 1px;*/
    }
    .calendar{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0;
        padding: 0 0;
    }
    .calendar-header{
        width: 100%;
    }
    .calendar > .calendar-header > .title{
        display: inline-flex;
        width: 100%;
        padding: 10px 60px;
    }
    .calendar > .calendar-header > .title > .currentMonth {
        margin: auto;
    }
    .calendar > .calendar-header > .weeks{
        display: inline-flex;
        width: 100%;
        padding: 10px 0px;
        line-height: 40px;
        height: 60px;
    }
    .calendar > .calendar-header > .weeks > .week{
        margin: auto;
        width: 100%;
        text-align: center;
        border: black 1px solid;
    }

    .calendar > .calendar-body{
        width: 100%;
    }
    .calendar > .calendar-body > .weeks{
        display: inline-flex;
        width: 100%;
        height: 150px;
    }
    .calendar > .calendar-body > .weeks > .week{
        margin: auto;
        width: 100%;
        height: 100%;
        text-align: center;
        border: black 1px solid;
    }

    .inactive{
        color: white;
        background-color: #9C9C9C;
    }
    .active{
        color: black;
        background-color: #f3f3f3;
    }
</style>
