<template>
    <div class="d-flex justify-content-center card-footer pagination-card-footer">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm mb-0">
                <li class="page-item">
                    <a class="page-link shadow-none text-muted" type="button" aria-label="Previous" role="button"
                       @click="onClickPreviousPage"
                       v-show="!isInFirstPage"
                    >
                        <span aria-hidden="true"><i class="feather-10-18" data-feather="chevron-left"></i></span>
                    </a>
                </li>
                <li class="page-item" v-for="page in pages">
                    <a class="page-link shadow-none text-muted" type="button"
                        @click="onClickPage(page.name)"
                       :disabled="page.isDisabled"
                       :class="{ active: isPageActive(page.name) }"
                    > {{ page.name }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link shadow-none text-muted" type="button" aria-label="Next" role="button"
                       @click="onClickNextPage"
                       v-show="!isInLastPage"
                    >
                        <span aria-hidden="true"><i class="feather-10-18" data-feather="chevron-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "Paginate",
        props:{
            maxVisibleButtons: {
                type: Number,
                required: false,
                default: 3
            },
            totalPages: {
                type: Number,
                required: true
            },
            total: {
                type: Number,
                required: true
            },
            perPage: {
                type: Number,
                required: true
            },
            currentPage: {
                type: Number,
                required: true
            },
        },
        mounted(){
            feather.replace()
        },
        computed: {
            isInFirstPage() {
                return this.currentPage === 1;
            },
            isInLastPage() {
                return this.currentPage === this.totalPages;
            },

            startPage() {
                if (this.currentPage === 1) {
                    return 1;
                }

                if (this.currentPage === this.totalPages) {
                    if(this.totalPages - this.maxVisibleButtons + 1 <= 0)
                    {
                        return 1;
                    }
                    return this.totalPages - this.maxVisibleButtons + 1;
                }

                return this.currentPage - 1;

            },
            endPage() {
                return Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages);
            },

            pages() {
                const range = [];

                for (let i = this.startPage; i <= this.endPage; i+= 1 ) {
                    range.push({
                        name: i,
                        isDisabled: i === this.currentPage
                    });
                }

                return range;
            },

        },

        methods: {
            onClickFirstPage() {
                this.$emit('pagechanged', 1);
            },
            onClickPreviousPage() {
                this.$emit('pagechanged', this.currentPage - 1);
            },
            onClickPage(page) {
                this.$emit('pagechanged', page);
            },
            onClickNextPage() {
                this.$emit('pagechanged', this.currentPage + 1);
            },
            onClickLastPage() {
                this.$emit('pagechanged', this.totalPages);
            },
            isPageActive(page) {
                return this.currentPage === page;
            },
        }
    }
</script>

<style scoped>
    .active{
        background-color: #F9B130 !important;
        color: #fff !important;
    }
    *{
        font-family: "Nunito Sans", sans-serif , "微軟正黑體" !important;
        font-weight: 400 !important;
    }
    .feather-10-18{
        width: 10px;
        height: 18px;
    }


</style>
