<template>
    <div class="left-side-menu">
        <div class="sidebar-content">
            <!--- Sidemenu -->
            <div id="sidebar-menu" class="slimscroll-menu">
                <ul class="metismenu mb-0" id="menu-bar">
                    <li>
                        <router-link :to="{name : 'index'}">
                            <i data-feather="home"></i>
                            <span class="badge badge-success float-right">
                                    <i data-feather="home" style="color: #FFF;margin: 0;"></i>
                                </span>
                            <span>首頁 </span>
                        </router-link>
                    </li>
                    <li :class="collapseContent ? '' :'mm-active'">
                        <a :class="collapseContent ?  'mm-collapsed' : ''"
                           @click.self="collapseContent = !collapseContent" type="button">
                            <i data-feather="layout"></i>
                            <span>房務管理 </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level mm-collapse" :aria-expanded="!collapseContent"
                            :class=" collapseContent ?  '' : 'mm-show'">
                            <li><router-link :to="{name: 'TestCalc'}">簡易試算(開發用)</router-link></li>

                            <li><router-link :to="{name: 'Rule'}">基本設置</router-link></li>
                            <li><router-link :to="{name: 'Rooms'}">房型設置</router-link></li>


                            <template v-if="Licenses.includes('活動模組')">
                                <li><router-link :to="{name: 'Promotions'}">活動設置</router-link></li>
                            </template>

                            <template v-if="Licenses.includes('篩選過濾')">
                                <li><router-link :to="{name: 'Tags'}">標籤設置</router-link></li>
                            </template>
                            <template v-if="Licenses.includes('加購模組')">
                                <li><router-link :to="{name: 'ExtraShops'}">加購商品設置</router-link></li>
                            </template>
                            <template v-if="Licenses.includes('加購接送')">
                                <li><router-link :to="{name: 'ExtraCars'}">加購接送設置</router-link></li>
                            </template>

                            <li :class="Room.showCollapse ? '' :'mm-active'"  v-if="Rooms.length > 0" v-for="(Room,index) in Rooms" :key="index">
                                <a :class="Room.showCollapse ?  'mm-collapsed' : ''"
                                   @click="Room.showCollapse = !Room.showCollapse" type="button">{{Room.Name}}
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-third-level mm-collapse"
                                    :class="Room.showCollapse ?  '' : 'mm-show'" :key="index">
                                    <li><router-link aria-expanded="false" :to="{name: 'DailyRoom',params:{'id': Room.id}}">基本房務</router-link></li>

                                    <template v-if="Licenses.includes('加購模組') || Licenses.includes('加購接送')">
                                        <li><router-link :to="{name: 'Extra' ,params:{'id': Room.id}}">加購設置</router-link></li>
                                    </template>

                                    <li><router-link aria-expanded="false" :to="{name: 'RemainRoom',params:{'id': Room.id}}">訂房情況</router-link></li>
                                    <li><router-link v-for="(Promotion,index) in Room.promotions" :key="index"  aria-expanded="false" :to="{name: 'DailyPromotion',params:{'id': Promotion.id}}">{{Promotion.Name}}</router-link></li>
                                </ul>
                            </li>

<!--                            <li :class="collapseContentInner ? '' :'mm-active'">-->
<!--                                <a :aria-expanded="!collapseContentInner" :class="collapseContentInner ?  'mm-collapsed' : ''"-->
<!--                                   @click="collapseContentInner = !collapseContentInner" type="button">內頁管理-->
<!--                                    <span class="menu-arrow"></span>-->
<!--                                </a>-->
<!--                                <ul class="nav-third-level mm-collapse" :aria-expanded="!collapseContentInner"-->
<!--                                    :class="collapseContentInner ?  '' : 'mm-show'">-->
<!--                                    <li><router-link :to="{name: 'InnerBanner'}">內頁Banner</router-link></li>-->
<!--                                    <li><router-link :to="{name: 'InnerIcon'}">內頁標題Icon</router-link></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><router-link :to="{name: 'About'}">關於學會</router-link></li>-->
<!--                            <li :class="collapseContentNews ? '' :'mm-active'">-->
<!--                                <a :aria-expanded="!collapseContentNews" :class="collapseContentNews ?  'mm-collapsed' : ''"-->
<!--                                   @click="collapseContentNews = !collapseContentNews" type="button">最新消息-->
<!--                                    <span class="menu-arrow"></span>-->
<!--                                </a>-->
<!--                                <ul class="nav-third-level mm-collapse" :aria-expanded="!collapseContentNews"-->
<!--                                    :class="collapseContentNews ?  '' : 'mm-show'">-->
<!--                                    <li><router-link :to="{name: 'NewsType'}">分類管理</router-link></li>-->
<!--                                    <li><router-link :to="{name: 'NewsList'}">消息列表</router-link></li>-->
<!--                                </ul>-->
<!--                            </li>-->


<!--                            <li :class="collapseContentMember ? '' :'mm-active'">-->
<!--                                <a :aria-expanded="!collapseContentMember" :class="collapseContentMember ?  'mm-collapsed' : ''"-->
<!--                                   @click="collapseContentMember = !collapseContentMember" type="button">會員專區-->
<!--                                    <span class="menu-arrow"></span>-->
<!--                                </a>-->
<!--                                <ul class="nav-third-level mm-collapse" :aria-expanded="!collapseContentMember"-->
<!--                                    :class="collapseContentMember ?  '' : 'mm-show'">-->
<!--                                    <li><router-link :to="{name: 'Member'}">內容管理</router-link></li>-->
<!--                                    <li><router-link :to="{name: 'MemberDownload'}">入會申請書</router-link></li>-->
<!--                                </ul>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <router-link :to="{name: 'ClassInfo'}">課程資訊</router-link>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <router-link :to="{name: 'Event'}">活動花絮</router-link>-->
<!--                            <li>-->
<!--                                <router-link :to="{name: 'FriendLink'}">其它資訊</router-link>-->
<!--                            </li>-->
<!--                            <li :class="collapseContentJob ? '' :'mm-active'">-->
<!--                                <a :aria-expanded="!collapseContentJob" :class="collapseContentJob ?  'mm-collapsed' : ''"-->
<!--                                   @click="collapseContentJob = !collapseContentJob" type="button">徵才管理-->
<!--                                    <span class="menu-arrow"></span>-->
<!--                                </a>-->
<!--                                <ul class="nav-third-level mm-collapse" :aria-expanded="!collapseContentJob"-->
<!--                                    :class="collapseContentJob ?  '' : 'mm-show'">-->
<!--                                    <li><router-link :to="{name: 'ApplyList'}">審核列表</router-link></li>-->
<!--                                    <li><router-link :to="{name: 'JobList'}">徵才列表</router-link></li>-->
<!--                                </ul>-->
<!--                            </li>-->
                        </ul>
                    </li>
                    <li><router-link :to="{name: 'FormList'}"><i data-feather="file-text"></i><span>表單管理 </span></router-link>
                    </li>

                    <li class="menu-title">系統維護</li>
                    <li :class="collapsePermission ? '' :'mm-active'"><a :aria-expanded="!collapsePermission" :class="collapsePermission ?  'mm-collapsed' : ''"
                                                                         @click="collapsePermission = !collapsePermission" type="button"><i data-feather="bookmark"></i><span>權限管理 </span><span class="menu-arrow"></span></a>
                        <ul class="nav-second-level mm-collapse" :aria-expanded="!collapsePermission"
                            :class="collapsePermission ?  '' : 'mm-show'">
                            <li><router-link :to="{name: 'Profile'}">基本資料</router-link></li>
                            <li><router-link :to="{name: 'Role'}">帳號管理</router-link></li>
                        </ul>
                    </li>
                    <li :class="collapseSystem ? '' :'mm-active'"><a :aria-expanded="!collapseSystem" :class="collapseSystem ?  'mm-collapsed' : ''"
                                                                     @click="collapseSystem = !collapseSystem" type="button"><i data-feather="settings"></i><span>系統設定 </span><span class="menu-arrow"></span></a>
                        <ul class="nav-second-level mm-collapse" :aria-expanded="!collapseSystem"
                            :class="collapseSystem ?  '' : 'mm-show'">
                            <li><router-link :to="{name: 'FrontBasic'}">基本設定</router-link></li>
                            <li><router-link :to="{name: 'FrontSetting'}">網站設定</router-link></li>
                            <li><router-link :to="{name: 'MailSetting'}">信箱設定</router-link></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- End Sidebar -->
            <div class="clearfix"></div>
        </div>
    </div>
</template>
<script>
    import {setCookie,getCookie,delCookie} from '../cookie';
    import {GetRooms} from "../api";
    import {SwalAlertErrorMessage} from "../helper";
    export default{
        name: 'Sidebar',
        props: ['Licenses'],
        data(){
            return {
                collapseContent: true,

                collapseContentInner: true,
                collapseContentNews: true,
                collapseContentMember: true,
                collapseContentApply: true,
                collapseContentJob: true,

                collapsePermission: true,
                collapseSystem: true,

                Rooms: []
            }
        },

        watch:{
            collapseContent: function(boolean){
                // if(!boolean)
                // {
                //     setCookie('collapseContent',false,86400);
                // }
                // else
                // {
                //     delCookie('collapseContent');
                // }
                console.log(boolean)
            },
            collapseContentInner: function(boolean){
                if(!boolean)
                {
                    setCookie('collapseContentInner',false,86400);
                }
                else
                {
                    delCookie('collapseContentInner');
                }
            },

            collapseContentNews: function(boolean){
                if(!boolean)
                {
                    setCookie('collapseContentNews',false,86400);
                }
                else
                {
                    delCookie('collapseContentNews');
                }
            },

            collapseContentMember: function(boolean){
                if(!boolean)
                {
                    setCookie('collapseContentMember',false,86400);
                }
                else
                {
                    delCookie('collapseContentMember');
                }
            },

            collapseContentApply: function(boolean){
                if(!boolean)
                {
                    setCookie('collapseContentApply',false,86400);
                }
                else
                {
                    delCookie('collapseContentApply');
                }
            },

            collapseContentJob: function(boolean){
                if(!boolean)
                {
                    setCookie('collapseContentJob',false,86400);
                }
                else
                {
                    delCookie('collapseContentJob');
                }
            },

            collapsePermission: function(boolean){
                if(!boolean)
                {
                    setCookie('collapsePermission',false,86400);
                }
                else
                {
                    delCookie('collapsePermission');
                }
            },

            collapseSystem: function(boolean){
                if(!boolean)
                {
                    setCookie('collapseSystem',false,86400);
                }
                else
                {
                    delCookie('collapseSystem');
                }
            },
        },

        mounted() {
            this.GetRooms();
            this.init();
        },
        methods: {
            init(){
                //this.collapseContent = !getCookie('collapseContent');
                // this.collapseDaily = !getCookie('collapseDaily');
                this.collapseContentInner = !getCookie('collapseContentInner');
                this.collapseContentNews = !getCookie('collapseContentNews');
                this.collapseContentMember = !getCookie('collapseContentMember');
                this.collapseContentApply = !getCookie('collapseContentApply');
                this.collapseContentJob = !getCookie('collapseContentJob');
                this.collapsePermission = !getCookie('collapsePermission');
                this.collapseSystem = !getCookie('collapseSystem');
            },
            GetRooms(){
                GetRooms().then((res) => {
                    res.forEach(function(item){
                        item.showCollapse = true;
                    });
                    this.Rooms = res
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }
    }
</script>
