@media (min-width:768px) {}

@media (max-width:991.98px) {
    .eb-stepline {
        display: none
    }
    .flex-row.row {
        display: inline-block
    }
    .room-list-item img {
        transform: none
    }
    .room-list-item .room-price-search {
        position: relative;
        margin-bottom: 0
    }
    .room-list-item .room-price-details {
        border-left: 0
    }
    .eb-alert {
        font-size: 14px;
        line-height: 18px
    }
    .eb-alert i {
        display: none
    }
    .room-more-details {
        position: relative
    }
    .rooms-bar {
        border-top: 1px solid #ebebeb;
        padding-top: 15px
    }
    .rooms-bar .rooms-view-sorting {
        margin-top: 30px;
        display: block;
        float: none
    }
    .rooms-bar .rooms-sorting .dropdown-menu {
        min-width: 100%
    }
    .bannerTitleBox .room-price .price-number,
    .bannerTitleBox .room-price .per-night-text {
        font-size: 16px
    }
    #payment-form .form-row {
        display: block;
        width: 100%;
        float: none
    }
    .payment-tabs-content .btn-stripe {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 15px
    }
    .eb-account-menu ul li a {
        padding: 10px 30px
    }
}

@media (max-width:767.98px) {
    .eb-account-menu ul li a {
        padding: 10px 20px
    }
    .eb-tabs .eb-tab {
        margin-right: 8px
    }
    .eb-tabs .eb-tab label {
        font-size: 12px;
        padding: 5px 0
    }
}

@media (max-width:575.98px) {
    .eb-account-menu ul li a {
        padding: 10px 10px
    }
}