@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900&display=swap);
html {
  position: relative;
  min-height: 100%;
  font-family: "微軟正黑體" !important;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
}

.en-font {
  font-family: "Nunito Sans", sans-serif !important;
}

.nav-second-level li a, .nav-thrid-level li a {
  padding: 8px 20px;
  color: #4b4b5a;
  display: block;
  position: relative;
  -webkit-transition: all .4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-second-level > li > a:hover {
  color: #4b4b5a;
  background: rgba(255, 196, 77, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav-second-level li > a.active, .nav-thrid-level li > a.active {
  color: #F9B130;
}

.nav-second-level.mm-collapse.mm-show {
  min-height: auto !important;
}

#wrapper {
  height: 100%;
  width: 100%;
}

.content-page {
  margin-left: 250px;
  padding: 0 12.5px 5px 12.5px;
  min-height: 80vh;
  margin-top: 72px;
}

.left-side-menu {
  width: 250px;
  background: #fff;
  bottom: 0;
  padding: 0;
  position: fixed;
  top: 72px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
  box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
  z-index: 99;
}

.left-side-menu .sidebar-content {
  height: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

#sidebar-menu .mm-show .nav-third-level a:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  left: 0;
  top: 11px;
  background: rgba(67, 211, 158, 0.3);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#sidebar-menu .mm-show .nav-third-level a:hover:before {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}

#sidebar-menu .active.mm-collapsed {
  color: #4b4b5a !important;
  border-left-color: #FFF;
}

#sidebar-menu .active.mm-collapsed > svg {
  color: #4b4b5a;
}

#sidebar-menu .nav-second-level li ul li > a.active {
  color: #4b4b5a;
}

#sidebar-menu .nav-second-level li ul li > a.active:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  left: 0;
  top: 11px;
  background: #43d39e !important;
  opacity: 1 !important;
}

#sidebar-menu li.mm-active > .nav-second-level > .mm-active > a {
  color: #F9B130;
  background: rgba(255, 196, 77, 0.2);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#sidebar-menu > ul > li.mm-active > a {
  border-left: 3px solid #F9B130;
  color: #F9B130;
  background-color: #f9f8f7;
}

#sidebar-menu > ul > li.mm-active > a svg {
  color: #F9B130;
  fill: rgba(83, 105, 248, 0.1);
}

#sidebar-menu > ul > li > a {
  color: #4b4b5a;
  display: block;
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-left: 3px solid transparent;
}

#sidebar-menu > ul > li > a svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 3px;
  color: #4b4b5a;
  fill: rgba(75, 75, 90, 0.12);
}

#sidebar-menu > ul > li > a:active, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:hover {
  color: #F9B130;
  text-decoration: none;
  background-color: #f9f8f7;
}

#sidebar-menu > ul > li > a:active svg, #sidebar-menu > ul > li > a:focus svg, #sidebar-menu > ul > li > a:hover svg {
  color: #F9B130;
  fill: rgba(83, 105, 248, 0.1);
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu > ul > li > a i {
  display: inline-block;
  line-height: 1rem;
  margin: 0 10px 0 3px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

#sidebar-menu > ul > li > a.active {
  border-left: 3px solid #F9B130;
  color: #F9B130;
  background-color: #f9f8f7;
}

#sidebar-menu > ul > li > a.active svg {
  color: #F9B130;
  fill: rgba(83, 105, 248, 0.1);
}

#sidebar-menu > ul > li > ul {
  padding-left: 43px;
}

#sidebar-menu > ul > li > ul li {
  margin: 5px 0;
}

#sidebar-menu > ul > li > ul ul {
  padding-left: 20px;
}

#sidebar-menu .menu-arrow {
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  position: absolute;
  right: 30px;
  display: inline-block;
  font-family: unicons;
  text-rendering: auto;
  line-height: 1.3rem;
  font-size: .9rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 15px;
}

#sidebar-menu .menu-arrow:before {
  content: "";
}

#sidebar-menu .badge {
  margin-top: 3px;
}

#sidebar-menu .nav-second-level > li .menu-arrow {
  top: 8px;
}

#sidebar-menu li.mm-active > a > span.menu-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#sidebar-menu .menu-title {
  padding: 15px 30px 10px 30px;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: .6875rem;
  text-transform: uppercase;
  color: #4b4b5a;
}

.left-side-menu-condensed .logo {
  text-align: center;
}

.left-side-menu-condensed .navbar-custom {
  left: 0 !important;
  padding-left: 10px;
}

.left-side-menu-condensed .navbar-custom .button-menu-mobile.disable-btn {
  display: block !important;
}

.left-side-menu-condensed .left-side-menu {
  position: absolute;
  width: 70px !important;
  z-index: 5;
}

.left-side-menu-condensed .left-side-menu .slimScrollDiv, .left-side-menu-condensed .left-side-menu .slimscroll-menu {
  overflow: inherit !important;
  height: auto !important;
}

.left-side-menu-condensed .left-side-menu .slimScrollBar {
  visibility: hidden;
}

.left-side-menu-condensed .left-side-menu .sidebar-content {
  height: auto;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu .badge, .left-side-menu-condensed .left-side-menu #sidebar-menu .label, .left-side-menu-condensed .left-side-menu #sidebar-menu .menu-arrow, .left-side-menu-condensed .left-side-menu #sidebar-menu .menu-title {
  display: none !important;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li > a {
  padding: 15px;
  min-height: 54px;
  -webkit-transition: none;
  transition: none;
  margin: 0;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li > a:active, .left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li > a:focus, .left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li > a:hover {
  color: #F9B130;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li > a svg {
  width: 26px;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li > a span {
  display: none;
  padding-left: 25px;
  vertical-align: baseline;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li > a.active {
  background-color: #f9f8f7;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li:hover > a {
  position: relative;
  width: calc(190px+70px);
  color: #F9B130 !important;
  background-color: #f9f8f7;
  -webkit-transition: none;
  transition: none;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li:hover > a span {
  display: inline;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li:hover a.mm-active :after, .left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li:hover a.open :after {
  display: none;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li:hover > ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
  -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li:hover > ul ul {
  -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li:hover > ul a {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul > li:hover > ul a:hover {
  color: #F9B130;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul ul {
  padding: 5px 0;
  z-index: 9999;
  display: none;
  background-color: #fff;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul ul li:hover > ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  height: auto !important;
  position: absolute;
  width: 190px;
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul ul li > a span.pull-right {
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.left-side-menu-condensed .left-side-menu #sidebar-menu > ul ul li.active a {
  color: #c8cddc;
}

.left-side-menu-condensed .user-profile {
  padding: 15px;
}

.left-side-menu-condensed .user-profile .avatar-sm {
  display: none;
}

.left-side-menu-condensed .user-profile .avatar-xs {
  display: block;
}

.left-side-menu-condensed .user-profile .pro-user-desc, .left-side-menu-condensed .user-profile .pro-user-name {
  display: none;
}

.left-side-menu-condensed .user-profile .profile-dropdown-menu .dropdown-toggle svg {
  background-color: transparent;
}

.left-side-menu-condensed .content-page {
  margin-left: 70px !important;
}

.left-side-menu-condensed .footer {
  left: 70px !important;
}

.left-side-menu-condensed .user-box {
  display: none;
}

@media (min-width: 769px) {
  body.left-side-menu-condensed {
    min-height: 1200px;
  }
}

@media (max-width: 1024px) {
  .left-side-menu {
    top: 72px;
    padding: 12px 0;
  }
  .left-side-menu-condensed .left-side-menu {
    padding-top: 12px;
  }
}

@media (max-width: 767.98px) {
  body {
    overflow-x: hidden;
  }
  .left-side-menu {
    display: none;
    z-index: 10 !important;
    top: 72px;
  }
  .sidebar-enable .left-side-menu {
    display: block;
  }
  .content-page, .left-side-menu-condensed .content-page {
    margin-left: 0 !important;
    padding: 0 10px;
  }
  .pro-user-name, .logo-box {
    display: none;
  }
}

.navbar-custom {
  padding: 0 22px 0 37px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.navbar-custom .topnav-menu > li {
  float: left;
}

.navbar-custom .topnav-menu .nav-link {
  padding: 0 15px;
  color: #4b4b5a;
  min-width: 32px;
  display: block;
  line-height: 72px;
  text-align: center;
  max-height: 72px;
  color: #23A17E;
}

.navbar-custom .topnav-menu .nav-link svg {
  height: 20px;
  width: 20px;
  color: #4b4b5a;
  fill: rgba(75, 75, 90, 0.12);
}

.navbar-custom .topnav-menu .nav-link:active svg, .navbar-custom .topnav-menu .nav-link:focus svg, .navbar-custom .topnav-menu .nav-link:hover svg {
  color: #F9B130;
  fill: rgba(83, 105, 248, 0.1);
}

.navbar-custom .dropdown.show .nav-link {
  background-color: rgba(255, 255, 255, 0.05);
}

.navbar-custom .menu-left {
  overflow: hidden;
}

.navbar-custom .app-search {
  padding: 17px 0;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-custom .app-search form {
  max-width: 320px;
}

.navbar-custom .app-search .form-control {
  border: 1px solid transparent;
  height: 38px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: #f3f4f7;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0.3rem;
}

.navbar-custom .app-search .form-control:focus {
  background-color: #fff;
  border: 1px solid #f3f4f7;
}

.navbar-custom .app-search svg {
  position: absolute;
  z-index: 10;
  font-size: 18px;
  color: #adb5bd;
  line-height: 38px;
  left: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.navbar-custom .button-menu-mobile {
  border: 0;
  color: #adb5bd;
  display: block;
  height: 72px;
  line-height: 10px;
  width: 60px;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  margin-right: 45px;
}

.navbar-custom .button-menu-mobile.disable-btn {
  display: none;
}

.navbar-custom .button-menu-mobile .menu-icon {
  display: inline-block;
}

.navbar-custom .button-menu-mobile .close-icon {
  display: none;
}

.navbar-custom .button-menu-mobile.open .menu-icon {
  display: none;
}

.navbar-custom .button-menu-mobile.open .close-icon {
  display: inline-block;
}

.text-logo {
  font-weight: 900;
  letter-spacing: .3px;
  font-family: "微軟正黑體";
  font-size: 17px;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.sett-scroll {
  max-height: 180px;
}

.setting-list {
  margin-left: 0;
}

.setting-list .sett-title {
  background-color: transparent;
  padding: 7px 20px 15px;
}

.setting-list .sett-title h5 {
  font-family: "微軟正黑體";
}

.setting-list .sett-icon {
  font-size: 21px;
  vertical-align: middle;
}

.setting-list .sett-icon-badge {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 16px;
  width: 12px;
  height: 12px;
  background-color: #ff5c75;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  -webkit-animation: blinker 3s linear infinite;
  animation: blinker 3s linear infinite;
  -webkit-animation-fill-mode: initial;
  animation-fill-mode: initial;
}

.setting-list .setting-item {
  padding: 12px 20px;
}

.setting-list .setting-item .setting-icon {
  float: left;
  height: 36px;
  width: 36px;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #fff;
}

.setting-list .setting-item .setting-details {
  overflow: hidden;
  margin: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #343a40;
  line-height: 1.5;
  font-weight: 600;
}

.setting-list .setting-item .setting-details b {
  font-weight: 500;
}

.setting-list .setting-item .setting-details small {
  display: block;
}

.setting-list .setting-item .setting-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.setting-list .setting-item .user-msg {
  margin-left: 45px;
  white-space: normal;
  line-height: 16px;
}

.setting-list .profile-dropdown-items .setting-item {
  padding: 0.35rem 1.5rem;
}

.profile-dropdown {
  display: none;
}

.profile-dropdown-items {
  width: 170px;
}

.profile-dropdown-items i {
  vertical-align: middle;
  margin-right: 5px;
}

.nav-user {
  padding: 0 12px !important;
}

.nav-user img {
  height: 32px;
  width: 32px;
}

@media (max-width: 1024px) {
  .navbar-custom {
    left: 0;
    padding: 0 10px;
    margin: 0;
  }
  .navbar-custom .button-menu-mobile.disable-btn {
    display: block;
  }
  .navbar-custom .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 575.98px) {
  .navbar-custom .page-title {
    display: none;
  }
}

.page-title-topbar {
  font-size: 20px;
  margin: 0;
  line-height: 72px;
}

.page-title {
  padding: 20px 0 10px 0;
}

.page-title .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

.page-title h4 {
  font-size: 30px;
  font-family: "微軟正黑體";
  font-weight: 400;
}

.page-title-bt {
  font-size: 12px;
  font-family: "微軟正黑體";
  font-weight: 400;
}

.footer {
  bottom: 0;
  padding: 19px 15px 20px;
  position: absolute;
  right: 0;
  color: #6c757d;
  left: 250px;
  text-align: right;
}

.footer .footer-links a {
  color: #6c757d;
  margin-left: 1.5rem;
  -webkit-transition: all .4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer .footer-links a:hover {
  color: #212529;
}

.footer .footer-links a:first-of-type {
  margin-left: 0;
}

.footer-alt {
  left: 0 !important;
  text-align: center;
  background-color: transparent;
}

@media (max-width: 767.98px) {
  .footer {
    left: 0 !important;
    text-align: center;
  }
}

body[data-layout=topnav] .container-fluid {
  padding-right: 24px;
  padding-left: 24px;
}

body[data-layout=topnav] .navbar-custom {
  position: relative;
  padding: 0;
}

body[data-layout=topnav] .navbar-custom .topnav-menu .nav-link:active svg, body[data-layout=topnav] .navbar-custom .topnav-menu .nav-link:focus svg, body[data-layout=topnav] .navbar-custom .topnav-menu .nav-link:hover svg {
  color: #4b4b5a;
}

body[data-layout=topnav] .content-page {
  margin-top: 0;
  margin-left: 0 !important;
  padding: 5px 0 5px 0;
}

body[data-layout=topnav] .footer {
  left: 0;
}

body[data-layout=topnav] .user-profile {
  padding: 20px 0;
}

body[data-layout=topnav] .profile-dropdown {
  display: block;
}

.content-page-top {
  padding: 0 15px;
}

@media (max-width: 991.98px) {
  .content-page-top {
    padding: 0;
  }
}

.content-page-title {
  background: rgba(255, 255, 255, 0.45);
  padding: 30px;
  margin: -30px -30px 30px;
  margin-top: 0px !important;
  position: relative;
}

@media (max-width: 991.98px) {
  .content-page-title {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .content-page-title {
    padding: 15px !important;
    margin: -15px -15px 15px;
  }
}

.content-page-title .page-title-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .content-page-title .page-title-wrapper {
    margin: 0 auto;
    display: block;
  }
}

.content-page-title .page-title-wrapper .page-title-heading {
  font-size: 1.25rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .content-page-title .page-title-wrapper .page-title-heading {
    margin: 0 auto;
    display: block;
  }
}

.content-page-title .page-title-wrapper .page-title-heading .page-title-icon {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: .83333rem;
  margin: 0 30px 0 0;
  background: #FFF;
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
          box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: .25rem;
  height: 60px;
  width: 60px;
}

@media (max-width: 991.98px) {
  .content-page-title .page-title-wrapper .page-title-heading .page-title-icon {
    display: none;
  }
}

.content-page-title .page-title-wrapper .page-title-heading .page-title-icon svg {
  margin: auto;
  color: #fda085;
}

.content-page-title .page-title-wrapper .page-title-heading .page-title-text {
  font-weight: 500;
}

table img {
  max-height: 150px;
  border: 10px solid #FFF;
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
          box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.topnav {
  background: #fff;
}

.topbar-nav {
  margin: 0;
  padding: 0;
}

.topbar-nav .badge {
  display: none;
}

.topbar-nav .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

.topbar-nav .metismenu .has-arrow:after {
  width: .4em;
  height: .4em;
  right: 1rem;
  -webkit-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
}

.topbar-nav .metismenu .menu-title {
  display: none;
}

.topbar-nav .metismenu li:active, .topbar-nav .metismenu li:focus, .topbar-nav .metismenu li:hover {
  color: #F9B130;
  text-decoration: none;
}

.topbar-nav .metismenu li:active svg, .topbar-nav .metismenu li:focus svg, .topbar-nav .metismenu li:hover svg {
  color: #F9B130;
  fill: rgba(83, 105, 248, 0.1);
}

.topbar-nav .metismenu li a {
  color: #4b4b5a;
  font-size: 1rem;
  position: relative;
  padding: 1rem;
  display: block;
}

.topbar-nav .metismenu li a svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  color: #4b4b5a;
  fill: rgba(75, 75, 90, 0.12);
}

.topbar-nav .metismenu li a > span {
  vertical-align: middle;
}

.topbar-nav .metismenu li a:active, .topbar-nav .metismenu li a:focus, .topbar-nav .metismenu li a:hover {
  color: #F9B130;
  text-decoration: none;
}

.topbar-nav .metismenu li a:active svg, .topbar-nav .metismenu li a:focus svg, .topbar-nav .metismenu li a:hover svg {
  color: #F9B130;
  fill: rgba(83, 105, 248, 0.1);
}

.topbar-nav .metismenu li:nth-child(2) a {
  padding-left: 0;
}

.topbar-nav .metismenu li .menu-arrow {
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  display: inline-block;
  font-family: unicons;
  text-rendering: auto;
  line-height: 1.3rem;
  font-size: 1.25rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  vertical-align: middle;
  margin-left: 5px;
}

.topbar-nav .metismenu li .menu-arrow:before {
  content: "";
}

.topbar-nav .metismenu li.mm-active > a {
  color: #F9B130;
}

.topbar-nav .metismenu li.mm-active > a svg {
  color: #F9B130;
  fill: rgba(83, 105, 248, 0.1);
}

.topbar-nav .metismenu li.mm-active > a > span.menu-arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.topbar-nav .metismenu li.active > a {
  color: #F9B130;
}

.topbar-nav .metismenu li.active > a svg {
  color: #F9B130;
  fill: rgba(83, 105, 248, 0.1);
}

.topbar-nav .metismenu li .nav-second-level {
  color: #4b4b5a;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0 0 .2rem .2rem;
  min-width: calc(10rem+1.5rem);
  font-size: calc(.875rem - .01rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  padding: 0.5rem 0;
}

.topbar-nav .metismenu li .nav-second-level li:active, .topbar-nav .metismenu li .nav-second-level li:focus, .topbar-nav .metismenu li .nav-second-level li:hover {
  color: #F9B130;
  text-decoration: none;
}

.topbar-nav .metismenu li .nav-second-level li:first-of-type {
  padding-top: 0.5rem;
}

.topbar-nav .metismenu li .nav-second-level li:last-of-type {
  padding-bottom: 0.5rem;
}

.topbar-nav .metismenu li .nav-second-level a {
  display: block;
  width: 100%;
  padding: .35rem 1.5rem !important;
  clear: both;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.topbar-nav .metismenu li .nav-second-level a:focus, .topbar-nav .metismenu li .nav-second-level a:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.topbar-nav .metismenu li .nav-second-level .has-arrow:after {
  margin-top: -2px;
}

.topbar-nav .metismenu li .nav-second-level .menu-arrow {
  float: right;
}

.topbar-nav .metismenu li .nav-third-level {
  color: #4b4b5a;
  min-width: calc(10rem+1.5rem);
}

.topbar-nav .metismenu li .nav-third-level li:active, .topbar-nav .metismenu li .nav-third-level li:focus, .topbar-nav .metismenu li .nav-third-level li:hover {
  color: #F9B130;
  text-decoration: none;
}

.topbar-nav .metismenu li .nav-third-level li:first-of-type {
  padding-top: 0.5rem;
}

.topbar-nav .metismenu li .nav-third-level li:last-of-type {
  padding-bottom: 0.5rem;
}

.topbar-nav .metismenu li .nav-third-level a {
  display: block;
  width: 100%;
  padding: .35rem 1.5rem !important;
  clear: both;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  padding-left: 2.2rem !important;
}

.topbar-nav .metismenu li .nav-third-level a:focus, .topbar-nav .metismenu li .nav-third-level a:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.topbar-nav .metismenu li .nav-third-level .has-arrow:after {
  margin-top: -2px;
}

.topbar-nav .metismenu li .nav-third-level .menu-arrow {
  float: right;
}

@media (max-width: 767px) {
  .text-logo {
    display: none !important;
  }
}

@media (min-width: 992px) {
  body[data-layout=topnav] .container-fluid {
    max-width: 85%;
  }
  body[data-layout=topnav] .navbar-custom .logo {
    display: block;
  }
  body[data-layout=topnav] .navbar-custom .logo.logo-lg {
    display: block;
  }
  body[data-layout=topnav].left-side-menu-condensed .navbar-custom .button-menu-mobile.disable-btn {
    display: none !important;
  }
  body[data-layout=topnav].boxed-layout .container-fluid {
    max-width: 97%;
  }
  .topbar-nav .metismenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .topbar-nav .metismenu > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .topbar-nav .metismenu > li > ul {
    position: absolute;
    z-index: 1001;
  }
  .topbar-nav .metismenu .side-nav-item:first-of-type .side-nav-link {
    padding-left: 0;
  }
  .navbar-toggle {
    display: none;
  }
}

@media (max-width: 991.98px) {
  body[data-layout=topnav] .navbar-custom .container-fluid {
    padding-right: 12px;
    padding-left: 12px;
  }
  .topnav {
    overflow: auto;
  }
  .topbar-nav {
    max-height: 400px;
  }
  .topbar-nav .metismenu li a {
    padding: 15px 0;
  }
  .topbar-nav .metismenu li .nav-second-level {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
  }
  .topbar-nav .metismenu li .nav-second-level li:first-of-type {
    padding: 0;
  }
  .topbar-nav .metismenu li .nav-second-level a {
    padding-right: 0 !important;
  }
  .topbar-nav .metismenu li .nav-second-level a:focus, .topbar-nav .metismenu li .nav-second-level a:hover {
    background-color: transparent;
  }
  .topbar-nav .metismenu li .menu-arrow {
    float: right;
    margin-top: 2px;
  }
}

@media (min-width: 992px) and (max-width: 1180px) {
  .topbar-nav .metismenu li .menu-arrow {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto;
  }
  .right-bar .slimscroll-menu {
    height: auto !important;
  }
}

.activity-widget .activity-list {
  border-bottom: 1px solid #f6f6f7;
  padding: 12px 0;
}

.activity-widget .activity-list:last-child {
  border: 0;
}

.upgrade-wid .laptop-img {
  position: relative;
  bottom: 22px;
}

@media (min-width: 1200px) {
  .scrollable-layout {
    padding-bottom: 0;
  }
  .scrollable-layout #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .scrollable-layout .left-side-menu {
    position: relative;
    min-width: 250px;
    min-height: 100vh;
  }
  .scrollable-layout .navbar-custom {
    position: absolute;
  }
  .scrollable-layout .content-page {
    margin-left: 0;
    width: 100%;
    padding-bottom: 60px;
  }
  .scrollable-layout.left-side-menu-condensed .left-side-menu {
    min-width: 70px;
  }
  .scrollable-layout.left-side-menu-condensed .content-page {
    margin-left: 0 !important;
  }
}

.boxed-layout {
  background: #edeef3;
}

.boxed-layout #wrapper {
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #f3f4f7;
}

.boxed-layout .navbar-custom {
  max-width: 1300px;
  margin: 0 auto;
}

.boxed-layout .footer {
  margin: 0 auto;
  max-width: calc(1300px - 250px);
  background: #f3f4f7;
}

.boxed-layout.left-side-menu-condensed {
  min-height: auto;
}

.boxed-layout.left-side-menu-condensed .footer {
  max-width: calc(1300px - 70px);
}

.width-xs {
  min-width: 80px;
}

.width-sm {
  min-width: 95px;
}

.width-md {
  min-width: 110px;
}

.width-lg {
  min-width: 140px;
}

.width-xl {
  min-width: 160px;
}

.font-family-secondary {
  font-family: "Nunito Sans", sans-serif;
}

.avatar-xs {
  height: 1.5rem;
  width: 1.5rem;
}

.avatar-sm {
  height: 2.25rem;
  width: 2.25rem;
}

.avatar {
  height: 3rem;
  width: 3rem;
}

.avatar-md {
  height: 3.5rem;
  width: 3.5rem;
}

.avatar-lg {
  height: 4.5rem;
  width: 4.5rem;
}

.avatar-xl {
  height: 6rem;
  width: 6rem;
}

.avatar-xxl {
  height: 7.5rem;
  width: 7.5rem;
}

.avatar-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.avatar-group {
  padding-left: 12px;
}

.avatar-group .avatar-group-item {
  margin: 0 0 10px -12px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.sp-line-1, .sp-line-2, .sp-line-3, .sp-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.sp-line-1 {
  -webkit-line-clamp: 1;
}

.sp-line-2 {
  -webkit-line-clamp: 2;
}

.sp-line-3 {
  -webkit-line-clamp: 3;
}

.sp-line-4 {
  -webkit-line-clamp: 4;
}

.pull-in {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 4px);
  display: block;
  border: 2px solid #adb5bd;
  border-radius: 50%;
  color: #adb5bd;
}

.widget-flat {
  position: relative;
  overflow: hidden;
}

.widget-flat i.widget-icon {
  font-size: 36px;
}

.profile-widget {
  position: relative;
}

.profile-widget .card-action {
  position: absolute;
  right: 7px;
  top: 12px;
  z-index: 100;
}

.profile-widget .card-img-top {
  max-height: 220px;
}

.profile-widget .profile-info {
  margin-top: -2.7rem;
}

.calendar-widget .flatpickr-calendar {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f6f6f7 !important;
}

.checkbox label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: 400;
  margin-bottom: 0;
}

.checkbox label::before {
  background-color: #e2e7f1;
  border-radius: 3px;
  border: 2px solid #e2e7f1;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  margin-left: -18px;
  position: absolute;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 18px;
  outline: 0 !important;
  top: 2px;
}

.checkbox label::after {
  color: #4b4b5a;
  display: inline-block;
  font-size: 11px;
  height: 18px;
  left: 0;
  margin-left: -18px;
  padding-left: 3px;
  padding-top: 2px;
  position: absolute;
  top: 0;
  width: 18px;
}

.checkbox input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: 0 !important;
}

.checkbox input[type=checkbox]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type=checkbox]:focus + label::before {
  outline-offset: -2px;
  outline: 0;
}

.checkbox input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  display: table;
  width: 4px;
  height: 8px;
  border: 2px solid #4b4b5a;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input[type=checkbox]:disabled + label::before {
  background-color: #f8f9fa;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single input {
  height: 18px;
  width: 18px;
  position: absolute;
}

.checkbox.checkbox-single label {
  height: 18px;
  width: 18px;
}

.checkbox.checkbox-single label:before, .checkbox.checkbox-single label:after {
  margin-left: 0;
}

.checkbox-primary input[type=checkbox]:checked + label::before {
  background-color: #F9B130;
  border-color: #F9B130;
}

.checkbox-primary input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-secondary input[type=checkbox]:checked + label::before {
  background-color: #1e2139;
  border-color: #1e2139;
}

.checkbox-secondary input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-main_color input[type=checkbox]:checked + label::before {
  background-color: #F9B130;
  border-color: #F9B130;
}

.checkbox-main_color input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-info input[type=checkbox]:checked + label::before {
  background-color: #25c2e3;
  border-color: #25c2e3;
}

.checkbox-info input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-warning input[type=checkbox]:checked + label::before {
  background-color: #ffbe0b;
  border-color: #ffbe0b;
}

.checkbox-warning input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-danger input[type=checkbox]:checked + label::before {
  background-color: #ff5c75;
  border-color: #ff5c75;
}

.checkbox-danger input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-light input[type=checkbox]:checked + label::before {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.checkbox-light input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-dark input[type=checkbox]:checked + label::before {
  background-color: #343a40;
  border-color: #343a40;
}

.checkbox-dark input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.radio label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: 400;
  margin-bottom: 0;
}

.radio label::before {
  -o-transition: border .5s ease-in-out;
  -webkit-transition: border .5s ease-in-out;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #6c757d;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  margin-left: -18px;
  position: absolute;
  transition: border .5s ease-in-out;
  width: 18px;
  outline: 0 !important;
}

.radio label::after {
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #4b4b5a;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 10px;
  left: 6px;
  margin-left: -20px;
  position: absolute;
  top: 4px;
  transform: scale(0, 0);
  transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 10px;
}

.radio input[type=radio] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: 0 !important;
}

.radio input[type=radio]:disabled + label {
  opacity: 0.65;
}

.radio input[type=radio]:focus + label::before {
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted;
}

.radio input[type=radio]:checked + label::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type=radio]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio.radio-single label {
  height: 17px;
}

.radio-primary input[type=radio] + label::after {
  background-color: #F9B130;
}

.radio-primary input[type=radio]:checked + label::before {
  border-color: #F9B130;
}

.radio-primary input[type=radio]:checked + label::after {
  background-color: #F9B130;
}

.radio-secondary input[type=radio] + label::after {
  background-color: #1e2139;
}

.radio-secondary input[type=radio]:checked + label::before {
  border-color: #1e2139;
}

.radio-secondary input[type=radio]:checked + label::after {
  background-color: #1e2139;
}

.radio-main_color input[type=radio] + label::after {
  background-color: #F9B130;
}

.radio-main_color input[type=radio]:checked + label::before {
  border-color: #F9B130;
}

.radio-main_color input[type=radio]:checked + label::after {
  background-color: #F9B130;
}

.radio-info input[type=radio] + label::after {
  background-color: #25c2e3;
}

.radio-info input[type=radio]:checked + label::before {
  border-color: #25c2e3;
}

.radio-info input[type=radio]:checked + label::after {
  background-color: #25c2e3;
}

.radio-warning input[type=radio] + label::after {
  background-color: #ffbe0b;
}

.radio-warning input[type=radio]:checked + label::before {
  border-color: #ffbe0b;
}

.radio-warning input[type=radio]:checked + label::after {
  background-color: #ffbe0b;
}

.radio-danger input[type=radio] + label::after {
  background-color: #ff5c75;
}

.radio-danger input[type=radio]:checked + label::before {
  border-color: #ff5c75;
}

.radio-danger input[type=radio]:checked + label::after {
  background-color: #ff5c75;
}

.radio-light input[type=radio] + label::after {
  background-color: #f8f9fa;
}

.radio-light input[type=radio]:checked + label::before {
  border-color: #f8f9fa;
}

.radio-light input[type=radio]:checked + label::after {
  background-color: #f8f9fa;
}

.radio-dark input[type=radio] + label::after {
  background-color: #343a40;
}

.radio-dark input[type=radio]:checked + label::before {
  border-color: #343a40;
}

.radio-dark input[type=radio]:checked + label::after {
  background-color: #343a40;
}

@media print {
  .footer, .left-side-menu, .navbar-custom, .page-title-box, .right-bar {
    display: none;
  }
  .card-body, .content, .content-page, .right-bar, body {
    padding: 0;
    margin: 0;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f4f7;
  z-index: 9999;
}

#status {
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
}

.spinner > div {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid #F9B130;
  border-radius: 50%;
  -webkit-animation: circle-loader 1s infinite ease-in-out both;
  animation: circle-loader 1s infinite ease-in-out both;
  margin: 0 7px;
}

.spinner .circle1 {
  -webkit-animation-delay: -.32s;
  animation-delay: -0.32s;
}

.spinner .circle2 {
  -webkit-animation-delay: -.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes circle-loader {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes circle-loader {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.slimScrollDiv {
  height: auto !important;
}

.calendar {
  float: left;
  margin-bottom: 0;
}

.fc-view {
  margin-top: 30px;
}

.none-border .modal-footer {
  border-top: 0;
}

.fc-toolbar {
  margin: 10px 0 5px 0;
}

.fc-toolbar h2 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-transform: uppercase;
}

.fc-day-grid-event .fc-time {
  font-weight: 500;
}

th.fc-day-header {
  padding: 0.5rem 0;
}

.fc-day {
  background: 0;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active, .fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-toolbar button:focus, .fc-toolbar button:hover {
  z-index: 0;
}

.fc th.fc-widget-header {
  background: #e2e7f1;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 500;
}

.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: #e2e7f1;
}

.fc-unthemed .fc-divider, .fc-unthemed td.fc-today {
  background: #e2e7f1;
}

.fc-button {
  background: #e2e7f1;
  border: 0;
  color: #4b4b5a;
  text-transform: capitalize;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  margin: 0 3px;
  padding: 6px 12px;
  height: auto;
}

.fc-text-arrow {
  font-family: inherit;
  font-size: 1rem;
}

.fc-state-hover, .fc-state-highlight {
  background: #e2e7f1;
}

.fc-state-active, .fc-state-disabled, .fc-state-down {
  background-color: #F9B130;
  color: #fff;
  text-shadow: none;
}

.fc-cell-overlay {
  background: #e2e7f1;
}

.fc-unthemed .fc-today {
  background: #fff;
}

.fc-event {
  border-radius: 2px;
  border: 0;
  cursor: move;
  font-size: .8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff;
  border-radius: 4px;
}

.fc-basic-view td.fc-week-number span, .fc-basic-view td.fc-day-number {
  padding-right: 8px;
}

.fc-basic-view .fc-content {
  color: #fff;
}

.fc-time-grid-event .fc-content {
  color: #fff;
}

@media (max-width: 767.98px) {
  .fc-toolbar {
    display: block;
  }
  .fc-toolbar .fc-center, .fc-toolbar .fc-left, .fc-toolbar .fc-right {
    float: none;
    display: block;
    clear: both;
    margin: 10px 0;
  }
  .fc .fc-toolbar > * > * {
    float: none;
  }
  .fc-today-button {
    display: none;
  }
}

.fc-toolbar .btn {
  padding: .25rem .5rem;
  font-size: .76562rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  border: 1px solid #e2e7f1;
  height: calc(1.5em+1rem+2px);
  background-color: #fff;
  outline: 0;
  border-radius: 0.3rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 12px;
  color: #4b4b5a;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  width: 34px;
  right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #adb5bd transparent transparent transparent;
  border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #adb5bd transparent !important;
  border-width: 0 6px 6px 6px !important;
}

.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: 0 solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: #fff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: 0;
  border: 1px solid #e2e7f1;
  background-color: #fff;
  color: #4b4b5a;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #F9B130;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fff;
  color: #16181b;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
  background-color: #F9B130;
  color: #fff;
}

.select2-container .select2-selection--multiple {
  min-height: calc(1.5em+1rem+2px);
  border: 1px solid #e2e7f1 !important;
  background-color: #fff;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 10px;
}

.select2-container .select2-selection--multiple .select2-search__field {
  border: 0;
  color: #4b4b5a;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #F9B130;
  border: 0;
  color: #fff;
  border-radius: 3px;
  padding: 0 7px;
  margin-top: 6px;
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  margin-right: 5px;
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff;
}

.ms-container {
  width: auto;
  max-width: 370px;
}

.ms-container .ms-list {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e2e7f1;
}

.ms-container .ms-list.ms-focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #F9B130;
}

.ms-container .ms-selectable {
  background-color: #fff;
}

.ms-container .ms-selectable li.ms-elem-selectable {
  border: 0;
  padding: 5px 10px;
  color: #6c757d;
}

.ms-container .ms-selectable li.ms-hover {
  background-color: #F9B130;
  color: #fff;
}

.ms-container .ms-selection {
  background-color: #fff;
}

.ms-container .ms-selection li.ms-elem-selection {
  border: 0;
  padding: 5px 10px;
  color: #6c757d;
}

.ms-container .ms-selection li.ms-hover {
  background-color: #F9B130;
  color: #fff;
}

.ms-selectable {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.ms-optgroup-label {
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  color: #343a40 !important;
  font-size: 13px;
}

.flatpickr-calendar {
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e2e7f1;
}

.flatpickr-calendar .flatpickr-time {
  border: none !important;
}

.flatpickr-calendar .flatpickr-time .flatpickr-am-pm, .flatpickr-calendar .flatpickr-time input {
  color: #6c757d;
}

.flatpickr-calendar .flatpickr-time .flatpickr-am-pm:focus, .flatpickr-calendar .flatpickr-time .flatpickr-am-pm:hover {
  background: #e2e7f1;
}

.flatpickr-calendar .flatpickr-time input:focus, .flatpickr-calendar .flatpickr-time input:hover {
  background: #e2e7f1;
}

.flatpickr-day {
  color: #6c757d;
}

.flatpickr-day.endRange {
  background: #F9B130;
  border-color: #F9B130;
}

.flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover {
  background: #F9B130;
  border-color: #F9B130;
}

.flatpickr-day.selected {
  background: #F9B130;
  border-color: #F9B130;
}

.flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover {
  background: #F9B130;
  border-color: #F9B130;
}

.flatpickr-day.startRange {
  background: #F9B130;
  border-color: #F9B130;
}

.flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover {
  background: #F9B130;
  border-color: #F9B130;
}

.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #F9B130;
  box-shadow: -10px 0 0 #F9B130;
}

.flatpickr-day.today {
  border-color: #e2e7f1;
}

.flatpickr-day.inRange {
  background: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: -10px 0 0 #f5f5f5;
  box-shadow: -10px 0 0 #f5f5f5;
}

.flatpickr-day.inRange.nextMonthDay {
  background: #f5f5f5;
  border-color: #f5f5f5;
}

.flatpickr-day.flatpickr-disabled {
  color: rgba(108, 117, 125, 0.4);
}

.flatpickr-day.flatpickr-disabled:hover {
  color: rgba(108, 117, 125, 0.4);
}

.flatpickr-day.nextMonthDay {
  color: rgba(108, 117, 125, 0.4);
}

.flatpickr-day.notAllowed {
  color: rgba(108, 117, 125, 0.4);
}

.flatpickr-day.notAllowed.nextMonthDay, .flatpickr-day.notAllowed.prevMonthDay {
  color: rgba(108, 117, 125, 0.4);
}

.flatpickr-day.prevMonthDay {
  color: rgba(108, 117, 125, 0.4);
}

.flatpickr-day.nextMonthDay.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day.nextMonthDay:focus, .flatpickr-day.nextMonthDay:hover {
  background: #fcf4e8;
  border-color: #fcf4e8;
  color: #6c757d;
}

.flatpickr-day.prevMonthDay.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.prevMonthDay:hover {
  background: #fcf4e8;
  border-color: #fcf4e8;
  color: #6c757d;
}

.flatpickr-day.today.inRange, .flatpickr-day.today:focus, .flatpickr-day.today:hover {
  background: #fcf4e8;
  border-color: #fcf4e8;
  color: #6c757d;
}

.flatpickr-day:focus, .flatpickr-day:hover {
  background: #fcf4e8;
  border-color: #fcf4e8;
  color: #6c757d;
}

.flatpickr-time .flatpickr-am-pm:focus, .flatpickr-time .flatpickr-am-pm:hover {
  background: #fcf4e8;
}

.flatpickr-time input:focus, .flatpickr-time input:hover {
  background: #fcf4e8;
}

.flatpickr-months .flatpickr-month {
  height: 48px;
}

.flatpickr-months .flatpickr-next-month, .flatpickr-months .flatpickr-prev-month {
  fill: #6c757d;
}

.flatpickr-current-month {
  color: #6c757d;
  font-size: 1rem;
  padding: 8px 0 0 0;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  color: #4b4b5a;
}

.flatpickr-weekdays {
  background: #F9B130;
}

.flatpickr-weekday {
  color: rgba(255, 255, 255, 0.6) !important;
}

.bootstrap-touchspin .btn .input-group-text {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
}

.parsley-errors-list {
  margin: 0;
  padding: 0;
}

.parsley-errors-list > li {
  list-style: none;
  color: #ff5c75;
  margin-top: 10px;
  padding: 4px 7px 4px 28px;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 92, 117, 0.2);
  border-radius: 7px;
}

.parsley-errors-list > li:before {
  content: "\ebee";
  font-family: unicons;
  position: absolute;
  left: 8px;
  top: 4px;
}

.parsley-errors-list > li:after {
  content: "";
  border: 8px solid transparent;
  border-bottom-color: rgba(255, 92, 117, 0.2);
  position: absolute;
  left: 14px;
  top: -16px;
}

.parsley-error {
  border-color: #ff5c75;
}

.parsley-main_color {
  border-color: #F9B130;
}

.sw-main {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dbe1ee;
}

.sw-main .sw-toolbar {
  background: 0;
  padding: 10px;
}

.sw-main .step-content {
  background-color: transparent !important;
}

.sw-theme-default .step-content {
  background-color: transparent;
}

.sw-theme-default > ul.step-anchor > li > a {
  color: #6c757d;
}

.sw-theme-default > ul.step-anchor > li > a:hover {
  color: #6c757d;
}

.sw-theme-default > ul.step-anchor > li > a:after {
  background: #F9B130;
}

.sw-theme-default > ul.step-anchor > li.active > a {
  color: #F9B130 !important;
}

.sw-theme-default > ul.step-anchor > li.done > a {
  color: #6c757d !important;
}

.sw-theme-default > ul.step-anchor > li.done > a:after {
  background: #F9B130;
}

.sw-theme-arrows > ul.step-anchor {
  background: #e2e7f1;
  border-bottom-color: #e2e7f1;
}

.sw-theme-arrows > ul.step-anchor > li > a {
  background: #e2e7f1;
  color: #6c757d;
}

.sw-theme-arrows > ul.step-anchor > li > a:hover {
  background: #e2e7f1;
  color: #6c757d;
}

.sw-theme-arrows > ul.step-anchor > li > a::after {
  border-left-color: #e2e7f1 !important;
}

.sw-theme-arrows > ul.step-anchor > li > a::before {
  border-left-color: #ced4da !important;
}

.sw-theme-arrows > ul.step-anchor > li.active > a {
  background: #F9B130 !important;
  border-color: #F9B130 !important;
}

.sw-theme-arrows > ul.step-anchor > li.active > a:after {
  border-left-color: #F9B130 !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a {
  background: #c9d0fd !important;
  border-color: #c9d0fd !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a:after {
  border-left-color: #c9d0fd !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a::before {
  border-left-color: #F9B130 !important;
}

.sw-theme-circles > ul.step-anchor {
  margin-top: 30px;
  background-color: transparent;
}

.sw-theme-circles > ul.step-anchor:before {
  background-color: #e2e7f1;
}

.sw-theme-circles > ul.step-anchor > li > a {
  font-size: 14px;
  width: 40px;
  height: 40px;
  padding: 12px 0;
  background-color: #e2e7f1;
  border-color: #f6f6f7 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #6c757d;
}

.sw-theme-circles > ul.step-anchor > li > a:hover {
  background-color: #e2e7f1;
}

.sw-theme-circles > ul.step-anchor > li > a small {
  bottom: -20px;
  width: 100%;
}

.sw-theme-circles > ul.step-anchor > li > a:hover, .sw-theme-circles > ul.step-anchor > li > a small, .sw-theme-circles > ul.step-anchor > li > a:hover small {
  color: #6c757d;
}

.sw-theme-circles > ul.step-anchor > li.active > a {
  background: #F9B130 !important;
  border-color: #F9B130 !important;
  color: #fff !important;
}

.sw-theme-circles > ul.step-anchor > li.active > a > small {
  color: #F9B130;
}

.sw-theme-circles > ul.step-anchor > li.done > a {
  background: #F9B130 !important;
  border-color: #F9B130 !important;
  color: #fff !important;
}

.sw-theme-circles > ul.step-anchor > li.done > a > small {
  color: #F9B130;
}

.sw-theme-dots > ul.step-anchor {
  background-color: transparent;
}

.sw-theme-dots > ul.step-anchor:before {
  background-color: #e2e7f1;
}

.sw-theme-dots > ul.step-anchor > li > a {
  color: #6c757d;
}

.sw-theme-dots > ul.step-anchor > li > a:before {
  bottom: -6px;
  background: #e2e7f1;
}

.sw-theme-dots > ul.step-anchor > li > a:after {
  left: 45%;
  bottom: -8px;
  background: #ced4da;
}

.sw-theme-dots > ul.step-anchor > li > a:focus, .sw-theme-dots > ul.step-anchor > li > a:hover {
  color: #6c757d;
}

.sw-theme-dots > ul.step-anchor > li.active > a {
  color: #F9B130;
}

.sw-theme-dots > ul.step-anchor > li.active > a:after {
  background: #F9B130;
}

.sw-theme-dots > ul.step-anchor > li.done > a {
  color: #F9B130;
}

.sw-theme-dots > ul.step-anchor > li.done > a:after {
  background: #F9B130;
}

@media (max-width: 768px) {
  .sw-main > ul.step-anchor > li {
    display: block;
    width: 100%;
  }
  .sw-theme-circles > ul.step-anchor > li > a > small {
    bottom: 14px;
    left: 76px;
  }
  .sw-theme-dots > ul.step-anchor > li > a:after {
    top: -36px;
    left: -31px !important;
  }
}

@font-face {
  font-family: summernote;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/summernote.woff);
  /*src: url(../fonts/summernote.eot?#iefix) format("embedded-opentype"), url(../fonts/summernote.woff?) format("woff"), url(../fonts/summernote.ttf?) format("truetype");*/
}

.note-editor.note-frame {
  border: 2px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}

.note-editor.note-frame .note-statusbar {
  background-color: #fbfbfc;
  border-top: 1px solid #fff;
}

.note-editor.note-frame .note-editing-area .note-editable {
  border: 0;
  color: #6c757d;
  background-color: transparent;
}

.note-status-output {
  display: none;
}

.note-editable {
  border-radius: .3rem;
  padding: 0.5rem 0.75rem;
}

.note-editable p:last-of-type {
  margin-bottom: 0;
}

.card-header.note-toolbar .note-color .dropdown-menu {
  min-width: 344px;
}

.note-popover {
  border-color: #e2e7f1;
}

.note-popover .popover-content .note-color .dropdown-menu {
  min-width: 344px;
}

.card-header.note-toolbar, .note-popover .popover-content {
  background-color: #e2e7f1;
}

.note-toolbar {
  z-index: 1;
  background-color: transparent !important;
  border-bottom: 2px solid #fff;
}

.dropzone {
  border: 2px dashed rgba(52, 58, 64, 0.2);
  background: #fff;
  border-radius: 6px;
  padding: 20px;
}

.dataTables_wrapper.container-fluid {
  padding: 0;
}

table.dataTable {
  border-collapse: collapse !important;
  margin-bottom: 15px !important;
}

table.dataTable tbody > tr.selected {
  background-color: #F9B130;
}

table.dataTable tbody > tr.selected td {
  border-color: #F9B130;
}

table.dataTable tbody > tr > .selected {
  background-color: #F9B130;
}

table.dataTable tbody > tr > .selected td {
  border-color: #F9B130;
}

table.dataTable tbody td:focus {
  outline: 0 !important;
}

table.dataTable tbody td.focus {
  outline: 2px solid #F9B130 !important;
  outline-offset: -1px;
  color: #F9B130;
  background-color: rgba(83, 105, 248, 0.15);
}

table.dataTable tbody th.focus {
  outline: 2px solid #F9B130 !important;
  outline-offset: -1px;
  color: #F9B130;
  background-color: rgba(83, 105, 248, 0.15);
}

.dataTables_info {
  font-weight: 500;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  background-color: #F9B130;
  top: 0.75rem;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #ff5c75;
  top: 0.75rem;
}

div.dt-button-info {
  background-color: #F9B130;
  border: 0;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  text-align: center;
  z-index: 21;
}

div.dt-button-info h2 {
  border-bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

@media (max-width: 767.98px) {
  li.paginate_button {
    display: none;
  }
  li.paginate_button.next, li.paginate_button.previous {
    display: inline-block;
    font-size: 1.5rem;
  }
  .dataTables_paginate ul {
    text-align: center;
    display: block;
    margin: 1rem 0 0 !important;
  }
  div.dt-buttons {
    display: inline-table;
    margin-bottom: 1rem;
  }
}

.activate-select .sorting_1 {
  background-color: #f8f9fa;
}

#pagination-list .pagination li a {
  padding: .5rem .75rem;
  border-radius: 50%;
  display: block;
  line-height: 1.25;
  margin: 0 3px;
}

#pagination-list .pagination li.active a {
  background-color: #F9B130;
  color: #fff;
}

#transaction-list .sort {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}

#noresult-list .error-message {
  display: none;
}

.tasklist {
  min-height: 40px;
  margin-bottom: 0;
}

.tasklist > li {
  background-color: #fff;
  -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 7px;
}

.tasklist > li:last-of-type {
  margin-bottom: 0;
}

.tasklist > li:last-of-type .btn-sm {
  padding: 2px 8px;
  font-size: 12px;
}

.task-placeholder {
  border: 1px dashed #e2e7f1 !important;
  background-color: #fff !important;
  padding: 20px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

[dir=rtl] .metismenu .arrow {
  float: left;
}

.metismenu .glyphicon.arrow:before {
  content: "";
}

.metismenu .mm-active > a > .glyphicon.arrow:before {
  content: "";
}

.metismenu .fa.arrow:before {
  content: "";
}

.metismenu .mm-active > a > .fa.arrow:before {
  content: "";
}

.metismenu .ion.arrow:before {
  content: "";
}

.metismenu .mm-active > a > .ion.arrow:before {
  content: "";
}

.metismenu .plus-times {
  float: right;
}

[dir=rtl] .metismenu .plus-times {
  float: left;
}

.metismenu .fa.plus-times:before {
  content: "";
}

.metismenu .mm-active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.metismenu .plus-minus {
  float: right;
}

[dir=rtl] .metismenu .plus-minus {
  float: left;
}

.metismenu .fa.plus-minus:before {
  content: "";
}

.metismenu .mm-active > a > .fa.plus-minus:before {
  content: "";
}

.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}

.metismenu .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
}

.metismenu .has-arrow {
  position: relative;
}

.metismenu .has-arrow::after {
  position: absolute;
  content: "";
  width: .5em;
  height: .5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transition: all .3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

[dir=rtl] .metismenu .has-arrow::after {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
}

.metismenu .has-arrow[aria-expanded=true]::after, .metismenu .mm-active > .has-arrow::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%);
}

[dir=rtl] .metismenu .has-arrow[aria-expanded=true]::after, [dir=rtl] .metismenu .mm-active > .has-arrow::after {
  -webkit-transform: rotate(225deg) translate(0, -50%);
  transform: rotate(225deg) translate(0, -50%);
}

.metismenu {
  padding: 0;
}

.metismenu li {
  list-style: none;
}

.metismenu li a[aria-expanded=true] {
  color: #F9B130 !important;
}

.metismenu ul {
  padding: 0;
}

.metismenu ul li {
  width: 100%;
}

.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}

.metismenu .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
}

.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
}

.button-list .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}

.icons-list-demo div {
  cursor: pointer;
  line-height: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  color: #6c757d;
}

.icons-list-demo div p {
  margin-bottom: 0;
  line-height: inherit;
}

.icons-list-demo i {
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all .2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icons-list-demo .col-lg-4 {
  border-radius: 3px;
  background-clip: padding-box;
  margin-top: 10px;
}

.icons-list-demo .col-lg-4:hover i {
  background-color: #F9B130;
  color: #fff;
  text-shadow: 5px 5px rgba(255, 255, 255, 0.2);
}

.icons-list .icon-item {
  padding: 15px 0;
  color: #6c757d;
}

.icons-list .icon-item svg {
  margin-right: 10px;
}

.icons-list .icon-item span {
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.board {
  display: block;
  white-space: nowrap;
  overflow-x: auto;
}

.tasks {
  display: inline-block;
  width: 22rem;
  padding: 0 1rem 1rem 1rem;
  vertical-align: top;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 0.2rem;
}

.tasks.tasks:not(:last-child) {
  margin-right: 1.25rem;
}

.tasks .card {
  white-space: normal;
  margin-top: 1rem;
}

.tasks .task-header {
  background-color: #fff;
  padding: 1rem;
  margin: 0 -1rem;
  border-radius: 0.2rem;
}

.task-list-items {
  min-height: 100px;
  position: relative;
}

.task-list-items .card {
  cursor: pointer;
}

.task-list-items:before {
  content: "No Tasks";
  position: absolute;
  line-height: 110px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.task-modal-content .form-control-light {
  background-color: #fdfdfd !important;
  border-color: #fdfdfd !important;
}

.gantt-task-details {
  min-width: 220px;
}

.task-search .search-input {
  padding-left: 32px;
  z-index: 10;
}

.task-search .icon-search {
  z-index: 11;
  position: absolute;
  left: 10px;
  top: 10px;
}

.email-container {
  margin-bottom: 24px;
  background-color: #fff;
}

.email-container .inbox-leftbar {
  padding: 1.25rem;
  width: 250px;
  float: left;
  padding-bottom: 184px;
  margin-bottom: -184px;
}

.email-container .inbox-rightbar {
  margin-left: 250px;
  border-left: 5px solid #f3f4f7;
  padding: 0 0 1.5rem 25px;
}

.message-list {
  display: block;
  padding-left: 0;
}

.message-list li {
  position: relative;
  display: block;
  height: 48px;
  line-height: 48px;
  cursor: default;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #fff;
  margin-bottom: 1px;
  -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}

.message-list li a {
  color: #4b4b5a;
}

.message-list li:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: .05s;
  transition-duration: 0.05s;
}

.message-list li .col-mail {
  float: left;
  position: relative;
}

.message-list li .col-mail-1 {
  width: 320px;
}

.message-list li .col-mail-1 .checkbox-wrapper-mail, .message-list li .col-mail-1 .dot, .message-list li .col-mail-1 .star-toggle {
  display: block;
  float: left;
}

.message-list li .col-mail-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}

.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin: 15px 10px 0 20px;
}

.message-list li .col-mail-1 .star-toggle {
  color: #adb5bd;
  margin-left: 10px;
}

.message-list li .col-mail-1 .title {
  position: absolute;
  top: 0;
  left: 100px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  line-height: 50px;
}

.message-list li .col-mail-2 {
  position: absolute;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
}

.message-list li .col-mail-2 .date {
  position: absolute;
  top: 0;
}

.message-list li .col-mail-2 .subject {
  position: absolute;
  top: 0;
  left: 0;
  right: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.message-list li .col-mail-2 .date {
  right: 0;
  width: 100px;
  padding-left: 10px;
}

.message-list li.active, .message-list li.mail-selected {
  background: #f8f9fa;
  -webkit-transition-duration: .05s;
  transition-duration: 0.05s;
}

.message-list li.active {
  -webkit-box-shadow: inset 3px 0 0 #25c2e3;
  box-shadow: inset 3px 0 0 #25c2e3;
}

.message-list li.active:hover {
  -webkit-box-shadow: inset 3px 0 0 #25c2e3;
  box-shadow: inset 3px 0 0 #25c2e3;
}

.message-list li.unread a {
  color: #292d32;
}

.message-list .checkbox-wrapper-mail {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 0 0 0 2px #ced4da;
  box-shadow: inset 0 0 0 2px #ced4da;
  border-radius: 3px;
}

.message-list .checkbox-wrapper-mail input {
  opacity: 0;
  cursor: pointer;
}

.message-list .checkbox-wrapper-mail input:checked ~ label {
  opacity: 1;
}

.message-list .checkbox-wrapper-mail label {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  cursor: pointer;
  background: #6c757d;
  opacity: 0;
  margin-bottom: 0 !important;
  -webkit-transition-duration: .05s;
  transition-duration: 0.05s;
}

.message-list .checkbox-wrapper-mail label:active {
  background: #87949b;
}

.mail-list a {
  color: #4b4b5a;
  padding: 7px 10px;
  display: block;
}

.reply-box {
  border: 2px solid #f8f9fa;
}

@media (max-width: 648px) {
  .email-container .inbox-leftbar {
    width: 100%;
    float: none;
    margin-bottom: 21px;
    padding-bottom: 1.25rem;
  }
  .email-container .inbox-rightbar {
    margin-left: 0;
    border: 0;
    padding-left: 0;
  }
}

@media (max-width: 520px) {
  .inbox-rightbar > .btn-group {
    margin-bottom: 10px;
  }
  .message-list li .col-mail-1 {
    width: 150px;
  }
  .message-list li .col-mail-1 .title {
    left: 80px;
  }
  .message-list li .col-mail-2 {
    left: 160px;
  }
  .message-list li .col-mail-2 .date {
    text-align: right;
    padding-right: 10px;
    padding-left: 20px;
  }
}

.chatbox {
  position: fixed;
  right: 35px;
  bottom: 10px;
  width: 300px;
  background-color: #fff;
  border-radius: .3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 99;
}

.chatbox .chat-input .form-control {
  padding-right: 60px;
}

.chatbox .chat-link {
  position: absolute;
  right: 4px;
  top: 10px;
}

.left-timeline .events {
  border-left: 3px solid #e2e7f1;
  padding-left: 35px;
}

.left-timeline .events .event-list {
  position: relative;
}

.left-timeline .events .event-list::before {
  content: "";
  position: absolute;
  left: -45px;
  top: 6px;
  height: 18px;
  width: 18px;
  background-color: #F9B130;
  border-radius: 50%;
  border: 5px solid #fff;
  z-index: 9;
}

.left-timeline .events .event-list::after {
  content: "";
  position: absolute;
  left: -38px;
  top: 14px;
  height: 3px;
  width: 30px;
  background-color: #e2e7f1;
}

.left-timeline .album img {
  height: 36px;
  width: auto;
  border-radius: 4px;
}

.timeline {
  margin-bottom: 50px;
  position: relative;
}

.timeline:before {
  background-color: #e2e7f1;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  top: 30px;
  width: 2px;
  z-index: 0;
}

.timeline .time-show {
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

.timeline .timeline-box {
  display: block;
  position: relative;
  padding: 20px;
}

.timeline .timeline-album {
  margin-top: 12px;
}

.timeline .timeline-album a {
  display: inline-block;
  margin-right: 5px;
}

.timeline .timeline-album img {
  height: 36px;
  width: auto;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .timeline .time-show {
    right: 69px;
    text-align: right;
  }
  .timeline .timeline-box {
    margin-left: 15px;
  }
  .timeline .timeline-icon {
    background: #F9B130;
    border-radius: 50%;
    display: block;
    height: 20px;
    left: -24px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 15%;
    width: 20px;
    border: 5px solid #fff;
    z-index: 9;
  }
  .timeline .timeline-icon:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 19px;
    background-color: #e2e7f1;
    left: 15px;
    top: 3px;
  }
  .timeline .timeline-desk {
    display: table-cell;
    vertical-align: top;
    width: 50%;
  }
  .timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .timeline-item:before {
    content: "";
    display: block;
    width: 50%;
  }
  .timeline-item.timeline-item-left:after {
    content: "";
    display: block;
    width: 50%;
  }
  .timeline-item.timeline-item-left .timeline-desk .album {
    float: right;
    margin-top: 20px;
  }
  .timeline-item.timeline-item-left .timeline-desk .album a {
    float: right;
    margin-left: 5px;
  }
  .timeline-item.timeline-item-left .timeline-icon {
    left: auto;
    right: -26px;
  }
  .timeline-item.timeline-item-left .timeline-icon:before {
    left: auto;
    right: 15px;
  }
  .timeline-item.timeline-item-left:before {
    display: none;
  }
  .timeline-item.timeline-item-left .timeline-box {
    margin-right: 15px;
    margin-left: 0;
    text-align: right;
  }
}

@media (max-width: 767.98px) {
  .timeline .time-show {
    text-align: center;
    position: relative;
  }
  .timeline .event-date {
    float: left !important;
    margin-right: 1.5rem;
    margin-left: 0 !important;
  }
  .timeline .timeline-icon {
    display: none;
  }
}

.card-pricing .card-pricing-features li {
  padding: 10px;
}

.card-pricing .card-pricing-features li:before {
  color: #F9B130;
}

body.authentication-bg {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
}

.authentication-form .form-group .input-group-text {
  background-color: transparent;
}

.authentication-form .form-group .input-group-text svg {
  height: 22px;
  width: 22px;
}

.icon-fb {
  color: #3c5a98;
}

.icon-google {
  color: #e94134;
}

.auth-page-sidebar {
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.auth-page-sidebar .overlay {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.auth-page-sidebar .auth-user-testimonial {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 0 1.75rem;
  bottom: 3rem;
  left: 0;
  right: 0;
}

.photo-popup-content {
  text-align: center;
}

.photo-popup-content .photo-popup-image {
  height: 100%;
  max-width: 100%;
}

.dx-icon {
  color: #9C9C9C;
}

.dx-filemanager-dirs-tree .dx-treeview-item-content .dx-filemanager-dirs-tree-item-text {
  color: #8C8C8C;
}

.mail-tab-content .header:hover {
  -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075) !important;
          box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075) !important;
}

.mail-tab-content .message-list .fb-4 {
  -ms-flex-preferred-size: 4%;
      flex-basis: 4%;
}

.mail-tab-content .message-list .fb-10 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.mail-tab-content .message-list .fb-15 {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.mail-tab-content .message-list .fb-20 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.mail-tab-content .message-list .fb-21 {
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
}

.mail-tab-content .message-list .fb-25 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.mail-tab-content .message-list .fb-30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.mail-tab-content .message-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail-tab-content .message-list a > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 767.98px) {
  .mail-tab-content .message-list .header {
    display: none  !important;
  }
  .mail-tab-content .message-list li {
    height: auto !important;
  }
  .mail-tab-content .message-list li:hover {
    -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075) !important;
            box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075) !important;
  }
  .mail-tab-content .message-list li a {
    display: block;
  }
  .mail-tab-content .message-list li a > .checkbox-btn {
    padding-left: 0 !important;
    position: absolute;
    right: -60px;
  }
  .mail-tab-content .message-list li a > div {
    padding-left: 85px;
    padding-right: 60px;
    text-overflow: auto;
    overflow: none;
    white-space: auto;
  }
  .mail-tab-content .message-list li a > div:before {
    content: attr(data-title);
    display: inline-block;
    width: auto;
    left: 0px;
    position: absolute;
  }
}

.m-a-0 {
  margin: auto 0;
}

.over-h {
  overflow: hidden;
}

.fw-500 {
  font-weight: 500;
}

.min-w-85 {
  min-width: 85px;
}

.toggle-btn {
  position: relative;
  width: 58px;
  height: 31px;
  margin: 0 auto;
  border-radius: 40px;
}

#status-toggle-btn span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3ac47d;
  border-color: #3ac47d;
  background: #FFF;
  overflow: hidden;
  background: transparent;
  border-radius: 40px;
  -webkit-transition: 0.8s ease border-color;
  transition: 0.8s ease border-color;
  z-index: 1;
}

#status-toggle-btn span:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 10.5px;
  width: 24px;
  height: 23px;
  border-width: 2px;
  border-style: solid;
  border-color: #3ac47d;
  background: #FFF;
  margin-left: 0px;
  border-radius: 50%;
  -webkit-transform: translate(-8px, 0px);
          transform: translate(-8px, 0px);
  -webkit-transition: 0.4s ease border-radius, 0.4s ease transform, 0.6s ease width, 0.6s ease margin-left, 0.8s ease border-color;
  transition: 0.4s ease border-radius, 0.4s ease transform, 0.6s ease width, 0.6s ease margin-left, 0.8s ease border-color;
}

#status-toggle-btn input[type="checkbox"]:active + span:before {
  width: 40px;
  border-radius: 40px;
}

#status-toggle-btn input[type="checkbox"]:checked:active + span:before {
  margin-left: -22px;
}

#status-toggle-btn input[type="checkbox"]:checked + span {
  border-color: #dc3545;
}

#status-toggle-btn input[type="checkbox"]:checked + span:before {
  border-color: #dc3545;
  -webkit-transform: translate(18px, 0px);
          transform: translate(18px, 0px);
}

#status-toggle-btn input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#status-toggle-btn .on {
  position: absolute;
  color: #3ac47d;
  z-index: 0;
  font-weight: 800;
  font-size: 12px;
  right: 9px;
  top: 6px;
  font-family: "Nunito Sans", sans-serif;
  pointer-events: none;
}

#status-toggle-btn .off {
  position: absolute;
  color: #dc3545;
  z-index: 0;
  left: 4px;
  top: 6px;
  font-weight: 800;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
  pointer-events: none;
}

.profile svg {
  border: 1px solid;
  padding: 10px;
  border-radius: 50px;
}

.profile input[type="password"]::-webkit-input-placeholder {
  color: #dfe3e8;
}

.profile input[type="password"]:-ms-input-placeholder {
  color: #dfe3e8;
}

.profile input[type="password"]::-ms-input-placeholder {
  color: #dfe3e8;
}

.profile input[type="password"]::placeholder {
  color: #dfe3e8;
}

.mail-set svg {
  border: 1px solid;
  padding: 15px;
  border-radius: 50px;
}

.mail-set input.counterpart::-webkit-input-placeholder {
  color: #dfe3e8;
}

.mail-set input.counterpart:-ms-input-placeholder {
  color: #dfe3e8;
}

.mail-set input.counterpart::-ms-input-placeholder {
  color: #dfe3e8;
}

.mail-set input.counterpart::placeholder {
  color: #dfe3e8;
}

textarea::-webkit-input-placeholder {
  color: #dfe3e8 !important;
}

textarea:-ms-input-placeholder {
  color: #dfe3e8 !important;
}

textarea::-ms-input-placeholder {
  color: #dfe3e8 !important;
}

textarea::placeholder {
  color: #dfe3e8 !important;
}

.checkbox-wrapper-mail {
  margin: 15px 10px 0 20px;
}

.mail-tab-content .message-list {
  display: block;
  padding-left: 0;
}

.mail-tab-content .message-list li {
  position: relative;
  display: block;
  height: 48px;
  line-height: 48px;
  cursor: default;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: #fff;
  margin-bottom: 1px;
  -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}

.mail-tab-content .message-list li:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: .05s;
  transition-duration: 0.05s;
}

.swal2-popup {
  border-radius: 20px !important;
}

.swal2-container {
  z-index: 99999999 !important;
}

.swal2-title {
  color: #a5dc86 !important;
  font-size: 20px !important;
  font-family: "微軟正黑體" !important;
}

.swal2-container.swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.2) !important;
}

.swal2-icon {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.swal2-cancel.btn-danger {
  margin-right: 20px !important;
}

.swal2-title.delete-swal-title {
  color: #f8bb86 !important;
}

.swal2-html-container.delete-swal-text {
  font-size: 14px !important;
}

.submit-btn {
  position: relative;
  padding-left: 31px;
}

.uil-message {
  position: absolute;
  right: 72px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFF;
}

.store-btn {
  position: relative;
}

.store-btn input {
  padding-left: 31px;
}

.store-btn i {
  position: absolute;
  color: #FFF;
  left: 11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-dropdown {
  width: 190px;
  display: inline-block;
  background: #FFF;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  text-align: left;
  outline-color: transparent;
  position: relative;
}

.search-dropdown .select {
  cursor: pointer;
  display: block;
  border: 1px solid #e2e7f1;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 5px;
  position: relative;
}

.search-dropdown .select i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px;
}

.search-dropdown:active {
  background: #FFF;
}

.search-dropdown.active .select {
  border: 1px solid #F9B130 !important;
}

.search-dropdown.active .font-style {
  color: #4b4b5a;
}

.search-dropdown.active, .search-dropdown.active:hover {
  border-radius: 5px 5px 0 0;
  background-color: #FFF;
}

.search-dropdown.active .select > i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.search-dropdown .dropdown-menu {
  position: absolute;
  background: #FFF;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0 1px 2px #cccccc;
          box-shadow: 0 1px 2px #cccccc;
  border-radius: 0 1px 5px 5px;
  overflow: hidden;
  display: none;
  max-height: 240px;
  overflow-y: auto;
  padding: 0;
  list-style: none;
}

.search-dropdown .dropdown-menu li {
  padding: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  font-size: 13px;
}

.search-dropdown .dropdown-menu li:hover {
  background: #f2f2f2;
}

.search-dropdown .dropdown-menu li:active {
  background: #e2e2e2;
}

.input-group-append {
  max-height: 39px;
}

@media (max-width: 767px) {
  .nav-justified .nav-item {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .card table thead {
    display: none;
  }
  .card table tr:nth-child(even) {
    border-top: 1px solid rgba(75, 75, 90, 0.075);
    border-bottom: 1px solid rgba(75, 75, 90, 0.075);
  }
  .card table tr:last-child {
    border-bottom: 0;
  }
  .card table td {
    display: block;
    padding-left: 90px;
  }
  .card table td:before {
    content: attr(data-title);
    display: inline-block;
    width: auto;
    left: 15px;
    position: absolute;
  }
  .card table td .toggle-btn {
    margin: inherit;
  }
  .w-sm-100 {
    width: 100%;
  }
}

.main-color {
  color: #F9B130 !important;
}

.color-f {
  color: #fff !important;
}

.border-c {
  border: 1px solid #efefef !important;
}

.table {
  color: #212529;
}

.card {
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.02), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.02), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.02), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.02);
          box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.02), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.02), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.02), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.02);
}

.tooltip .tooltip-inner {
  font-size: 12px !important;
  color: #F9B130;
}

.modal-title {
  font-family: "微軟正黑體";
}

.modal-dialog {
  -webkit-box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
          box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
}

.modal-content {
  border: 0;
}

.modal-header {
  background: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

.modal-footer {
  background: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

#FileManagerModal .modal-header, #FileManagerModal .modal-footer {
  background: #FFF;
}

#FileManagerModal .modal-header {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

#FileManagerModal .modal-content {
  border-radius: 18px;
}

#FileManagerModal .modal-body {
  background: #F4F5FA;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 1.5rem;
}

.btn-focus {
  color: #fff;
  background-color: #444054;
  border-color: #444054;
}

.btn-focus:hover {
  color: #fff;
  background-color: #322f3e;
  border-color: #2d2a37;
}

.btn-focus:focus, .btn-focus.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(96, 93, 110, 0.5);
          box-shadow: 0 0 0 0 rgba(96, 93, 110, 0.5);
}

.btn-focus.disabled, .btn-focus:disabled {
  color: #fff;
  background-color: #444054;
  border-color: #444054;
}

.btn-focus:not(:disabled):not(.disabled):active, .btn-focus:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #2d2a37;
  border-color: #272430;
}

.show > .btn-focus.dropdown-toggle {
  color: #fff;
  background-color: #2d2a37;
  border-color: #272430;
}

.btn-focus:not(:disabled):not(.disabled):active:focus, .btn-focus:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(96, 93, 110, 0.5);
          box-shadow: 0 0 0 0 rgba(96, 93, 110, 0.5);
}

.show > .btn-focus.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(96, 93, 110, 0.5);
          box-shadow: 0 0 0 0 rgba(96, 93, 110, 0.5);
}

.btn-outline-focus {
  color: #444054;
  border-color: #444054;
}

.btn-outline-focus:hover {
  color: #fff;
  background-color: #444054;
  border-color: #444054;
}

.btn-outline-focus:focus, .btn-outline-focus.focus {
  -webkit-box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5);
          box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5);
}

.btn-outline-focus.disabled, .btn-outline-focus:disabled {
  color: #444054;
  background-color: transparent;
}

.btn-outline-focus:not(:disabled):not(.disabled):active, .btn-outline-focus:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #444054;
  border-color: #444054;
}

.show > .btn-outline-focus.dropdown-toggle {
  color: #fff;
  background-color: #444054;
  border-color: #444054;
}

.btn-outline-focus:not(:disabled):not(.disabled):active:focus, .btn-outline-focus:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5);
          box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5);
}

.show > .btn-outline-focus.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5);
          box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5);
}

.btn-outline-focus.btn-shadow {
  -webkit-box-shadow: 0 0.125rem 0.625rem rgba(68, 64, 84, 0.4), 0 0.0625rem 0.125rem rgba(68, 64, 84, 0.5);
          box-shadow: 0 0.125rem 0.625rem rgba(68, 64, 84, 0.4), 0 0.0625rem 0.125rem rgba(68, 64, 84, 0.5);
}

.btn-outline-focus.btn-shadow.active:hover, .btn-outline-focus.btn-shadow.disabled:hover, .btn-outline-focus.btn-shadow:active:hover, .btn-outline-focus.btn-shadow:disabled:hover {
  -webkit-box-shadow: 0 0.125rem 0.625rem rgba(68, 64, 84, 0.5), 0 0.0625rem 0.125rem rgba(68, 64, 84, 0.6);
          box-shadow: 0 0.125rem 0.625rem rgba(68, 64, 84, 0.5), 0 0.0625rem 0.125rem rgba(68, 64, 84, 0.6);
}

.btn-outline-focus.btn-shadow:hover {
  -webkit-box-shadow: 0px 5px 15px 2px rgba(68, 64, 84, 0.19);
          box-shadow: 0px 5px 15px 2px rgba(68, 64, 84, 0.19);
}

.btn-main_color {
  color: #fff;
  background-color: #F9B130;
  border-color: #F9B130;
}

.btn-main_color:hover {
  color: #fff;
  background-color: #F4A627;
  border-color: #EDA024;
}

.btn-main_color.focus,
.btn-main_color:focus {
  -webkit-box-shadow: 0 0 0 0.15rem rgba(249, 177, 48, 0.5);
  box-shadow: 0 0 0 0.15rem rgba(249, 177, 48, 0.5);
}

.btn-main_color.disabled,
.btn-main_color:disabled {
  color: #fff;
  background-color: #F9B130;
  border-color: #F9B130;
}

.btn-main_color:not(:disabled):not(.disabled).active,
.btn-main_color:not(:disabled):not(.disabled):active,
.show > .btn-main_color.dropdown-toggle {
  color: #fff;
  background-color: #F4A627;
  border-color: #EDA024;
}

.btn-main_color:not(:disabled):not(.disabled).active:focus,
.btn-main_color:not(:disabled):not(.disabled):active:focus,
.show > .btn-main_color.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.15rem rgba(249, 177, 48, 0.5);
  box-shadow: 0 0 0 0.15rem rgba(249, 177, 48, 0.5);
}

.btn-light_color {
  color: #6c757d;
  background: #FFF;
  border: 1px solid #e2e7f1;
}

.btn-light_color:hover {
  background-color: #f8f9fa;
}
/*# sourceMappingURL=main.css.map */
