<template>
    <div class="col-12 content-page-top">
        <div class="content-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <feather :data-feather="child.Icon"  v-bind:type="child.Icon" v-if="child.Icon" tag="span"></feather>
                    </div>
                    <div class="page-title-text">{{child.Title}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .page-title-icon > span {
        margin: auto;
    }
</style>
<script>
    export default {
        name: "Title",
        props: ['child'],
    }
</script>

<style scoped>

</style>
