<template>
    <div class="logon-a">
        <div class="logo">
            <img :src="logo" alt="">
        </div>
        <form class="login">
            <div class="legend">Login</div>
            <div class="input">
                <input type="text" placeholder="Account" required  v-model="form.account">
                <span><i class="fas fa-user" style="color: #C1C1C1;"></i></span>
            </div>
            <div class="input">
                <input type="password" placeholder="Password" required v-model="form.password">
                <span><i class="fa fa-lock" style="color: #C1C1C1;"></i></span>
            </div>
            <div class="g-recaptcha"  :data-sitekey="sitekey">
            </div>
            <button type="button" class="submit" @click="Login()"><i class="fas fa-arrow-right fa-sm"></i></button>
        </form>
    </div>
</template>
<style>
    @import '../../../../../public/css/backend/login.css';
</style>
<script>
    import $ from 'jquery'
    import {GetSetting,GetConfig,LoginJwt} from '../../api.js';
    import {SwalAlertErrorMessage} from '../../helper.js';
    export default {
        name: 'login',
        data: function(){
          return {
              logo: '',
              sitekey: '',
              form: {
                  account : '',
                  password : '',
                  google_recaptcha_token : ''
              },
          }
        },
        mounted() {
            this.GetLogo();
            this.GetSiteKey();

            $( ".input" ).focusin(function() {
                $( this ).find( "span" ).animate({"opacity":"0"}, 200);
            });

            $( ".input" ).focusout(function() {
                $( this ).find( "span" ).animate({"opacity":"1"}, 300);
            });
        },
        methods:{
            GetLogo(){
                GetSetting("後台共用","登入icon").then((res) => {
                    this.logo = res.value
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetSiteKey(){
                GetConfig("captcha").then((res) => {
                    this.sitekey = res.sitekey
                    this.InitGoogleCaptcha();
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            Login(){
                this.form.google_recaptcha_token = grecaptcha.getResponse();
                LoginJwt(this.form).then((res) => {
                    this.$store.dispatch('Login',res).then((response) => {
                        this.$router.push({
                            name: 'index',
                        });
                    })
                    // this.$store.commit("Login",res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                    grecaptcha.reset();
                });
            },
            InitGoogleCaptcha(){
                let recaptchaScript = document.createElement('script')
                recaptchaScript.setAttribute('src', 'https://www.google.com/recaptcha/api.js')
                document.head.appendChild(recaptchaScript)
            }
        }
    }
</script>

