<template>
    <div class="modal fade show" aria-labelledby="FileManagerModalLabel" aria-hidden="true" tabindex="-1" role="dialog"
         style="display: block"
        v-show="value"
    >
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FileManagerModalLabel">FileManager</h5>
                    <button type="button" class="close" @click.prevent="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        name: 'FileManager',
        props: {
            value: {
                required: true,
            },
        },

        components: {
        },

        data() {
            return {

            };
        },

        methods: {
            close() {
                this.$emit("input", !this.value);
            }
        }
    };
</script>
