<template>
    <div class="navbar navbar-expand flex-column flex-md-row navbar-custom">
        <div class="container-fluid">
            <!-- LOGO -->
            <router-link  :to="{ name : 'index'}"  class="navbar-brand mr-0 mr-md-2 logo">
                <span class="logo-lg">
                    <img :src="logo" alt="" height="24" />
                    <span class="d-inline h5 ml-1 text-logo">{{title}}</span>
                </span>
            </router-link>
            <ul class="navbar-nav bd-navbar-nav flex-row list-unstyled menu-left mb-0">
                <li class="">
                    <button class="button-menu-mobile open-left disable-btn" @click="showMenu">
                        <i data-feather="menu" class="menu-icon"></i>
                        <i data-feather="x" class="close-icon"></i>
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-auto d-flex list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown setting-list"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="font-weight: 600;">Hello ! {{LocalUser.name}}<i data-feather="settings" class="ml-3"></i><span class="sett-icon-badge"></span></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                        <!-- item-->
                        <div class="dropdown-item sett-title border-bottom">
                            <h5 class="m-0 font-size-16"><span class="float-right"><a href="" class="text-dark"></a></span>基本設定 </h5>
                        </div>
                        <div class="slimscroll sett-scroll" style="height: auto;">
                            <!-- item-->
                            <router-link :to="{name : 'FrontSetting'}">
                                <a href="" class="dropdown-item setting-item border-bottom">
                                    <div class="setting-icon badge-success"><i class="uil uil-cog" style="position:relative;"></i></div>
                                    <p class="setting-details">設定</p>
                                </a>
                            </router-link>
                            <!-- item-->
                            <router-link :to="{name : 'Profile'}">
                                <a href="" class="dropdown-item setting-item border-bottom">
                                    <div class="setting-icon badge-warning"><i class="uil uil-user-check" style="position:relative;"></i></div>
                                    <p class="setting-details">基本資料</p>
                                </a>
                            </router-link>

                            <a @click="logout" class="dropdown-item setting-item border-bottom" href="">
                                <div class="setting-icon badge-info"><i class="uil uil-sign-out-alt" style="position:relative"></i></div>
                                <p class="setting-details">登出</p>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import {logout,getLocalUser} from '../helper.js';
    import {GetSetting} from '../api.js';
    import {SwalAlertErrorMessage} from "../helper";
    import $ from "jquery";
    export default {
        name: 'Header',
        data: function(){
            return {
                LocalUser:{},
                logo: '',
                title: '',
            }
        },
        mounted() {
            this.GetLogo();
            this.GetTitle();
            this.GetLocalUser();
            this.reRender();
        },
        methods: {
            logout : logout,
            GetLogo(){
                GetSetting("後台共用","Headericon").then((res) => {
                    this.logo = res.value
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetTitle(){
                GetSetting("後台共用","Header標題").then((res) => {
                    this.title = res.value
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            reRender(){
                feather.replace();
            },
            showMenu() {
                const el = document.body;
                768 <= window.innerWidth ? el.classList.toggle('left-side-menu-condensed') : el.classList.remove('left-side-menu-condensed'),this.resetScroll()
                768 > window.innerWidth ? el.classList.toggle('sidebar-enable') : el.classList.remove('sidebar-enable')
            },
            GetLocalUser() {
                this.LocalUser = getLocalUser()
            }
        },
    }
</script>
