<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row mb-0 mb-sm-3 mb-md-3">
                <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-lg-0 mb-sm-3 mb-3">
                    <button type="button" class="btn btn-main_color mr-2 openModal" @click=" showModal2 = true ">
                                <span class="btn-icon-wrapper pr-2 fw-500">
                                    <i class="fas fa-plus"></i>
                                </span>
                        批量維護
                    </button>
                </div>
                <div class="col-md-12 col-12">
                    <Calendar :PropEvents="Events"
                              :PropCurrentMonth="currentMonth || undefined"
                              @DayClick="OpenDailyRoomModal"
                              @EventClick="OpenEventModal"
                              @MonthChange="ReloadEvents"
                    ></Calendar>
                </div>
            </div>
        </div>
        <transition name="modal">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]" v-if="showModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">每日基本房務
                            </h5>
                            <button type="button" class="close" @click="showModal = false" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">日期</label>
                                    <input type="date" class="form-control" v-model="TempEvent.date">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">間數</label>
                                    <input type="text" class="form-control" v-model="TempEvent.number">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">底價</label>
                                    <input type="text" class="form-control" v-model="TempEvent.price">
                                </div>
                            </div>

                            <template v-if="Licenses.includes('早鳥折扣')">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">套用早鳥折扣</label>
                                        <select class="form-control" v-model="TempEvent.AllowEarlyBird">
                                            <option value="0">不允許</option>
                                            <option value="1">允許</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">早鳥價格</label>
                                        <input type="text" class="form-control" v-model="TempEvent.EarlyBirdPrice">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">早鳥天數</label>
                                        <input type="text" class="form-control" v-model="TempEvent.EarlyBirdDays">
                                    </div>
                                </div>
                            </template>

                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" value=" 確定送出" @click="UpdateOrCreateDailyRoom">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="modal">
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal2 }" v-bind:style="[showModalStyle2]" v-if="showModal2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">每日基本房務
                            </h5>
                            <button type="button" class="close" @click="showModal2 = false" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">日期(起)</label>
                                    <input type="date" class="form-control" v-model="ScopeEvent.start">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">日期(訖)</label>
                                    <input type="date" class="form-control" v-model="ScopeEvent.end">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">星期</label>
                                    <div>
                                        <span v-for="index in 7" :key="index">
                                            <input type="checkbox"  :value="index" v-model="ScopeEvent.weeks">
                                            <label>{{index}}</label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">間數</label>
                                    <input type="text" class="form-control" v-model="ScopeEvent.number">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">底價</label>
                                    <input type="text" class="form-control" v-model="ScopeEvent.price">
                                </div>
                            </div>

                            <template v-if="Licenses.includes('早鳥折扣')">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">套用早鳥折扣</label>
                                        <select class="form-control" v-model="ScopeEvent.AllowEarlyBird">
                                            <option value="0">不允許</option>
                                            <option value="1">允許</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">早鳥價格</label>
                                        <input type="text" class="form-control" v-model="ScopeEvent.EarlyBirdPrice">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">早鳥天數</label>
                                        <input type="text" class="form-control" v-model="ScopeEvent.EarlyBirdDays">
                                    </div>
                                </div>
                            </template>

                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" value=" 確定送出" @click="UpdateOrCreateScopeDailyRoom">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="modal-backdrop fade" :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]"></div>
        <div class="modal-backdrop fade" :class="{ 'show' : showModal2 }" v-bind:style="[showModalStyle2]"></div>
    </div>
</template>

<script>
    import moment from 'moment'
    import {
        GetDailyRoom,
        UpdateOrCreateDailyRoom,
        UpdateOrCreateScopeDailyRoom,
        GetRoom
    } from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";

    export default {
        name: "DailyRoom",
        data: function(){
            return {
                form:{
                    Title: '每日基本房務',
                    Icon : 'settings',
                },
                showModal: false,
                showModalStyle: {
                    display: 'none'
                },
                showModal2: false,
                showModalStyle2: {
                    display: 'none'
                },
                Room:{},
                currentMonth: moment().format('YYYY-MM'),
                Events: [],
                TempEvent: {
                    number: '',
                    price: '',
                    date: '',
                    AllowEarlyBird: false,
                    EarlyBirdPrice: '',
                    EarlyBirdDays: '',
                },
                ScopeEvent:{
                    start:'',
                    end:'',
                    number: '',
                    price: '',
                    weeks: [],
                    AllowEarlyBird: false,
                    EarlyBirdPrice: '',
                    EarlyBirdDays: '',
                }
            }
        },
        props: ['Licenses'],
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRoom()
            this.GetEvents(this.currentMonth)
        },
        watch:{
            currentMonth: function(value)
            {
                this.GetEvents(value)
            },
            showModal: function(newValue){
                if(newValue === true){
                    this.showModalStyle.display = 'block'
                    document.getElementsByTagName("body")[0].className="modal-open";
                }
                else
                {
                    this.showModalStyle.display = 'none'
                    document.getElementsByTagName("body")[0].className="";
                }
            },
            showModal2: function(newValue){
                if(newValue === true){
                    this.showModalStyle2.display = 'block'
                    document.getElementsByTagName("body")[0].className="modal-open";
                }
                else
                {
                    this.showModalStyle2.display = 'none'
                    document.getElementsByTagName("body")[0].className="";
                }
            }
        },
        methods:{
            OpenDailyRoomModal(day){
                this.SetDefaultEvent();
                this.TempEvent.date = day;
                this.showModal = true;
            },
            OpenEventModal(event){
                this.TempEvent.date = event.date;
                this.TempEvent.number = event.customData.number;
                this.TempEvent.price = event.customData.price;
                this.TempEvent.AllowEarlyBird = event.customData.AllowEarlyBird;
                this.TempEvent.EarlyBirdPrice = event.customData.EarlyBirdPrice;
                this.TempEvent.EarlyBirdDays = event.customData.EarlyBirdDays;
                this.showModal = true;
            },
            ReloadEvents(date){
                this.currentMonth = date;
            },
            GetRoom(){
                let credential = {
                    room_id: this.$route.params.id
                }
                GetRoom(credential).then((res) => {
                    this.Room = res;
                    this.SetDefaultEvent();
                    this.ScopeEvent.number =  this.Room.DefaultNumber;
                    this.ScopeEvent.price =  this.Room.DefaultPrice;
                    this.ScopeEvent.AllowEarlyBird = this.Room.DefaultAllowEarlyBird;
                    this.ScopeEvent.EarlyBirdPrice = this.Room.DefaultEarlyBirdPrice;
                    this.ScopeEvent.EarlyBirdDays = this.Room.DefaultEarlyBirdDays;
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetEvents(Month){
                let credential = {
                    room_id: this.$route.params.id,
                    start: moment(Month).startOf('month').format('YYYY-MM-DD'),
                    end: moment(Month).endOf('month').format('YYYY-MM-DD'),
                }
                GetDailyRoom(credential).then((res) => {
                    this.Events = res;
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                    this.Events =  [];
                });
            },
            SetDefaultEvent() {
                this.TempEvent.price = this.Room.DefaultPrice;
                this.TempEvent.number = this.Room.DefaultNumber;
                this.TempEvent.AllowEarlyBird = this.Room.DefaultAllowEarlyBird;
                this.TempEvent.EarlyBirdPrice = this.Room.DefaultEarlyBirdPrice;
                this.TempEvent.EarlyBirdDays = this.Room.DefaultEarlyBirdDays;
            },
            UpdateOrCreateDailyRoom(){
                let credential = {}
                if(this.Licenses.includes('早鳥折扣'))
                {
                    credential = {
                        room_id: this.$route.params.id,
                        number: this.TempEvent.number,
                        price: this.TempEvent.price,
                        date: this.TempEvent.date,
                        AllowEarlyBird: this.TempEvent.AllowEarlyBird,
                        EarlyBirdPrice: this.TempEvent.EarlyBirdPrice,
                        EarlyBirdDays: this.TempEvent.EarlyBirdDays,
                    }
                }
                else
                {
                    credential = {
                        room_id: this.$route.params.id,
                        number: this.TempEvent.number,
                        price: this.TempEvent.price,
                        date: this.TempEvent.date,
                    }
                }

                UpdateOrCreateDailyRoom(credential).then((res) => {
                    this.showModal = !this.showModal
                    this.GetEvents(this.currentMonth)
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateOrCreateScopeDailyRoom(){
                let credential = {}
                if(this.Licenses.includes('早鳥折扣'))
                {
                    credential = {
                        room_id: this.$route.params.id,
                        number: this.ScopeEvent.number,
                        price: this.ScopeEvent.price,
                        start: this.ScopeEvent.start,
                        end: this.ScopeEvent.end,
                        weeks: this.ScopeEvent.weeks,
                        AllowEarlyBird: this.ScopeEvent.AllowEarlyBird,
                        EarlyBirdPrice: this.ScopeEvent.EarlyBirdPrice,
                        EarlyBirdDays: this.ScopeEvent.EarlyBirdDays,
                    }
                }
                else
                {
                    credential = {
                        room_id: this.$route.params.id,
                        number: this.ScopeEvent.number,
                        price: this.ScopeEvent.price,
                        start: this.ScopeEvent.start,
                        end: this.ScopeEvent.end,
                        weeks: this.ScopeEvent.weeks,
                    }
                }
                UpdateOrCreateScopeDailyRoom(credential).then((res) => {
                    this.showModal2 = !this.showModal2
                    this.GetEvents(this.currentMonth)
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
        },
        mounted() {
        },

    }
</script>
<style>
    .modal-enter {
        top: -10px
    }
    .modal-enter-active {
        transition: all .5s;
    }
    .modal-enter-to{
        opacity: 1;
    }

    .modal-leave-active {
        transition: all .5s;
        opacity: 0;
        top: -10px;
    }
</style>

