<template>

</template>

<script>
    export default {
        name: "Profile",
        data: function(){
          return {
              form:{
                  Title: '基本資料',
                  Icon : 'unlock'
              }
          }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
        }
    }
</script>

