<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row mb-0 mb-sm-3 mb-md-3">
                <div class="col-md-12 col-12">
                    <Calendar :PropEvents="Events"
                              :PropCurrentMonth="currentMonth || undefined"
                              @DayClick="OpenDailyRoomModal"
                              @EventClick="OpenEventModal"
                              @MonthChange="ReloadEvents"
                    ></Calendar>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import {GetRemainRoom, GetRoom} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";
    export default {
        name: "RemainRoom",
        data: function() {
            return {
                form: {
                    Title: '訂房情況',
                    Icon: 'settings',
                },
                Room: {},
                currentMonth: moment().format('YYYY-MM'),
                Events: [],
            }
        },
        props: ['Licenses'],
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRoom()
            this.GetEvents(this.currentMonth)
        },
        watch:{
            currentMonth: function(value)
            {
                this.GetEvents(value)
            },
        },
        methods:{
            OpenEventModal(event){
            },
            ReloadEvents(date){
                this.currentMonth = date;
            },
            GetRoom(){
                let credential = {
                    room_id: this.$route.params.id
                }
                GetRoom(credential).then((res) => {
                    this.Room = res;
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetEvents(Month){
                let credential = {
                    room_id: this.$route.params.id,
                    start: moment(Month).startOf('month').format('YYYY-MM-DD'),
                    end: moment(Month).endOf('month').format('YYYY-MM-DD'),
                }
                GetRemainRoom(credential).then((res) => {
                    this.Events = res;
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                    this.Events =  [];
                });
            },
        },
    }
</script>

<style scoped>

</style>
