<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button @click="$router.push({ name: 'Rooms'})" class="btn btn-light mr-2" style="background-color: rgba(216, 217, 219, .5);">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i data-feather="corner-up-left" class="icon-xs"></i>
                        </span>
                        返回
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Name" >名稱</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" id="Name" placeholder="名稱"  v-model="Room.Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="PeopleNumber" >人數</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control"  id="PeopleNumber" placeholder="人數"  v-model="Room.PeopleNumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="MaxExtraPeopleNumber" >最大加人數</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="MaxExtraPeopleNumber" placeholder="最大加人數"  v-model="Room.MaxExtraPeopleNumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="DefaultPrice" >預設基本價</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="DefaultPrice" placeholder="預設基本價"  v-model="Room.DefaultPrice">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="DefaultNumber" >預設間數</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="DefaultNumber" placeholder="預設間數"  v-model="Room.DefaultNumber">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="DefaultNumber" >主縮圖</label>
                                        <div class="col-lg-11">
                                            <button type="button" class="form-control btn btn-warning"  id="lfm" data-input="thumbnail" @click="OpenFileManger('image')"><i data-feather="upload-cloud" class="icon-xs"></i> 圖片</button>
                                            <input type="hidden" id="thumbnail" name="filepath" :value="Room.MainPicture">
                                            <img :src="Room.MainPicture" alt="" id="holder" class="img-responsive mb-3" style="max-width: 100%; max-height: 200px; margin-top: 5px;">
                                        </div>
                                    </div>

                                    <template v-if="Licenses.includes('早鳥折扣')">
                                        <div class="form-group row">
                                            <label class="col-lg-1 col-form-label">預設早鳥</label>
                                            <div class="col-lg-11">
                                                <div class="toggle-btn" id="status-toggle-btn" style="display: inline-flex;">
                                                    <div class="on">ON</div>
                                                    <div class="off">OFF</div>
                                                    <input type="checkbox" v-model="Room.DefaultAllowEarlyBird" :true-value="0" :false-value="1">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-1 col-form-label" for="DefaultEarlyBirdPrice" >預設早鳥價</label>
                                            <div class="col-lg-11">
                                                <input type="number" class="form-control" id="DefaultEarlyBirdPrice" placeholder="預設早鳥價"  v-model="Room.DefaultEarlyBirdPrice">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-1 col-form-label" for="DefaultEarlyBirdDays" >預設早鳥天數</label>
                                            <div class="col-lg-11" >
                                                <input type="number" class="form-control" id="DefaultEarlyBirdDays" placeholder="預設早鳥天數"  v-model="Room.DefaultEarlyBirdDays">
                                            </div>
                                        </div>
                                    </template>

                                    <div class="form-group row">
                                        <div class="col-md-12" :key="Room.id" v-if="Room.Html !== undefined">
                                            <label>內文</label>
                                            <html-manager
                                                v-model="Room.Html"
                                                ref="editor">
                                            </html-manager>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="text-right mt-3 position-relative">
                                        <input type="button" class="btn btn-success submit-btn" @click="UpdateRoom" value=" 確定送出">
                                        <i class="uil uil-message mr-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import HtmlManager from "../../../HtmlManager";
    import {GetRoom,UpdateRoom} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "Room",
        components: {
            HtmlManager
        },
        props: ['Licenses'],
        data: function() {
            return {
                form: {
                    Title: '房型設置',
                    Icon: 'settings'
                },
                Room: {},
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRoom()
        },
        methods: {
            GetRoom() {
                let credential = {
                    room_id: this.$route.params.id
                }
                GetRoom(credential).then((res) => {
                    this.Room = res
                    if(res.Html === null)
                    {
                        this.Room.Html = ''
                    }

                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateRoom(){
                UpdateRoom(this.Room).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            OpenFileManger(type){
                var options = {};
                var route_prefix = (options && options.prefix) ? options.prefix : '/filemanager';
                const userStr = localStorage.getItem("user");
                if (userStr) {
                    var token = 'Bearer ' + JSON.parse(userStr)['token'];
                    window.open(route_prefix + '?type=' + type + '&token=' + token, 'FileManager', 'width=900,height=600');
                } else {
                    window.open(route_prefix + '?type=' + type, 'FileManager', 'width=900,height=600');
                }
                var self = this
                window.SetUrl = function (items) {
                    self.Room.MainPicture  = items[0].url
                }
            },
        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
