<template>
    <div class="row" style="width: 100%;margin: 0px">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" value=" 儲存變更" @click="UpdateRules">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="sub-header">加床費</p>
                    <input type="number" class="form-control" min="0"
                           v-model="rule.DefaultExtraBedPrice">
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="sub-header">加人費</p>
                    <input type="number" class="form-control" min="0"
                           v-model="rule.DefaultExtraPeoplePrice">
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {GetRules,UpdateRules} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";

    export default {
        name: "Rule",
        data: function(){
            return {
                rule: {},
                form:{
                    Title: '基本設置',
                    Icon: 'settings',
                },
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRules()
        },
        methods:{
            GetRules(){
                GetRules().then((res) => {
                    this.rule = res;
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateRules(){
                let credential = this.rule;
                UpdateRules(credential).then((res) => {
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }
    }
</script>

<style scoped>

</style>
