<template>

</template>

<script>
    export default {
        name: "Setting",
        data: function(){
            return {
                form:{
                    Title: '網頁設定',
                    Icon : 'settings'
                }
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
        }
    }
</script>

