<template>
    <div>
        <input @mousedown.prevent="showModal = !showModal"  autocomplete="off" class="form-control hotel-booking-datepicker mb-4" :placeholder="placeholder(this.startDate,this.endDate)" readonly type="text">
        <div class="daterangepicker dropdown-menu ltr show-calendar opensright" style="left: 15px;top:75px;right: auto; display: block;" v-show="showModal"
             @blur="showModal = false" ref="openArea" tabindex="0">
            <div class="calendar left">
                <div class="daterangepicker_input">
                    <input class="input-mini form-control active" name="daterangepicker_start" type="text" value="">
                    <i aria-hidden="true" class="fa fa-calendar glyphicon glyphicon-calendar"></i>
                    <div class="calendar-time" style="display: none;">
                        <div>

                        </div>
                        <i aria-hidden="true" class="fa fa-clock-o glyphicon glyphicon-time"></i></div>
                </div>
                <div class="calendar-table">
                    <table class="table-condensed">
                        <thead>
                        <tr>
                            <th class="prev available" @click="lastMonth"><i class="fa fa-chevron-left glyphicon glyphicon-chevron-left" aria-hidden="true"></i></th>
                            <th class="month" colspan="5">{{titleMonth}}</th>
                            <th class="next available" @click="nextMonth"><i class="fa fa-chevron-right glyphicon glyphicon-chevron-right" aria-hidden="true"></i></th>
                        </tr>
                        <tr>
                            <th>Su</th>
                            <th>Mo</th>
                            <th>Tu</th>
                            <th>We</th>
                            <th>Th</th>
                            <th>Fr</th>
                            <th>Sa</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="week in weeks">
                                <td :class="[day.class,state(day.date)]" @click.self="PickDate(day)" v-for="day in week" :data-date="day.date">
                                    {{day.day}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ranges" style="display: none;">
                <div class="range_inputs">
                    <button class="applyBtn btn btn-sm btn-success" type="button">Apply</button>
                    <button class="cancelBtn btn btn-sm btn-default" type="button">Cancel</button>
                </div>
            </div>
            <div class="booking-nights">{{startDate}}&nbsp; → &nbsp;{{endDate}} <template v-if="!!startDate && !!endDate">({{nights(startDate,endDate)}} 晚)</template></div>
        </div>
    </div>
</template>

<script>
    import moment from "moment";

    export default {
        name: "CheckInOut",
        data() {
            return {
                showModal: false,
                currentMonth: this.PropCurrentMonth,
                startDate: this.In,
                endDate: this.Out,
                today: moment().format('YYYY/MM/DD')
            }
        },
        watch:{
            startDate: function(val){
                this.$emit('picked_start_date',val)
            },
            endDate: function(val){
                this.$emit('picked_end_date',val)
            },

            showModal: function(val){
                if(val){
                    this.$nextTick(function(){
                        this.$refs.openArea.focus();
                    });
                }
            }
        },
        props: {
            In: {
                // default: moment().format('YYYY/MM/DD')
            },
            Out: {
                // default: moment().add('1', 'day').format('YYYY/MM/DD')
            },
            PropCurrentMonth:{
                type: String,
                default:  moment().format('YYYY-MM')
            }
        },
        computed:{
            //天數
            daysInMonth: function () {
                return moment(this.currentMonth).daysInMonth();
            },
            //當月第一天
            startOfMonth:function(){
                return moment(this.currentMonth).startOf('month').format('YYYY/MM/DD');
            },
            //當月結束
            endOfMonth:function(){
                return moment(this.currentMonth).endOf('month').format('YYYY/MM/DD');
            },

            firstDayOfMonth: function(){
                return moment(this.startOfMonth).weekday();
            },
            weeks: function(){
                const weeks = [];
                let current = moment(this.startOfMonth);
                for (let w = 1; w <= 6 ; w++) {
                    const week = [];
                    for (let d = 0; d <= 6; d++) {
                        //如果這一格小於這個月
                        if( w ===1 && d < this.firstDayOfMonth)
                        {
                            week.push({
                                class: 'wrong-month off disabled',
                                date: moment(this.currentMonth).subtract( this.firstDayOfMonth - d, 'days').format('YYYY/MM/DD'),
                                day: moment(this.currentMonth).subtract( this.firstDayOfMonth - d, 'days').format('D'),
                                able: false
                            });
                        }
                        else if(current <  (moment(this.currentMonth).add(1, 'months')) )
                        {
                            let ClassName;
                            let able;
                            if(current < moment(this.today))
                            {
                                ClassName = 'off disabled';
                                able = false;
                            }
                            else
                            {
                                ClassName = 'available';
                                able = true;
                            }
                            week.push({
                                class: ClassName,
                                date: current.format('YYYY/MM/DD'),
                                day: current.format('D'),
                                able: able
                            })
                            current.add(1, 'days');
                        }
                        else
                        {
                            week.push({
                                class: 'wrong-month disabled',
                                date: current.format('YYYY/MM/DD'),
                                day: current.format('D'),
                                able: false
                            });
                            current.add(1, 'days');
                        }
                    }
                    weeks.push(week);
                }
                return weeks;
            },

            titleMonth: function () {
                return moment(this.currentMonth).format('MMMM YYYY');
            }


        },
        methods:{
            lastMonth(){
                this.currentMonth = moment(this.currentMonth).subtract(1,'months').format('YYYY-MM');
            },
            nextMonth(){
                this.currentMonth = moment(this.currentMonth).add(1,'months').format('YYYY-MM');
            },
            state(date){
                let ClassName = '';
                if(date == this.startDate)
                {
                    ClassName = 'start-date';
                }
                else if(date == this.endDate)
                {
                    ClassName = 'end-date';
                }
                else if(date < this.endDate && date > this.startDate)
                {
                    ClassName = 'in-range';
                }
                return ClassName;
            },

            placeholder(startDate,endDate){
                if(startDate && endDate)
                {
                    return startDate+' → '+ endDate +"("+this.nights(startDate,endDate)+ "晚)";
                }
                else
                {
                    return "Check In → Check Out";
                }
            },
            nights(startDate,endDate){
              return moment(endDate).diff(moment(startDate),'days') ?? 0;
            },
            PickDate(day){
                if(day.able){
                    if(!this.startDate){
                        this.startDate = day.date;
                    }
                    else if(!this.endDate){
                        if(day.date < this.startDate)
                        {
                            //日期顛倒
                            this.endDate = this.startDate;
                            this.startDate = day.date;
                            this.showModal = false;
                        }
                        else if(day.date == this.startDate)
                        {

                        }
                        else
                        {
                            //normal
                            this.endDate = day.date;
                            this.showModal = false;
                        }
                    }
                    else{
                        this.startDate =  day.date;
                        this.endDate = null;
                    }
                }
            }
        },
    }
</script>

<style scoped>
    .daterangepicker:focus {
        outline: none !important;
        border:1px none red;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0.25px;
    }
</style>
