<template>
    <div class="eb-guestspicker" :class="showModal ? 'active' : ''">
        <div class="form-control guestspicker" @mousedown.prevent="showModal = !showModal"> Guests <span class="gueststotal">{{Total}}</span></div>
        <div class="eb-guestspicker-content"  @blur="showModal = false" ref="openArea" tabindex="0">
            <div class="guests-buttons">
                <div class="description"> <label>成人</label>
                    <div class="ages">Ages 12+</div>
                </div>
                <div class="guests-button">
                    <div class="minus" @click="minus_adults"></div>
                        <input type="text" class="booking-guests" v-model="adults">
                    <div class="plus" @click="add_adults"></div>
                </div>
            </div>
            <div class="guests-buttons">
                <div class="description"> <label>小孩</label>
                    <div class="ages">Ages 4 - 12</div>
                </div>
                <div class="guests-button">
                    <div class="minus" @click="minus_childrens"></div>
                        <input type="text" class="booking-guests" v-model="childrens">
                    <div class="plus" @click="add_childrens"></div>
                </div>
            </div>
            <div class="guests-buttons">
                <div class="description"> <label>嬰兒</label>
                    <div class="ages">Ages 0 - 3</div>
                </div>
                <div class="guests-button">
                    <div class="minus" @click="minus_babys"></div>
                        <input type="text"  class="booking-guests" v-model="babys">
                    <div class="plus" @click="add_babys"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const Rules = {
        adults: {Max: 4,Min: 1},
        childrens: {Max: 4,Min: 0},
        babys: {Max: 4,Min: 0}
    };
    export default {
        name: "Guests",
        data() {
            return {
                showModal: false,
                adults: this.propAdults,
                childrens: this.propChildrens,
                babys: this.propBabys
            }
        },
        props:{
            propAdults: {
                type: Number,
                default: 1
            },
            propChildrens: {
                type: Number,
                default: 0
            },
            propBabys: {
                type: Number,
                default: 0
            }
        },
        computed:{
            Total: function(){
                return this.adults+this.childrens+this.babys
            }
        },
        methods:{
            minus_adults(){
                if(this.adults > Rules.adults.Min)
                {
                    this.adults--
                }
            },
            add_adults(){
                if(this.adults < Rules.adults.Max)
                {
                    this.adults++
                }
            },
            minus_childrens(){
                if(this.childrens > Rules.childrens.Min)
                {
                    this.childrens--
                }
            },
            add_childrens(){
                if(this.childrens < Rules.childrens.Max)
                {
                    this.childrens++
                }
            },
            minus_babys(){
                if(this.babys > Rules.babys.Min)
                {
                    this.babys--
                }
            },
            add_babys(){
                if(this.babys < Rules.babys.Max)
                {
                    this.babys++
                }
            }
        },
        watch:{
            adults: function(val){
                this.$emit('picked_adults',val)
            },
            childrens: function(val){
                this.$emit('picked_childrens',val)
            },
            babys: function(val){
                this.$emit('picked_babys',val)
            },
            showModal: function(val){
                if(val){
                    this.$nextTick(function(){
                        this.$refs.openArea.focus();
                    });
                }
            }
        },

    }
</script>

<style scoped>
    .eb-guestspicker-content:focus {
        outline: none !important;
        border:1px none red;
        box-shadow: 0 0 10px #719ECE;
    }
</style>
