<template>
    <div class="row warp_p">
        <div class="col-md-12">
            <section class="card mb-5 pb-5">
                <h5 class="card-header text-center">
                    訂單內容
                </h5>
                <div class="card-body">
                    <div :key="index" class="row reservation-item pb-4" v-for="(ob,index) in ShoppingCart">
                        <div class="col-md-9 reservation-item-info">
                            <h3 class="reservation-item-info-title mb-3">
                                <span class="reservation-item-info-title-roomname ">{{ob.room.room.Name}} | {{ob.promotion.Name}}</span>
                            </h3>
                            <div class="row reservation-item-info-body">
                                <div class="col-md-5 col-sm-6 col-12 reservation-item-info-body-photo">
                                    <img class="w-100 mw-100 mb-5"
                                         :src="ob.room.room.MainPicture">
                                </div>
                                <div class="col-md-7 col-sm-6 col-12 pt-1 reservation-item-info-body-content">
                                    <span class="d-block font-w-600 b-b-sold-1">
                                        人數
                                    </span>
                                    <span class="d-block">
                                        <template v-if="ob.adults > 0">
                                            成人{{ob.adults}}位 |
                                        </template>
                                        <template v-if="ob.childrens > 0">
                                            小孩{{ob.childrens}}位 |
                                        </template>
                                        <template v-if="ob.babys > 0">
                                            兒童{{ob.babys}}位
                                        </template>
                                    </span>
                                    <br>
                                    <span class="d-block font-w-600 b-b-sold-1">
                                        入住日期/退房日期
                                    </span>
                                    <span class="d-block">
                                       {{ob.startDate}} {{WeekDay(ob.startDate)}} ~ {{ob.endDate}} {{WeekDay(ob.endDate)}} ({{nights(ob.startDate,ob.endDate)}}晚)
                                    </span>
                                    <br>
                                    <span class="d-block font-w-600 b-b-sold-1" v-if="(ob.adults+ob.childrens) > ob.room.room.PeopleNumber">
                                        基本必選項目
                                        <span :tooltip="'依據您選擇的房型第'+(ob.room.room.PeopleNumber+1)+'位入住起,需加購備品或床位。下列選項必須擇一'">
                                            <img class="pl-2"
                                                 src="https://img.icons8.com/fluent-systems-regular/18/606060/help.png">
                                        </span>
                                    </span>
                                    <span class="d-block text-danger font-w-600 row" v-if="(ob.adults+ob.childrens) > ob.room.room.PeopleNumber">
                                        <th class="text-center  col-xs-12 pl-0" scope="row">
                                            <div class="co-12 pl-0">
                                                <label class="radio font-w-500 m-0 pb-2" :for="'PRE'+index" style="white-space: nowrap;">
                                                    <input checked :id="'PRE'+index"  type="radio" v-model="ob.Extra" value="0">
                                                    <span style="margin-right: 1rem !important;padding-right: 1rem !important;"></span>加備品 x {{nights(ob.startDate,ob.endDate)}} 晚 x {{ob.adults+ob.childrens-ob.room.room.PeopleNumber}}
                                                        <strong class="pl-2">NT$ {{(nights(ob.startDate,ob.endDate) * (ob.adults+ob.childrens-ob.room.room.PeopleNumber) * Rule.DefaultExtraPeoplePrice)}}</strong>
                                                </label>
                                            </div>
                                        </th>
                                        <th class="text-center  col-xs-12 pl-0" scope="row">
                                            <div class="col-12 pl-0">
                                                <label class="radio font-w-500 m-0 pb-2" :for="'RoomWithPRE'+index" v-if="ob.room.room.MaxExtraPeopleNumber > 0" style="white-space: nowrap;">
                                                    <input  :id="'RoomWithPRE'+index"  type="radio" v-model="ob.Extra" value="1">
                                                    <span style="margin-right: 1rem !important;padding-right: 1rem !important;"></span>
                                                    加床 x {{nights(ob.startDate,ob.endDate)}} 晚 x 1
                                                    <template v-if="(ob.adults+ob.childrens) > (ob.room.room.PeopleNumber + 1)">
                                                        + 加備品 x {{nights(ob.startDate,ob.endDate)}} 晚 x {{ (ob.adults+ob.childrens) - (ob.room.room.PeopleNumber + 1) }}
                                                    </template>

                                                    <strong v-if="(ob.adults+ob.childrens) > (ob.room.room.PeopleNumber + 1)" class="pl-2">
                                                        NT$ {{(nights(ob.startDate,ob.endDate) * 1 * Rule.DefaultExtraBedPrice)  +  (nights(ob.startDate,ob.endDate) * ((ob.adults+ob.childrens) - (ob.room.room.PeopleNumber + 1)) * Rule.DefaultExtraPeoplePrice)}}
                                                    </strong>
                                                    <strong v-else class="pl-2">
                                                        NT$ {{(nights(ob.startDate,ob.endDate) * 1 * Rule.DefaultExtraBedPrice) }}
                                                    </strong>
                                                </label>
                                            </div>
                                        </th>
                                    </span>
                                    <br>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="position-relative reservation-item-info-price pt-4">
                                <div class="mb-md-3 mb-0 mr-lg-0 mr-md-4 mr-sm-4 mr-4">
                                    <strong class="price-number">NT$ {{CalcOrderPrice(ob)}}</strong>
                                    <span class="ml-1" @click="RemovePicking(index)">
                                        <img class="pl-2" src="https://img.icons8.com/fluent-systems-regular/18/606060/delete.png" style="padding-bottom: 8px;">
                                    </span>
<!--                                    <small class="d-block">(含10%服務費)</small>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <span class="d-block font-w-600 b-b-sold-1">
                                        加購項目
                                        <span @click="ob.ShowExtraShop = !ob.ShowExtraShop">
                                            <img class="pl-2" style="padding-bottom: 5px;"
                                                 :src="!ob.ShowExtraShop ? 'https://img.icons8.com/fluent-systems-regular/18/606060/plus.png' : 'https://img.icons8.com/fluent-systems-regular/18/606060/minus.png' ">
                                        </span>
                                    </span>
                            <span class="d-block text-danger font-w-600" v-for="(ExtraShop,index) in ob.ExtraShops" :key="'exs'+index" v-if="!ob.ShowExtraShop && ExtraShop.Nights > 0 && ExtraShop.Numbers > 0">
                                {{ExtraShop.Name}} NT$ {{ Math.ceil(ExtraShop.Price) }} x {{ExtraShop.Nights}}(天)  x {{ExtraShop.Numbers}}
                            </span>
                            <ExtraShopList :index="index" :Room="ob.room.room"
                                           :propShow="ob.ShowExtraShop"
                                           :propNights="nights(ob.startDate,ob.endDate)"
                                           :propAdults="ob.adults"
                                           :propChildrens="ob.childrens"
                                           :propBabys="ob.babys"
                                           @UpdatePicked="UpdateExtraShopPicked"></ExtraShopList>
                            <br>
                            <span class="d-block font-w-600 b-b-sold-1">
                                加購接駁
                                <span @click="ob.ShowExtraCar = !ob.ShowExtraCar">
                                    <img class="pl-2" style="padding-bottom: 5px;"
                                         :src="!ob.ShowExtraCar ? 'https://img.icons8.com/fluent-systems-regular/18/606060/plus.png' : 'https://img.icons8.com/fluent-systems-regular/18/606060/minus.png' ">
                                </span>
                            </span>
                            <span class="d-block text-danger font-w-600" v-for="(ExtraCar,index) in ob.ExtraCars" :key="'exc'+index"  v-if="!ob.ShowExtraCar && ExtraCar.Numbers > 0">
                                    {{ExtraCar.Name}} - {{ ExtraCar.type === "1" ? '單趟' : '來回' }} NT$ {{ ExtraCar.type === '1' ? Math.ceil(ExtraCar.Price) : Math.ceil(ExtraCar.Price2) }} x {{ExtraCar.Numbers}}(趟)
                            </span>
                            <ExtraCar :index="index" :Room="ob.room.room"
                                           :propShow="ob.ShowExtraCar"
                                           @UpdatePicked="UpdateExtraCarPicked"></ExtraCar>
                        </div>
                        <!-- old HSR Area-->
                    </div>

                    <div class="row">
                        <div class="col-md-12 DiscountBlock">
                            <div class="reservation-item-discount">
                                <div class="input-group d-flex pt-2">
                                    <input class="form-control col" id="DiscountCode" name="DiscountCode"
                                           placeholder="請輸入優惠碼" v-model="form.DiscountCode.Code">
                                    <button class="btn discountcode-btn" type="button" @click="CheckingDiscountCode">使用</button>
                                </div>
                                <span class="DiscountCodeMessage text-danger d-block mt-2" id="DiscountCodeMessage" v-if="form.DiscountCode.Discount !== undefined">{{form.DiscountCode.Name}} -NT$ {{form.DiscountCode.Discount}}</span>
                            </div>
                            <table class="text-left d-flex flex-column justify-content-center reservation-item-total">
                                <tbody>
                                <tr>
                                    <td class="price-title">訂房總額</td>
                                    <td class="price-content ft-currency">NT$ {{TotalOrderPrice(ShoppingCart)}}</td>
                                </tr>
<!--                                <tr>-->
<!--                                    <td class="price-title">應付訂金</td>-->
<!--                                    <td class="price-content ft-currency">NT$ 11,580</td>-->
<!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>


            <section class="card mt-4" id="BookArea">
                <h4 class="card-header text-center">訂購人資料</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 pt-4" v-if="!Member">
                            <label class="ft-h5 d-block">
                                <input checked class="GuestAsContact_checked" type="checkbox" v-model="ShowMemberLogin">
                                我是會員
                            </label>

                            <div class="col-12 pb-5 pt-3" v-if="ShowMemberLogin" style="border-bottom: 1px solid #ededed;">
                                <label class="ft-h5 d-block" for="LoginEmail">* Email</label>
                                <input class="form-control" id="LoginEmail" type="email" v-model="LoginForm.Email">
                                <br>
                                <label class="ft-h5 d-block" for="LoginPassword">* Password</label>
                                <input class="form-control" id="LoginPassword" type="password" v-model="LoginForm.Password">
                                <br>
                                <button type="button" @click="Login" class="button eb-btn">Login</button>
                                <div class="or input_group w-100 mb-0">
                                    <p>or</p>
                                </div>
                                <div class="login_social">
                                    <button class="btn eb-btn btn-fb">
                                        <i class="fab fa-facebook-f"></i> FACEBOOK
                                    </button>
                                    <button class="btn eb-btn btn-google">
                                        <i class="fab fa-google"></i> GOOGLE
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 pt-4">
                            <label class="ft-h5 d-block" for="ContactEmail">* Email</label>
                            <input class="form-control" id="ContactEmail" name="ContactEmail" type="email" v-model="form.Booking.Email">
                            <small>
                                *建議填寫非入口網站之免費信箱（Yahoo、PChome、Hotmail…等常有擋件機制），以利訂房確認書順利寄發，謝謝。<br>
                                *請勿使用共用信箱，已確保您的資料安全。
                            </small>
                        </div>

                        <div class="col-md-6 pt-4">
                            <label class="d-block" for="ContactLastName">* 姓名</label>
                            <div class="input-group">
                                <input class="form-control" id="ContactLastName" name="ContactLastName" type="text" v-model="form.Booking.Name">
                            </div>
                        </div>
                        <div class="col-md-6 pt-4">
                            <label class="d-block"> 性別</label>
                            <select class="form-control m-0" name="ContactTWState" v-model="form.Booking.Sex">
                                <option></option>
                                <option value="1">先生</option>
                                <option value="0">小姐</option>
                            </select>
                        </div>


                        <div class="col-md-6 col-12 pt-4">
                            <label class="d-block" for="ContactIDNumber">* 身份證字號</label>
                            <input class="form-control" id="ContactIDNumber" name="ContactIDNumber" type="text" v-model="form.Booking.IdNumber">
                        </div>

                        <div class="col-md-6 col-12 pt-4">
                            <label class="d-block" for="ContactMobile">* 電話</label>
                            <input class="form-control" id="ContactMobile" name="ContactMobile" type="tel" v-model="form.Booking.Phone">
                            <span class="d-block  w-100"></span>
                        </div>
                        <div class="col-md-6 col-12 pt-4">
                            <label class="d-block"> 地址</label>
                            <select class="form-control m-0" name="ContactTWState" v-model="form.Booking.Area">
                                <option></option>
                                <option value="台北市">台北市</option>
                                <option value="新北市">新北市</option>
                                <option value="基隆市">基隆市</option>
                                <option value="桃園市">桃園市</option>
                                <option value="新竹市">新竹市</option>
                                <option value="新竹縣">新竹縣</option>
                                <option value="宜蘭縣">宜蘭縣</option>
                                <option value="花蓮縣">花蓮縣</option>
                                <option value="苗栗縣">苗栗縣</option>
                                <option value="台中市">台中市</option>
                                <option value="彰化縣">彰化縣</option>
                                <option value="南投縣">南投縣</option>
                                <option value="雲林縣">雲林縣</option>
                                <option value="嘉義市">嘉義市</option>
                                <option value="嘉義縣">嘉義縣</option>
                                <option value="台南市">台南市</option>
                                <option value="澎湖縣">澎湖縣</option>
                                <option value="高雄市">高雄市</option>
                                <option value="屏東縣">屏東縣</option>
                                <option value="台東縣">台東縣</option>
                                <option value="金門縣">金門縣</option>
                                <option value="連江縣">連江縣</option>
                            </select>
                        </div>
                        <div class="clearfix hidden-xs"></div>
                    </div>
                </div>
            </section>


            <section class="card mt-4 pb-5" v-show="!form.BookingSameGuest" id="GuestArea">
                <h4 class="card-header text-center">住房人資料</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 pt-4">
                            <label class="ft-h5 d-block" for="ContactEmail">* Email</label>
                            <input class="form-control" id="ContactEmail" name="ContactEmail" type="email" v-model="form.Guest.Email">
                            <small>
                                *建議填寫非入口網站之免費信箱（Yahoo、PChome、Hotmail…等常有擋件機制），以利訂房確認書順利寄發，謝謝。<br>
                                *請勿使用共用信箱，已確保您的資料安全。
                            </small>
                        </div>

                        <div class="col-md-6 col-12  pt-4">
                            <label class="d-block" for="ContactLastName">* 姓名</label>
                            <div class="input-group">
                                <input class="form-control" id="ContactLastName" name="ContactLastName" type="text" v-model="form.Guest.Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 pt-4">
                            <label class="d-block" for="ContactLastName"> 性別</label>
                            <select class="form-control m-0" id="ContactTWState" name="ContactTWState" v-model="form.Guest.Sex">
                                <option></option>
                                <option>先生</option>
                                <option>小姐</option>
                            </select>
                        </div>


                        <div class="col-md-6 col-12 pt-4">
                            <label class="d-block" for="ContactIDNumber">* 身份證字號</label>
                            <input class="form-control" id="ContactIDNumber" name="ContactIDNumber" type="text" v-model="form.Guest.IdNumber">
                        </div>

                        <div class="col-md-6 col-12 pt-4">
                            <label class="d-block" for="ContactMobile">* 電話</label>
                            <input class="form-control" id="ContactMobile" name="ContactMobile" type="tel" v-model="form.Guest.Phone">
                            <span class="d-block  w-100"></span>
                        </div>
                        <div class="col-md-6 col-12 pt-4">
                            <label class="d-block" for="ContactTWState"> 地址</label>
                            <select class="form-control m-0" id="ContactTWState" name="ContactTWState" v-model="form.Guest.Area">
                                <option></option>
                                <option value="台北市">台北市</option>
                                <option value="新北市">新北市</option>
                                <option value="基隆市">基隆市</option>
                                <option value="桃園市">桃園市</option>
                                <option value="新竹市">新竹市</option>
                                <option value="新竹縣">新竹縣</option>
                                <option value="宜蘭縣">宜蘭縣</option>
                                <option value="花蓮縣">花蓮縣</option>
                                <option value="苗栗縣">苗栗縣</option>
                                <option value="台中市">台中市</option>
                                <option value="彰化縣">彰化縣</option>
                                <option value="南投縣">南投縣</option>
                                <option value="雲林縣">雲林縣</option>
                                <option value="嘉義市">嘉義市</option>
                                <option value="嘉義縣">嘉義縣</option>
                                <option value="台南市">台南市</option>
                                <option value="澎湖縣">澎湖縣</option>
                                <option value="高雄市">高雄市</option>
                                <option value="屏東縣">屏東縣</option>
                                <option value="台東縣">台東縣</option>
                                <option value="金門縣">金門縣</option>
                                <option value="連江縣">連江縣</option>
                            </select>
                        </div>
                        <div class="clearfix hidden-xs"></div>
                    </div>
                </div>
            </section>


            <div class="row pb-4 pt-0" style="padding: 20px;background-color: #fff;">
                <div class="col-md-12 col-sm-12 pt-4">
                    <label class="ft-h5 d-block" for="RegisterNo">統一編號</label>
                    <input class="form-control" id="RegisterNo" name="RegisterNo" type="text" v-model="form.TaxNumber">
                    <small class="d-block pt-2">因應財政部新版電子發票格式，即日起公司戶電子發票證明聯一律無需提供「抬頭」。電子發票上將不顯示抬頭欄位，紙本電子發票印有統編即可作為會計憑證。</small>

                    <br>

                    <label class="ft-h5 d-block" for="" style="color: #858a99">其它備註</label>
                    <textarea class="form-control w-100 mt-0" id="" name="" rows="6" v-model="form.Note"></textarea>
                </div>
                <div class="col-md-12 col-sm-12 pt-4">
                    <label class="ft-h5 d-block">
                        <input checked class="GuestAsContact_checked" id="GuestAsContact"
                               name="GuestAsContact" type="checkbox" v-model="form.BookingSameGuest">
                        訂購人與住房人相同
                    </label>
                    <label class="ft-h5 d-block" v-if="!Member">
                        <input checked class="OrdererInfoJoin" name="OrdererInfoJoin" type="checkbox" v-model="form.BookingSameAuth">
                        以訂購人資料同時加入會員
                        <small class="d-block pt-3">
                            *加入會員您將可以享有，不定期促銷活動優惠或專屬會員價哦!
                        </small>
                    </label>
                </div>
<!--                <div class="col-md-12 mt-3 d-flex justify-content-center AlreadyMemberError">-->
<!--                    <small class="text-danger font-13 ">-->
<!--                        <img class="pb-1" src="https://img.icons8.com/pastel-glyph/21/a94442/error.png"/>-->
<!--                        此信箱已申請過會員，請先<a href="login.html" style="text-decoration: underline">會員登入</a>-->
<!--                    </small>-->
<!--                </div>-->
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <button class="button eb-btn Nextstep" type="button" @click="CheckingOrder">確認</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from "moment";
    import ExtraShopList from './ExtraShopList';
    import ExtraCar from './ExtraCar';
    import {Rule, CheckingDiscountCode, CheckingOrder, Login} from "../../api";
    import {SwalAlertErrorMessage} from "../../../backend/helper";
    import ShoppingCart from "../ShoppingCart";
    import Axios from "axios";

    export default {
        name: "Initialise",
        components:{
            ExtraCar,
            ExtraShopList
        },
        data() {
            return {
                ShoppingCart: {},
                Rule:{
                    DefaultExtraBedPrice: Number,
                    DefaultExtraPeoplePrice: Number,
                },
                form:{
                    DiscountCode: {
                        Code: ""
                    },
                    Booking:{
                        Email: "",
                        Name: "",
                        IdNumber: "",
                        Phone: "",
                        Sex: "",
                        Area: "",
                    },
                    Guest:{
                        Email: "",
                        Name: "",
                        IdNumber: "",
                        Phone: "",
                        Sex: "",
                        Area: "",
                    },
                    BookingSameGuest: true,
                    BookingSameAuth: true,
                    TaxNumber:'',
                    Note:''
                },

                ShowMemberLogin: false,
                LoginForm:{
                    Email: '',
                    Password: ''
                }
            }
        },
        created() {
            this.init();
        },
        computed: {
            StoreShoppingCart () {
                return this.$store.getters.ShoppingCart
            },
            Member() {
                if(this.$store.getters.Member){
                    Axios.post('/api/Front/MemberChecker').then(res=>{
                        return this.$store.getters.Member;
                    }).catch(reason => {
                        this.$store.commit('Logout')
                        return null;
                    })
                }
                else
                {
                    return null;
                }
            }
        },
        watch:{
            'form.BookingSameGuest': function(val){
                if(!val){
                    this.$nextTick(function() {
                        this.$scrollTo('#GuestArea',1500,{
                            offset: -100
                        });
                    });
                }
                else
                {
                    this.$nextTick(function() {
                        this.$scrollTo('#BookArea',1500,{
                            offset: -100
                        });
                    });
                }
            },
            'StoreShoppingCart': function(val){
                let temp = [];
                val.map(ob=>{
                    temp.push({
                        ShowExtraShop: false,
                        ShowExtraCar: false,
                        ExtraCars: [],
                        ExtraShops: [],
                        adults: ob.adults,
                        babys: ob.babys,
                        childrens: ob.childrens,
                        endDate: ob.endDate,
                        startDate: ob.startDate,
                        promotion: ob.promotion,
                        room: ob.room,
                        Extra: "0"
                    });
                });
                this.ShoppingCart = temp;
            }
        },

        methods: {
            init() {
                this.$emit('updateStep',2);
                let temp = [];
                this.$store.getters.ShoppingCart.map(ob=>{
                            temp.push({
                                ShowExtraShop: false,
                                ShowExtraCar: false,
                                ExtraCars: [],
                                ExtraShops: [],
                                adults: ob.adults,
                                babys: ob.babys,
                                childrens: ob.childrens,
                                endDate: ob.endDate,
                                startDate: ob.startDate,
                                promotion: ob.promotion,
                                room: ob.room,
                                Extra: "0"
                            });
                        });
                this.ShoppingCart = temp;

                Rule().then((res)=>{
                    this.Rule.DefaultExtraBedPrice = res.DefaultExtraBedPrice
                    this.Rule.DefaultExtraPeoplePrice = res.DefaultExtraPeoplePrice
                })
                .catch(rep=>SwalAlertErrorMessage(rep))

                if(this.Member){
                    //有登入
                    this.form.Booking.Email = this.Member.Email
                    this.form.Booking.Name = this.Member.Name
                    this.form.Booking.IdNumber = this.Member.IdNumber
                    this.form.Booking.Phone = this.Member.Phone
                    this.form.Booking.Sex = this.Member.Sex
                    this.form.Booking.Area = this.Member.Area
                }
            },
            WeekDay(date) {
                moment.locale('zh-tw');
                return moment(date).format('dddd');
            },
            nights(startDate, endDate) {
                return moment(endDate).diff(moment(startDate), 'days') ?? 0;
            },
            RemovePicking(index) {
                this.$store.commit('Remove', index);
            },
            UpdateExtraShopPicked(index,val)
            {
                this.ShoppingCart[index].ExtraShops = val;
            },
            UpdateExtraCarPicked(index,val)
            {
                this.ShoppingCart[index].ExtraCars = val;
            },

            CheckingDiscountCode()
            {
                let credential = {
                    DiscountCode: this.form.DiscountCode.Code
                }
                CheckingDiscountCode(credential).then((res)=>{
                    // this.form.DiscountCode = res
                    let checker = false;
                    this.ShoppingCart.forEach(function(item){
                        if(moment(item.startDate) <= moment(res.Use_Start) && moment(item.endDate) < moment(res.Use_End) && moment(item.endDate) >= moment(res.Use_Start))
                        {
                            checker = true;
                        }
                        else if(moment(item.startDate) >= moment(res.Use_Start)  && moment(item.startDate) < moment(res.Use_End) && moment(item.endDate) >= moment(res.Use_End))
                        {
                            checker = true;
                        }
                        else if(moment(item.startDate) < moment(res.Use_Start) && moment(item.endDate) > moment(res.Use_End))
                        {
                            checker = true;
                        }
                        else if(moment(item.startDate) > moment(res.Use_Start) && moment(item.endDate) < moment(res.Use_End))
                        {
                            checker = true;
                        }
                        else
                        {

                        }
                    });
                    if(checker){
                        this.form.DiscountCode = res
                    }
                    else
                    {
                        this.form.DiscountCode = {
                            Code: ''
                        };

                        let response = {
                            status: 422,
                            data:{
                                errors:
                                {
                                    message: ['折扣碼不適用此訂房區間']
                                }
                            }
                        }
                        SwalAlertErrorMessage(response);
                    }
                })
                .catch((rep)=>{
                    SwalAlertErrorMessage(rep)
                    this.form.DiscountCode = {
                        Code: ''
                    };
                })
            },

            CalcOrderPrice(ob)
            {
                //基本價
                let price = ob.promotion.Total;
                //人數超過
                if((ob.adults+ob.childrens) > ob.room.room.PeopleNumber){
                    if(ob.Extra === '0')
                    {
                        price += this.nights(ob.startDate,ob.endDate) * (ob.adults+ob.childrens-ob.room.room.PeopleNumber) * this.Rule.DefaultExtraPeoplePrice
                    }
                    else
                    {
                        if((ob.adults+ob.childrens) > (ob.room.room.PeopleNumber + 1))
                        {
                            price += this.nights(ob.startDate,ob.endDate) * 1 * this.Rule.DefaultExtraBedPrice  +  this.nights(ob.startDate,ob.endDate) * ((ob.adults+ob.childrens) - (ob.room.room.PeopleNumber + 1)) * this.Rule.DefaultExtraPeoplePrice
                        }
                        else
                        {
                            price += this.nights(ob.startDate,ob.endDate) * 1 * this.Rule.DefaultExtraBedPrice
                        }
                    }
                }

                //加購項目
                ob.ExtraShops.forEach(function(item){
                    price += parseInt(item.Nights) * parseInt(item.Price) * parseInt(item.Numbers)
                })

                ob.ExtraCars.forEach(function(item){
                    item.type === '1' ? price+= parseInt(item.Numbers) * parseInt(item.Price) : price+= parseInt(item.Numbers) * parseInt(item.Price2)
                })
                return price;
            },
            TotalOrderPrice(ShoppingCart)
            {
                let Total = 0;
                ShoppingCart.forEach(ob => Total+= this.CalcOrderPrice(ob))
                this.form.DiscountCode.Discount ? Total-= parseInt(this.form.DiscountCode.Discount) : ''
                return Total;
            },

            CheckingOrder()
            {
                let BookingData = [];
                this.ShoppingCart.forEach(item => {
                    let temp = {};
                    temp.Extra = item.Extra
                    temp.ExtraCars = []
                    item.ExtraCars.forEach(exC => {
                        temp.ExtraCars.push({
                            Numbers: exC.Numbers,
                            id: exC.id,
                            arrvdt: exC.arrvdt,
                            pickdt: exC.pickdt,
                            type: exC.type
                        })
                    })
                    temp.ExtraShops = []
                    item.ExtraShops.forEach(exS => {
                        temp.ExtraShops.push({
                            Numbers: exS.Numbers,
                            id: exS.id,
                            Nights: exS.Nights,
                        })
                    })
                    temp.adults = item.adults
                    temp.babys = item.babys
                    temp.childrens = item.childrens
                    temp.startDate = item.startDate
                    temp.endDate = item.endDate
                    temp.promotion = item.promotion.id
                    temp.room = item.room.room.id

                    BookingData.push(temp);
                });


                let credential = {
                    form: this.form,
                    BookingData: BookingData
                }
                CheckingOrder(credential).then((res)=>{
                    this.$store.commit('Clear')
                    if(res.Member){
                        this.$store.dispatch('LoginSucess',res.Member).then((response) => {
                            this.$router.push({
                                name: 'PaymentSelect',
                                params: {
                                    Num: res.Order,
                                }
                            });
                        })
                    }
                    else{
                        this.$router.push({
                            name: 'PaymentSelect',
                            params: {
                                Num: res.Order,
                            }
                        });
                    }
                })
                .catch((rep)=>{
                    SwalAlertErrorMessage(rep)
                })
            },


            Login()
            {
                let credential = {
                    email: this.LoginForm.Email,
                    password: this.LoginForm.Password
                }
                Login(credential).then((res)=>{
                    this.$store.dispatch('LoginSucess',res).then((response) => {
                        if(this.Member){
                            //有登入
                            this.form.Booking.Email = this.Member.Email
                            this.form.Booking.Name = this.Member.Name
                            this.form.Booking.IdNumber = this.Member.IdNumber
                            this.form.Booking.Phone = this.Member.Phone
                            this.form.Booking.Sex = this.Member.Sex
                            this.form.Booking.Area = this.Member.Area
                        }
                    })
                })
                .catch((rep)=>{
                    SwalAlertErrorMessage(rep)
                })
            }
        }
    }
</script>

<style scoped>
</style>
