<template>
    <main class="no-padding" style="overflow: hidden;">
        <div class="BannerBlock" style="background-image: url('#');">
            <div class="BannerTitle text-center">
                <h1 class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".2s">BOOKING</h1>
                <p class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".6s">/</p>
                <h2 class="wow fadeInUp" style="visibility: visible;" data-wow-delay=".8s">立即訂房</h2>
            </div>
        </div>
        <div class="container">
            <div class="BookingPage">
                <div class="row">
                    <div class="col-md-12">
                        <process :step="step"></process>
                    </div>
                </div>
                <router-view :key="this.$route.path" @updateStep="updateStep"></router-view>
            </div>
        </div>
    </main>
<!--    <router-view :key=this.$route.path></router-view>-->
</template>

<script>
    import Process from "./Process";
    export default {
        name: "Main",
        components:{
            Process
        },
        data() {
            return {
                step: 1
            }
        },
        created() {

       },
        methods:{
            updateStep(val) {
                this.step = val
            }
        }
    }
</script>

<style scoped>

</style>
