<template>
    <div class="row warp_p">
        <div class="col-md-12">
            <section class="card mb-5 pb-5">
                <h5 class="card-header text-center">
                    訂單內容
                </h5>
                <div class="card-body">
                    <div :key="index" class="row reservation-item pb-4" v-for="(ob,index) in BookingData">
                        <div class="col-md-9 reservation-item-info">
                            <h3 class="reservation-item-info-title mb-3">
                                <span class="reservation-item-info-title-roomname ">{{ob.Room.Name}} | {{ob.Promotion.Name}}</span>
                            </h3>
                            <div class="row reservation-item-info-body">
                                <div class="col-md-5 col-sm-6 col-12 reservation-item-info-body-photo">
                                    <img class="w-100 mw-100 mb-5"
                                         :src="ob.Room.MainPicture">
                                </div>
                                <div class="col-md-7 col-sm-6 col-12 pt-1 reservation-item-info-body-content">
                                    <span class="d-block font-w-600 b-b-sold-1">
                                        人數
                                    </span>
                                    <span class="d-block">
                                        <template v-if="ob.adults > 0">
                                            成人{{ob.adults}}位 |
                                        </template>
                                        <template v-if="ob.childrens > 0">
                                            小孩{{ob.childrens}}位 |
                                        </template>
                                        <template v-if="ob.babys > 0">
                                            兒童{{ob.babys}}位
                                        </template>
                                    </span>
                                    <br>
                                    <span class="d-block font-w-600 b-b-sold-1">
                                        入住日期/退房日期
                                    </span>
                                    <span class="d-block">
                                       {{Day(ob.startDate)}} {{WeekDay(ob.startDate)}} ~ {{Day(ob.endDate)}} {{WeekDay(ob.endDate)}} ({{nights(ob.startDate,ob.endDate)}}晚)
                                    </span>
                                    <br>
                                    <span class="d-block font-w-600 b-b-sold-1" v-if="ob.Extra !== null">
                                        基本必選項目
                                    </span>
                                    <span class="d-block text-danger font-w-600 row" v-if="ob.Extra !== null">
                                        <th class="text-center  col-xs-12 pl-0" scope="row">
                                            <div class="co-12 pl-0">
                                               <label class="radio font-w-500 m-0 pb-2">
                                                   <template v-if="ob.ExtraPeople > 0">
                                                       加備品 x {{nights(ob.startDate,ob.endDate)}} 晚 x {{ob.ExtraPeople}} <template v-if="ob.ExtraBed > 0"> + </template>
                                                   </template>
                                                   <template v-if="ob.ExtraBed > 0">
                                                       加床 x {{nights(ob.startDate,ob.endDate)}} 晚 x {{ob.ExtraBed}}
                                                   </template>
                                            </label>
                                            </div>
                                        </th>
                                    </span>
                                    <br>
                                    <span class="d-block font-w-600 b-b-sold-1" v-if="ob.ExtraShop.length > 0">
                                        加購項目
                                    </span>
                                    <span class="d-block text-danger font-w-600" v-if="ob.ExtraShop.length > 0" v-for="Shop in ob.ExtraShop">
                                        {{Shop.Name}} x {{Shop.Nights}} 晚 x {{Shop.Numbers}}
                                    </span>
                                    <br>
                                    <span class="d-block font-w-600 b-b-sold-1" v-if="ob.ExtraCar.length > 0">
                                        加購接駁
                                    </span>
                                    <span class="d-block text-danger font-w-600" v-if="ob.ExtraCar.length > 0" v-for="Car in ob.ExtraCar">
                                        {{Car.Name}} - {{Car.type == '1' ? '單趟' : '來回' }} x {{Car.Numbers}}
                                        <template v-if="Car.arrvdt">
                                            <br>
                                            抵達日期時間 : {{Car.arrvdt}}
                                        </template>
                                        <template v-if="Car.pickdt">
                                            <br>
                                            出發日期時間 : {{Car.pickdt}}
                                        </template>
                                    </span>

                                </div>
                            </div>
                        </div>


                        <!-- old HSR Area-->
                    </div>

                    <div class="row">
                        <div class="col-md-12 DiscountBlock">
                            <div class="reservation-item-discount">
                                <span id="DiscountCodeMessage" class="DiscountCodeMessage text-danger d-block mt-2" v-if="DiscountCode !== undefined && DiscountCode.length > 0">{{DiscountCode.Name}} -NT$ {{DiscountCode.Discount}}</span>
                            </div>
                            <table class="text-left d-flex flex-column justify-content-center reservation-item-total">
                                <tbody>

                                <tr>
                                    <td class="price-title">結帳狀態</td>
                                    <td class="price-content ft-currency">{{Refund ? '以退款' : (Paid ? '已付款' : '尚未付款')}}</td>
                                </tr>
                                <tr>
                                    <td class="price-title">訂房總額</td>
                                    <td class="price-content ft-currency">NT$ {{Price}}</td>
                                </tr>
                                <tr>
                                    <td class="price-title">訂房編號</td>
                                    <td class="price-content ft-currency">
                                        <input type="hidden" id="Num" :value="Num">
                                        {{Num}}
                                        <span @click="CopyNum" style="cursor: pointer;">
                                            <img class="pl-2"
                                                 src="https://img.icons8.com/fluent-systems-regular/18/606060/copy.png">
                                        </span>
                                    </td>
                                </tr>

                                <!--                                <tr>-->
                                <!--                                    <td class="price-title">應付訂金</td>-->
                                <!--                                    <td class="price-content ft-currency">NT$ 11,580</td>-->
                                <!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row pb-4" style="padding: 20px;background-color: #fff;">
                    <div class="col-md-12 col-sm-12 pt-4">
                        <label class="ft-h5 d-block" for="RegisterNo">統一編號</label>
                        <input class="form-control" id="RegisterNo" name="RegisterNo" type="text" :value="TaxNumber" disabled>
                        <small class="d-block pt-2">因應財政部新版電子發票格式，即日起公司戶電子發票證明聯一律無需提供「抬頭」。電子發票上將不顯示抬頭欄位，紙本電子發票印有統編即可作為會計憑證。</small>

                        <br>

                        <label class="ft-h5 d-block" for="" style="color: #858a99">其它備註</label>
                        <textarea class="form-control w-100 mt-0" id="" name="" rows="6" :value="Note" disabled></textarea>
                    </div>
                </div>
            </section>
            <section class="card mt-4">
                <h4 class="card-header text-center" style="background: #444;">訂房注意事項</h4>
                <div class="card-body pb-0" style="border: 0">
                    <div class="row">
                        <div class="col-md-12 pt-4 ">
                            <div class="PrivacyTermsContent px-3 pb-5">
                                <h5 class="pt-3 pb-3">訂房注意事項</h5>
                                <div class="text-content">
                                    <ul>
                                        <li>原房價內已含早餐或其它項目，旅客因個人因素未使用時，均視同自動放棄，任何有關此類之退費要求，恕無法提供此項服務。</li>
                                        <li>行館所在地或旅客出發地，入住當日因天災（人力不可抗力因素）影響，如：陸上颱風警報發佈之警戒區域，或有主要交通中斷情形發生，致使無法如期入住時，敬請儘速與本行館連繫，更改或取消您的訂房紀錄。</li>
                                        <li>本行館依照交通部於99年1月13日函頒「觀光旅館業個別旅客直接訂房定型化契約範本」辦理。(<span style="display: inline !important; float: none; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); font-family: sans-serif,Arial,Verdana,&quot;Trebuchet MS&quot;; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">詳細內容請至交通部觀光局行政資訊系統\消保事項專區\觀光旅館業\定型化契約專區查詢。)</span><br>
                                            將收取<strong>30%</strong>之住宿費用作為訂金，取消訂房與退還訂金的相關規定如下 :<br>
                                            &nbsp;</li>
                                        <li>旅客住宿日當日取消訂房扣預付訂金金額100% 。</li>
                                        <li>旅客於住宿日前1日內取消訂房扣房價預付訂金金額80%。</li>
                                        <li>旅客於住宿日前2-3日內取消訂房扣房價預付訂金金額70%。</li>
                                        <li>旅客於住宿日前4-6日內取消訂房扣房價預付訂金金額60%。</li>
                                        <li>旅客於住宿日前7-9日內取消訂房扣房價預付訂金金額50%。</li>
                                        <li>旅客於住宿日前10-13日內取消訂房扣房價預付訂金金額30%。</li>
                                        <li>旅客於住宿日前14日前(含14日)取消訂房扣房價預付訂金金額0%。</li>
                                        <li>因可歸責於酒店之事由致無法履行訂房契約者
                                            <ul>
                                                <li>如酒店已收取訂金，應加倍返還之；其因酒店之故意所致者，旅客並得另外請求以訂金三倍計算之損害賠償。</li>
                                                <li>如酒店未收取訂金，甲方得請求以約定房價一倍計算之損害賠償；其因酒店之故意所致者，旅客得請求以約定房價三倍計算之損害賠償。</li>
                                                <li>旅客證明受有前項所定以外之其他損害者，得併請求賠償之。</li>
                                                <li>酒店與旅客有其他更有利於旅客之協議者，依其協議。</li>
                                            </ul>
                                        </li>
                                        <li>因不可抗力或其他不可歸責於雙方當事人之事由，致酒店無法履行者，酒店應即無息返還旅客已支付之全部訂金及其他費用。</li>

                                    </ul>
                                </div>
                                <h4 class="card-header text-center my-5" style="background: #444;">選擇付款方式</h4>
                                <div class="text-center d-flex flex-wrap">
                                    <label for="selectpay1" class="radio font-w-500" style="margin:auto 0; border-right: 1px solid #ededed; padding-right: 20px; margin-right: 30px;">
                                        <div class="d-flex flex-column justify-content-center">
                                            <input id="selectpay1" value="1" v-model="Payment" disabled type="radio"><span></span>
                                        </div>
                                        <div>
                                            <img class="pl-3 pr-3" src="/images/card/visa.png" style="width: 70px;">
                                            <img class="pl-3 pr-3" src="/images/card/master.png" style="width: 70px;">
                                            <img class="pl-3 pr-3" src="/images/card/jcb.png" style="width: 70px;">
                                            <img class="pl-3 pr-3" src="/images/card/union-pay.png" style="width: 70px;">
                                        </div>
                                    </label>
                                    <label for="selectpay2" class="radio font-w-500" style="margin:auto 0;">
                                        <div class=" d-flex flex-column justify-content-center">
                                            <input id="selectpay2" value="2" v-model="Payment" type="radio"><span></span>
                                        </div>
                                        <div>
                                            <img class="pl-3 pr-3" src="/images/cash/esun.png" style="width: 70px;">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="!Paid && !Refund">
                        <div class="col-md-12 pt-4 pb-4 text-center">
                            <label class="AllowPrecautionsItem">
                                <input id="AllowPrecautions" class="AllowPrecautions" name="AllowPrecautions" type="checkbox" v-model="AllowPrecautions">
                                已詳閱並同意訂房注意事項條款
                            </label>
                            <br>
                            <button type="button" class="button eb-btn ReservationSubmit" @click="GoPay">前往付款</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    import {PaymentSelect, UpdatePayment} from "../../api";
    import moment from "moment";
    import {SwalAlertErrorMessage} from "../../../backend/helper";

    export default {
        name: "PaymentSelect",
        // props:{
        //     Num: {
        //         // required: true,
        //         default: 'f7a67b55737d09a32b96c7d51514ff8ab71dcdce'
        //     }
        // },

        data(){
          return {
              Num: this.$route.params.Num,
              AllowPrecautions: false,
              Price: '',
              DiscountCode: '',
              BookingData: '',
              TaxNumber: null,
              Note: null,
              Payment: null,
              Paid: false,
              Refund: false
          }
        },
        computed:{
            Member() {
                return this.$store.getters.Member
            }
        },
        created() {
            if(this.Num === undefined){
                this.$router.push({
                    name: 'Search'
                })
            }
            this.init();
        },
        methods:{
            init(){
                this.$emit('updateStep',3);
                let credential = {
                    Num: this.Num
                }
                PaymentSelect(credential).then((res)=>{
                    this.Price = res.Order.Price
                    this.DiscountCode = res.Order.DiscountCode
                    this.BookingData = res.Order.BookingData
                    this.TaxNumber = res.Order.TaxNumber
                    this.Payment = res.Order.Payment
                    this.Note = res.Order.Note
                    this.Paid = res.Order.Paid
                    this.Refund = res.Order.Refund
                })
                .catch((rep)=>{
                    SwalAlertErrorMessage(rep)
                    this.$router.push({
                        name: 'Search'
                    })
                })

            },
            Day(date){
                moment.locale('zh-tw');
                return moment(date).format('Y/M/D');
            },
            WeekDay(date) {
                moment.locale('zh-tw');
                return moment(date).format('dddd');
            },
            nights(startDate, endDate) {
                return moment(endDate).diff(moment(startDate), 'days') ?? 0;
            },
            CopyNum(){

                let CopyNum = document.querySelector('#Num')
                CopyNum.setAttribute('type', 'text')
                CopyNum.select()

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                } catch (err) {
                    alert('Oops, unable to copy');
                }

                /* unselect the range */
                CopyNum.setAttribute('type', 'hidden')
                window.getSelection().removeAllRanges()
            },
            GoPay(){
                if(!this.AllowPrecautions){
                    var html = '<span class="f-family" style="color: #707070;font-size: 14px;font-weight:600;">';
                    html+= '<div><i class="fas fa-times" style="color:#f27474"></i>  '+"請先詳閱並同意訂房注意事項條款"+"</div>";

                    Swal.fire({
                        icon:'error',
                        html: html,
                        showCloseButton: false,
                        showConfirmButton: false,
                        width: '300px',
                        heightAuto: false
                    })
                }
                else if(this.Payment === null){
                    var html = '<span class="f-family" style="color: #707070;font-size: 14px;font-weight:600;">';
                    html+= '<div><i class="fas fa-times" style="color:#f27474"></i>  '+"請選擇付款方式"+"</div>";

                    Swal.fire({
                        icon:'error',
                        html: html,
                        showCloseButton: false,
                        showConfirmButton: false,
                        width: '300px',
                        heightAuto: false
                    })
                }
                else{
                    let credential = {
                        Num: this.Num,
                        Payment: this.Payment
                    }
                    UpdatePayment(credential).then(res=>{
                        if(this.Payment === '2'){
                            this.$router.push({
                                name: 'ATM',
                                params: {
                                    Num: this.Num
                                }
                            })
                        }
                    })
                    .catch(rep => {
                    })


                }
            }
        }
    }
</script>

<style scoped>

</style>
