<template>
    <div class="eb-stepline">
        <div class="eb-stepline-steps">
            <div class="eb-stepline-step" :class=" step >=1 ? 'completed active' : 'disabled' ">
                <div class="eb-stepline-progress">
                    <div class="eb-stepline-progress-bar"></div>
                </div>
                <div class="eb-stepline-dot"></div>
                <div class="text-center bs-wizard-stepnum">搜尋房型</div>
                <div class="bs-wizard-info text-center">Choose your favorite room</div>
            </div>
            <div class="eb-stepline-step" :class=" step >=2 ? 'completed active' : 'disabled' ">
                <div class="eb-stepline-progress">
                    <div class="eb-stepline-progress-bar"></div>
                </div>
                <div class="eb-stepline-dot"></div>
                <div class="text-center bs-wizard-stepnum">填寫訂單</div>
                <div class="bs-wizard-info text-center">Enter your booking details</div>
            </div>
            <div class="eb-stepline-step" :class=" step >=3 ? 'completed active' : 'disabled' ">
                <div class="eb-stepline-progress">
                    <div class="eb-stepline-progress-bar"></div>
                </div>
                <div class="eb-stepline-dot"></div>
                <div class="text-center bs-wizard-stepnum">結帳付款</div>
                <div class="bs-wizard-info text-center">Use your preferred payment method</div>
            </div>
            <div class="eb-stepline-step" :class=" step >=4 ? 'completed active' : 'disabled' ">
                <div class="eb-stepline-progress">
                    <div class="eb-stepline-progress-bar"></div>
                </div>
                <div class="eb-stepline-dot"></div>
                <div class="text-center bs-wizard-stepnum">訂房完成</div>
                <div class="bs-wizard-info text-center">Booking confirmation</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "process",
        props: {
            step:{
                default: 1,
            }
        },
        watch:{
            step: function(val){
                this.step = val;
            }
        }
    }
</script>

<style scoped>

</style>
