<template>
    <div class="row warp_p">
        <div class="col-md-12 col-sm-12">
            <div id="hotel_booking_rooms_list">
                <div id="hotel_booking_search_results">
                    <div class="room-list-item ">
                        <div class="row flex-row">
                            <div class="col-md-4">
                                <figure>
                                    <a href="rooms-details.html">
                                        <img :src="this.room.room.MainPicture">
                                    </a>
                                </figure>
                            </div>
                            <div class="col-md-5 d-flex flex-column justify-content-between">
                                <div class="room-details">
                                    <h2 class="title"><a href="rooms-details.html">{{this.room.room.Name}}</a></h2>
                                    <p>為自己預約一場沉澱心靈的純粹之旅，每間 24 坪的套房，盡享靜謐舒適空間</p>
                                    <div class="room-services">
                                        <div class="room-service-item" :tooltip="tag.Name" v-for="tag in this.room.Tags">
                                            <img :src="tag.IconSrc">
                                        </div>
                                    </div>
                                </div>
                                <div class="toggle-room-breakpoint room-more-details" :href="'#more-details'+this.room.room.id" data-toggle="collapse">
                                    詳細內容 <img src="https://img.icons8.com/fluent-systems-filled/11/858a99/expand-arrow.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="room-price-details">
                                    <div class="room-price-search">
                                        <div class="room-price">
                                            <div class="">
                                                <span class="price-number"><strong>NT$ {{Price}}</strong></span>
                                                <span class="per-night-text"> 起</span>
<!--                                                <p class="m-0"><span class="old-price">NT$ 4500</span></p>-->
                                            </div>
<!--                                            <small class="d-block">(含10%服務費)</small>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div :id="'more-details'+this.room.room.id" class="collapse" style="padding: 0 20px 20px 20px;">
                            <div class="calendar_availability calendar-first pb-4" id="calendar_first">
                                <div class="availability_rooms_tips d-flex justify-content-end mb-4">
                                    <div class="availability_rooms">尚有空房</div>
                                    <div class="not_availability_rooms">尚無空房</div>
                                </div>
                                <Calendar :In="startDate" :Out="endDate" :Room="this.room.room" @PickedDate="PickedDate"></Calendar>
                            </div>

                            <div class="textframeEditor" v-html="this.room.room.Html" style="font-size: 14px;line-height: 25px;letter-spacing: .025rem;">
                            </div>
                        </div>
                        <div class="DeicountPlanPage font-14">
                            <table class="table mb-0">
                                <thead class="lg-Tab">
                                <tr>
                                    <th class="text-center" scope="col">方案</th>
                                    <th class="text-center" scope="col">說明</th>
                                    <th class="text-center" scope="col">方案價格</th>
                                    <th class="text-center" scope="col"></th>
                                </tr>
                                </thead>
                                <thead class="sm-Tab">
                                <tr>
                                    <th class="text-center" scope="col" colspan="4">選擇方案</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(Promotion,index) in room.Promotions" :key="Promotion.id">
                                        <th class="text-center" scope="row">{{Promotion.Name}}</th>
                                        <td class="">{{Promotion.Note ? Promotion.Note : '-'}}</td>
                                        <td class="">NT$ {{Promotion.Total}}</td>
                                        <td class="text-center">
    <!--                                        <button class="button eb-btn selected w-100"><i class="fas fa-check"></i>已選擇</button>-->
                                                <button class="button eb-btn AddRooms_cart w-100"  type="button" :ref="'btn_'+index" @click="AddShoppingCart(Promotion,index)">新增</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row mt-5">
                                <div class="col-12 col-push-0 col-xs-6 col-xs-push-6 col-sm-4 col-sm-push-4 col-sm-offset-2 col-md-3 col-md-push-3 col-md-offset-3 mb-10">
                                    <router-link :to="{ name: 'Initialise'}" class="button eb-btn w-100" title="">確認訂房</router-link>
                                </div>

                                <div class="col-12 col-pull-0 col-xs-6 col-xs-pull-6 col-sm-4 col-sm-pull-4 col-md-3 col-md-pull-3 mb-10">
                                    <router-link :to="{ name: 'Search'}" class="button back-step-btn w-100" title="">返回</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Calendar from "./Calendar";
    import {SearchingByRoom} from "../../api";
    import {SwalAlertErrorMessage} from "../../../backend/helper";

    export default {
        name: "PromotionPicking",
        props: {
            room: {
                required: true,
            },
            In:{
                required: true,
            },
            Out:{
                required: true,
            },
            Adults:{
                required: true,
            },
            Childrens: {
                required: true,
            },
            Babys: {
                required: true,
            }
        },
        created(){
            if(this.room === undefined || this.In === undefined || this.Out === undefined || this.Adults === undefined || this.Childrens === undefined || this.Babys === undefined)
            {
                this.$router.push({
                    name: 'Search'
                });
            }
            this.$emit('updateStep',1);
        },
        data(){
            return {
                startDate: this.In,
                endDate: this.Out,
            }
        },
        components: {
            Calendar
        },
        computed:{
            Price: function (){
                return Math.min.apply(Math, this.room.Promotions.map(item => item.Total));
            }
        },
        methods: {
            PickedDate: function (Room, startDate, endDate) {
                this.startDate = startDate;
                this.endDate = endDate;

                let form = {
                    Room: Room.id,
                    StartDate: startDate,
                    EndDate: endDate,
                };
                SearchingByRoom(form).then((res) => {
                    this.room.numbers = res.numbers
                    this.room.Promotions = res.Promotions

                    //在日曆選擇後 -> 變更剩餘間數 活動各價格
                    this.$emit('RoomPromotionChange', this.room)
                })
                    .catch(rep => SwalAlertErrorMessage(rep))
            },
            AddShoppingCart(Promotion,index){
                let credential = {
                    startDate: this.startDate,
                    endDate: this.endDate,
                    room: this.room,
                    promotion: Promotion,
                    adults: this.Adults,
                    childrens: this.Childrens,
                    babys: this.Babys,
                }
                this.$store.commit('Add',credential);


                //animate
                this.$refs[`btn_${index}`][0].classList.add('selected');
                this.$refs[`btn_${index}`][0].innerHTML = '<i class="fas fa-check" aria-hidden="true"></i>已新增';
                setTimeout(() => {
                    this.$refs[`btn_${index}`][0].classList.remove('selected');
                    this.$refs[`btn_${index}`][0].innerHTML = '新增';
                }, 1000);

            }
        }
    }
</script>

<style scoped>
</style>
