<template>
    <div class="row warp_p">
            <div class="col-md-3">
                <div class="hbf">
                    <div class="inner search_booing mb-5">
                        <form id="search_form" class="booking-search-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Check in/Check out</label>
                                    <CheckInOut @picked_start_date="getStartDate($event)"
                                                @picked_end_date="getEndDate($event)"
                                                :In="form.StartDate"
                                                :Out="form.EndDate"
                                    ></CheckInOut>
                                </div>

                                <div class="col-md-12">
                                    <label>Guests</label>
                                   　<Guests
                                        @picked_adults="getAdults($event)"
                                        @picked_childrens="getChildrens($event)"
                                        @picked_babys="getBabys($event)"
                                        :propAdults="form.Adults || undefined"
                                        :propChildrens="form.Childrens || undefined"
                                        :propBabys="form.Babys || undefined"
                                    ></Guests>
                                </div>
<!--                                <div class="col-md-12">-->
<!--                                    <button id="eb_search_form" class="button eb-btn" @click="Searching" type="button">-->
<!--                                        <span class="eb-btn-text">快速搜尋</span>-->
<!--                                    </button>-->
<!--                                </div>-->
                            </div>
                        </form>
                    </div>
                    <div class="filter-facility">
                        <h6 class="pb-4 pt-5">房型服務設施</h6>
                        <div class="facility_item_box">
                            <div class="facility d-flex" v-for="(tag,index) in Tags">
                                <input type="checkbox" class="eb_normal_service" v-model="filters" :value="tag">
                                <label class="pl-3 w-100"><img class="pr-1" :src="tag.IconSrc" alt="">
                                    {{tag.Name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="rooms-bar">
                            <span class="rooms-view-sorting">
                                <span class="rooms-sorting">
                                    <a id="hotel_booking_active_sorting" class="dropdown-toggle" data-toggle="dropdown" >排序</a>
                                    <ul id="hotel_booking_search_sorting" class="dropdown-menu" role="menu">
                                        <li class="sorting_option">
                                            <a class="search_sorting" data-meta-key="hotel_booking_mtb_room_price_min" @click="OrderBy = 'asc'">金額低到高</a>
                                        </li>
                                        <li class="sorting_option">
                                            <a class="search_sorting" data-meta-key="hotel_booking_mtb_room_price_min" @click="OrderBy = 'desc'">金額高到低</a>
                                        </li>
                                    </ul>
                                </span>
                            </span>
                </div>

                <div id="hotel_booking_rooms_list">
                    <div id="hotel_booking_search_results">
                        <RoomListItem v-for="(Room,index) in OrderByRooms" :key="Room.room.id" :room="Room" v-show="RoomFilter(Room,filters)"
                        :In="form.StartDate" :Out="form.EndDate" :Adults="form.Adults" :Childrens="form.Childrens" :Babys="form.Babys" @RoomPromotionChange="RoomPromotionChange"
                        ></RoomListItem>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import Main from './Main';
    import CheckInOut from "./CheckInOut";
    import Guests from "./Guests";
    import RoomListItem from "./RoomListItem";

    import {Searching} from "../../api";
    import {SwalAlertErrorMessage} from "../../../backend/helper";
    export default {
        name: "Search",
        components:{
            CheckInOut,
            Main,
            Guests,
            RoomListItem
        },
        data(){
          return {
              form: {
                StartDate: null,
                EndDate: null,
                Adults: 1,
                Childrens: 0,
                Babys: 0
              },
              Rooms: [],
              Tags: [],
              filters: [],
              OrderBy: 'asc'
          }
        },
        computed:{
            OrderByRooms: function(){
                return  _.orderBy(this.Rooms, 'price',this.OrderBy)
            }
        },
        created(){
            this.$emit('updateStep',1);
            this.SetSearchFormRecord();
        },
        methods:{
            getStartDate: function(value){ this.form.StartDate = value },
            getEndDate: function(value){
                this.form.EndDate = value
                this.Searching(this.form)
            },
            getAdults: function(value){
                this.form.Adults = value
                this.Searching(this.form)
            },
            getChildrens: function(value){
                this.form.Childrens = value
                this.Searching(this.form)
            },
            getBabys: function(value){
                this.form.Babys = value
                this.Searching(this.form)
            },
            Searching(form){
                this.Rooms = [];
                this.Tags = [];
                this.filters = [];
                if(!!form.StartDate && !!form.EndDate)
                {
                    Searching(form).then((res)=>{
                        this.Rooms = res.Rooms
                        this.Tags = res.Tags
                        this.filters = res.Tags
                        this.Rooms.forEach(function (room) {
                            room.price = Math.min.apply(Math, room.Promotions.map(item => item.Total));
                        });
                    })
                    .catch(rep=>SwalAlertErrorMessage(rep))

                    //查詢紀錄存進vuex
                    this.$store.commit('SetSearchingForm',form);
                }
            },
            RoomFilter(Room,filters)
            {
                let show = false;
                filters.forEach(filter => {
                    if(Room.Tags.find(item=> item.Name === filter.Name))
                    {
                        show = true
                    }
                });
                return show;
            },
            RoomPromotionChange(room)
            {
                room.price = Math.min.apply(Math, room.Promotions.map(item => item.Total));
            },
            SetSearchFormRecord()
            {
                if(Object.keys(this.$store.getters.SearchingForm).length > 0)
                {
                    let form = this.$store.getters.SearchingForm
                    this.form.StartDate = form.StartDate
                    this.form.EndDate = form.EndDate
                    this.form.Adults = parseInt(form.Adults)
                    this.form.Childrens = parseInt(form.Childrens)
                    this.form.Babys = parseInt(form.Babys)
                    this.Searching(this.form)
                }
            }
        }
    }
</script>

<style scoped>

</style>
