html,
.wrapper {
    overflow-x: hidden
}

.eb-page main {
    background: #fafafa;
    min-height: 60vh;
    border-top: 1px solid #ededed
}

.eb-page main.room-page {
    background: #fff
}

.eb-page input,
.eb-page select,
.eb-page .form-control {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    outline: none;
    box-shadow: none;
    border: 1px solid #e6e9eb;
    color: #858585;
    padding: 8px 15px
}

.eb-page input.empty {
    border-color: red
}

.eb-page input::-webkit-input-placeholder {
    color: #b3b3b3
}

.eb-page input:-moz-placeholder {
    color: #b3b3b3
}

.eb-page input::-moz-placeholder {
    color: #b3b3b3
}

.eb-page input:-ms-input-placeholder {
    color: #b3b3b3
}

.eb-page input[type=checkbox] {
    -webkit-appearance: none;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    padding: 6px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 6px;
    outline: none
}

.eb-page .hotel-booking-booking-form input[type=checkbox] {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #e6e9eb;
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 6px;
    outline: none
}

.eb-page .hotel-booking-booking-form input[type=checkbox].empty {
    border-color: red
}

.eb-page input[type=checkbox]:checked {
    background: #fff;
    border: 1px solid #adb8c0;
    color: #99a1a7
}

.eb-page input[type=checkbox]:checked:after {
    content: '\2714';
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: -2px;
    left: 2px;
    color: #a7d155
}

.eb-page .hotel-booking-booking-form input[type=checkbox]:checked {
    background: var(--main-color);
    border: 1px solid var(--main-color)
}

.eb-page .hotel-booking-booking-form input[type=checkbox]:checked:after {
    content: '\2714';
    font-size: 11px;
    line-height: 18px;
    position: absolute;
    top: -1px;
    left: 4px;
    color: #fff
}

.eb-page input[type=checkbox],
.eb-page input[type=checkbox]:focus,
.eb-page input[type=checkbox]:active,
.eb-page input[type=checkbox]:hover {
    cursor: pointer;
    outline: none
}

.eb-field {
    position: relative
}

.eb-field label {
    position: absolute;
    line-height: 1;
    padding: 5px 8px;
    font-size: 15px;
    font-weight: 400;
    top: 10px;
    left: 12px;
    z-index: 444;
    color: rgba(36, 41, 66, .4);
    border-radius: 4px;
    pointer-events: none;
    transition: 150ms all linear;
    position: absolute;
    pointer-events: none;
    color: #9DA2A6;
    line-height: 18px;
    z-index: 100
}

.eb-field input:focus {
    padding-top: 25px;
    font-size: 15px
}

.eb-field input:focus+label {
    top: 0;
    font-size: 11px;
    font-weight: 700
}

.eb-page .iti {
    width: 100%;
    margin-bottom: 30px;
    color: #a3a3a3
}

.eb-page .iti input {
    padding-left: 100px !important
}

.eb-page .iti__arrow {
    border-top: 4px solid #a3a3a3
}

.eb-page .iti__arrow--up {
    border-top: none;
    border-bottom: 4px solid #a3a3a3
}

.eb-page .iti__country-list {
    padding-left: 0
}

.eb-page .country-select {
    width: 100%
}

.iti--separate-dial-code .iti__selected-flag {
    background: #fff;
    outline: none;
    border-right: 1px solid #e6e9eb;
    padding-right: 10px
}

.btn.eb-btn.btn-border {
    padding: 5px 10px;
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color)
}

.btn.eb-btn.btn-border:hover,
.btn.eb-btn.btn-border:active,
.btn.eb-btn.btn-border:focus,
.btn.eb-btn.btn-border:active:focus {
    padding: 5px 10px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    outline: none;
    box-shadow: none;
    color: #fff
}

.btn.eb-btn {
    background: var(--main-color);
    border-radius: 2px;
    border: 0;
    box-shadow: none;
    outline: none;
    padding: 8px 16px;
    color: #fff;
    text-transform: none;
    cursor: pointer;
    transition: .5s
}

.btn.eb-btn:hover,
.btn.eb-btn:active,
.btn.eb-btn:focus,
.btn.eb-btn:active:focus {
    background: #2c88c0;
    color: #fff;
    border: 0;
    box-shadow: none;
    outline: none
}

.btn.eb-btn i {
    width: 24px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .15);
    text-align: center
}

.btn.eb-btn.btn-transparent,
.btn.eb-btn.btn-transparent:hover,
.btn.eb-btn.btn-transparent:active,
.btn.eb-btn.btn-transparent i {
    background: transparent !important;
    padding-left: 0;
    color: #606060
}

.btn.eb-btn.btn-light {
    margin-top: 50px;
    margin-right: 20px;
    background: #e4e4e4;
    color: #858a99
}

.btn.eb-btn.btn-light:hover,
.btn.eb-btn.btn-light:active,
.btn.eb-btn.btn-light:focus,
.btn.eb-btn.btn-light:active:focus {
    background: #dfdfdf;
    color: #858a99;
    border-color: #dcdcdc
}

.eb-btn.btn-full {
    width: 100%
}

.btn.eb-btn-transparent,
.btn.eb-btn-transparent:hover,
.btn.eb-btn-transparent:active,
.btn.eb-btn-transparent:active:focus {
    background: transparent;
    padding-left: 0;
    color: #606060
}

.btn.eb-btn.btn-right {
    float: right
}

.btn.eb-btn.icon-right i {
    margin-right: 0;
    margin-left: 10px
}

.btn.eb-btn.icon-left i {
    margin-left: 0;
    margin-right: 10px
}

.btn.eb-btn.btn-transparent.icon-right i {
    margin-left: 5px
}

.btn.eb-btn.btn-transparent.icon-left i {
    margin-right: 5px
}

.hotel-booking-booking-form textarea.form-control {
    height: 152px
}

.hotel-booking-booking-form .bootstrap-select.btn-group .dropdown-toggle .caret:before {
    top: -8px;
    right: 0
}

.hotel-booking-booking-form.terms-conditions {
    margin-left: 2px
}

.eb-panel-dropdown {
    position: relative;
    z-index: 999
}

.eb-panel-dropdown .eb-panel-dropdown-inner {
    display: none;
    position: absolute;
    width: 100%;
    padding: 15px;
    margin-top: -1px;
    padding-bottom: 0;
    z-index: 99;
    background: #fff;
    border: 1px solid #efefef;
    color: #858a99;
    box-shadow: 0 12px 26px 0 rgba(178, 178, 178, .13);
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.eb-panel-dropdown .eb-panel-dropdown-inner.active {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px
}

.eb-timepicker .eb-panel-dropdown-toggle {
    margin-bottom: 0;
    line-height: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.eb-timepicker .eb-panel-dropdown-toggle.unset {
    color: #b3b3b3
}

.eb-timepicker .time-slot {
    position: relative;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e6e9eb;
    border-radius: 2px;
    -webkit-transition: .2s;
    transition: .2s;
    cursor: pointer
}

.eb-timepicker .time-slot:hover {
    border-color: #d6d9db;
    transition: .3s
}

.eb-timepicker .time-slot input {
    display: none
}

.eb-timepicker .time-slot label {
    padding: 8px 10px;
    width: 100%;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    font-size: 12px !important;
    z-index: 9
}

.eb-timepicker .time-slot input:checked~label {
    color: #fff
}

.eb-timepicker .time-slot input:checked~label:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--main-color);
    z-index: -1
}

.eb-section {
    margin-bottom: 50px
}

.eb-section:last-child {
    margin-bottom: 0
}

.eb-section .title {
    position: relative;
    font-size: 18px;
    margin-bottom: 25px
}

.checkout-details .title {
    margin-bottom: 30px
}

.checkout-details .checkout-details-services span {
    margin-right: 5px
}

.checkout-payment-tabs {
    margin-top: 50px;
    margin-bottom: 30px
}

.checkout-payment-tabs .title {
    margin-bottom: 30px
}

.checkout-payment-tabs .payment-tabs {
    list-style: none;
    margin-top: 40px;
    padding-left: 0
}

.checkout-payment-tabs .payment-tabs .payment-tab-item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px
}

.checkout-payment-tabs .payment-tabs .payment-tab-item a {
    display: block;
    padding: 15px 30px;
    background: #f1f2f3;
    border: 1px solid #eaeaea;
    border-bottom: 0;
    font-size: 16px;
    color: #858a99;
    font-weight: 600
}

.checkout-payment-tabs .payment-tabs .payment-tab-item a i {
    font-size: 13px;
    margin-right: 8px
}

.checkout-payment-tabs .payment-tabs .payment-tab-item:focus {
    outline: none
}

.checkout-payment-tabs .payment-tabs .payment-tab-item.ui-state-active a {
    background: #fff;
    border-top: 2px solid var(--main-color);
    position: relative
}

.checkout-payment-tabs .payment-tabs .payment-tab-item.ui-state-active a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff
}

.checkout-payment-tabs .payment-tabs-content {
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 40px 30px
}

.checkout-payment-tabs .payment-tabs-content .checkout-mssg {
    padding-bottom: 20px
}

.checkout-payment-tabs .btn {
    text-transform: none
}

.StripeElement {
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 12px 20px
}

#payment-form .form-row {
    width: 80%;
    display: inline-block;
    float: left
}

.btn-stripe {
    width: 18%;
    margin-left: 2%
}

#AcceptUIContainer {
    top: 50% !important;
    position: fixed !important
}

.payment-tabs-content .btn {
    padding: 14px 25px;
    border-radius: 2px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700
}

.thankyou-page .title {
    margin-bottom: 30px
}

.thankyou-page .order-detail-item span {
    font-weight: 600
}

.eb-alert {
    position: relative;
    width: 100%;
    padding: 12px 18px;
    border-radius: 2px;
    background: #f5f5f5;
    border: 1px solid #e6e9eb;
    color: #858a99;
    line-height: 22px;
    overflow: hidden;
    z-index: 99
}

.eb-alert.eb-alert-icon {
    padding-left: 60px
}

.eb-alert.eb-alert-small {
    padding: 8px 20px;
    font-size: 14px
}

.eb-alert.eb-alert-small.eb-alert-icon {
    padding-left: 45px
}

.eb-alert.eb-alert-small i {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    line-height: 25px;
    font-size: 12px
}

.eb-alert.eb-alert-info {
    background: var(--main-color);
    border-color: var(--main-color);
    color: #fff
}

.eb-alert.eb-alert-success {
    background: #c8e8d1;
    border-color: #c8e8d1;
    color: #379950
}

.eb-alert.eb-alert-error {
    background: #e97776;
    border-color: #e97776;
    color: #7a2928
}

.eb-alert.eb-alert-icon:before {
    content: '';
    font-family: FontAwesome;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    background-color: rgba(0, 0, 0, .1)
}

.eb-alert.eb-alert-small.eb-alert-icon:before {
    width: 22px;
    height: 22px;
    left: 22px;
    line-height: 22px;
    font-size: 12px
}

.eb-alert.eb-alert-icon.eb-alert-success:before {
    content: "\f00c"
}

.eb-alert.eb-alert-icon.eb-alert-info:before {
    content: "\f129"
}

.eb-alert.eb-alert-icon.eb-alert-error:before {
    content: "\f071"
}

.eb-alert.eb-alert-error a {
    color: #fff;
    font-style: italic
}

.eb-alert.eb-alert-success a {
    color: #30573a
}

.eb-alert.eb-alert-error a:hover {
    text-decoration: underline
}

.eb-alert.eb-alert-success i {
    background: #aad2b5
}

.eb-alert.eb-alert-error i {
    background: #c65655
}

.eb-widget {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 1px
}

.eb-widget.eb-widget-border {
    border: 1px solid #ebebeb;
    padding: 15px
}

.eb-widget:last-child {
    border-bottom: none
}

.eb-widget.eb-widget-border:last-child {
    border-bottom: 1px solid #ebebeb
}

.eb-widget .title {
    position: relative;
    font-size: 18px
}

.eb-widget .inner {
    padding-top: 20px
}

.eb-widget.no-title .inner {
    padding-top: 0
}

.eb-widget label {
    margin-bottom: 5px;
    font-size: 13px
}

.eb-widget .form-control {
    height: 45px;
    margin-bottom: 10px
}

.eb-widget .eb-guestspicker .guestspicker {
    background: #fff;
    margin-bottom: 0
}

.eb-widget .service {
    margin-bottom: 2px
}

.eb-widget .service label {
    margin-bottom: 0;
    font-size: 13px
}

.eb-widget .service input:hover,
.eb-widget .service label:hover {
    cursor: pointer
}

.eb-checkout-form .additional-service-item {
    position: relative;
    background: #fff;
    border: 1px solid #e6e9eb;
    padding: 12px 15px;
    border-radius: 2px;
    -webkit-transition: .2s;
    transition: .2s;
    cursor: pointer;
    z-index: 9
}

.eb-checkout-form .additional-service-item:hover,
.eb-checkout-form .additional-service-item.selected {
    border-color: #d6d9db;
    transition: .3s
}

.eb-checkout-form .additional-service-item span {
    flex: 1 0 25%
}

.eb-checkout-form .additional-service-item span:nth-child(2) {
    flex: 30%
}

.eb-checkout-form .additional-service-item span.toggle-service-full-details {
    font-style: italic;
    float: right
}

.eb-checkout-form .additional-service-item span.toggle-service-full-details:hover {
    text-decoration: underline
}

.eb-checkout-form .additional-service-item span:last-child {
    text-align: right
}

.eb-checkout-form .additional-service-item input {
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 14px
}

.eb-checkout-form .additional-service-item input[type=checkbox] {
    padding: 8px;
    border-radius: 50%;
    z-index: -1
}

.eb-checkout-form .additional-service-item input[type=checkbox]:checked {
    background: none;
    border-color: var(--main-color)
}

.eb-checkout-form .additional-service-item input[type=checkbox]:checked:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--main-color);
    border-radius: 50%;
    left: 0;
    top: 0
}

.additional-service-item .additional-service-details {
    padding-left: 35px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.additional-service-item .additional-service-full-details {
    display: none;
    font-size: 14px;
    padding-top: 20px;
    line-height: 22px
}

.additional-service-item.open .additional-service-full-details {
    display: block
}

.eb-checkout-form .hotel-booking-booking-form label {
    font-size: 14px
}

.eb-btn-loader {
    display: block;
    width: 100%;
    height: 25px;
    text-align: center;
    pointer-events: none
}

.eb-btn-loader .spinner {
    background: #fff;
    height: 100%;
    width: 3px;
    margin-left: 3px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.eb-btn-loader .spinner2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.eb-btn-loader .spinner3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.eb-btn-loader .spinner4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.eb-btn-loader .spinner5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    to {
        -webkit-transform: scaleY(.4)
    }
    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    to {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4)
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}

.eb-widget .additional-service-price {
    float: right;
    font-weight: 800
}

.additional-services {
    margin-top: 20px
}

.additional-service-item {
    margin-bottom: 10px
}

.additional-service-item:last-child {
    margin-bottom: 0
}

.additional-service-item label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0
}

.additional-service-item label:hover {
    cursor: pointer
}

.additional-service-item i:before {
    margin-left: 5px;
    font-size: 13px
}

.additional-service-item i:hover {
    cursor: help
}

.eb-stepline {
    padding: 100px 0 35px 0;
    position: relative;
    border-bottom: 1px solid #ededed
}

.eb-stepline:before {
    content: '';
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    bottom: -1px;
    top: 0;
    border-bottom: 1px solid #ededed
}

.eb-stepline:after {
    content: '';
    position: absolute;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: -1px;
    top: 0;
    border-bottom: 1px solid #ededed
}

.eb-stepline .eb-stepline-steps {
    position: relative;
    display: flex
}

.eb-stepline .eb-stepline-steps .eb-stepline-step {
    width: 25%;
    position: relative
}

.eb-stepline .eb-stepline-steps .eb-stepline-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-top: 20px
}

.eb-stepline .eb-stepline-steps .eb-stepline-step .bs-wizard-info {
    color: #999;
    font-size: 14px
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.disabled .bs-wizard-stepnum,
.eb-stepline .eb-stepline-steps .eb-stepline-step.disabled .bs-wizard-info {
    opacity: .5
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.disabled .bs-wizard-stepnum.thisStep,
.eb-stepline .eb-stepline-steps .eb-stepline-step.disabled .bs-wizard-info.thisStep {
    opacity: 1;
}

.eb-stepline .eb-stepline-steps .eb-stepline-step .eb-stepline-dot {
    position: absolute;
    width: 32px;
    height: 32px;
    display: block;
    background: #DEB667;
    top: 45px;
    left: 50%;
    margin-top: -45px;
    margin-left: -15px;
    border-radius: 50%
}

.eb-stepline .eb-stepline-steps .eb-stepline-step .eb-stepline-dot:after {
    content: ' 1 ';
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #FFF;
    border-radius: 50px;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
}

.eb-stepline .eb-stepline-steps .eb-stepline-step:nth-child(2) .eb-stepline-dot:after {
    content: ' 2 ';
}

.eb-stepline .eb-stepline-steps .eb-stepline-step:nth-child(3) .eb-stepline-dot:after {
    content: ' 3 ';
}

.eb-stepline .eb-stepline-steps .eb-stepline-step:nth-child(4) .eb-stepline-dot:after {
    content: ' 4 ';
}

.eb-stepline .eb-stepline-steps .eb-stepline-step .eb-stepline-progress {
    background: #e4e4e4;
    border-radius: 0;
    height: 4px;
    box-shadow: none;
    margin: 12px 0;
    overflow: visible
}

.eb-stepline .eb-stepline-steps .eb-stepline-step .eb-stepline-progress.thisStep{
    background : #DEB667;
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.completed .eb-stepline-progress {
    background: #DEB667;
    width: 100%
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.completed .eb-stepline-progress .eb-stepline-progress-bar {
    background: #DEB667;
    height: 100%;
    width: 100%
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.active .eb-stepline-progress .eb-stepline-progress-bar {
    width: 50%
}

.eb-stepline .eb-stepline-steps .eb-stepline-step:first-child .eb-stepline-progress .eb-stepline-progress-bar:before {
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right,rgb(245 243 240) 0%,rgb(222,182,102) 100%);
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.completed:last-child .eb-stepline-progress .eb-stepline-progress-bar:before {
    content: '';
    position: absolute;
    left: 0;
    /*background: #c0bdbd;*/
    background: rgb(222,182,102);
    width: 100%;
    height: 4px
}


.eb-stepline .eb-stepline-steps .eb-stepline-step:last-child .eb-stepline-progress .eb-stepline-progress-bar:after {
    content: '';
    position: absolute;
    background: linear-gradient(to right, rgb(228, 228, 228) 0%, rgb(241, 241, 241) 100%);
    right: -100%;
    width: 100%;
    height: 4px;
    z-index: 99;
    margin-right: 1px
}

.eb-stepline .eb-stepline-steps .eb-stepline-step:last-child .eb-stepline-progress.thisStep .eb-stepline-progress-bar:after{
    background: linear-gradient(to right,rgb(222,182,102) 0%,rgb(245 243 240) 100%);
}


.eb-stepline .eb-stepline-steps .eb-stepline-step.completed:last-child .eb-stepline-progress .eb-stepline-progress-bar:after {
    content: '';
    position: absolute;
    /*background: linear-gradient(to right, rgb(192, 189, 189) 0%, rgb(241, 241, 241) 100%);*/
    background: rgb(222,182,102);
    right: -100%;
    width: 100%;
    height: 4px;
    z-index: 99;
    margin-right: 1px
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.disabled .eb-stepline-dot {
    background: #e4e4e4;
    pointer-events: none
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.disabled .eb-stepline-dot.thisStep{
    background: #DEB667
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.disabled .eb-stepline-dot:after {
    background: #ededed
}

.eb-stepline .eb-stepline-steps .eb-stepline-step.disabled .eb-stepline-dot.thisStep:after{
    background: #FFF;
}

.booking-info {
    background: #fff;
    border: 1px solid #e6e9eb;
    padding: 15px
}

.eb-widget .booking-details-item {
    display: -webkit-box;
    display: flex;
    padding: 6px 0;
    border-bottom: 1px dashed #e6e9eb;
    font-size: 13px;
    font-weight: 500
}

.eb-widget .booking-details-item.eb-booking-details-item-total-price {
    border-bottom: none;
    border-top: 1px dashed #e6e9eb;
    font-size: 15px;
    padding: 8px 0;
    margin-top: 1px
}

.eb-widget .booking-details-item .value {
    margin-left: auto
}

.eb-widget .btn,
.eb-widget button {
    width: 100%
}

.hotel-booking-booking-form label {
    font-size: 15px;
    margin-bottom: 5px
}

.gdpr label {
    cursor: pointer;
    display: inline-block
}

.eb-checkout-form .eb-btn {
    padding: 12px 10px
}

.eb-tabs .eb-tab {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px
}

.eb-tabs .eb-tab:hover {
    cursor: pointer
}

.eb-tabs .eb-tab .tab-radio {
    display: none
}

.eb-tabs .eb-tab label {
    padding-left: 0;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 0;
    cursor: pointer;
    letter-spacing: .5px
}

.eb-tabs .eb-tab.active label,
.eb-tabs .eb-tab:hover label {
    color: #606060
}

.eb-tabs .eb-tab label:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--main-color);
    transition: ease-in all .15s
}

.eb-tabs .eb-tab.active label:after {
    width: 100%;
    margin-left: -50%
}

.eb-widget.scroll .inner {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 230px
}

.scroll ::-webkit-scrollbar {
    width: 6px
}

.scroll ::-webkit-scrollbar-track {
    background: #fafafa
}

.scroll ::-webkit-scrollbar-thumb {
    background: #ebebeb;
    border-radius: 10px
}

.scroll:hover ::-webkit-scrollbar-thumb {
    background: #ccc
}

.vbf-vat {
    font-size: 12px;
    line-height: 14px;
    text-align: center
}

.selected-room {
    position: relative;
    max-height: 150px;
    overflow: hidden
}

.selected-room img {
    max-width: 100%
}

.selected-room span {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 4px 10px;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    line-height: 18px;
    background: var(--main-color)
}

.flex-row.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-row.row:after,
.flex-row.row:before {
    display: none
}

.rooms-bar .rooms-view {
    float: left;
    margin-right: 20px
}

.rooms-bar .grid-btn {
    margin-left: 10px;
    color: #b3b3b3;
    font-size: 14px
}

.rooms-bar .grid-btn:hover {
    color: #888
}

.rooms-bar .grid-btn.active {
    color: #888
}

.rooms-bar .rooms-sorting {
    position: relative;
    border: 1px solid #eaeaea;
    background: #fff;
    display: block;
    min-width: 180px;
    cursor: pointer;
}

.rooms-bar .rooms-sorting .dropdown-toggle {
    color: #858a99;
    font-size: 14px;
    padding: 8px 10px;
    display: block
}

.rooms-bar .rooms-sorting .dropdown-toggle:after {
    display: none
}

.rooms-bar .rooms-sorting:after {
    content: url(https://img.icons8.com/fluent-systems-filled/11/858a99/expand-arrow.png);
    position: absolute;
    right: 10px;
    padding-left: 5px;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.rooms-bar .rooms-sorting .dropdown-menu {
    min-width: 180px;
    left: -1px;
    padding: 0;
    border-radius: 0;
    border: 1px solid #ebebeb;
    box-shadow: 0 6px 13px 0 rgba(178, 178, 178, .13)
}

.rooms-bar .rooms-sorting .dropdown-menu li {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0
}

.rooms-bar .rooms-sorting .dropdown-menu li:last-child {
    border-bottom: none
}

.rooms-bar .rooms-sorting .dropdown-menu li a {
    color: #858a99;
    padding: 9px 10px;
    font-size: 13px;
    cursor: pointer
}

.rooms-bar .rooms-sorting i {
    margin-left: 5px;
    margin-right: 7px
}

.rooms-bar {
    width: 100%;
    margin-bottom: 50px;
    margin-top: -10px;
    border-radius: 1px
}

.rooms-bar .rooms-view-sorting {
    float: right
}

.room-list-item {
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 1px;
    position: relative
}

.room-list-item.featured-room:before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    border-top: 30px solid #edcb9a;
    border-left: 30px solid transparent;
    top: -1px;
    right: -1px;
    z-index: 9
}

.room-list-item.featured-room:after {
    content: "\f005";
    position: absolute;
    color: #fff;
    font-family: Fontawesome;
    top: 4px;
    right: 2px;
    font-size: 11px;
    line-height: 11px;
    z-index: 99
}

.room-list-item figure {
    position: relative
}

.room-list-item img {
    width: 100%
}

.room-list-item img {
    width: 100%;
    display: block;
    transform: scale(1.01)
}

.room-list-item .room-details {
    padding: 12px 0;
    margin: 0 -5px
}

.room-list-item.sidebar-none .room-details {
    padding: 30px 0
}

.room-list-item.sidebar-none .room-details .title a {
    font-size: 28px
}

.room-list-item .room-details p {
    font-size: 13px;
    line-height: 24px;
    margin: 10px 0
}

.room-list-item .room-services {
    margin-top: 20px
}

.room-list-item .room-services:after {
    content: '';
    display: block;
    clear: both
}

.room-list-item.sidebar-none .room-services {
    margin-top: 40px
}

.room-list-item .room-services .room-service-item {
    display: inline-block;
    padding: 5px 12px;
    /* border: 1px dashed #dedede;
    margin: 5px; */
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle
}

.room-list-item .room-services .room-service-item i {
    font-size: 14px;
    display: block
}

.room-list-item .room-services .room-service-item img {
    max-height: 22px;
    width: auto;
    display: block;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none
}

.room-list-item .room-services .room-service-item:hover {
    background: #f5f3f0;
    color: #858a99
}

.room-list-item.sidebar-none .room-price .price-number {
    font-size: 24px
}

.room-list-item.sidebar-none .room-price .text-before-price {
    font-size: 24px
}

.room-list-item .room-price-search .eb-btn {
    padding: 4px 10px;
    width: 100%
}

.room-list-item.room-list-item-archive .btn {
    width: auto;
    margin: 0 auto;
    background: #fff;
    border-style: solid;
    border-color: #fff;
    border-width: 0;
    color: var(--main-color);
    padding: 4px 12px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 800
}

.room-list-item.room-list-item-archive .btn:hover {
    background: var(--main-hov-color);
    border-color: var(--main-hov-color);
    color: #fff
}

.room-list-item.room-list-item-archive .btn i {
    right: 14px;
    margin-top: -2px;
    vertical-align: middle;
    border-radius: 50%;
    line-height: 20px;
    height: 20px;
    width: 20px;
    background: var(--main-color);
    margin-left: 8px;
    margin-right: 0;
    color: #fff;
    font-size: 6px;
    text-align: center
}

.room-list-item.room-list-item-archive .btn:hover i {
    background: #fff;
    color: var(--main-color)
}

.room-list-item .room-price-search .btn .booking-text {
    display: block;
    -webkit-animation: ebfadeIn .5s;
    animation: ebfadeIn .5s
}

.room-list-item .room-price-search .btn .total-price-text {
    display: none
}

.room-list-item .room-price-search .btn:hover .booking-text {
    display: none;
    -webkit-animation: ebfadeIn .5s;
    animation: ebfadeIn .5s
}

.room-list-item .room-price-search .btn:hover .total-price-text {
    display: block;
    -webkit-animation: ebfadeIn .5s;
    animation: ebfadeIn .5s
}

.room-list-item .room-details .title a {
    font-size: 20px
}

.room-list-item .room-price-search .seasonal-pricing {
    display: block;
    margin: 0;
    font-size: 13px;
    color: #d52925
}

.room-list-item .price-details {
    font-size: 12px;
    cursor: pointer
}

.room-list-item .room-price-details {
    position: relative;
    height: 100%;
    border-left: 1px solid #ededed
}

.room-list-item .room-price-search {
    /* position: absolute;  */
    left: 0;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding: 22px 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* -webkit-box-pack: center; */
    /* justify-content: center; */
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    flex-direction: column;
    /* border-bottom: 1px solid #ededed; */
}

.room-list-item .room-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.room-list-item .price-number {
    font-size: 20px;
    color: #606060;
    font-weight: 600
}

.room-list-item .old-price {
    text-decoration: line-through;
    font-size: 14px;
}

.room-list-item .text-before-price {
    font-size: 20px;
}

.room-list-item .per-night-text {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.room-list-item .select-booking-dates-notice {
    font-size: 12px;
    background: #f1f2f3;
    border-radius: 2px;
    line-height: 24px;
    cursor: pointer
}

.room-list-item .min-booking-nights-notice {
    padding: 3px 5px;
    font-size: 12px;
    background: #fdf3e5;
    border-radius: 2px;
    line-height: 18px
}

.room-list-item .not-available-notice {
    font-size: 12px;
    background: #fbe8e8;
    border-radius: 2px;
    line-height: 24px
}

.eb-archive-rooms .room-list-item .per-night-text {
    display: block;
    text-transform: uppercase;
    margin-bottom: 25px
}

.bannerTitleBox .room-price {
    float: right;
    color: #fff
}

.bannerTitleBox .price-number {
    margin-top: 6px;
    font-size: 38px
}

.bannerTitleBox .text-before-price,
.bannerTitleBox .per-night-text {
    text-transform: uppercase
}

.room-page .content ul {
    margin: 30px 0 30px 30px
}

.room-page .content ul li {
    font-size: 15px;
    line-height: 26px;
    list-style: outside none none;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative
}

.room-page .content ul li::before {
    position: absolute;
    background: #e3e3e3;
    border-radius: 100%;
    content: "";
    height: 7px;
    width: 7px;
    left: 0;
    top: 12px
}

.room-page .section-title {
    margin: 40px 0;
    font-size: 22px;
    font-weight: 800
}

@page {
    size: auto;
    margin: 0mm
}

.price-breakdown-item {
    font-size: 12px;
    background: #e9f0fa;
    border-radius: 2px;
    line-height: 24px;
    padding: 10px 15px;
    width: 100%;
    display: block
}

.price-breakdown-item i {
    margin-right: 5px;
    font-size: 12px
}

.room-page .room-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.daterangepicker {
    color: gray
}

.hotel-booking-datepicker.form-control {
    display: block;
    cursor: pointer
}

.hotel-booking-datepicker.form-control[readonly] {
    background: #fff
}

.daterangepicker.dropdown-menu {
    margin-top: 0;
    padding: 10px;
    border: 1px solid #efefef;
    box-shadow: 0 12px 26px 0 rgba(178, 178, 178, .13);
    background: var(--main-color);
    border-radius: 2px;
    border-radius: 5px;
}

.daterangepicker:before {
    border-bottom: 7px solid var(--main-color);
    z-index: 9
}

.daterangepicker .calendar .calendar-title {
    margin: 5px 0;
    color: #b5bec4;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase
}

.daterangepicker .calendar td {
    line-height: 17px;
    border: 0;
    font-size: 12px;
}

.daterangepicker .calendar td.in-range {
    background: rgba(222, 182, 102, .5);
    color: #fff
}

.daterangepicker .calendar td.wrong-month {
    visibility: hidden
}

.daterangepicker .calendar td.start-date,
.daterangepicker .calendar td.active,
.daterangepicker .calendar td.active:hover {
    background: var(--main-color);
    position: relative;
    color: #fff
}

.daterangepicker td.start-date.end-date {
    border-radius: 0
}

.daterangepicker .calendar td.end-date {
    background: var(--main-color);
    color: #fff
}

.daterangepicker .calendar td.disabled,
.daterangepicker .calendar option.disabled {
    color: #ccc;
    text-decoration: none
}

.daterangepicker .calendar th {
    font-weight: 600;
    line-height: 30px
}


.daterangepicker_input {
    display: none
}

.daterangepicker label {
    color: #999;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase
}

.daterangepicker label a {
    margin-left: 5px;
    color: #999
}

.availability-calendar {
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    color: gray
}

.availability-calendar a {
    text-decoration: none;
    color: inherit
}

.availability-calendar .availability-calendar-header .btn-prev,
.availability-calendar .availability-calendar-header .btn-next {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 4px;
    line-height: 40px;
    text-align: center
}

.availability-calendar .availability-calendar-header .btn-prev:hover,
.availability-calendar .availability-calendar-header .btn-next:hover {
    background: #eee;
    color: #999;
    cursor: pointer
}

.availability-calendar .availability-calendar-header .btn-prev {
    float: left
}

.availability-calendar .availability-calendar-header .btn-next {
    float: right
}

.availability-calendar .availability-calendar-header .month {
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    line-height: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.availability-calendar table.calendar {
    width: 100%;
    margin: 10px 0;
    border-spacing: 0;
    border: 0
}

.availability-calendar thead .day-name {
    padding: 2px;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700
}

.availability-calendar tr {
    border: none
}

.availability-calendar .calendar tr {
    border: 0
}

.availability-calendar .calendar tr td {
    padding: 1px;
    text-align: left
}

.availability-calendar .day {
    position: relative;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    background: #bee5ff;
    color: #587f99;
    background: repeating-linear-gradient(-45deg, #bee5ff, rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(235, 235, 235) 4px);
    width: 100%;
    padding: 2px;
    font-weight: 700
}

.availability-calendar .day.event {
    background: #ffd2da;
    color: #fd7285;
    background: repeating-linear-gradient(-45deg, #ffd2da, rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(235, 235, 235) 4px)
}

.availability-calendar .day.today {
    background: repeating-linear-gradient(-45deg, #bee5ff, rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(160, 160, 160, 1) 4px)
}

.availability-calendar .day.event.today {
    background: repeating-linear-gradient(-45deg, #ffd2da, rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgba(160, 160, 160, 1) 4px)
}

.availability-calendar .day.wrong-day {
    background: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(235, 235, 235) 4px);
    color: #858a99
}

.availability-calendar .day.wrong-month {
    visibility: hidden
}

.availability-calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #545A5C
}

.availability-calendar .day .room-price {
    position: relative;
    top: -5px;
    margin-left: 10px;
    font-size: 10px
}

.availability-calendar .filler {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #545A5C;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.availability-calendar-list-availability {
    padding-left: 0 !important;
    margin-top: 15px
}

.availability-calendar-list-availability li {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    margin-bottom: 0 !important
}

.availability-calendar-list-availability li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px
}

.availability-calendar-list-availability li span.not-available {
    background: #ffd2da
}

.availability-calendar-list-availability li span.available {
    background: #bee5ff
}

.irs--round .irs-handle {
    width: 18px;
    height: 18px;
    top: 28px;
    border: 4px solid var(--main-color)
}

.irs--round .irs-bar {
    background: var(--main-color)
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
    font-size: 11px;
    background: var(--main-color)
}

.irs--round .irs-min,
.irs--round .irs-max {
    font-size: 12px
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
    border-top-color: var(--main-color)
}

.irs--round .irs-min,
.irs--round .irs-max {
    color: #858a99
}

.irs--round .irs-grid-text {
    font-size: 12px
}

.wrapper-cell {
    width: 100%;
    display: -webkit-box;
    display: flex;
    margin-bottom: 30px;
    background: #fff;
    border: 1px solid #ebebeb
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -868px 0
    }
    100% {
        background-position: 468px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background,
.image-line,
.text-line,
.service-line,
.button-line,
.price-line,
.night-line {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #F6F6F6), color-stop(18%, #F0F0F0), color-stop(33%, #F6F6F6));
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative
}

.image-line {
    height: 178px;
    width: 31%
}

.text-cell {
    width: 46%;
    padding: 0 30px
}

.price-cell {
    width: 23%;
    padding: 30px 20px;
    border-left: 1px dashed #ebebeb
}

.text-line {
    height: 10px;
    width: 100%;
    margin: 10px 0
}

.text-line:nth-of-type(4) {
    width: 70%
}

.title-line {
    height: 20px;
    margin-bottom: 20px
}

.service-line {
    display: inline-block;
    width: 42px;
    height: 25px;
    margin-right: 10px;
    margin-top: 20px
}

.service-line:last-child {
    margin-right: 0
}

.price-line {
    width: 50%;
    height: 15px;
    margin: 0 auto;
    margin-bottom: 10px
}

.night-line {
    height: 5px;
    width: 30%;
    margin: 0 auto
}

.button-line {
    margin-top: 40px;
    height: 37px
}

.text-line:last-child {
    width: 70%
}

.booking-nights {
    display: block;
    clear: both;
    text-align: center;
    padding-top: 10px;
    border-top: 1px dashed #ebebeb;
    color: #FFF;
    padding-left: 30px;
}

.booking-nights:before {
    content: url(https://img.icons8.com/ios/20/ffffff/calendar.png);
    position: absolute;
    transform: translateX(-30px);
}

.eb-guestspicker {
    position: relative
}

.guestspicker.form-control {
    line-height: 28px;
    cursor: pointer
}

.eb-guestspicker .eb-guestspicker-content {
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    border: 1px solid #efefef;
    color: #858a99;
    box-shadow: 0 12px 26px 0 rgba(178, 178, 178, .13);
    background:var(--main-color);
    border-radius: 5px;
    z-index: 99;
    display: none
}

.eb-guestspicker.active .eb-guestspicker-content {
    visibility: visible;
    opacity: 1;
    display: block;

}

.eb-guestspicker .eb-guestspicker-content:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid var(--main-color);
    position: absolute;
    display: inline-block;
    content: ''
}

.eb-guestspicker .guests-buttons {
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #FFF;
    padding: 10px;
    margin: 0;
    border-bottom: 1px dashed #ebebeb;
}

.eb-guestspicker .guests-buttons:last-child {
    margin-bottom: 0
}

.eb-guestspicker-content .qtyButtons:first-child {
    margin-top: 8px
}

.eb-guestspicker-content .qtyButtons:last-child {
    margin-bottom: 3px
}

.eb-guestspicker .guests-button {
    margin-left: auto
}

.eb-guestspicker .guests-button input {
    outline: 0;
    font-size: 15px;
    text-align: center;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
    pointer-events: none;
    display: inline-block
}

.eb-guestspicker .description label {
    display: block;
    margin-bottom: 0
}

.eb-guestspicker .ages {
    font-size: 12px;
    line-height: 12px
}

.eb-guestspicker .plus,
.eb-guestspicker .minus {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    font-size: 10px;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-family: fontawesome
}

.eb-guestspicker .plus:hover,
.eb-guestspicker .minus:hover {
    background: #efefef
}

.eb-guestspicker .plus:active,
.eb-guestspicker .minus:active {
    box-shadow: rgb(255, 255, 255) 0 0 0 4px, rgb(194, 194, 194) 0 0 0 5px, rgba(255, 255, 255, .5) 0 0 0 6px !important;
    -webkit-transition: box-shadow 0.2s ease 0s;
    transition: box-shadow 0.2s ease 0s
}

.eb-guestspicker .plus:before {
    content: "\f067"
}

.eb-guestspicker .minus:before {
    content: "\f068"
}

.room-services-list {
    margin-top: 80px;
    margin-bottom: 40px
}

.room-services-list .room-services-item {
    padding: 5px 12px;
    border: 1px dashed #dedede;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 2px
}

.room-services-list .room-services-item i,
.room-services-list .room-services-item img {
    margin-right: 8px
}

.room-services-list .room-services-item img {
    display: inline-block;
    max-height: 14px;
    width: auto;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.room-services-list.no .room-services-item {
    color: #F1572F
}

.room-services-list-page {
    margin-top: 0;
    margin-bottom: 0
}

.room-services-list-page .room-services-item {
    margin-bottom: 20px;
    padding: 20px 20px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 2px
}

.room-services-list-page .room-services-item i,
.room-services-list-page .room-services-item img {
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    font-size: 18px
}

.room-services-list-page .room-services-item img {
    max-height: 18px
}

.room-services-list.no .room-services-item {
    color: #F1572F
}

.room-more-details {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #ededed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.room-more-details.open {
    background: #fff
}

.room-more-details.open:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 10px;
    background: #fff
}

.room-more-details i {
    margin-left: 5px
}

.room-more-details:hover {
    color: #606060;
    cursor: pointer
}

.room-quick-details {
    display: none;
    padding: 20px;
    border-top: 1px solid #ededed
}

.room-quick-details.open {
    display: block;
    background: #fff
}

.room-quick-details .room-services-list {
    margin: 40px 0
}

.room-quick-details .room-services-list:last-child {
    margin-bottom: 0
}

.room-quick-details .room-services-list .room-services-item {
    padding: 3px 10px
}

.room-slider .main-image {
    padding: 4px;
    border: 1px solid #eaeaea;
    border-radius: 2px
}

.room-slider .main-image.owl-carousel .item {
    display: none
}

.room-slider .main-image.owl-carousel .item:first-of-type {
    display: block
}

.room-slider .main-image.owl-carousel.owl-loaded .item {
    display: block
}

.room-slider .main-image .owl-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    top: 45%;
    z-index: 99;
    opacity: .5;
    transition: .5s
}

.room-slider .main-image:hover .owl-nav {
    opacity: 1
}

.room-page .room-slider .main-image .owl-nav .owl-prev,
.room-page .room-slider .main-image .owl-nav .owl-next {
    position: relative;
    background: #fff;
    padding: 20px 15px !important;
    border-radius: 2px;
    font-size: 18px
}

.room-page .room-slider .main-image .owl-nav .owl-prev {
    float: left;
    left: 20px
}

.room-page .room-slider .main-image .owl-nav .owl-next {
    float: right;
    right: 20px
}

.room-slider .thumbnails.owl-carousel .item {
    display: none
}

.room-slider .thumbnails.owl-carousel.owl-loaded .item {
    display: block
}

.room-slider .thumbnails {
    margin-top: 15px
}

.room-slider .thumbnails .owl-item .item {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 1px solid #eaeaea;
    padding: 2px;
    margin: 2px;
    border-radius: 1px;
    -webkit-transition: .5s;
    transition: .5s
}

.room-slider .thumbnails .owl-item .item:hover,
.room-slider .thumbnails .owl-item.active-item .item {
    border-color: #cecece
}

.room-page figure img {
    width: auto !important;
    max-width: 100%;
    border-radius: 2px
}

.single-place {
    padding-top: 0;
    padding-bottom: 100px
}

.place-details .place-image {
    position: relative
}

.place-details .place-image img {
    width: 100%;
    height: auto
}

.place-details .place-title {
    padding: 50px;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .6)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(255, 255, 255, 0))
}

.place-details .details {
    padding-top: 30px
}

.place-details .place-title .title {
    font-size: 38px;
    color: #fff
}

@-webkit-keyframes ebfadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes ebfadeIn {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes ebfadeOut {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes ebfadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.eb-user-dashboard,
.eb-user-dashboard a {
    color: #606060
}

.eb-user-dashboard a:hover,
.eb-user-dashboard a:active,
.eb-user-dashboard a:focus {
    color: #303030
}

.eb-user-dashboard .no-bookings {
    padding: 100px 0;
    text-align: center
}

.eb-user-dashboard .no-bookings a {
    color: var(--main-color);
    display: block;
    font-style: italic;
    padding-top: 15px
}

.eb-user-dashboard .no-bookings i {
    display: block;
    font-size: 34px;
    margin-bottom: 20px;
    color: #d6d9db
}

.eb-user-dashboard .login-page .title {
    text-align: center
}

.eb-user-dashboard .login-form {
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #e6e9eb;
    border-radius: 2px;
    width: 400px
}

.eb-user-dashboard .login-form .status {
    display: block;
    padding: 2px 5px;
    border-radius: 2px;
    background: #000;
    color: #fff
}

.eb-user-dashboard .login-form .login-form-footer a {
    font-size: 14px;
    color: #858a99;
    display: inline-block;
    margin-top: 20px
}

.eb-user-dashboard .login-form .login-form-footer a+a {
    float: right
}

.eb-user-dashboard .login-form .status .status-success {
    background: #c8e8d1;
    color: #fff
}

.eb-user-dashboard .login-form .status .status-error {
    background: #d82222;
    color: #fff
}

.eb-user-dashboard label {
    display: block;
    margin-bottom: 5px
}

.eb-user-dashboard .login-form label {
    display: inline-block;
    margin-bottom: 0
}

label .required {
    color: red
}

.eb-account-menu {
    background: #fff;
    ;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .07);
    border-radius: 50px
}

.eb-account-menu ul {
    text-align: center;
    list-style: none;
    padding-left: 0 !important
}

.eb-account-menu ul li {
    display: inline-block;
    margin-bottom: 0 !important
}

.eb-account-menu ul li.active {
    border-bottom: 1px solid var(--main-color)
}

.eb-account-menu ul li a {
    display: block;
    padding: 20px 40px;
    font-size: 14px;
    color: #606060;
    font-weight: 700
}

.eb-account-menu .user-avatar img {
    border-radius: 50%
}

.mlduo-stat-box {
    background: var(--main-color);
    height: 120px;
    border-radius: 2px;
    padding: 30px;
    margin-bottom: 20px;
    overflow: hidden
}

.mlduo-stat-box h2,
.mlduo-stat-box p {
    color: #fff;
    margin: 0;
    font-weight: 400
}

.mlduo-stat-box i {
    position: absolute;
    top: 34px;
    right: 44px;
    font-size: 50px;
    color: rgba(0, 0, 0, .15)
}

.eb-user-dashboard .eb-user-bookings-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    border: 0;
    font-size: 14px;
    line-height: 22px
}

.eb-user-dashboard .eb-user-bookings-table tr {
    background: #fff
}

.eb-user-dashboard .eb-user-bookings-table tr th {
    background: #f2f2f2;
    padding: 10px 12px
}

.eb-user-dashboard .eb-user-bookings-table tr td {
    padding: 18px 15px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2
}

.eb-user-dashboard .eb-user-bookings-table tr td:first-child {
    border-left: 1px solid #f2f2f2
}

.eb-user-dashboard .eb-user-bookings-table tr td:last-child {
    border-right: 1px solid #f2f2f2
}

.eb-user-dashboard .eb-user-bookings-table tr td img {
    border-radius: 50%
}

.eb-user-dashboard .eb-booking-status.eb-pending-payment {
    color: #bd9b57
}

.eb-user-dashboard .eb-booking-status.eb-completed {
    color: #50b64a
}

.eb-user-dashboard .eb-booking-status.eb-pending {
    color: #90302f
}

.eb-user-dashboard .eb-booking-status.eb-canceled {
    color: #f5f5f5
}

.eb-user-dashboard .view-booking-link {
    color: var(--main-color)
}

.eb-main-booking-details {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 13px
}

.eb-main-booking-details-head {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 30px
}

.eb-main-booking-details-head span {
    display: block;
    line-height: 22px;
    font-weight: 700
}

.eb-main-booking-details-head span+span {
    color: #333;
    font-weight: 400
}

.eb-suborder-item {
    padding: 15px 30px;
    border-bottom: 1px dashed #eaeaea
}

.eb-suborder-item:last-child {
    border-bottom: 0
}

.eb-booking-details-footer {
    margin-top: 50px;
    font-size: 14px
}

.eb-booking-details-footer span {
    display: block;
    line-height: 24px;
    font-weight: 700;
    color: #333
}

.eb-booking-details-footer span+span {
    font-weight: 400
}

.eb-booking-synopsis {
    min-width: 300px
}

.eb-booking-synopsis span {
    display: inline-block;
    font-weight: 400
}

.eb-booking-synopsis span+span {
    float: right;
    color: #151515
}

.eb-booking-synopsis .eb-booking-synopsis-item {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0
}

.eb-booking-synopsis .eb-booking-synopsis-item.total {
    border-bottom: none;
    font-weight: 700;
    font-size: 16px
}

.eb-booking-synopsis .eb-booking-synopsis-item.total span {
    font-weight: 700
}

.eb-only-printable {
    display: none
}

@media print {
    * {
        font-size: 13px !important;
        line-height: 1 !important
    }
    html,
    body {
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden
    }
    .eb-only-printable {
        display: block;
        text-align: center
    }
    .eb-page * {
        visibility: hidden;
        margin: 0 !important;
        padding: 0 !important
    }
    .eb-printable,
    .eb-printable * {
        line-height: 2 !important;
        visibility: visible;
        margin: 0 !important;
        padding: 0 !important;
        border: 0
    }
    .eb-printable {
        padding: 0 80px !important;
        overflow: hidden
    }
    .eb-printable .eb-hotel-logo {
        margin-bottom: 30px !important
    }
    .eb-printable .title {
        font-size: 16px !important;
        padding: 15px 0 !important
    }
    .eb-main-booking-details-head span {
        display: inline-block
    }
    a[href]:after {
        display: none;
        visibility: hidden
    }
}
