<template>
    <div class="wh-100">
        <div class="col-md-12 col-12 mb-3">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <a type="button" class="btn btn-light mr-2" style="background-color: rgba(216, 217, 219, .5);" @click="$router.push({ name: 'RoleList'})">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i data-feather="corner-up-left" class="icon-xs"></i>
                        </span>
                        返回
                    </a>
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" @click="UpdateUser" value=" 儲存變更">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form class="profile">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group row justify-content-center border-bottom">
                                            <i data-feather="user" class="icon-xxl icon-dual-success mb-2"></i>
                                            <input type="text" class="form-control text-center mb-3 font-weight-bold text-success" id="title" :value="User.account" disabled>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="id-name">名稱</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="User.name">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="edit-password">修改密碼</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="password" class="form-control" placeholder="若不更改密碼，請空白" v-model="newpassword">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="web-description" >啟用狀態</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                   id="open" name="status" value="1" checked v-model="User.State">
                                                            <label class="custom-control-label" for="open">
                                                                啟用
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input"
                                                                   id="close" name="status" value="0" v-model="User.State">
                                                            <label class="custom-control-label" for="close">
                                                                關閉
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row border-bottom pb-3">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label" for="rank">等級</label>
                                            <div class="col-xl-10 col-lg-9 col-12 search-dropdown text-muted  w-100">
                                                <select class="form-control" v-model="User.role">
                                                    <option :value="Role.id" v-for="Role in Roles">{{Role.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 text-right ">
                                            <span class="font-size-12" style="color: #c1c1c1">建立日期 : {{formattedDateTime(User.created_at)}}</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {GetRoles, GetUser, UpdateUser} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";
    import moment from "moment";

    export default {
        name: "Auth",
        data: function(){
            return {
                form:{
                    Title: '編輯帳號',
                    Icon : 'unlock'
                },
                User:{},
                Roles:{},
                newpassword: '',
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
        },
        mounted() {
            this.GetUser();
            this.GetRoles();
        },
        methods: {
            GetUser() {
                GetUser(this.$route.params.account).then((res) => {
                    this.User = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetRoles(){
                GetRoles().then((res) => {
                    this.Roles = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateUser(){
                let credential = {
                    account: this.User.account,
                    password: this.newpassword,
                    name: this.User.name,
                    State: this.User.State,
                    role_id: this.User.role
                }
                UpdateUser(credential).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            formattedDateTime(datetime) {
                return moment(datetime).format('YYYY-MM-DD HH:mm:s');
            },
        }

    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
