<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button type="button" class="btn btn-main_color mr-2 openModal" @click=" showModal = true ">
                    <span class="btn-icon-wrapper pr-2 fw-500">
                        <i class="fas fa-plus"></i>
                    </span>
                        新增
                    </button>
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" value=" 儲存變更" @click="UpdateDiscountCodes">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover font-style">
                        <thead>
                        <tr>
                            <th class="text-center ">名稱</th>
                            <th class="text-center ">優惠碼</th>
                            <th class="text-center ">折價金</th>
                            <th class="text-center ">剩餘數量</th>
                            <th class="text-center ">啟用</th>
                            <th class="text-center ">優先度</th>
                            <th class="text-center ">編輯/刪除</th>
                        </tr>
                        </thead>
                        <tbody v-if=" DiscountCodes.data !== undefined  && DiscountCodes.data.length > 0">
                        <tr v-for="(DiscountCode,index) in DiscountCodes.data">
                            <td class="text-md-center text-sm-left" data-title="名稱">
                                <input type="text" class="form-control" aria-describedby="" v-model="DiscountCode.Name">
                            </td>

                            <td class="text-md-center text-sm-left" data-title="優惠碼">
                                <input type="text" class="form-control" aria-describedby="" v-model="DiscountCode.Code">
                            </td>

                            <td class="text-md-center text-sm-left" data-title="折價金">
                                <input type="number" class="form-control" aria-describedby="" v-model="DiscountCode.Discount">
                            </td>

                            <td class="text-md-center text-sm-left" data-title="剩餘數量">
                                <input type="number" class="form-control" aria-describedby="" v-model="DiscountCode.Remains">
                            </td>

                            <td class="text-md-center text-sm-left" data-title="啟用">
                                <div class="toggle-btn" id="status-toggle-btn">
                                    <div class="on">ON</div>
                                    <div class="off">OFF</div>
                                    <input type="checkbox" v-model="DiscountCode.State" :true-value="0" :false-value="1">
                                    <span></span>
                                </div>
                            </td>

                            <td class="text-md-center text-sm-left" data-title="剩餘數量">
                                <input type="number" class="form-control" aria-describedby="" v-model="DiscountCode.Sort">
                            </td>

                            <td class="text-md-center text-sm-left" data-title="編輯/刪除">
                                <div role="group" class="btn-group-sm btn-group">
                                    <button class="active btn btn-focus" @click="EditDiscountCode(DiscountCode)"><i data-feather="edit" class="icon-xs"></i></button>
                                    <button class="btn btn-focus" @click="DeleteDiscountCode(DiscountCode)"><i data-feather="trash-2" class="icon-xs"></i></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <paginate
                v-if="DiscountCodes"
                :total-pages="DiscountCodes.last_page"
                :total="DiscountCodes.total"
                :per-page="Paginate"
                :current-page="currentPage"
                @pagechanged="onPageChange"
            ></paginate>
        </div>
        <transition name="modal">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]" v-if="showModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">新增折扣代碼</h5>
                            <button type="button" class="close" @click="showModal = false" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">名稱</label>
                                    <input type="text" class="form-control" v-model="newDiscountCode.Name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">優惠碼</label>
                                    <input type="text" class="form-control" v-model="newDiscountCode.Code">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">折價金</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newDiscountCode.Discount" min="0">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">發放數量</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newDiscountCode.Remains" min="0">
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">開放時段(起)</label>
                                    <input type="datetime-local" class="form-control" aria-describedby="" v-model="newDiscountCode.Allow_Start">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">開放時段(訖)</label>
                                    <input type="datetime-local" class="form-control" aria-describedby="" v-model="newDiscountCode.Allow_End">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">使用時段(起)</label>
                                    <input type="datetime-local" class="form-control" aria-describedby="" v-model="newDiscountCode.Use_Start">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">使用時段(訖)</label>
                                    <input type="datetime-local" class="form-control" aria-describedby="" v-model="newDiscountCode.Use_End">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">優先度</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newDiscountCode.Sort" min="0">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">預設啟用</label>
                                    <select class="form-control" v-model="newDiscountCode.State">
                                        <option value="1">啟用</option>
                                        <option value="0">關閉</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" value=" 確定送出" @click="CreateDiscountCode">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="modal-backdrop fade" :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]"></div>
    </div>
</template>

<script>
    import Paginate from "../../../Paginate";

    const paginate = 10;
    import {GetDiscountCodes, UpdateDiscountCodes, DeleteDiscountCode, CreateDiscountCode} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "DiscountCodes",
        props: ['Licenses'],
        components: {
            Paginate,
        },
        data: function() {
            return {
                form: {
                    Title: '折扣代碼',
                    Icon: 'settings'
                },
                DiscountCodes: {
                    last_page: 1,
                    total: 0,
                },
                newDiscountCode:{
                    Code:'',
                    Name: '',
                    Html: '',
                    Discount:'',
                    Remains:'',
                    Allow_Start: null,
                    Allow_End: null,
                    Use_Start: null,
                    Use_End: null,
                    Sort: 0,
                    State: 1,
                },
                currentPage: 1,
                Paginate: paginate,

                showModal: false,
                showModalStyle: {
                    display: 'none'
                }
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetDiscountCodes()
        },
        watch: {
            showModal: function (newValue) {
                if (newValue === true) {
                    this.showModalStyle.display = 'block'
                    document.getElementsByTagName("body")[0].className = "modal-open";
                } else {
                    this.showModalStyle.display = 'none'
                    document.getElementsByTagName("body")[0].className = "";
                }
            },
            currentPage: function (newValue) {
                this.GetDiscountCodes();
            },
        },
        methods: {
            GetDiscountCodes() {
                let credential = {
                    Paginate : this.Paginate,
                    CurrentPage  :this.currentPage
                };
                GetDiscountCodes(credential).then((res) => {
                    this.DiscountCodes = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            onPageChange(page){
                this.currentPage = page;
            },
            UpdateDiscountCodes(){
                UpdateDiscountCodes(this.DiscountCodes.data).then((res) => {
                    this.GetDiscountCodes();
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },

            DeleteDiscountCode(DiscountCode){
                let credential = {
                    DiscountCode_id: DiscountCode.id
                }
                DeleteDiscountCode(credential).then((res) => {
                    this.GetDiscountCodes()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            ClearNewDiscountCode(){
                this.newDiscountCode = {
                    Code:'',
                    Name: '',
                    Html: '',
                    Discount:'',
                    Remains:'',
                    Allow_Start: null,
                    Allow_End: null,
                    Use_Start: null,
                    Use_End: null,
                    Sort: 0,
                    State: 1,
                }
            },
            CreateDiscountCode(){
                CreateDiscountCode(this.newDiscountCode).then((res) => {
                    this.showModal = !this.showModal
                    this.GetDiscountCodes()
                    this.ClearNewDiscountCode()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            EditDiscountCode(DiscountCode){
                this.$router.push({ name: 'DiscountCode', params: { id: DiscountCode.id }})
            },

        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }

    .modal-enter {
        top: -10px
    }
    .modal-enter-active {
        transition: all .5s;
    }
    .modal-enter-to{
        opacity: 1;
    }

    .modal-leave-active {
        transition: all .5s;
        opacity: 0;
        top: -10px;
    }
</style>
