<template>
    <div class="wh-100">
        <div class="col-md-12 col-12 mb-3">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" @click="UpdateMailSetting" value=" 儲存變更">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form class="profile">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-12">
                                        <div class="form-group row justify-content-center ">
                                            <i data-feather="mail" class="icon-xxl icon-dual-info mb-2"></i>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label">寄件者帳號</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="MailSetting.account">
                                            </div>
                                        </div>

                                        <div class="form-group row border-bottom pb-3">
                                            <label class="col-xl-2 col-lg-3 col-12 d-block col-form-label">寄件者密碼</label>
                                            <div class="col-xl-10 col-lg-9 col-12 d-flex">
                                                <input type="password" class="form-control  font-weight-bold text-info" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;" v-model="newPassword">
                                                <div class="input-group-append" style="min-width: 75px; max-width: 75px">
                                                    <button class="btn btn-soft-info w-100" @click="ValidMailSetting" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px" type="button">
                                                        <i class='uil uil-envelope-shield'></i> 驗證
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label">寄件者名稱</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="MailSetting.Name">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-3 col-12 col-form-label">寄件副本</label>
                                            <div class="col-xl-10 col-lg-9 col-12">
                                                <input type="text" class="form-control" aria-describedby="" required v-model="MailSetting.Cc" placeholder="example1@gamil.com,example2@yahoo.com.tw">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {GetMailSetting,UpdateMailSetting,ValidMailSetting} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "EmailSetting",
        data: function(){
            return {
                form:{
                    Title: '信箱設定',
                    Icon : 'unlock'
                },
                MailSetting:{},
                newPassword:''
            }
        },
        created() {
            this.GetMailSetting();
            this.$emit('ChildUpdated', this.form)
        },
        methods: {
            GetMailSetting() {
                GetMailSetting().then((res) => {
                    this.MailSetting = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateMailSetting(){
                let credential = {
                    Name: this.MailSetting.Name,
                    Cc: this.MailSetting.Cc
                }
                UpdateMailSetting(credential).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            ValidMailSetting(){
                let credential = {
                    account: this.MailSetting.account,
                    password: this.newPassword
                }
                ValidMailSetting(credential).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
