<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button type="button" class="btn btn-main_color mr-2 openModal" @click=" showModal = true ">
                    <span class="btn-icon-wrapper pr-2 fw-500">
                        <i class="fas fa-plus"></i>
                    </span>
                        新增
                    </button>
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" value=" 儲存變更" @click="UpdateExtraCars">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover font-style">
                        <thead>
                        <tr>
                            <th class="text-center ">名稱</th>
                            <th class="text-center ">圖示</th>
                            <th class="text-center ">最大選購量</th>
                            <th class="text-center ">單趟價格</th>
                            <th class="text-center ">來回價格</th>
                            <th class="text-center ">啟用</th>
                            <th class="text-center ">優先度</th>
                            <th class="text-center ">編輯/刪除</th>
                        </tr>
                        </thead>
                        <tbody v-if=" ExtraCars.data !== undefined  && ExtraCars.data.length > 0">
                        <tr v-for="(ExtraCar,index) in ExtraCars.data">
                            <td class="text-md-center text-sm-left" data-title="名稱">
                                <input type="text" class="form-control" aria-describedby="" v-model="ExtraCar.Name">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="圖示">
                                <img :src="ExtraCar.Src" class="img-responsive" alt="" style="width: 70px" :data-input="'thumbnail' + ExtraCar.id" @click="OpenFileManger('image',index)">
                                <input type="hidden" :id="'thumbnail' + ExtraCar.id" name="filepath" :value="ExtraCar.Src">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="價格">
                                <input type="number" class="form-control" aria-describedby="" v-model="ExtraCar.Max">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="價格">
                                <input type="number" class="form-control" aria-describedby="" v-model="ExtraCar.Price">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="價格">
                                <input type="number" class="form-control" aria-describedby="" v-model="ExtraCar.Price2">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="啟用">
                                <div class="toggle-btn" id="status-toggle-btn">
                                    <div class="on">ON</div>
                                    <div class="off">OFF</div>
                                    <input type="checkbox" v-model="ExtraCar.State" :true-value="0" :false-value="1">
                                    <span></span>
                                </div>
                            </td>
                            <td class="text-md-center text-sm-left" data-title="優先度">
                                <input type="number" class="form-control" aria-describedby="" v-model="ExtraCar.Sort">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="編輯/刪除">
                                <div role="group" class="btn-group-sm btn-group">
                                    <button class="active btn btn-focus" @click="EditExtraCar(ExtraCar)"><i data-feather="edit" class="icon-xs"></i></button>
                                    <button class="btn btn-focus" @click="DeleteExtraCar(ExtraCar)"><i data-feather="trash-2" class="icon-xs"></i></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <paginate
                v-if="ExtraCars"
                :total-pages="ExtraCars.last_page"
                :total="ExtraCars.total"
                :per-page="Paginate"
                :current-page="currentPage"
                @pagechanged="onPageChange"
            ></paginate>
        </div>
        <transition name="modal">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]" v-if="showModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">新增加購項目</h5>
                            <button type="button" class="close" @click="showModal = false" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">名稱</label>
                                    <input type="text" class="form-control" v-model="newExtraCar.Name">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">最大選購量</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newExtraCar.Max" min="0">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">單趟價格</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newExtraCar.Price" min="0">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">來回價格</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newExtraCar.Price2" min="0">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="img">主要縮圖</label>
                                    <img :src="newExtraCar.Src" alt="" id="holder" class="img-responsive mb-3 w-100">
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="form-control btn btn-warning"  id="lfm" data-input="thumbnail" @click="OpenFileManger2('image')"><i data-feather="upload-cloud" class="icon-xs"></i> 圖片</button>
                                    <input type="hidden" id="thumbnail" name="filepath" :value="newExtraCar.Src">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>內文</label>
                                    <html-manager
                                        v-model="newExtraCar.Html"
                                        ref="editor">
                                    </html-manager>
                                </div>
                            </div>



                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">預設啟用</label>
                                    <select class="form-control" v-model="newExtraCar.State">
                                        <option value="1">啟用</option>
                                        <option value="0">關閉</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">優先度</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newExtraCar.Sort">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" value=" 確定送出" @click="CreateExtraCar">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="modal-backdrop fade" :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]"></div>
    </div>
</template>

<script>
    import Paginate from "../../../Paginate";
    import {GetExtraCars, UpdateExtraCars, CreateExtraCar, DeleteExtraCar} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";
    import HtmlManager from "../../../HtmlManager";
    const paginate = 10;
    export default {
        name: "ExtraCars",
        components: {
            Paginate,
            HtmlManager
        },
        data: () => {
            return {
                form:{
                    Title: '加購接送設置',
                    Icon : 'settings',
                },
                ExtraCars: {
                    last_page: 1,
                    total: 0,
                },
                newExtraCar:{
                    Name: '',
                    Max: 0,
                    Src: '',
                    Html: '',
                    Sort: 0,
                    State: 1,
                    Price: 0,
                    Price2: 0,
                },
                currentPage: 1,
                Paginate: paginate,
                showModal: false,
                showModalStyle: {
                    display: 'none'
                },

            }
        },
        props: ['Licenses'],
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetExtraCars()
        },
        methods: {
            GetExtraCars() {
                let credential = {
                    Paginate : this.Paginate,
                    CurrentPage  :this.currentPage
                };
                GetExtraCars(credential).then((res) => {
                    this.ExtraCars = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            onPageChange(page){
                this.currentPage = page;
            },
            UpdateExtraCars(){
                UpdateExtraCars(this.ExtraCars.data).then((res) => {
                    this.GetExtraCars();
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            CreateExtraCar(){
                CreateExtraCar(this.newExtraCar).then((res) => {
                    this.showModal = !this.showModal
                    this.GetExtraCars();
                    this.ClearNewExtraCar()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            DeleteExtraCar(ExtraCar){
                let credential = {
                    extra_car_id: ExtraCar.id
                }
                DeleteExtraCar(credential).then((res) => {
                    this.GetExtraCars()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            EditExtraCar(ExtraCar){
                this.$router.push({ name: 'ExtraCar', params: { id: ExtraCar.id }})
            },
            OpenFileManger(type,index){
                var options = {};
                var route_prefix = (options && options.prefix) ? options.prefix : '/filemanager';
                const userStr = localStorage.getItem("user");
                if (userStr) {
                    var token = 'Bearer ' + JSON.parse(userStr)['token'];
                    window.open(route_prefix + '?type=' + type + '&token=' + token, 'FileManager', 'width=900,height=600');
                } else {
                    window.open(route_prefix + '?type=' + type, 'FileManager', 'width=900,height=600');
                }
                var self = this
                window.SetUrl = function (items) {
                    self.ExtraCars.data[index].Src  = items[0].url
                }
            },

            OpenFileManger2(type){
                var options = {};
                var route_prefix = (options && options.prefix) ? options.prefix : '/filemanager';
                const userStr = localStorage.getItem("user");
                if (userStr) {
                    var token = 'Bearer ' + JSON.parse(userStr)['token'];
                    window.open(route_prefix + '?type=' + type + '&token=' + token, 'FileManager', 'width=900,height=600');
                } else {
                    window.open(route_prefix + '?type=' + type, 'FileManager', 'width=900,height=600');
                }
                var self = this
                window.SetUrl = function (items) {
                    self.newExtraCar.Src  = items[0].url
                }
            },
            ClearNewExtraCar(){
                this.newExtraCar = {
                    Name: '',
                    Src: '',
                    Html: '',
                    Sort: 0,
                    State: 1,
                    Price: 0,
                    Price2: 0,
                }
            }
        },

        watch: {
            showModal: function (newValue) {
                if (newValue === true) {
                    this.showModalStyle.display = 'block'
                    document.getElementsByTagName("body")[0].className = "modal-open";
                } else {
                    this.showModalStyle.display = 'none'
                    document.getElementsByTagName("body")[0].className = "";
                }
            },
            currentPage: function (newValue) {
                this.GetExtraCars();
            },
        },
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }

    .modal-enter {
        top: -10px
    }
    .modal-enter-active {
        transition: all .5s;
    }
    .modal-enter-to{
        opacity: 1;
    }

    .modal-leave-active {
        transition: all .5s;
        opacity: 0;
        top: -10px;
    }
</style>
