<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button @click="$router.push({ name: 'MemberList'})" class="btn btn-light mr-2" style="background-color: rgba(216, 217, 219, .5);">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i data-feather="corner-up-left" class="icon-xs"></i>
                        </span>
                        返回會員管理
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Name" >姓名</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" id="Name" placeholder="姓名"  v-model="Member.Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="email" >Email</label>
                                        <div class="col-lg-11">
                                            <input type="email" class="form-control" id="email" placeholder="Email"  v-model="Member.email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="password" >密碼</label>
                                        <div class="col-lg-11">
                                            <input type="password" class="form-control" id="password" placeholder="*******"  v-model="NewPassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="IdNumber" >身份證</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" id="IdNumber" placeholder="身份證"  v-model="Member.IdNumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Phone" >電話</label>
                                        <div class="col-lg-11">
                                            <input type="tel" class="form-control" id="Phone" placeholder="電話"  v-model="Member.Phone">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">性別</label>
                                        <div class="col-lg-11">
                                            <select class="form-control mt-2" v-model="Member.Sex">
                                                <option></option>
                                                <option value="1">先生</option>
                                                <option value="0">小姐</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">地址</label>
                                        <div class="col-lg-11">
                                            <select class="form-control mt-2" v-model="Member.Area">
                                                <option></option>
                                                <option value="台北市">台北市</option>
                                                <option value="新北市">新北市</option>
                                                <option value="基隆市">基隆市</option>
                                                <option value="桃園市">桃園市</option>
                                                <option value="新竹市">新竹市</option>
                                                <option value="新竹縣">新竹縣</option>
                                                <option value="宜蘭縣">宜蘭縣</option>
                                                <option value="花蓮縣">花蓮縣</option>
                                                <option value="苗栗縣">苗栗縣</option>
                                                <option value="台中市">台中市</option>
                                                <option value="彰化縣">彰化縣</option>
                                                <option value="南投縣">南投縣</option>
                                                <option value="雲林縣">雲林縣</option>
                                                <option value="嘉義市">嘉義市</option>
                                                <option value="嘉義縣">嘉義縣</option>
                                                <option value="台南市">台南市</option>
                                                <option value="澎湖縣">澎湖縣</option>
                                                <option value="高雄市">高雄市</option>
                                                <option value="屏東縣">屏東縣</option>
                                                <option value="台東縣">台東縣</option>
                                                <option value="金門縣">金門縣</option>
                                                <option value="連江縣">連江縣</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">預設啟用</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="Member.State">
                                                <option value="1">啟用</option>
                                                <option value="0">關閉</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">備註</label>
                                        <div class="col-lg-11">
                                            <textarea cols="30" rows="10" class="form-control" v-model="Member.Note"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="text-right mt-3 position-relative">
                                        <input type="button" class="btn btn-success submit-btn" @click="UpdateMember" value=" 確定送出">
                                        <i class="uil uil-message mr-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-12" v-if="Bookings.length > 0">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover font-style">
                            <thead>
                            <tr>
                                <th class="text-center">訂單編號</th>
                                <th class="text-center">總金額</th>
                                <th class="text-center">訂單狀態</th>
                                <th class="text-center">編輯</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="Booking in Bookings">
                                    <td class="text-md-center text-sm-left">
                                        <input type="hidden" :id="'Num'+Booking.id" :value="Booking.Num">
                                        {{Booking.Num}}
                                        <button @click="CopyNum(Booking.id)" class="active btn btn-focus"><i data-feather="copy" class="icon-xs"></i></button>
                                    </td>
                                    <td class="text-md-center text-sm-left">{{Booking.TotalPrice}}</td>
                                    <td class="text-md-center text-sm-left">
                                        {{Booking.Refund ? '以退款' : (Booking.Paid ? '已付款' : '尚未付款')}}
                                    </td>
                                    <td class="text-md-center text-sm-left" data-title="編輯">
                                        <div role="group" class="btn-group-sm btn-group">
                                            <router-link :to="{name:'Order',params:{Num: Booking.Num}}">
                                                <button class="active btn btn-focus" type="button"><i data-feather="edit" class="icon-xs"></i></button>
                                            </router-link>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {GetMember,UpdateMember} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";

    export default {
        name: "Member",
        props: ['Licenses'],
        data: function() {
            return {
                form: {
                    Title: '會員管理',
                    Icon: 'settings'
                },
                Member: {},
                Bookings: [],
                NewPassword: null
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetMember();
        },

        methods: {
            GetMember() {
                GetMember(this.$route.params.id).then((res) => {
                    this.Member = res.Member
                    this.Bookings = res.Bookings
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateMember(){
                let credential = {
                    id: this.$route.params.id,
                    Name: this.Member.Name,
                    email: this.Member.email,
                    password: this.NewPassword,
                    IdNumber: this.Member.IdNumber,
                    Phone: this.Member.Phone,
                    Sex: this.Member.Sex,
                    Area: this.Member.Area,
                    State: this.Member.State,
                    Note: this.Member.Note,
                }
                UpdateMember(credential).then((res) => {
                    this.Member = res
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },

            CopyNum(id){
                let CopyNum = document.querySelector('#Num'+id)
                CopyNum.setAttribute('type', 'text')
                CopyNum.select()

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                } catch (err) {
                    alert('Oops, unable to copy');
                }

                /* unselect the range */
                CopyNum.setAttribute('type', 'hidden')
                window.getSelection().removeAllRanges()
            },
        }
    }
</script>

<style scoped>
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
