<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button @click="$router.push({ name: 'Promotions'})" class="btn btn-light mr-2" style="background-color: rgba(216, 217, 219, .5);">
                        <span class="btn-icon-wrapper pr-2 fw-500">
                            <i data-feather="corner-up-left" class="icon-xs"></i>
                        </span>
                        返回
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="Name" >名稱</label>
                                        <div class="col-lg-11">
                                            <input type="text" class="form-control" id="Name" placeholder="名稱"  v-model="Promotion.Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">適用房型</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="Promotion.room.id" v-if="Promotion.room !== undefined">
                                                <option></option>
                                                <option v-for="Room in Rooms" :value="Room.id">{{Room.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label" for="DefaultPrice" >預設活動價</label>
                                        <div class="col-lg-11">
                                            <input type="number" class="form-control" id="DefaultPrice"  v-model="Promotion.DefaultPrice">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-1 col-form-label">預設啟用</label>
                                        <div class="col-lg-11">
                                            <select class="form-control" v-model="Promotion.State">
                                                <option value="1">啟用</option>
                                                <option value="0">關閉</option>
                                            </select>
                                        </div>
                                    </div>
                                    <template v-if="Licenses.includes('早鳥折扣')">
                                        <div class="form-group row">
                                            <label class="col-lg-1 col-form-label">預設早鳥</label>
                                            <div class="col-lg-11">
                                                <div class="toggle-btn" id="status-toggle-btn" style="display: inline-flex;">
                                                    <div class="on">ON</div>
                                                    <div class="off">OFF</div>
                                                    <input type="checkbox" v-model="Promotion.DefaultAllowEarlyBird" :true-value="0" :false-value="1">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-1 col-form-label" for="DefaultEarlyBirdPrice" >預設早鳥價</label>
                                            <div class="col-lg-11">
                                                <input type="number" class="form-control" id="DefaultEarlyBirdPrice" placeholder="預設早鳥價"  v-model="Promotion.DefaultEarlyBirdPrice">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-1 col-form-label" for="DefaultEarlyBirdDays" >預設早鳥天數</label>
                                            <div class="col-lg-11" >
                                                <input type="number" class="form-control" id="DefaultEarlyBirdDays" placeholder="預設早鳥天數"  v-model="Promotion.DefaultEarlyBirdDays">
                                            </div>
                                        </div>
                                    </template>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="text-right mt-3 position-relative">
                                        <input type="button" class="btn btn-success submit-btn" @click="UpdatePromotion" value=" 確定送出">
                                        <i class="uil uil-message mr-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import {GetPromotion, GetRooms, UpdatePromotion} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "Promotion",
        props: ['Licenses'],
        data: function() {
            return {
                form: {
                    Title: '活動設置',
                    Icon: 'settings'
                },
                Promotion: {},
                Rooms: {}
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRooms()
            this.GetPromotion()
        },

        methods: {
            GetRooms(){
                GetRooms().then((res) => {
                    this.Rooms = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetPromotion() {
                let credential = {
                    promotion_id: this.$route.params.id
                }
                GetPromotion(credential).then((res) => {
                    this.Promotion = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdatePromotion(){
                let credential = this.Promotion
                credential.room_id = this.Promotion.room.id
                UpdatePromotion(credential).then((res) => {
                    SwalAlertSuccessRedirect(res);
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            }
        }

    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
</style>
