<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button type="button" class="btn btn-main_color mr-2 openModal" @click=" showModal = true ">
                    <span class="btn-icon-wrapper pr-2 fw-500">
                        <i class="fas fa-plus"></i>
                    </span>
                        新增
                    </button>
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" value=" 儲存變更" @click="UpdatePromotions">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover font-style">
                        <thead>
                        <tr>
                            <th class="text-center ">名稱</th>
                            <th class="text-center ">適用房型</th>
                            <th class="text-center ">預設活動價</th>
                            <th class="text-center ">啟用</th>
                            <template v-if="Licenses.includes('早鳥折扣')">
                                <th class="text-center ">預設早鳥</th>
                                <th class="text-center ">預設早鳥價</th>
                                <th class="text-center ">預設早鳥天數</th>
                            </template>
                            <th class="text-center ">編輯/刪除</th>
                        </tr>
                        </thead>
                        <tbody v-if=" Promotions.data !== undefined  && Promotions.data.length > 0">
                            <tr v-for="(Promotion,index) in Promotions.data">
                                <td class="text-md-center text-sm-left" data-title="名稱">
                                    <input type="text" class="form-control" aria-describedby="" v-model="Promotion.Name">
                                </td>
                                <td class="text-md-center text-sm-left" data-title="適用房型">
                                    <router-link aria-expanded="false" :to="{name: 'DailyPromotion',params:{'id': Promotion.id}}">{{Promotion.room.Name}}</router-link>
                                </td>
                                <td class="text-md-center text-sm-left" data-title="預設活動價">
                                    <input type="number" class="form-control" aria-describedby="" v-model="Promotion.DefaultPrice">
                                </td>
                                <td class="text-md-center text-sm-left" data-title="啟用">
                                    <div class="toggle-btn" id="status-toggle-btn">
                                        <div class="on">ON</div>
                                        <div class="off">OFF</div>
                                        <input type="checkbox" v-model="Promotion.State" :true-value="0" :false-value="1">
                                        <span></span>
                                    </div>
                                </td>
                                <template v-if="Licenses.includes('早鳥折扣')">
                                    <td class="text-md-center text-sm-left" data-title="預設早鳥">
                                        <div class="toggle-btn" id="status-toggle-btn">
                                            <div class="on">ON</div>
                                            <div class="off">OFF</div>
                                            <input type="checkbox" v-model="Promotion.DefaultAllowEarlyBird" :true-value="0" :false-value="1">
                                            <span></span>
                                        </div>
                                    </td>
                                    <td class="text-md-center text-sm-left" data-title="預設早鳥價">
                                        <input type="number" class="form-control" aria-describedby="" v-model="Promotion.DefaultEarlyBirdPrice">
                                    </td>
                                    <td class="text-md-center text-sm-left" data-title="預設早鳥天數">
                                        <input type="number" class="form-control" aria-describedby="" v-model="Promotion.DefaultEarlyBirdDays">
                                    </td>
                                </template>
                                <td class="text-md-center text-sm-left" data-title="編輯/刪除">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button class="active btn btn-focus" @click="EditPromotion(Promotion)"><i data-feather="edit" class="icon-xs"></i></button>
                                        <button class="btn btn-focus" @click="DeletePromotion(Promotion)"><i data-feather="trash-2" class="icon-xs"></i></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
            <paginate
                v-if="Promotions"
                :total-pages="Promotions.last_page"
                :total="Promotions.total"
                :per-page="Paginate"
                :current-page="currentPage"
                @pagechanged="onPageChange"
            ></paginate>
        </div>
        <transition name="modal">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]" v-if="showModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">新增活動</h5>
                            <button type="button" class="close" @click="showModal = false" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">名稱</label>
                                    <input type="text" class="form-control" v-model="newPromotion.Name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">適用房型</label>
                                    <select class="form-control" v-model="newPromotion.room_id">
                                        <option></option>
                                        <option v-for="Room in Rooms" :value="Room.id">{{Room.Name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">預設活動價</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newPromotion.DefaultPrice" min="0">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">預設啟用</label>
                                    <select class="form-control" v-model="newPromotion.State">
                                        <option value="1">啟用</option>
                                        <option value="0">關閉</option>
                                    </select>
                                </div>
                            </div>

                            <template v-if="Licenses.includes('早鳥折扣')">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">預設早鳥</label>
                                        <select class="form-control" v-model="newPromotion.DefaultAllowEarlyBird">
                                            <option value="0">關閉</option>
                                            <option value="1">啟用</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">預設早鳥價格</label>
                                        <input type="number" class="form-control" aria-describedby="" v-model="newPromotion.DefaultEarlyBirdPrice">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">預設早鳥天數</label>
                                        <input type="number" class="form-control" aria-describedby="" v-model="newPromotion.DefaultEarlyBirdDays">
                                    </div>
                                </div>
                            </template>
                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" value=" 確定送出" @click="CreatePromotion">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="modal-backdrop fade" :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]"></div>
    </div>
</template>

<script>
    import Paginate from "../../../Paginate";

    const paginate = 10;
    import {GetPromotions, UpdatePromotions, DeletePromotion, CreatePromotion, GetRooms} from "../../../../api";
    import {SwalAlertErrorMessage, SwalAlertSuccessRedirect} from "../../../../helper";

    export default {
        name: "Promotions",
        props: ['Licenses'],
        components: {
            Paginate,
        },
        data: function() {
            return {
                form: {
                    Title: '活動設置',
                    Icon: 'settings'
                },
                Promotions: {
                    last_page: 1,
                    total: 0,
                },
                newPromotion:{
                    Name: '',
                    room_id: '',
                    State: 1,
                    DefaultPrice: 0,
                    DefaultAllowEarlyBird: 0,
                    DefaultEarlyBirdPrice: 0,
                    DefaultEarlyBirdDays: 0
                },
                currentPage: 1,
                Paginate: paginate,

                showModal: false,
                showModalStyle: {
                    display: 'none'
                },
                Rooms: {}
            }
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRooms()
            this.GetPromotions()
        },
        watch: {
            showModal: function (newValue) {
                if (newValue === true) {
                    this.showModalStyle.display = 'block'
                    document.getElementsByTagName("body")[0].className = "modal-open";
                } else {
                    this.showModalStyle.display = 'none'
                    document.getElementsByTagName("body")[0].className = "";
                }
            },
            currentPage: function (newValue) {
                this.GetPromotions();
            },
        },
        methods: {
            GetRooms(){
                GetRooms().then((res) => {
                    this.Rooms = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            GetPromotions() {
                let credential = {
                  Paginate : this.Paginate,
                  CurrentPage  :this.currentPage
                };
                GetPromotions(credential).then((res) => {
                    this.Promotions = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            onPageChange(page){
                this.currentPage = page;
            },
            UpdatePromotions(){
                UpdatePromotions(this.Promotions.data).then((res) => {
                    this.GetPromotions();
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },

            DeletePromotion(Promotion){
                let credential = {
                    promotion_id: Promotion.id
                }
                DeletePromotion(credential).then((res) => {
                    this.GetPromotions()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            ClearNewPromotion(){
                this.newPromotion = {
                    Name: '',
                    room_id: '',
                    State: 1,
                    DefaultPrice: 0,
                    DefaultAllowEarlyBird: 0,
                    DefaultEarlyBirdPrice: 0,
                    DefaultEarlyBirdDays: 0
                }
            },
            CreatePromotion(){
                CreatePromotion(this.newPromotion).then((res) => {
                    this.showModal = !this.showModal
                    this.GetPromotions()
                    this.ClearNewPromotion()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            EditPromotion(Promotion){
                this.$router.push({ name: 'Promotion', params: { id: Promotion.id }})
            },

        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }

    .modal-enter {
        top: -10px
    }
    .modal-enter-active {
        transition: all .5s;
    }
    .modal-enter-to{
        opacity: 1;
    }

    .modal-leave-active {
        transition: all .5s;
        opacity: 0;
        top: -10px;
    }
</style>
