<template>
    <div class="wh-100">
        <div class="col-md-12 col-12">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4 mb-3">
                    <button type="button" class="btn btn-main_color mr-2 openModal" @click=" showModal = true ">
                    <span class="btn-icon-wrapper pr-2 fw-500">
                        <i class="fas fa-plus"></i>
                    </span>
                        新增
                    </button>
                    <span class="store-btn">
                        <input type="button" class="btn btn-success" value=" 儲存變更" @click="UpdateRooms">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover font-style">
                        <thead>
                        <tr>
                            <th class="text-center ">名稱</th>
                            <th class="text-center ">人數</th>
                            <th class="text-center ">預設基本價</th>
                            <th class="text-center ">預設間數</th>
                            <template v-if="Licenses.includes('早鳥折扣')">
                                <th class="text-center ">預設早鳥</th>
                                <th class="text-center ">預設早鳥價</th>
                                <th class="text-center ">預設早鳥天數</th>
                            </template>
                            <th class="text-center ">編輯/刪除</th>
                        </tr>
                        </thead>
                        <tbody v-if="Rooms.length > 0">
                        <tr v-for="(Room,index) in Rooms">
                            <td class="text-md-center text-sm-left" data-title="名稱">
                                <input type="text" class="form-control" aria-describedby="" v-model="Room.Name">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="人數">
                                <input type="number" class="form-control" aria-describedby="" v-model="Room.PeopleNumber">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="預設基本價">
                                <input type="number" class="form-control" aria-describedby="" v-model="Room.DefaultPrice">
                            </td>
                            <td class="text-md-center text-sm-left" data-title="預設間數">
                                <input type="number" class="form-control" aria-describedby="" v-model="Room.DefaultNumber">
                            </td>
                            <template v-if="Licenses.includes('早鳥折扣')">
                                <td class="text-md-center text-sm-left" data-title="預設早鳥">
                                    <div class="toggle-btn" id="status-toggle-btn">
                                        <div class="on">ON</div>
                                        <div class="off">OFF</div>
                                        <input type="checkbox" v-model="Room.DefaultAllowEarlyBird" :true-value="0" :false-value="1">
                                        <span></span>
                                    </div>
                                </td>
                                <td class="text-md-center text-sm-left" data-title="預設早鳥價">
                                    <input type="number" class="form-control" aria-describedby="" v-model="Room.DefaultEarlyBirdPrice">
                                </td>
                                <td class="text-md-center text-sm-left" data-title="預設早鳥天數">
                                    <input type="number" class="form-control" aria-describedby="" v-model="Room.DefaultEarlyBirdDays">
                                </td>
                            </template>
                            <td class="text-md-center text-sm-left" data-title="編輯/刪除">
                                <div role="group" class="btn-group-sm btn-group">
                                    <button class="active btn btn-focus" @click="EditRoom(Room)"><i data-feather="edit" class="icon-xs"></i></button>
                                    <button class="btn btn-focus" @click="DeleteRoom(Room)"><i data-feather="trash-2" class="icon-xs"></i></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <transition name="modal">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true"
                 :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]" v-if="showModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">新增房型</h5>
                            <button type="button" class="close" @click="showModal = false" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">名稱</label>
                                    <input type="text" class="form-control" v-model="newRoom.Name">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">人數</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newRoom.PeopleNumber">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">最大加人數</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newRoom.MaxExtraPeopleNumber" max="1" min="0">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">預設基本價</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newRoom.DefaultPrice">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">預設間數</label>
                                    <input type="number" class="form-control" aria-describedby="" v-model="newRoom.DefaultNumber">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="img">主要縮圖</label>
                                    <img :src="newRoom.MainPicture" alt="" id="holder" class="img-responsive mb-3 w-100">
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="form-control btn btn-warning"  id="lfm" data-input="thumbnail" @click="OpenFileManger('image')"><i data-feather="upload-cloud" class="icon-xs"></i> 圖片</button>
                                    <input type="hidden" id="thumbnail" name="filepath" :value="newRoom.MainPicture">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="">內文</label>
                                    <html-manager
                                        v-if="newRoom"
                                        v-model="newRoom.Html"
                                        ref="editor">
                                    </html-manager>
                                </div>
                            </div>

                            <template v-if="Licenses.includes('早鳥折扣')">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">預設早鳥</label>
                                        <select class="form-control" v-model="newRoom.DefaultAllowEarlyBird">
                                            <option value="0">關閉</option>
                                            <option value="1">啟用</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">預設早鳥價格</label>
                                        <input type="number" class="form-control" aria-describedby="" v-model="newRoom.DefaultEarlyBirdPrice">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="">預設早鳥天數</label>
                                        <input type="number" class="form-control" aria-describedby="" v-model="newRoom.DefaultEarlyBirdDays">
                                    </div>
                                </div>
                            </template>
                        </div>
                        <div class="modal-footer position-relative">
                            <input type="button" class="btn btn-success submit-btn" value=" 確定送出" @click="CreateRoom">
                            <i class="uil uil-message mr-1" style="right: 92px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="modal-backdrop fade" :class="{ 'show' : showModal }" v-bind:style="[showModalStyle]"></div>
    </div>
</template>

<script>
    import HtmlManager from "../../../HtmlManager";
    import {GetRooms,CreateRoom,UpdateRooms,DeleteRoom} from "../../../../api";
    import {SwalAlertErrorMessage} from "../../../../helper";

    export default {
        name: "Rooms",
        components: {
            HtmlManager
        },
        props: ['Licenses'],
        data: function(){
            return {
                form:{
                    Title: '房型設置',
                    Icon : 'settings'
                },
                Rooms: [],
                newRoom:{
                    Name: '',
                    PeopleNumber: 0,
                    MaxExtraPeopleNumber: 0,
                    DefaultPrice: 0,
                    DefaultNumber: 0,
                    MainPicture: '',
                    Html:'',
                    DefaultAllowEarlyBird: 0,
                    DefaultEarlyBirdPrice: 0,
                    DefaultEarlyBirdDays: 0,
                },
                showModal: false,
                showModalStyle: {
                    display: 'none'
                },
            }
        },
        watch:{
            showModal: function(newValue){
                if(newValue === true){
                    this.showModalStyle.display = 'block'
                    document.getElementsByTagName("body")[0].className="modal-open";
                }
                else
                {
                    this.showModalStyle.display = 'none'
                    document.getElementsByTagName("body")[0].className="";
                }
            },
        },
        created() {
            this.$emit('ChildUpdated', this.form)
            this.GetRooms()
        },
        methods:{
            GetRooms(){
                GetRooms().then((res) => {
                    this.Rooms = res
                    this.$nextTick(() => {
                        feather.replace()
                    })
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            ClearNewRoom(){
              this.newRoom = {
                    Name: '',
                        PeopleNumber: 0,
                        MaxExtraPeopleNumber: 0,
                        DefaultPrice: 0,
                        DefaultNumber: 0,
                        MainPicture: '',
                        Html:'',
                        DefaultAllowEarlyBird: 0,
                        DefaultEarlyBirdPrice: 0,
                        DefaultEarlyBirdDays: 0,
                }
            },
            CreateRoom(){
                CreateRoom(this.newRoom).then((res) => {
                    this.showModal = !this.showModal
                    this.GetRooms()
                    this.ClearNewRoom()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            UpdateRooms(){
                UpdateRooms(this.Rooms).then((res) => {
                    this.GetRooms()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            EditRoom(Room){
                this.$router.push({ name: 'Room', params: { id: Room.id }})
            },
            DeleteRoom(Room){
                let credential = {
                    room_id: Room.id
                }
                DeleteRoom(credential).then((res) => {
                    this.GetRooms()
                }).catch(function (response) {
                    SwalAlertErrorMessage(response);
                });
            },
            OpenFileManger(type){
                var options = {};
                var route_prefix = (options && options.prefix) ? options.prefix : '/filemanager';
                const userStr = localStorage.getItem("user");
                if (userStr) {
                    var token = 'Bearer ' + JSON.parse(userStr)['token'];
                    window.open(route_prefix + '?type=' + type + '&token=' + token, 'FileManager', 'width=900,height=600');
                } else {
                    window.open(route_prefix + '?type=' + type, 'FileManager', 'width=900,height=600');
                }
                var self = this
                window.SetUrl = function (items) {
                    self.newRoom.MainPicture  = items[0].url
                }
            },
        }
    }
</script>

<style scoped>
    .vnis{
        display: inline-flex;
        width: 100%;
    }
    .wh-100{
        width: 100%;
        height: 100%;
    }
    .modal-enter {
        top: -10px
    }
    .modal-enter-active {
        transition: all .5s;
    }
    .modal-enter-to{
        opacity: 1;
    }

    .modal-leave-active {
        transition: all .5s;
        opacity: 0;
        top: -10px;
    }
</style>
