<template>
    <div>
        <div class="buy-now" id="open-button" @mousedown.prevent="showModal = !showModal">
            <a target="_blank" class="buy-now-btn" :class="showModal ? 'active' : ''">
                <img src="https://img.icons8.com/pastel-glyph/28/ffffff/calendar-plus.png">
            </a>
            <div class="order-num">{{ ShoppingCart.length }}</div>
            <div class="ripple"></div>
        </div>
        <div class="cart_wrap" :class="showModal ? 'open' : ''" @blur="showModal = false" ref="openArea" tabindex="0">
            <div class="cart_content">
                <h6 class="w-100 text-center pt-3 pb-3">我的訂單</h6>
                <div class="cart_item pl-4 pr-4 pb-4 font-13">
                    <!-- <p class="text-center">尚未選擇房型</p> -->
                    <ul>
                        <li class="d-flex" v-for="(ob,index) in ShoppingCart" :key="index">
                        <span class="delete-cart-item-btn position-absolute">
                            <button type="button" @mousedown.prevent="RemovePicking(index)"><i class="fas fa-times" aria-hidden="true"></i></button>
                        </span>
                            <span class="pr-3">
                            <img :src="ob.room.room.MainPicture" alt="" style="width: 60px; height: 60px; object-fit: cover;">
                        </span>
                            <span>
                            <span class="d-block">{{ob.room.room.Name}} | {{ob.promotion.Name}}</span>
                            <span class="d-block">
                                <template v-if="ob.adults > 0">
                                    成人{{ob.adults}}位 |
                                </template>
                                <template v-if="ob.childrens > 0">
                                    小孩{{ob.childrens}}位 |
                                </template>
                                <template v-if="ob.babys > 0">
                                    兒童{{ob.babys}}位
                                </template>
                            </span>
                            <span class="d-block">{{ob.startDate}} {{WeekDay(ob.startDate)}} ~ {{ob.endDate}} {{WeekDay(ob.endDate)}} ({{nights(ob.startDate,ob.endDate)}}晚)</span>
                            <span class="d-block text-right">NT$ {{ob.promotion.Total}}</span>
                        </span>
                        </li>
                    </ul>
                </div>
                <div class="cart_btn pl-4 pr-4 pb-4 pt-4 cart-checkout-btn">
                    <router-link :to="{ name: 'Initialise'}" class="button eb-btn w-100"><i class="far fa-calendar-check" aria-hidden="true"></i>確認訂房</router-link>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import moment from 'moment'
    export default {
        name: "ShoppingCart",
        props: {
            show: {
                default: false
            }
        },
        data: function(){
          return {
              showModal: this.show
          }
        },
        computed: {
            ShoppingCart(){
                return  this.$store.getters.ShoppingCart
            },
        },
        methods:{
            WeekDay(date){
                moment.locale('zh-tw');
                return moment(date).format('dddd');
            },
            nights(startDate,endDate){
                return moment(endDate).diff(moment(startDate),'days') ?? 0;
            },
            RemovePicking(index){
                this.$store.commit('Remove',index);
            }
        },
        watch:{
            showModal: function(val){
                if(val){
                    this.$nextTick(function(){
                        this.$refs.openArea.focus();
                    });
                }
            }
        },
    }
</script>

<style scoped>
    .cart_wrap:focus {
        outline: none !important;
        border:1px none red;
        box-shadow: 0 0 10px #719ECE;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
</style>
