*{
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  width: 100%;
  height: 100%;
  background: url(../../images/body_bg.png) repeat fixed;
  font-family: "Quicksand", "微軟正黑體" !important;
  font-weight: 900;
}

@font-face{
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Light.ttf");
 }


.logon-a{
  position: relative;
  width: 100%;
  height: 100%;
}

.logon-a .logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.logon-a .login{
  position: relative;
  width: 400px;
  display: table;
  top: 50%;
  margin: -150px auto 0 auto;
  background-color: white;
  border-radius: 10px;
}

.logon-a .legend{
  position: relative;
  width: 100%;
  display: block;
  background: #F9B130;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.logon-a .input{
  position: relative;
  width: 90%;
  margin: 15px auto;
}
.logon-a .input span{
  position: absolute;
  display: block;
  color: darken(#EDEDED, 10%);
  left: 10px;
  top: 8px;
  font-size: 20px;
}
.logon-a .input input{
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #EDEDED;
  font-size: 14px;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #777;
  font-weight: 900;
}
.logon-a .input input:focus{
  padding: 10px 5px 10px 10px;
  outline: none;
  border-color: #F9B130;
}
.logon-a .submit{
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #FFF;
  border-radius: 100%;
  border: 1px solid #F9B130;
  color: #F9B130;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}
.logon-a .submit:hover{
  background: #F9B130;
  color: #fff;
  outline: 0;
}
.logon-a .submit:focus{
  background: #F9B130;
  color: #fff;
  outline: 0;
}
.fa-check{
  position: relative;
  top: 2px;
}

.g-recaptcha{
  margin: 15px auto;
  display: flex;
  justify-content: center;
}

.swal2-popup{
  border-radius: 20px !important
}

@media (max-width: 575px){
  .logon-a {
    padding: 0 15px;
  }
  .logon-a .login{
    width: 100%;
    margin: -120px auto 0 auto;
  }
}




