<template>
    <div class="row warp_p">
        <div class="col-md-12 text-center booking-success-step">
            <div class="booking-success-icon d-flex justify-content-center">
                <div class="success-icon"></div>
            </div>
            <h5 class="mt-3 pt-5 pb-3">匯款資訊</h5>

            <p>訂單編號 : {{Num}}</p>
            <div class="col-md-6 col-md-offset-3 booking-success-price-details">
                <div v-html="ATMInfo"></div>
            </div>
            <div class="col-12"></div>
            <div class="col-md-6 col-md-offset-3 booking-success-price-details">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="2">付款明細</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(ob,index) in BookingData" :key="index">
                        <td>{{ob.Room.Name}} | {{ob.Promotion.Name}} ({{nights(ob.startDate,ob.endDate)}}晚)</td>
                        <td>
                            <div v-if="ob.Extra !== null">
                                <template v-if="ob.ExtraPeople > 0">
                                    加備品 x {{nights(ob.startDate,ob.endDate)}} 晚 x {{ob.ExtraPeople}} <template v-if="ob.ExtraBed > 0"> + </template>
                                </template>
                                <template v-if="ob.ExtraBed > 0">
                                    加床 x {{nights(ob.startDate,ob.endDate)}} 晚 x {{ob.ExtraBed}}
                                </template>
                            </div>
                            <template v-if="ob.ExtraShop.length > 0">
                                <div v-if="ob.ExtraShop.length > 0" v-for="Shop in ob.ExtraShop">
                                    {{Shop.Name}} x {{Shop.Nights}} 晚 x {{Shop.Numbers}}
                                </div>
                            </template>

                            <template v-if="ob.ExtraCar.length > 0">
                                <div v-if="ob.ExtraCar.length > 0" v-for="Car in ob.ExtraCar">
                                    {{Car.Name}} - {{Car.type === '1' ? '單趟' : '來回' }} x {{Car.Numbers}}
                                </div>
                            </template>
                        </td>
                    </tr>
                    <tr v-if="DiscountCode !== undefined && DiscountCode.length > 0">
                        <td class="text-right" colspan="3">{{DiscountCode.Name}} -NT$ {{DiscountCode.Discount}}</td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="2">
                            <span class="d-block">訂房總額 NT$ {{Price}}</span>
                            <span class="d-block paid">
                                <i class="fas fa-check pr-2"></i>
                                應付金額 NT$ {{ShouldPaid(Price)}}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6 col-md-offset-3">
                <p class="booking-success-message">訂房詳情將會寄至您的信箱，再請前往收信<br>
                    如欲查詢訂單，登入會員後點選會員中心訂房紀錄查詢<br>
                    若有其他任何住房需求與問題，請與我們電話或電子郵件聯繫
                </p>
            </div>

            <div class="col-12 col-push-0 col-xs-6 col-xs-push-6 col-sm-4 col-sm-push-4 col-sm-offset-2 col-md-3 col-md-push-3 col-md-offset-3 mb-10">
                <a href="mumber.html" class="button eb-btn w-100" title="">前往會員中心</a>
                <router-link :to="{ name: ''}"></router-link>
            </div>

            <div class="col-12 col-pull-0 col-xs-6 col-xs-pull-6 col-sm-4 col-sm-pull-4 col-md-3 col-md-pull-3 mb-10">
                <a href="/" class="button eb-btn w-100" title="">返回首頁</a>
            </div>

        </div>
    </div>
</template>

<script>
    import {GetATMInfo, PaymentSelect} from "../../api";
    import {SwalAlertErrorMessage} from "../../../backend/helper";
    import moment from "moment";
    const PaidPercent = 30;
    export default {
        name: "ATM",
        data(){
            return {
                Num: this.$route.params.Num,
                ATMInfo: "",
                Price: '',
                DiscountCode: '',
                BookingData: '',
                Paid: false,
            }
        },
        computed:{
            Member() {
                return this.$store.getters.Member
            }
        },
        created() {
            if(this.Num === undefined){
                this.$router.push({
                    name: 'Search'
                })
            }
            this.init();
        },
        methods: {
            init() {
                this.$emit('updateStep', 4);
                GetATMInfo().then((res)=>{
                    this.ATMInfo = res.Html
                })
                .catch((rep)=>{
                    SwalAlertErrorMessage(rep)
                })

                let credential = {
                    Num: this.Num
                }
                PaymentSelect(credential).then((res)=>{
                    this.Price = res.Order.Price
                    this.DiscountCode = res.Order.DiscountCode
                    this.BookingData = res.Order.BookingData
                    this.Paid = res.Order.Paid
                })
                .catch((rep)=>{
                    SwalAlertErrorMessage(rep)
                    this.$router.push({
                        name: 'Search'
                    })
                })
            },
            nights(startDate, endDate) {
                return moment(endDate).diff(moment(startDate), 'days') ?? 0;
            },
            ShouldPaid(Price){
                return Math.ceil(parseInt(Price) * PaidPercent / 100);
            }
        }

    }
</script>

<style scoped>

</style>
