<template>
    <div>
        <div class="calendar_header">
            <button class="switch-month switch-left" @click="lastMonth"> <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <h2>{{titleMonth}}</h2>
            <button class="switch-month switch-right" @click="nextMonth"> <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
        <div class="calendar_weekdays">
                <div class="week" style="color: rgb(68, 68, 68);">Sun</div>
                <div class="week" style="color: rgb(68, 68, 68);">Mon</div>
                <div class="week" style="color: rgb(68, 68, 68);">Tue</div>
                <div class="week" style="color: rgb(68, 68, 68);">Wed</div>
                <div class="week" style="color: rgb(68, 68, 68);">Thu</div>
                <div class="week" style="color: rgb(68, 68, 68);">Fri</div>
                <div class="week" style="color: rgb(68, 68, 68);">Sat</div>
        </div>
        <div class="calendar_content">
            <template v-for="week in weeks">
<!--                <div v-for="day in week" :class="[day.class,state(day.date,startDate,endDate)]" @click.self="dayClick(day.date)">-->
                <div v-for="day in week" :class="[day.class,state(day.date,startDate,endDate)]" @click="dayClick(day)">
                    {{day.day}}
                    <br/>
                    <small v-if="day.able && !!day.remain">剩餘{{day.remain}}間</small>
                    <small v-else>&nbsp;</small>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    import {Remain} from "../../api";
    import moment from 'moment'
    import {SwalAlertErrorMessage} from "../../../backend/helper";
    export default {
        name: "Calendar",
        props: {
            In:{

            },
            Out:{

            },
            Room:{
                required: true
            }
        },
        data(){
            return {
                today: moment().format('YYYY/MM/DD'),
                currentMonth: moment(this.In).format('YYYY-MM'),
                startDate: this.In,
                endDate: this.Out,
                Remains: [],
                weeks: [],
            }
        },
        computed:{
            //天數
            daysInMonth: function () {
                return moment(this.currentMonth).daysInMonth();
            },
            //當月第一天
            startOfMonth:function(){
                return moment(this.currentMonth).startOf('month').format('YYYY-MM-DD');
            },
            //當月結束
            endOfMonth:function(){
                return moment(this.currentMonth).endOf('month').format('YYYY-MM-DD');
            },

            firstDayOfMonth: function(){
                return moment(this.startOfMonth).weekday();
            },

            titleMonth: function () {
                return moment(this.currentMonth).format('MMMM YYYY');
            }
        },
        methods:{
            lastMonth(){
                this.currentMonth = moment(this.currentMonth).subtract(1,'months').format('YYYY-MM');
                this.$emit('MonthChange',this.currentMonth);
            },
            nextMonth(){
                this.currentMonth = moment(this.currentMonth).add(1,'months').format('YYYY-MM');
                this.$emit('MonthChange',this.currentMonth);
            },
            getRemains(currentMonth){
                let credential = {
                    months : currentMonth,
                    room: this.Room.id
                }
                Remain(credential).then((res)=>{
                    this.Remains = res
                    const weeks = [];
                    let current = moment(this.startOfMonth);
                    for (let w = 1; w <= 6 ; w++) {
                        const week = [];
                        for (let d = 0; d <= 6; d++) {
                            //如果這一格小於這個月
                            if( w ===1 && d < this.firstDayOfMonth)
                            {
                                week.push({
                                    class: 'blank',
                                    date: moment(this.currentMonth).subtract( this.firstDayOfMonth - d, 'days').format('YYYY/MM/DD'),
                                    day: moment(this.currentMonth).subtract( this.firstDayOfMonth - d, 'days').format('D'),
                                    able: false
                                });
                            }
                            else if(current <  (moment(this.currentMonth).add(1, 'months')) )
                            {
                                let ClassName = '';
                                let able;
                                let remain = null;
                                if(current < moment(this.today))
                                {
                                    ClassName = 'past-date';
                                    able = false;
                                }
                                else
                                {
                                    able = true;
                                    if(this.Remains[current.format('YYYY/MM/DD')].state)
                                    {
                                        //合法
                                        let re = this.Remains[current.format('YYYY/MM/DD')];
                                        if(re.Total <= (re.Done + re.UnCheck))
                                        {
                                            able = false;
                                            ClassName += ' SoldOut';
                                        }
                                        else
                                        {
                                            remain = re.Total - (re.Done+re.UnCheck)
                                        }
                                    }
                                    else
                                    {
                                        //不合法
                                        able = false;
                                        ClassName += ' Illegal';
                                    }


                                }
                                week.push({
                                    class: ClassName,
                                    date: current.format('YYYY/MM/DD'),
                                    day: current.format('D'),
                                    able: able,
                                    remain: remain
                                })
                                current.add(1, 'days');
                            }
                            else
                            {
                                week.push({
                                    class: 'blank',
                                    date: current.format('YYYY/MM/DD'),
                                    day: current.format('D'),
                                    able: false
                                });
                                current.add(1, 'days');
                            }
                        }
                        weeks.push(week);
                    }
                    this.weeks = weeks
                })
                .catch(rep=>SwalAlertErrorMessage(rep))
            },
            dayClick(day){
                // this.$emit('DayClick',date);
                if(day.able){
                    if(!this.startDate){
                        this.startDate = day.date;
                    }
                    else if(!this.endDate){

                        //先行檢查 區間內是否有disable


                        if(day.date < this.startDate)
                        {
                            //日期顛倒
                            this.endDate = this.startDate;
                            this.startDate = day.date;
                            this.UpdatePickedDate();
                        }
                        else if(day.date == this.startDate)
                        {

                        }
                        else
                        {
                            //normal
                            this.endDate = day.date;
                            this.UpdatePickedDate();
                        }
                    }
                    else{
                        this.startDate =  day.date;
                        this.endDate = null;
                    }
                }
            },
            UpdatePickedDate(){
              this.$emit('PickedDate',this.Room,this.startDate,this.endDate)
            },
            state(date,startDate,endDate){
                let ClassName = '';
                if(date == moment(startDate).format('YYYY/MM/DD'))
                {
                    ClassName += ' start-date';
                }
                else if(date == moment(endDate).format('YYYY/MM/DD'))
                {
                    ClassName += ' end-date';
                }
                else if(moment(date) < moment(endDate) && moment(date) > moment(startDate))
                {
                    ClassName += ' in-range';
                }
                return ClassName
            },
        },
        watch:{
            In:function (val) {
                this.startDate = val
                this.currentMonth = moment(val).format('YYYY-MM')
            },
            Out:function(val){
                this.endDate = val
            },
            currentMonth: function(val){
                this.getRemains(val);
            }
        },
        created() {
            this.getRemains(this.currentMonth);
        }
    }
</script>

<style scoped>
    *{
        /*border: red dashed 1px;*/
    }
    .calendar{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0;
        padding: 0 0;
    }
    .calendar-header{
        width: 100%;
    }
    .calendar > .calendar-header > .title{
        display: inline-flex;
        width: 100%;
        padding: 10px 60px;
    }
    .calendar > .calendar-header > .title > .currentMonth {
        margin: auto;
    }
    .calendar > .calendar-header > .weeks{
        display: inline-flex;
        width: 100%;
        padding: 10px 0px;
        line-height: 40px;
        height: 60px;
    }
    .calendar > .calendar-header > .weeks > .week{
        margin: auto;
        width: 100%;
        text-align: center;
        border: black 1px solid;
    }

    .calendar > .calendar-body{
        width: 100%;
    }
    .calendar > .calendar-body > .weeks{
        display: inline-flex;
        width: 100%;
        height: 150px;
    }
    .calendar > .calendar-body > .weeks > .week{
        margin: auto;
        width: 100%;
        height: 100%;
        text-align: center;
        border: black 1px solid;
    }

    .inactive{
        color: white;
        background-color: #9C9C9C;
    }
    .active{
        color: black;
        background-color: #f3f3f3;
    }
    .blank{
        visibility: hidden;
    }
    .start-date{
        background-color: var(--main-color) !important;
        color: #fff;
    }
    .end-date{
        background-color: var(--main-color) !important;
        color: #fff;
    }
    .in-range{
        background-color: rgba(222, 182, 102, .5) !important;
        color: #fff;
    }
</style>
