<template>
    <div v-show="showModal" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">圖片</th>
                    <th class="text-center" scope="col">項目</th>
                    <th class="text-center" scope="col">單價</th>
                    <th class="text-center" scope="col">數量</th>
                    <th class="text-center" scope="col">說明</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="ob in List" :key="ob.id">
                    <th>
                        <input type="checkbox" v-model="ob.checked" :id="'ck'+ob.id">
                    </th>
                    <th class="text-center" scope="row">
                        <img :src="ob.Src" alt="" style="width: 100px;height: 80px;object-fit: cover;">
                    </th>
                    <td class="text-center">{{ob.Name}}</td>
                    <td class="text-center">NT$ {{Math.ceil(ob.Price)}}</td>
                    <td class="text-center">
                        <div class="input-group" style="display: inline-flex">
                            <select style="flex: 1; align-self: center; margin-top: auto;" v-model="ob.Nights">
                                <option value='0'>0</option>
                                <option v-for="Number in Nights" :key="'nights'+Number" :value="Number">
                                    {{Number}} 天
                                </option>
                            </select>
                            <span style="flex: 1; align-self: center;"> x </span>
                            <select style="flex: 1; align-self: center; margin-top: auto;" v-model="ob.Numbers">
                                <option value='0'>0</option>
                                <option v-for="Number in (Adults+Childrens)" :key="'number'+Number" :value="Number">
                                    {{Number}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div v-html="ob.Html"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {ExtraShopFromRoom} from "../../api";
    import {SwalAlertErrorMessage} from "../../../backend/helper";
    export default {
        name: "ExtraShopList",
        props:{
            index:{
                required: true
            },
            Room:{
                required: true
            },
            propPicked: {
                type: Array
            },
            propNights: {
                default: 1
            },
            propAdults:{
                default: 1
            },
            propChildrens:{
                default: 0
            },
            propBabys:{
                default: 0
            },
            propShow:{
                default: false
            }
        },
        data(){
            return {
                List: [],
                Picked: this.propPicked,
                Nights: this.propNights,
                Adults: this.propAdults,
                Childrens: this.propChildrens,
                Babys: this.propBabys,
                showModal: this.propShow,
            }
        },
        watch:{
            propShow:function(val){
                this.showModal = val
            },
            List: {
                deep: true,
                handler(val){
                    let checked = val.filter(item => item.checked === true)
                    this.$emit('UpdatePicked',this.index,checked)
                }
            }
        },
        created() {
            this.GetRoomExtraShops();
        },
        methods:{
            GetRoomExtraShops: function(){
                let credential = {
                    Room: this.Room.id
                }
                ExtraShopFromRoom(credential).then((res)=>{
                    let temp = []
                    res.forEach(item => temp.push({
                        Html: item.Html,
                        Name: item.Name,
                        Price: item.Price,
                        Src: item.Src,
                        id: item.id,

                        checked: false,
                        Nights: 0,
                        Numbers: 0
                    }))
                    this.List = temp
                })
                .catch(rep=>SwalAlertErrorMessage(rep))
            },
        }
    }
</script>

<style scoped>

</style>
