<template>
    <div v-show="showModal" class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col"></th>
                <th class="text-center" scope="col">圖片</th>
                <th class="text-center" scope="col">項目</th>
                <th class="text-center" scope="col">類別</th>
                <th class="text-center" scope="col">單價</th>
                <th class="text-center" scope="col">數量</th>
                <th class="text-center" scope="col">說明</th>
                <th class="text-center" scope="col">抵達日期時間(選填)</th>
                <th class="text-center" scope="col">出發日期時間(選填)</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="ob in List" :key="ob.id">
                <th>
                    <input type="checkbox" v-model="ob.checked" :id="'ck'+ob.id">
                </th>
                <th class="text-center" scope="row">
                    <img :src="ob.Src" alt="" style="width: 100px;height: 80px;object-fit: cover;">
                </th>
                <td class="text-center">{{ob.Name}}</td>
                <td class="text-center">
                    <select style="flex: 1; align-self: center; margin-top: auto;" v-model="ob.type">
                        <option value="1">單趟</option>
                        <option value="2">來回</option>
                    </select>
                </td>
                <td class="text-center">
                    <template v-if="ob.type === '1'">NT$ {{Math.ceil(ob.Price)}}</template>
                    <template v-else>NT$ {{Math.ceil(ob.Price2)}}</template>
                </td>
                <td class="text-center">
                    <div class="input-group" style="display: inline-flex">
                        <select style="flex: 1; align-self: center; margin-top: auto;" v-model="ob.Numbers">
                            <option value='0'>0</option>
                            <option v-for="Number in (ob.Max)" :key="'number'+Number" :value="Number">
                                {{Number}}
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div v-html="ob.Html"></div>
                </td>
                <td>
                    <input type="datetime-local" v-model="ob.arrvdt" style="border: 1px solid #ededed;box-shadow: none; padding: 8px;">
                </td>
                <td>
                    <input type="datetime-local" v-model="ob.pickdt" style="border: 1px solid #ededed;box-shadow: none; padding: 8px;">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {ExtraCarFromRoom} from "../../api";
    import {SwalAlertErrorMessage} from "../../../backend/helper";
    export default {
        name: "ExtraCar",
        props:{
            index:{
                required: true
            },
            Room:{
                required: true
            },
            propPicked: {
                type: Array
            },
            propShow:{
                default: false
            }
        },
        data(){
            return {
                List: [],
                Picked: this.propPicked,
                showModal: this.propShow,
            }
        },
        watch:{
            propShow:function(val){
                this.showModal = val
            },
            List: {
                deep: true,
                handler(val){
                    let checked = val.filter(item => item.checked === true)
                    this.$emit('UpdatePicked',this.index,checked)
                }
            }
        },
        created() {
            this.GetRoomExtraCars();
        },
        methods:{
            GetRoomExtraCars: function(){
                let credential = {
                    Room: this.Room.id
                }
                ExtraCarFromRoom(credential).then((res)=>{
                    let temp = []
                    res.forEach(item => temp.push({
                        Html: item.Html,
                        Name: item.Name,
                        Price: item.Price,
                        Price2: item.Price2,
                        Max: item.Max,
                        Src: item.Src,
                        id: item.id,

                        type: "1",
                        checked: false,
                        Numbers: 0,
                        arrvdt: "",
                        pickdt: ""
                    }))
                    this.List = temp
                })
                    .catch(rep=>SwalAlertErrorMessage(rep))
            },
        }
    }
</script>

<style scoped>

</style>
