<template>
    <div class="room-list-item ">
        <div class="row flex-row">
            <div class="col-md-4">
                <figure>
                    <a href="rooms-details.html">
                        <img :src="this.room.room.MainPicture">
                    </a>
                </figure>
            </div>
            <div class="col-md-5 d-flex flex-column justify-content-between">
                <div class="room-details">
                    <h2 class="title"><a href="rooms-details.html">{{this.room.room.Name}}</a></h2>
                    <p>為自己預約一場沉澱心靈的純粹之旅，每間 24 坪的套房，盡享靜謐舒適空間</p>
                    <div class="room-services">
                        <div class="room-service-item" :tooltip="tag.Name" v-for="tag in this.room.Tags">
                            <img :src="tag.IconSrc">
                        </div>
                    </div>
                </div>
                <div class="toggle-room-breakpoint room-more-details" :href="'#more-details'+this.room.room.id" data-toggle="collapse">
                    詳細內容 <img src="https://img.icons8.com/fluent-systems-filled/11/858a99/expand-arrow.png" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="room-price-details">
                    <div class="room-price-search">
                        <div class="room-price">
                            <div class="">
                                <span class="price-number"><strong>NT$ {{Price}}</strong></span>
                                <span class="per-night-text"> 起</span>
<!--                                <p class="m-0"><span class="old-price">NT$ 4500</span></p>-->
                            </div>
<!--                            <small class="d-block">(含10%服務費)</small>-->
                        </div>
                        <button class="button eb-btn AddRooms_cart" type="button" @click="PromotionPicking">新增</button>
                        <!-- <div class="select-booking-dates-notice" id="select-booking-dates">Select Booking Dates</div> -->
                    </div>
                </div>
            </div>
        </div>
        <div :id="'more-details'+this.room.room.id" class="collapse" style="padding: 0 20px 20px 20px;">
            <div class="calendar_availability calendar-first pb-4" id="calendar_first">
                <div class="availability_rooms_tips d-flex justify-content-end mb-4">
                    <div class="availability_rooms">尚有空房</div>
                    <div class="not_availability_rooms">尚無空房</div>
                </div>

            </div>
            <Calendar :In="startDate" :Out="endDate" :Room="this.room.room" @PickedDate="PickedDate"></Calendar>
            <div class="textframeEditor" v-html="this.room.room.Html" style="font-size: 14px;line-height: 25px;letter-spacing: .025rem;">
            </div>
        </div>
    </div>
</template>

<script>
    import Calendar from "./Calendar";
    import moment from "moment";
    import {SearchingByRoom} from "../../api";
    import {SwalAlertErrorMessage} from "../../../backend/helper";
    export default {
        name: "RoomListItem",
        props: {
            room: {
                required: true
            },
            In:{
                required: true
            },
            Out:{
                required: true
            },
            Adults:{
                required: true
            },
            Childrens: {
                required: true
            },
            Babys: {
                required: true
            }
        },
        data(){
            return {
                startDate: this.In,
                endDate: this.Out,
            }
        },
        components: {
            Calendar
        },
        computed:{
            Price: function (){
                return Math.min.apply(Math, this.room.Promotions.map(item => item.Total));
            }
        },
        watch:{
            In:function (val) {
                this.startDate = val
            },
            Out:function(val){
                this.endDate = val
            }
        },
        methods:{
            PickedDate: function(Room,startDate,endDate){
                this.startDate = startDate;
                this.endDate = endDate;

                let form = {
                    Room: Room.id,
                    StartDate: startDate,
                    EndDate: endDate,
                };
                SearchingByRoom(form).then((res)=>{
                    this.room.numbers = res.numbers
                    this.room.Promotions = res.Promotions

                    //在日曆選擇後 -> 變更剩餘間數 活動各價格
                    this.$emit('RoomPromotionChange',this.room)
                })
                .catch(rep=>SwalAlertErrorMessage(rep))
            },
            PromotionPicking: function(){
                this.$router.push({
                    name: 'Selecting',
                    params: {
                        room: this.room,
                        In: this.startDate,
                        Out: this.endDate,
                        Adults: this.Adults,
                        Childrens: this.Childrens,
                        Babys: this.Babys,
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
